{{#with offerResult}}
<a class="result promo-code" href="{{ promoCode.url }}">
    PROMOTION CODE: {{ promoCode.title }}
    <span class="tooltip-copied">
        Kopiert
    </span>
    <span class="tooltip">
        Klicken zum Kopieren
    </span>
</a>
{{/with}}
