<div class="card">
  <div class="card-header">
    <div class="card-title h5">Privacy Dashboard</div>
    <div class="card-subtitle text-gray">
      See how your data would be accessed without protection.
    </div>
  </div>
  <div class="card-body">
    WhoTracks.Me is the largest repository of data on trackers to
    existence. It would not be possible without the voluntary contribution
    of users like you. The data you see in whotracks.me however, is 
    aggregated over millions of users. 

    To satisfy your curiosity while maintainign your privacy, we've
    developed this dashboard, which works completely offline, and 
    exlusively on your browser. It shows statistics on:  

    <ol>
      <li>Daily Protection</li> 
      <li>Tracking landscape on sites you have visited</li>
      <li>Companies attempting to learn who you are</li>
    </ol>

    We believe in privacy and transparency.
  </div>
  <div class="card-footer">
    Drop us a line if you have any questions: 
    <a href="mailto:privacy@cliqz.com" target="_top">privacy@cliqz.com</a>
  </div>
</div>