

<div class="card">

  <div class="card-header">
    <div class="card-title h5">
      <i class="fas fa-chart-bar"></i>
      Daily Stats
    </div>
    <div class="card-subtitle text-gray">Pages Visited, Cookies blocked etc</div>
  </div>

  <div class="card-body">

    <section class="card-section">
      <div class="columns">
        <div class="column col-8">
          <div class="chart-container">
            <canvas id="trackers-plot"></canvas>
          </div>
        </div>
        <div class="column col-4">
          <div class="today-counts">
            <h3 class="count-title">{{ lastDay.trackersSum }}</h3>
            <p class="count-desc">trackers blocked</p>
          </div>
        </div>
        </div>
      </section>

    {{!-- <div class="divider text-center" data-content=""></div> --}}

    <section class="card-section">
      <div class="columns">
       <div class="column col-8">
        <div class="chart-container">
          <canvas id="cookies-plot"></canvas>
        </div>
       </div>
       <div class="column col-4">
        <div class="today-counts">
          <h3 class="count-title">{{ lastDay.cookiesBlocked }}</h3>
          <p class="count-desc">cookies blocked</p>
        </div>
       </div>
      </div>
      </section>

    {{!-- <div class="divider text-center" data-content=""></div> --}}

    <section class="card-section">
      <div class="columns">
       <div class="column col-8">
        <div class="chart-container">
          <canvas id="pages-plot"></canvas>
        </div>
       </div>
       <div class="column col-4">
        <div class="today-counts">
          <h3 class="count-title">{{ lastDay.datapointsRemoved }}</h3>
          <p class="count-desc">private data removed</p>
        </div>
       </div>
      </div>
    </section>

    {{!-- <div class="divider text-center" data-content=""></div> --}}

    <section class="card-section">
      <div class="columns">
       <div class="column col-8">
        <div class="chart-container">
          <canvas id="pdata-plot"></canvas>
        </div>
       </div>
       <div class="column col-4">
        <div class="today-counts">
          <h3 class="count-title">{{ lastDay.pagesVisited }}</h3>
          <p class="count-desc">pages visited</p>
        </div>
       </div>
     </div>
  </section>

  </div>
</div>