<div class="columns">
  <div class="column col-3">
    <ul class="nav">
      <img src="./images/wtm-logo-purple.png" width="100px", style="margin: auto">
      {{!-- <figure class="avatar avatar-lg centered" data-initial="W"></figure> --}}
      <div class="divider text-center" data-content="</>"></div>
      <li class="nav-item">
        <a href="{{path}}#daily-stats">Daily Stats</a>
      </li>
      <li class="nav-item">
        <a href="{{path}}#sites">Sites</a>
      </li>
      <li class="nav-item">
        <a href="{{path}}#trackers">Trackers</a>
      </li>
      <li class="nav-item">
        <a href="{{path}}#about">About</a>
      </li>
    </ul>
  </div>
  <div class="column col-9">
    <div id='daily-stats'></div>
    <div id="sites"></div>
    <div id="trackers"></div>
    <div id="about"></div>
  </div>
</div>