<div class="bar bar-header bar-light">
  {{link-to "back" "history-sidebar.queries.index" class="button button-positive"}}
  <h1 class="title">Query</h1>
</div>
<div class="content has-header">
  {{query-results model=model}}
</div>
