body {
    margin: 0;
    overflow: auto;
}

#connect-in-progress {
    display: none;
    border: 1px solid #9B9B9B;
    font: small-caption;
    font-weight: normal;
    font-size: 13.75px;
    line-height: 19px;
    color: #9B9B9B;
    text-align: center;

    #header-name {
        line-height: 2.5rem;
        font-size: 22px;
        font-weight: 300;
        line-height: 30px;
        margin: 20px;
        -moz-user-select: none;
    }

    #instructions {
        line-height: 20px;
    }
}

#page-container {
    display: block;
    font: small-caption;
    font-weight: normal;
    font-size: 13.75px;
    line-height: 19px;
    color: rgb(66, 78, 90);

    a {
        text-decoration: none;
        color: rgb(0, 149, 221);

        &:hover {
            text-decoration: underline;
        }
    }

    [data-visible-on-state] {
        display: none !important;
    }

    &[data-state="unpaired"] {
        [data-visible-on-state="unpaired"] {
            display: inline-block !important;
        }
    }

    &[data-state="paired"] {
        [data-visible-on-state="paired"] {
            display: inline-block !important;
        }
    }

    .header-wrapper {
        padding-bottom: 15px;
        line-height: 2.5rem;
    }

    .header-name {
        font-size: 22px;
        font-weight: 300;
        line-height: 30px;
        margin: 0;
        -moz-user-select: none;
        color: rgb(12, 12, 13);
    }

    .content-wrapper {
        margin-top: -5px;

        .row {
            clear: both;
            width: 100%;

            .column {
                margin: 0;
                padding: 0;
                float: left;

                &.content-left {
                    padding: 25px 25px 5px 0;
                }

                &.content-right {
                    padding: 25px 0 0 25px;
                }

                &.width-30-percent {
                    width: 30%;
                }

                &.width-40-percent {
                    width: 40%;
                }

                &.width-50-percent {
                    width: 50%;
                }

                &.width-60-percent {
                    width: 60%;
                }
            }

            .clear-row {
                line-height: 0px;
                font-size: 0px;
                clear:both;
            }
        }

        .spacer {
            margin-top: 20px;
        }

        .sub-header {
            font-size: 17.05px;
            font-weight: 600;
            color: #0c0c0d;
            margin-top: 3px;
        }

        #instructions {

            .tip {
                padding-left: 20px;
                padding-right: 16px;
                background-repeat: no-repeat;
                background-position: top left;
                background-size: 16px;
                line-height: 20px;
            }

            .android-tip {
                background-image: url('../images/android-logo.svg');
            }

            #qrcode-wrapper {
                position: relative;

                #qrcode {
                    position: relative;
                    width: 224px;
                    height: auto;
                    max-width: 100%;

                    .icon-logo {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        margin: auto;
                        display: inline-block;
                        -moz-user-select: none;
                        width: calc(100% / 4);
                        height: auto;
                        z-index: 2;
                    }

                    img:not(.icon-logo) {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        #status {

            img {
                margin-top: 20px;
                width: 261px;
                max-width: 100%;
                height: auto;
            }

            #devices-info {
                padding-top: 18px;

                .connected {
                    color: #00AEF0;
                }

                .disconnected {
                    color: #e64c66;
                }

                #unpair-button {
                    display: inline-block;
                    margin: 10px 0 0;
                    padding: 5px 15px;
                    cursor: pointer;
                    text-decoration: none;
                    color: rgb(66, 78, 90);
                    border: 1px solid #ccc;
                    background-image: -moz-linear-gradient(top, #ddd, #eee);
                    background-image: linear-gradient(to bottom, #ddd, #eee);

                    &:hover {
                        background-image: -moz-linear-gradient(top, #ccc, #ddd);
                        background-image: linear-gradient(to bottom, #ccc, #ddd);
                    }
                }

                #on-disconnected-tip {
                    font-size: 14px;
                    color: #e64c66;
                }
            }
        }

        #features {
            margin-top: 30px;
            padding-top: 20px;
            border-top: 1px solid #C8C8C8;

            ul {
                padding-left: 0;
                list-style: none;

                li {
                    display: inline-block;
                    width: 150px;
                    text-align: center;
                }
            }

            .all-features {
                p:not(.header-name) {
                    color: #C3C3C3;
                }
            }
        }

        #footer {

            small {
                line-height: 13px;
            }
        }
    }

    $resolution-list: 1 1.25 1.5 2; /* We skip the 1.75 since this ratio is not supported */
    @each $current-resolution in $resolution-list {
        @media only screen and (max-width: $current-resolution * 250px) and (resolution: $current-resolution * 1dppx) {
            .header-wrapper {
                display: none;
            }

            .content-wrapper {
                .row .column.width-50-percent, #instructions #qrcode-wrapper #qrcode {
                    width: 100%;
                }

                #features, #footer {
                    display: none;
                }
            }
        }
    }
}
