<div id="companies-title">
  <p class="cross hover-highlighted" data-i18n="control_center_adblock_advertisers"></p>
  <span>
    <svg data-target="adblock_details_close" class="cross" width="10px" height="16px" viewBox="0 0 10 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round">
            <g id="Cliqz-Privacy-Center-3" transform="translate(-674.000000, -290.000000)" stroke-width="2.5999999" stroke="#4D4D4D">
                <polyline id="Path-164-Copy-183" transform="translate(679.041295, 298.019115) scale(-1, 1) translate(-679.041295, -298.019115) " points="676.092831 292.227875 681.989759 298.13463 676.323476 303.810354"></polyline>
            </g>
        </g>
    </svg>
  </span>
</div>
<div id="companies">
  {{> companies-list module.adblocker.advertisersList module="adblock" }}
</div>
<div id="bottom-part">
  <div class="clearfix">
    <div class="description" data-i18n="control_center_adblock_description" data-visible-on-state="active"></div>
    <div class="description" data-i18n="control_center_adblock_description_off_website" data-visible-on-state="off" data-visible="off_website"></div>
    <div class="description" data-i18n="control_center_adblock_description_off_domain" data-visible-on-state="off" data-visible="off_domain"></div>
    <div class="description" data-i18n="control_center_adblock_description_off_all" data-visible-on-state="off" data-visible="off_all"></div>

    <div class="counter">
      <svg id="block" height="45px" viewBox="0 0 32 39" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs></defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="ad-block-Gstop-dropdown" transform="translate(-6.000000, 0.000000)" fill-rule="nonzero">
                    <rect id="Rectangle-12-Copy" fill-opacity="0.00840692935" fill="#FFFFFF" opacity="0.385377799" x="6.44057291" y="0.96010742" width="31" height="38"></rect>
                    <path d="M21.931013,9.19182521 L12.21594,13.2159402 L8.19182508,22.9310131 L12.21594,32.6460861 L21.931013,36.6702011 L31.6460859,32.6460861 L35.6702009,22.9310131 L31.6460859,13.2159402 L21.931013,9.19182521 Z M33.7891132,11.072913 L38.700899,22.9310131 L33.7891132,34.7891133 L21.931013,39.7008992 L10.0729128,34.7891133 L5.16112692,22.9310131 L10.0729128,11.072913 L21.931013,6.16112705 L33.7891132,11.072913 Z" id="Polygon-12-Copy-19" fill="#54BF30" transform="translate(21.931013, 22.931013) rotate(22.500000) translate(-21.931013, -22.931013) "></path>
                    <polygon id="Line-Copy-94" fill="#54BF30" points="10.7926997 14.1379593 30.8478049 34.1930645 32.8277039 32.2131655 12.7725987 12.1580603"></polygon>
                </g>
            </g>
        </svg>
      <span id="count">{{module.adblocker.totalCount}}</span>
    </div>
  </div>

  <div class="switches" style="display: none">
    <!--======= Switch ======-->
    <span><span class="cqz-switch active"><span class="cqz-switch-box"></span></span> <span id="onlabel" data-i18n="control_center_switch_on"></span></span>
  </div>

  <span class="squaredFour">
    <span class="squaredFour">
      <input type="checkbox"
             id="squaredFour2"
             data-function="adb-optimized"
             name="check"
             {{#if module.adblocker.optimized }}checked{{/if}} />
      <label for="squaredFour2"></label>
      <span id="strict" class="clickableLabel" data-i18n="control_center_check_strict"></span>
    </span>
  </span>
</div>
