<div id="companies-title">
  <p data-i18n="control-center-adblock-advertisers"></p>
  <span>
    <svg data-target="adblock_details_close" class="cross" width="21px" height="21px" viewBox="623 233 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs></defs>
      <g id="Group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(625.000000, 235.000000)" stroke-linecap="round">
        <path d="M0.6,0.635192349 L15.6119957,15.647188" id="Line" stroke="#FFFFFF" stroke-width="2.5"></path>
        <path d="M0.6,0.635192349 L15.6119957,15.647188" id="Line-Copy-47" stroke="#FFFFFF" stroke-width="2.5" transform="translate(8.400000, 8.435192) scale(-1, 1) translate(-8.400000, -8.435192) "></path>
      </g>
    </svg>
  </span>
</div>
<div id="companies">
  {{> companies-list module.adblocker.advertisersList module="adblock" }}
</div>
<div id="bottom-part">
  <div class="clearfix">
    <div class="description" data-i18n="control-center-adblock-description" visible-on-state="active"></div>
    <div class="description" data-i18n="control-center-adblock-description-off-website" visible-on-state="off" data-visible="off_website"></div>
    <div class="description" data-i18n="control-center-adblock-description-off-domain" visible-on-state="off" data-visible="off_domain"></div>
    <div class="description" data-i18n="control-center-adblock-description-off-all" visible-on-state="off" data-visible="off_all"></div>

    <div class="counter">
      <svg id="shield" width="40px" height="39px" viewBox="1769 198 40 39" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs></defs>
        <g id="Group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1769.000000, 198.000000)">
          <path class="fill" d="M36.6242043,13.2267217 L36.1848644,12.1660615 L36.1848644,26.760208 L36.6242043,25.6995478 L26.3045843,36.0191678 L27.3652445,35.5798279 L12.771098,35.5798279 L13.8317582,36.0191678 L3.51213828,25.6995478 L3.95147811,26.760208 L3.95147811,12.1660615 L3.51213828,13.2267217 L13.8317582,2.90710177 L12.771098,3.3464416 L27.3652445,3.3464416 L26.3045843,2.90710177 L36.6242043,13.2267217 Z M27.9865648,0.346441602 L27.3652445,0.346441602 L12.771098,0.346441602 L12.1497777,0.346441602 L11.7104379,0.78578143 L1.39081794,11.1054014 L0.951478112,11.5447412 L0.951478112,12.1660615 L0.951478112,26.760208 L0.951478112,27.3815283 L1.39081794,27.8208682 L11.7104379,38.1404881 L12.1497777,38.5798279 L12.771098,38.5798279 L27.3652445,38.5798279 L27.9865648,38.5798279 L28.4259047,38.1404881 L38.7455246,27.8208682 L39.1848644,27.3815283 L39.1848644,26.760208 L39.1848644,12.1660615 L39.1848644,11.5447412 L38.7455246,11.1054014 L28.4259047,0.78578143 L27.9865648,0.346441602 Z"
            id="Polygon-12-Copy-13" fill="#2CBA64"></path>
          <path class="fill" d="M30.1535009,32.1264854 L31.214161,33.1871456 L33.3354814,31.0658253 L32.2748212,30.0051651 C32.2748212,30.0051651 35.0784737,32.8088176 26.612587,24.3429309 C18.1467002,15.8770441 9.68081344,7.41115734 9.68081344,7.41115734 L8.62015327,6.35049716 L6.49883292,8.47181751 L7.55949309,9.53247768 L30.1535009,32.1264854 Z"
            id="Line-Copy-88" fill="#2CBA64"></path>
        </g>
      </svg>
      <span id="count">{{module.adblocker.totalCount}}</span>
    </div>
  </div>

  <div class="switches" style="display: none">
    <!--======= Switch ======-->
    <span><span class="cqz-switch active"><span class="cqz-switch-box"></span></span> <span id="onlabel" data-i18n="control-center-switch-on"></span></span>
  </div>

  <span class="squaredFour">
    <span class="squaredFour">
      <input type="checkbox"
             id="squaredFour2"
             data-function="adb-optimized"
             name="check"
             {{#if module.adblocker.optimized }}checked{{/if}} />
      <label for="squaredFour2"></label>
      <span id="strict" class="clickableLabel" data-i18n="control-center-check-strict"></span>
    </span>
  </span>
</div>
