<div class="frame-container" stop-navigation>
  <div class="title" data-i18n="control-center-txt-privacy-cc">
    Protect your privacy
  </div>
  <p class="description privacy-desc" data-i18n="control-center-txt-privacy-cc-desc">
    Cliqz actively protects your personal data from being accessed by tracking companies.
  </p>
</div>
