{{#if module.anti-phishing.visible}}
<div class="antiphishing frame-container"
  role="stop-navigation"
  data-status="{{ module.anti-phishing.state }}"
  data-inactiveState="inactive"
  data-url="{{ activeURL }}">
  <div class="title">
    <div id="anti-phising-tooltip" class="tooltip-content">
      <span class="title" data-i18n="control_center_info_phishing_title"></span>
      <span data-i18n="control_center_info_phishing"></span>
    </div>
    <span class="cc-tooltip" data-tooltip-content="#anti-phising-tooltip">Anti-Phishing</span>
    <svg id="smallarrow" width="10px" height="15px" viewBox="1131 409 10 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs></defs>
      <polyline id="Path-164-Copy-153" stroke="#4D4D4D" stroke-width="2.5999999" fill="none" points="1133.19742 410.787186 1139.09434 416.693941 1133.42806 422.369666"></polyline>
    </svg>
    <div class="switches">
      <span data-invisible-on-state="active" class="new-dropdown">
        <button class="dropdown-btn">
           <span class="dropdown-content-option-text"
                 data-visible-on-state="inactive"
                 data-i18n="control_center_this_domain"></span>

           <span class="dropdown-content-option-text"
                 data-visible-on-state="critical"
                 data-i18n="control_center_all_sites"></span>

          <svg class="arr" width="12px" height="7px" viewBox="96 10 12 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs></defs>
              <polyline id="fill" id="Path-164-Copy-93" stroke="none" fill="#A2A2A2" fill-rule="evenodd" opacity="0.554279384" transform="translate(102.166470, 13.884133) rotate(90.000000) translate(-102.166470, -13.884133) " points="99.218006 8.09289333 105.114934 13.999648 99.4486516 19.6753727"></polyline>
          </svg>
        </button>

        <div class="new-dropdown-content" {{#if compactView}}style="top: -56px;"{{/if}}>
          <a class="dropdown-content-option {{#if module.anti-phishing.isWhitelisted }}selected{{/if}}"
             data-i18n="control_center_this_domain"
             value="this"
             data-type="off_select"
             data-state="off_website"
             role="antiPhishingStatusChanger">
          </a>

          <a class="dropdown-content-option  {{#unless module.anti-phishing.isWhitelisted }} selected {{/unless}}"
             data-i18n="control_center_all_sites"
             value="all"
             data-type="off_select"
             data-state="off_all"
             role="antiPhishingStatusChanger">
           </a>
        </div>
      </span>
      <span>
        <span data-visible-on-state="active" data-i18n="control_center_switch_on"></span>
        <span data-invisible-on-state="active" data-i18n="control_center_switch_off"></span>
        <span
          class="cqz-switch"
          data-type="switch"
          role="antiPhishingStatusChanger">
          <span class="cqz-switch-box"></span>
        </span>
      </span>
    </div>
  </div>
</div>
<div class="active-window-phishing">
  <div id="report">
    <span id="status" data-i18n="control_center_phishing_deceptive_not"></span>
    <svg data-target="antiphish_details_close" class="cross" width="10px" height="16px" viewBox="0 0 10 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round">
            <g id="Cliqz-Privacy-Center-3" transform="translate(-674.000000, -290.000000)" stroke-width="2.5999999" stroke="#00ADEF">
                <polyline id="Path-164-Copy-183" transform="translate(679.041295, 298.019115) scale(-1, 1) translate(-679.041295, -298.019115) " points="676.092831 292.227875 681.989759 298.13463 676.323476 303.810354"></polyline>
            </g>
        </g>
    </svg>
    <span id="line">
      <span id="report-button">
      <span id="report-button-text" data-i18n="control_center_phishing_report"></span>
      </span>
    </span>
    <svg id="cc-tooltip" width="15px" height="15px" viewBox="1829 359 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs></defs>
      <g id="Group-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1829.000000, 359.000000)">
        <ellipse id="Oval-2" fill="#999" cx="7.56817127" cy="7.39375789" rx="7" ry="7"></ellipse>
        <text id="i-copy" font-family="AmericanTypewriter-Bold, American Typewriter" font-size="11.2" font-weight="bold" fill="#FFFFFF">
          <tspan x="5.50934774" y="11.3937579">i</tspan>
        </text>
      </g>
    </svg>
  </div>
  <div id="full-url"></div>
  <div id="switch">
    <span class="switches" style="display: none">
      <span><span class="active cqz-switch"><span class="cqz-switch-box"></span></span> <span class="active" data-i18n="control_center_switch_on"></span></span>
    </span>
  </div>
</div>
{{/if}}
