{{#if visible }}
<div class="frame-container" data-status="{{#if enabled}}active{{ else }}off{{/if}}" data-inactiveState="off">
  <div class="title" style="cursor: default;">
    <div id="cliqz-tap-tooltip" class="tooltip-content">
      <span class="title">Cliqz Tab</span>
      <span data-i18n="control_center_info_cliqz_tab"></span>
    </div>
    <span class="cc-tooltip" data-tooltip-content="#cliqz-tap-tooltip">Cliqz Tab</span>
    <div class="switches" >
      <!--======= Switch ======-->
      <span>
        <span data-visible-on-state="active" data-i18n="control_center_switch_on"></span>
        <span data-visible-on-state="off" data-i18n="control_center_switch_off"></span>
        <span class="cqz-switch" role="cliqzTabStatusChanger">
          <span class="cqz-switch-box"></span>
        </span>
      </span>
    </div>
  </div>

</div>
{{/if}}
