{{#if visible }}
<div class="frame-container">
  <div class="title" style="cursor: default;">
    <svg stop-navigation class="infobutton" width="15px" height="15px" viewBox="1829 359 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g stop-navigation id="Group-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1829.000000, 359.000000)">
        <ellipse stop-navigation id="Oval-2" fill="#D0D0D0" cx="7.56817127" cy="7.39375789" rx="7" ry="7"></ellipse>
        <text stop-navigation id="i-copy" font-family="AmericanTypewriter-Bold, American Typewriter" font-size="11.2" font-weight="bold" fill="#FFFFFF">
          <tspan stop-navigation x="5.50934774" y="11.3937579">i</tspan>
        </text>
      </g>
    </svg>
    <div class="tooltip left">
      <span class="title">Cliqz Tab</span>
      <span data-i18n="control-center-info-cliqz-tab"></span>
    </div>
    <span>Cliqz Tab</span>
  </div>
  {{> cliqz-tab-button }}
</div>
{{/if}}
