<span class="cliqz-tab">
  <span class="squaredFour">
    <input type="checkbox"
           id="squaredFour3"
           name="check"
           data-function="cliqz-tab"
           {{#if enabled }}checked{{/if}}
           />
    <label for="squaredFour3"></label>
    <span id="strict" data-i18n="control-center-txt-cliqz-tab-desc"></span>
  </span>
</span>
