<div class="pause">
  <img src="./images/cliqz.svg" alt="Cliqz" />
</div>
<div class="title">
  <span data-i18n="control-center-txt-header" visible-on-state="active"></span>
  <img src="./images/alert-privacy.svg" alt="" invisible-on-state="active"/>
  <span data-i18n="control-center-txt-header-not" class="warning" visible-on-state="inactive"></span>
  <span data-i18n="control-center-txt-header-not" class="warning" visible-on-state="critical"></span>
</div>
