{{#unless funnelCake}}
    <div class="pause">
      <img src="./images/cliqz.svg" alt="Cliqz" />
    </div>
{{/unless}}
<div class="title">
  <span data-i18n="control-center-txt-header{{#if funnelCake}}-funnelcake{{/if}}" visible-on-state="active"></span>
  {{#if funnelCake}}
      <img src="./images/alert-privacy-yellow.svg" alt="" invisible-on-state="active"/>
  {{else}}
      <img src="./images/alert-privacy.svg" alt="" invisible-on-state="active"/>
  {{/if}}
  <span data-i18n="control-center-txt-header-not{{#if funnelCake}}-funnelcake{{/if}}" class="warning" visible-on-state="inactive"></span>
  <span data-i18n="control-center-txt-header-not{{#if funnelCake}}-funnelcake{{/if}}" class="warning" visible-on-state="critical"></span>
</div>
