<div class="pause">
  <img src="./images/cliqz.svg" alt="Cliqz" />
</div>
<div class="title">
  <span data-i18n="control_center_txt_header" data-visible-on-state="active"></span>
  <img src="./images/alert-privacy.svg" alt="" data-invisible-on-state="active"/>
  <span data-i18n="control_center_txt_header_not" class="warning" data-visible-on-state="inactive"></span>
  <span data-i18n="control_center_txt_header_not" class="warning" data-visible-on-state="critical"></span>
</div>
