{{#if visible }}
<div class="httpsevery-frame frame-container" data-status="{{#if active}}active{{ else }}off{{/if}}" data-inactiveState="off">
  <div class="title" style="cursor: default;">
    <svg class="infobutton" width="15px" height="15px" viewBox="1829 359 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Group-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1829.000000, 359.000000)">
        <ellipse id="Oval-2" fill="#999" cx="7.56817127" cy="7.39375789" rx="7" ry="7"></ellipse>
        <text id="i-copy" font-family="AmericanTypewriter-Bold, American Typewriter" font-size="11.2" font-weight="bold" fill="#FFFFFF">
          <tspan x="5.50934774" y="11.3937579">i</tspan>
        </text>
      </g>
    </svg>
    <div class="tooltip right top-right">
      <span class="title" data-i18n="control-center-info-https-title"></span>
      <span data-i18n="control-center-info-https"></span>

    </div>
    <span data-i18n="control-center-info-https-title"></span>
    <div class="switches" >
      <!--======= Switch ======-->
      <span>
        <span data-visible-on-state="active" data-i18n="control-center-switch-on"></span>
        <span data-visible-on-state="off" data-i18n="control-center-switch-off"></span>
        <span class="cqz-switch" data-update-pref='extensions.https_everywhere.globalEnabled'>
          <span class="cqz-switch-box"></span>
        </span>
      </span>
    </div>
  </div>
</div>
{{/if}}
