{{#if visible }}
<div class="httpsevery-frame frame-container" data-status="{{#if active}}active{{ else }}off{{/if}}" data-inactiveState="off">
  <div class="title" style="cursor: default;">
    <div id="https-tooltip" class="tooltip-content">
      <span class="title" data-i18n="control_center_info_https_title"></span>
      <span data-i18n="control_center_info_https"></span>

    </div>
    <span class="cc-tooltip" data-tooltip-content="#https-tooltip" data-i18n="control_center_info_https_title"></span>
    <div class="switches" >
      <!--======= Switch ======-->
      <span>
        <span data-visible-on-state="active" data-i18n="control_center_switch_on"></span>
        <span data-visible-on-state="off" data-i18n="control_center_switch_off"></span>
        <span class="cqz-switch" data-update-pref='extensions.https_everywhere.globalEnabled'>
          <span class="cqz-switch-box"></span>
        </span>
      </span>
    </div>
  </div>
</div>
{{/if}}
