<span id="support">
  {{#if module.moncomp.visible }}
      <span data-target="moncomp" openUrl="moncomp">Moncomp</span>
  {{/if}}
  <span class="support-icon">
      <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="icon" fill="#6B6B6B">
                  <path d="M15.4,8 C15.4,3.91309285 12.0869071,0.6 8,0.6 C3.91309285,0.6 0.6,3.91309285 0.6,8 C0.6,12.0869071 3.91309285,15.4 8,15.4 C12.0869071,15.4 15.4,12.0869071 15.4,8 Z M1.4,8 C1.4,4.35492065 4.35492065,1.4 8,1.4 C11.6450793,1.4 14.6,4.35492065 14.6,8 C14.6,11.6450793 11.6450793,14.6 8,14.6 C4.35492065,14.6 1.4,11.6450793 1.4,8 Z" id="Oval"></path>
                  <path d="M12.5517857,8 C12.5517857,5.48611817 10.5138818,3.44821429 8,3.44821429 C5.48611817,3.44821429 3.44821429,5.48611817 3.44821429,8 C3.44821429,10.5138818 5.48611817,12.5517857 8,12.5517857 C10.5138818,12.5517857 12.5517857,10.5138818 12.5517857,8 Z M4.24821429,8 C4.24821429,5.92794597 5.92794597,4.24821429 8,4.24821429 C10.072054,4.24821429 11.7517857,5.92794597 11.7517857,8 C11.7517857,10.072054 10.072054,11.7517857 8,11.7517857 C5.92794597,11.7517857 4.24821429,10.072054 4.24821429,8 Z" id="Oval"></path>
                  <polygon id="Line" points="12.7973626 3.69761175 13.04485 3.45012437 12.5498752 2.95514964 12.3023879 3.20263701 10.7525124 4.75251251 10.5050251 4.99999989 10.9999998 5.49497463 11.2474872 5.24748725"></polygon>
                  <polygon id="Line-Copy" points="5.14557692 11.8493975 5.39306429 11.6019101 4.89808954 11.1069354 4.65060217 11.3544227 3.10072673 12.9042982 2.85323936 13.1517856 3.34821412 13.6467603 3.59570149 13.399273"></polygon>
                  <polygon id="Line" points="12.5230914 12.7437912 12.7705788 12.9912786 13.2655535 12.4963038 13.0180661 12.2488165 11.4681906 10.698941 11.2207032 10.4514536 10.7257285 10.9464284 10.9732159 11.1939158"></polygon>
                  <polygon id="Line-Copy" points="4.37130566 5.09200549 4.61879304 5.33949286 5.11376777 4.84451811 4.8662804 4.59703074 3.3164049 3.0471553 3.06891752 2.79966793 2.57394278 3.29464269 2.82143016 3.54213006"></polygon>
              </g>
          </g>
        </svg>
    </span>
    <span data-i18n="control-center-support"
          openUrl="{{ feedbackURL }}"
          data-target="info_help">
    </span>
</span>
