<header id="header" state="{{ generalState }}">
 {{> header }}
</header>

<div id="currentsite">
    <h3 class="truncate">{{ friendlyURL }}</h3>
</div>

<div id="settings" class="settings-section clearfix">
  <div class="lock"></div>

  <div id="anti-tracking"
       data-section="antitrack"
       class="antitracker setting"
       data-target="attrack">
    {{> anti-tracking module.antitracking}}
  </div>

  <div id="ad-blocking"
       class="adblock setting"
       data-target="adblock">
    {{> ad-blocking }}
  </div>

  <div id="anti-phising"
       data-section="antiphish"
       class="antiphishing setting"
       data-target="antiphish">
    {{> anti-phising}}
  </div>

  <div id="https"
       class="setting"
       data-section="https"
       data-target="https">
    {{> https module.https-everywhere}}
  </div>
</div>

<section id="othersettings">
  {{> other-settings }}
</section>
