doctype html
html
    head
        title developer tool
        link(rel="icon",href="./skin/cliqz.png",type="image/x-icon")
        link(href="./css/style.css",rel="stylesheet",type="text/css")
        link(href="./css/style-desktop.css",rel="stylesheet",type="text/css")
        link(href="./static/styles/styles.css",rel="stylesheet",type="text/css")
        script(type="text/javascript").
            _cliqzIsMobile = false;
        script(src="//localhost:3001/livereload.js")
        script(src="./js/libs.js")
        script(src="./js/global.js")
        script(src="./js/local.js")
    body.debugView
        div#topBar
            div#cpBtn
                div.iconBar
                div.iconBar
                div.iconBar
        div#panelWindow
            h2 Control Panel
            div#formControl
                input#cMenuCb(type='checkbox', name='cMenuCb', checked=true, onclick="togglecMenu(checked)")
                label Disable Context Menu
            button#location(onclick="getLocation()") Using CLIQZ office location - Update!
        input#urlbar(autofocus="true" autocomplete="off")
        #results
        script(src="./js/debug.js")
