doctype html
html
    head
        title developer tool
        link(rel="icon",href="./skin/cliqz.png",type="image/x-icon")
        link(href="./css/style.css",rel="stylesheet",type="text/css")
        link(href="/mobile/search/skin/css/style.css",rel="stylesheet",type="text/css")
        meta(name="viewport",content="width=device-width, user-scalable=no, initial-scale=1")
        script(type="text/javascript").
            _cliqzIsMobile = true;
        script(src="//localhost:3001/livereload.js")
        script(src="./js/libs.js")
        script(src="./js/environment.js")
        script(src="./js/global.js")
        script(src="./js/local.js")
    body
        input#urlbar(autofocus="true")
        #results.wrapper
            .content
        script(src="./js/debugmobile.js")
