<div class="clearfix notificationsCon" {{action 'notificationClick'}}>
    <div class="close">
    <a href="#" {{action 'dismiss'}}><img src="./assets/images/close_icon.svg" /></a>
  </div>
  <img class="logo" width="40px" height="31px" src="./assets/images/ADB-onboarding.svg" />
  <div class="text fullWidth">
    <h1>{{t 'notifications.hdr-ADB-onboarding'}}</h1>
    <p>{{t 'notifications.txt-ADB-onboarding'}}</p>
  </div>
</div>
