.cliqz-brands-logo {
    /* container size/shape */
    width: 2.5em !important;
    height: 2.5em !important;
    padding: 0.37em !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    border-radius: 50% !important;
    /* text properties */
    line-height: 1.75em !important;
    text-align: center !important;
    font-weight: bold !important;
    color: white;
    overflow: hidden !important;
    /* background logo */
    background-origin: content-box !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center center !important;
}

.cliqz-brands-button-1 { background-color: #e92207 }
.cliqz-brands-button-1:hover, .cliqz-brands-button-1[arrow='true'] { background-color: #9c1605 }
.cliqz-brands-button-1:active { background-color: #690f03 }

.cliqz-brands-button-2 { background-color: #ff951d }
.cliqz-brands-button-2:hover, .cliqz-brands-button-2[arrow='true'] { background-color: #ff7605 }
.cliqz-brands-button-2:active { background-color: #d86404 }

.cliqz-brands-button-3 { background-color: #ffc802 }
.cliqz-brands-button-3:hover, .cliqz-brands-button-3[arrow='true'] { background-color: #fbb306 }
.cliqz-brands-button-3:active { background-color: #f89912 }

.cliqz-brands-button-4 { background-color: #74d463 }
.cliqz-brands-button-4:hover, .cliqz-brands-button-4[arrow='true'] { background-color: #50b23f }
.cliqz-brands-button-4:active { background-color: #148701 }

.cliqz-brands-button-5 { background-color: #50b1a2 }
.cliqz-brands-button-5:hover, .cliqz-brands-button-5[arrow='true'] { background-color: #0b8472 }
.cliqz-brands-button-5:active { background-color: #06594d }

.cliqz-brands-button-6 { background-color: #4592d8 }
.cliqz-brands-button-6:hover, .cliqz-brands-button-6[arrow='true'] { background-color: #1967af }
.cliqz-brands-button-6:active { background-color: #0b4b86 }

.cliqz-brands-button-7 { background-color: #8a52a2 }
.cliqz-brands-button-7:hover, .cliqz-brands-button-7[arrow='true'] { background-color: #733090 }
.cliqz-brands-button-7:active { background-color: #4c0f66 }

.cliqz-brands-button-8 { background-color: #f36e8d }
.cliqz-brands-button-8:hover, .cliqz-brands-button-8[arrow='true'] { background-color: #c24462 }
.cliqz-brands-button-8:active { background-color: #9b2843 }

.cliqz-brands-button-9 { background-color: #c78e6d }
.cliqz-brands-button-9:hover, .cliqz-brands-button-9[arrow='true'] { background-color: #b1714c }
.cliqz-brands-button-9:active { background-color: #8c4e2a }

.cliqz-brands-button-10 { background-color: #999999 }
.cliqz-brands-button-10:hover, .cliqz-brands-button-10[arrow='true'] { background-color: #777777 }
.cliqz-brands-button-10:active { background-color: #555050 }