.feedback__container {
  min-height: 290px;
  background-color: #fafafa;
  border-radius: 7px;
  border: 1px solid #e9e9e9;
  padding: 6px 7px 4px 8px;
}
.feedback__wrapper {
  background-color: #fff;
  height: 100%;
  padding: 6px 7px 4px 8px;
}
.feedback__title {
  padding-top: 13px;
  font-size: 20px;
  font-weight: 500;
  color: #494949;
}
.feedback__subtitle {
  padding-top: 12px;
  margin-bottom: -3px;
  font-size: 15px;
  font-weight: 500;
  color: #494949;
}
.feedback__list {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}
.feedback__list-item {
  padding-bottom: 6px;
}
.feedback__field {
  margin-top: 10px;
  margin-left: 2px;
  padding-top: 3px;
  padding-left: 6px;
  resize: none;
  border: 1px solid #DADADA;
  border-radius: 0;
  width: calc(100% - 15px);
  font-size: 11.5px;
}

.feedback__label {
  font-size: 12.5px;
  padding-left: 5px;
  cursor: pointer;
}

.feedback__buttons {
  margin-top: 15px;
}

.feedback__button {
  font-size: 13px;
  letter-spacing: 0.5px;
  padding: 8px 13px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  line-height: 16px;
}

.feedback__secondary {
  color: #c5c5c5;
  text-transform: capitalize;
}
.feedback__primary {
  background: #00AEF0;
  color: #fff;
}
.feedback__primary.feedback__myoffrz-primary {
  background: var(--myoffrz-secondary-color, #f67057);
}
.feedback__primary.feedback__chip-primary {
  background: var(--chip-secondary-color, #eb443f);
}
.feedback__primary.feedback__ghostery-primary {
  background: var(--ghostery-secondary-color, #5B005C);
}

.feedback__disabled {
  color: #fff;
  opacity: 0.4;
  cursor: unset;
  background: #00AEF0;
}
.feedback__disabled.feedback__myoffrz-disabled {
  background: var(--myoffrz-secondary-color, #f67057);
}
.feedback__disabled.feedback__chip-disabled {
  background: var(--chip-secondary-color, #eb443f);
}
.feedback__disabled.feedback__ghostery-disabled {
  background: var(--ghostery-secondary-color, #5B005C);
}

.feedback__card-benefit {
  font-size: 22px;
  color: #c5c5c5;
  font-weight: 500;
  display: inline-block;
  width: 225px;
}

.feedback__card-headline {
  font-size: 15px;
  hyphens: auto;
  color: #c5c5c5;
  font-weight: 500;
}
.feedback__trash {
  height: 24px;
  display: inline-block;
  margin-bottom: -4px;
}
