@import 'freshtab';
@import 'history-sidebar';

html {
  overflow-y: scroll;
}

body {
  background-color: white;
}

.loading {
  text-align: center;

  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  img {
    vertical-align: middle;
    max-height: 300px;
    padding: 0 10%;
  }
}
