@import './freshtab/add-speed-dial';
@import './freshtab/speed-dial';
@import 'history';
@import './freshtab/custom-settings';

#flexContainer {
  display: flex;
  height: 100%;
  flex-direction: column;

  #notificationsBox {
    flex: 0 0 auto;
  }

  #freshTabPage {
    flex: 1 1 auto;
    overflow-y: auto;
    position: relative;
  }
}


.freshTabContainer {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;

  nav {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 74px;
    z-index: 100;
    text-align: center;

    a {
      display: block;
      cursor: pointer;
      opacity: 1;
      margin: 20px 0 0 0;
      padding: 0px;
      height: 25px;
      opacity: 0.4;
      &.active {
        opacity: 1;
      }
    }
  }
}

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

.hidden {
  display: none;
}

.overflow-hidden {
  overflow:hidden;
  text-indent:100%;
  white-space:nowrap;
  display: block;
  cursor: pointer;
 }

.cqz-ez-btn {
  display: inline-block;
  line-height: 26px;
  margin: 0 7px 4px 0px;
  padding: 0 9px;
  cursor: pointer;
  color: #ffffff;
  border-radius: 3px;
  border: 0px;
}

.formRow {
  display: block;
}

body.freshTabContainer {
  background: #f7f7f7;
}

#notificationsBox {

  background-color: #506275;
  color: #ffffff;
  width: 100%;
  padding: 20px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;

  .notificationsCon {
    width: 100%;
    max-width: 960px;
    padding: 0 20px 0 30px;
    margin: 0 auto;
    cursor: default !important;
  }

  .close {
    position: absolute;
    right: 15px;
    top: 15px;
  }

  h1 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 5px;
  }

  img.logo {
    float: left;
    margin-left: -40px;
    cursor: default !important;
  }

  .ghosteryDismiss {
    top: 23px;
  }

  .ghostery {
    margin-top: -20px;
    margin-bottom: 0;

    img {
      position:relative;
      top: 10px;
    }

    a {
      text-decoration: none;
    }
  }

  .text {
    padding: 0 20px 0 40px;
    font-size: 14px;
    float: left;
    width: calc(100% - 400px); // 10px for the close btn

    &.fullWidth {
      width: 100%;
      padding-right: 0;
    }
   }

  a {
    color: #8BE0E7;
  }

  .buttons {
    float: left;
    width: 400px;

    button {
      width: 200px;
      padding: 6px 10px;
      margin-bottom: 10px;
      border: 1px solid #CFCFCF;
      cursor: pointer !important;

      &.enable {
        color: #506275;
        float: left;
      }

      &.disable {
        color: #F7F7F7;
        background: transparent;
        float: left;
      }
    }
  }
}

#freshTabPage {
  display: flex;

  .undoOptions {
    height: 50px;
  }

  a {
    text-decoration: none;
    color: #333333;
  }

  /* containers */
  #center {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-items: center;
    overflow-y: auto;
    flex: 0 0 auto;
    flex-direction: row;
  }

  #container {
    flex: 0 0 auto;
    max-width: 1024px;
    min-width: 940px;
    padding: 0 20px;
    margin: 0px auto;
    outline: none;
  }

  /* search */
  #searchContainer {
    position: relative;
    margin: 0px 0px 50px;
    width: 100%;
  }

  #search-icon {
    position: absolute;
    top: 6px;
    left: 10px;
    width: 24px;
    height: 24px;
    background: url("./images/cliqz_icon.svg") no-repeat;
  }

  .wrap {
    width: 100%;
    max-width: 800px;
    margin: 0px auto;
  }

  #urlbar {
    width: 100%;
    height: 35px;
    border: 1px solid #DBDBDB;
    padding: 0px 8px 0px 40px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 16px;
    /* EX-2255 */ /* Ref: theme-linux.scss */
    background-color: #fff !important;
    color: #333;
    /* END EX-2255*/
  }

  #urlbar::-moz-placeholder {
    color: #999;
  }

  #urlbar:focus {
    outline: none !important;
    border: 1px solid #7AA8D9;
    box-shadow: inset 0 0 1px #AEC6DE;
  }

  .cliqz-brands-button-4 {
    background-color: #36c2c1;
  }
  .cliqz-brands-button-4:hover,
  .cliqz-brands-button-4[arrow='true'] {
    background-color: #3eaeb6
  }
  .cliqz-brands-button-4:active {
    background-color: #36c2c1;
  }

  /*top visited */
  #topVisited {
    height: 343px;
    margin: 20px 0px 10px;
    text-align: center;

    .is-custom {
      position: relative;
      z-index: 1;
    }

    a {
      display: block;
      padding-top: 10px;
      z-index: 1000;
      position: relative;
    }

    .speedDialLabel {
      font-size: 12px;
      text-transform: uppercase;
      font-family: "Lato", sans-serif;
      text-align: center;
      margin-bottom: 10px;
      color: #ababab;
      letter-spacing: 1px;
    }

    .dialIconHolder {
      display: inline-block;
      width: 50px;
      margin-bottom: 8px;

      &.dialWithSearch {
        position: relative;
        width: 72px;
        padding-right: 22px;

        .searchAlias {
          position: absolute;
          right: 0;
          top: 0;
          width: 20px;
          height: 100%;
          color: #fff;
          text-align: center;
          background: #cc7716;
          z-index: 10;
          transition: 0.3s all;

          a{
            display: block;
            width: 100%;
            height: 100%;
            line-height: 35px;
            background: rgba(0, 0, 0, 0.25)
          }

          &:hover {
            width: calc(100% - 15px);
          }
        }
      }
    }

    .undo, .closeUndo, .resetAll {
      display: inline-block;
      padding-top: 0;
      margin-left: 15px;
    }

    .closeUndo {
      top: 6px;
      position: relative;
    }

    .closeUndo svg:hover path {
      fill: #9D9D9D;
    }

    .undo, .resetAll {
      color: #5ea3f9;

      &:hover {
        text-decoration: underline;
      }
    }

    .logo {
      box-sizing: border-box;
      overflow: hidden;
      height: 50px;
      padding: 11px 4px;
      margin: 0px auto 0 auto;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
      font-weight: bold;
      color: #FFF;
      background-origin: content-box;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      transition: all 0.45s;
      position: relative;
    }

    ul {
      max-width: 1024px;
      margin: -10px auto 2px;
    }

    li {
      position: relative;
      float: left;
      width: 18.6%;
      max-width: 166px;
      padding: 0px;
      margin: 7px 0.7% 10px;
      list-style: none;
      text-align: center;
      transition: box-shadow 0.25s ease;
    }



    li:hover .delete {
      opacity: 1;
      transition:opacity 0.1s ease-out 0.2s;
    }

    #historyTiles {
      max-height: 140px;
    }

    #customTiles {
      max-height: 140px;
      overflow: hidden;
    }


    a.hideAddForm {
      display: block;
      height: auto;
      cursor: pointer;
      padding: 0px;
      text-align: right;
      color: #CCCCCC;
      font-size: 16px;
      line-height: 12px;
    }

    .delete {
      position: absolute;
      top: 0%;
      left: 28%;
      opacity: 0;
      width: 20px;
      height: 20px;
      background: url("./images/delete-icon.svg") no-repeat;
      cursor: pointer;
      overflow:hidden;
      text-indent:100%;
      white-space:nowrap;
      transition:opacity 0.3s ease-out 0.1s;
      -webkit-transition: opacity 0.3s ease-out 0.1s;
      -webkit-transition-delay: 1s;
    }

    .historyWithSearch + .delete {
      left: 23%;
    }

    .notification {
      color: #e92207;
      font-size:12px;
    }

    .title {
      color: #333333;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 186px;

      strong {
        font-weight: bold;
      }

      button {
        border: 0;
        color: blue;
        margin: 0 5px;
        background-color: transparent;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  /* news container */
  #newsContainer {
    width: 100%;
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 160px;

    .heading {
      padding-bottom: 6px;
      margin-bottom: 10px;

      h2 {
        float: left;
        color: #999999;
        font-size: 18px;
        text-transform: uppercase;
        margin-right: 15px;
      }
    }

    a.topnews {
      display: block;
    }

    #sliderBtns {
      float: left;
      margin-top: 8px;

      div {
        width: 12px;
        height: 12px;
        float: left;
        border-radius: 50%;
        text-align: center;
        margin-right: 5px;
        border: 1px solid #bfbfbf;
      }

      div.active {
        background-color: #999999;
        border: 0px;
      }
    }

    .newsBox {

      .article-content {
        position: relative;
        & > a {
          position: relative;
        }
      }

      .description {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        padding: 10px 10px;
        overflow: hidden;
        background: #fff;
        line-height: 22px;
        transition: 0.4s all;
      }

      li:hover .description {
        opacity: 1;
      }

      li:hover .readMore {
        opacity: 1;
      }

      .text {
        overflow: hidden;
        line-height: 18px;
        height: 110px;
      }

      .readMore {
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 10px;
        opacity: 0;
        color: #5ea3f9;
        transition: 0.4s all;

        &:hover {
          text-decoration: underline;
        }
      }

    }

    li {
      list-style: none;

      .title {
        font-size: 17px;
        margin-bottom: 8px;
        color: #333333;
        text-decoration: none;
        max-height: 87px;
        overflow: hidden;
        line-height: 1.24;
        height: 90px;
      }

      .breakingNews {
        color: #E64C66;
        font-size: 13px;
        text-transform: uppercase;
      }

      .title:hover {
        color: #506bb8;
      }

      .url {
        font-size: 14px;
        color: #999999;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 320px;
        padding-top: 8px;
      }

      .logo {
        float: left;
        width: 30px;
        height: 30px;
        font-size: 20px;
        padding: 0.2em; /* 4px / 20px */
        line-height: 1.25em; /* 25px / 20px */
        margin-right: 10px;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
        overflow: hidden;
        background-origin:content-box;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        box-sizing: border-box;
      }
    }

    .allNews {

      .newsContent {
        padding: 10px 0px;
      }

      li {
        float: left;
        max-width: 260px;
        width: 32%;
        margin-right: 2%;
        padding: 0 10px 10px 10px;
        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0px 2px 1px -2px rgba(0,0,0,0.2);
      }

      li:nth-last-child(3n+1) {
        margin-right: 0px;
      }
    }

  }

  /******** CLIQZ Onboarding *********/
  #optinContainer {
    display: block;
  }

  .optinBackground {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: 1004;
    background-color: #EEF6FC;
  }

  .optinBackground.transparent {
    opacity: 0.75;
  }

  .optinBackground.bgImage {
    background-image: url("./images/bkg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  .optinContent {
    width: 619px;
    height: 554px;
    border-radius: 8px;
    background-color: #ffffff;
    text-align: center;
    z-index: 1005;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -237px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15);

    #header {
      height: 80px;
      background-color: #1D55A0;
      border-radius: 8px 8px 0 0;
    }

    h1 {
      display: inline-block;
      color: #fff;
      line-height: 75px;
      font-size: 26px;
      font-weight: 200;
    }

    h2 {
      font-size: 30px;
      font-weight: 400;
      margin-top: 30px;
      margin-bottom: 0;
    }

    .imgContainer {
      margin-top: 30px;
    }

    p {
      margin: 28px auto 0px auto;
      font-size: 18px;
      width: 410px;
    }

    a {
      color: #5EA3F9;
      font-size: 18px;
    }

    .cqz-optin-btn {
      border-radius: 3px;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      line-height: 26px;
      margin: 30px 0px;
      padding: 5px 15px;
      text-decoration: none;
      background-color: #63AFE6;
      height: 30px;
      font-size: 18px;
      box-sizing: content-box;
    }

    .footer {
      background-color: #FAFAFA;
      position: absolute;
      bottom: 0px;
      text-align: center;
      padding: 10px 0px;
      width: 100%;

      a {
        color: #999999;
        font-size: 14px;
        text-decoration: underline;
      }
    }

    .onboardingNav {
      margin: 30px auto 0px auto;
      width: 45px;

      a {
        width: 8px;
        height: 8px;
        background-color: #cccccc;
        float: left;
        border-radius: 50%;
        text-align: center;
        margin-right: 7px;
      }

      .active {
        background-color: #999999
      }
    }
  }
}

@media (max-width: 940px) {

  #freshTabPage #container {
    width: 100%;
    min-width: 0;
    padding: 0 20px;
  }

  #freshTabPage #topVisited .historyWithSearch + .delete {
    left: 21%;
  }
}

@media (max-width: 820px) {
  #notificationsBox .text {
    width: calc(100% - 200px);
  }

  #notificationsBox .buttons {
    max-width: 180px;
  }
}

@media (max-width: 809px) {

  #freshTabPage #newsContainer .allNews li {
    width: 49%;
    max-width: 370px;
  }

  #freshTabPage #newsContainer .allNews li:last-child {
    margin-right: 0px;
  }

  #freshTabPage #topVisited .delete {
    left: 25%;
  }

  #freshTabPage #topVisited .historyWithSearch + .delete {
    left: 17%;
  }
}


@media (max-width: 640px) {
  #freshTabPage #container {
    max-width: auto;
    min-width: auto;
  }

  #freshTabPage #topVisited {
    height: auto;

    li {
      width: 23%;
      &:nth-child(5n) {
        display:none;
      }
    }

    .delete {
      left: 15%;
    }

    .historyWithSearch + .delete {
      left: 5%;
    }
  }
  #freshTabPage #topVisited .title {
    max-width: 46px;
    display: block;
    margin: 0px auto;
  }

  #freshTabPage .wrap {
    padding-left: 40px;
    padding-right: 30px;
  }

  #freshTabPage #topVisited {
    margin-top: 20px;
  }

  #freshTabPage #newsContainer .allNews li{
    float: none;
    width: 100%;
    max-width: 100%;
  }

  #freshTabPage #newsContainer #yourNewsBox {
    margin-left: 20px;
  }

  #freshTabPage #yourNewsBox ul {
    width: 80%;
  }

  #freshTabPage #yourNewsBox li {
    max-width: 100%;
  }

  #freshTabPage #topVisited .addDialForm input {
    font-size: 12px;
  }

  .freshTabContainer .undoOptions * {
    font-size: 12px;
  }

  #freshTabPage #topVisited .undo,
  #freshTabPage #topVisited .closeUndo,
  #freshTabPage #topVisited .resetAll {
    margin-left: 10px;
  }

  #freshTabPage #topVisited .speedDialLabel {
    margin-left: 6%;
  }

  #freshTabPage #topVisited ul {
    max-height: 95px;
    margin-left: 20px;
  }

  #freshTabPage .undoOptions {
    height: 40px;
    margin-top: -5px;

    span {
      display: inline-block;
      margin-left: 17px;
    }
  }

  #notificationsBox .text {
    width: 100%;
    margin-bottom: 20px;
  }

  #notificationsBox .buttons {
    clear: both;
    width: 100%;
    max-width: 100%;
    padding-left: 40px;
  }
}

@media (max-width: 500px) {

/*  #freshTabPage #container {
    padding: 0 20px;
  }*/

  #freshTabPage #topVisited li {
    width: 30%;

    &:nth-child(4n),
    &:nth-child(5n) {
      display:none;
    }
  }

  #freshTabPage #topVisited .delete {
    left: 15%;
  }

  #freshTabPage #topVisited .historyWithSearch + .delete {
    left: 5%;
  }

  .cqz-ez-btn {
    margin-bottom: 8px;
  }

  .addDialBox svg {
    width: 15px;
    height: 15px;
  }

  #freshTabPage #topVisited .notification {
    font-size: 11px;
  }


}

@media (min-height: 950px) {

  #freshTabPage #topVisited {
    margin-bottom: 15%;
    margin-top: 10%;
  }

  #freshTabPage #searchContainer {
    margin-bottom:15%;
  }
}
