$color-black: #202020;
$color-dark-gray: #414141;
$color-dark-highlight: #45C2CC;
$color-highlight: #B2EFF5;
$color-highlight-shadow: rgba(0, 84, 101, 0.5);

#history {
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  color: $color-black;

  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: auto;

  h1 {
    font-size: 24px;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 11px;
    color: $color-dark-gray;
    white-space: nowrap;
  }

  nav {
    padding: 0px;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    flex: 0 0 auto;
    align-self: stretch;
    background-color: #506275;
    width: 74px;

    a {
      margin-top: 20px;
      opacity: 0.4;
      padding: 0px;
      height: 25px;
      display: block;

      &.freshtab-button {
        background: url('../assets/images/Home White.svg') no-repeat center;
      }

      &.history-button {
        background: url('../assets/images/History White.svg') no-repeat center;
      }
    }

    a:hover {
      opacity: 1;
    }
    a.active {
      opacity: 1;
      background-color: transparent;
    }
  }

  .history {
    flex: 1 1 auto;
    min-width: 720px;

    .liquid-child {
      display: flex;
      flex-direction: row;
      align-self: stretch;
    }

    #filters {
      padding: 0 25px;

      background-color: #F7F7F7;
      flex: 0 1 auto;

      #time-selector {
        margin-top: 20px;

        button {
          border: 0px;
          background-color: transparent;
          float: left;
          clear: both;
          margin-bottom: 5px;
          margin-top: 5px;
          font-size: 13.5px;
          padding: 0px;

          &.active {
            font-weight: bold;
          }
        }
      }

      #feedback {
        clear: both;
        margin-top: 149px;
        border-top: 1px solid #ccc;
        width: 100px;

        #feedback-button {
          margin: 5px 0;
          background:url('./images/face-feedback.svg') no-repeat;
          background-position: left bottom;
          border: none;
          width: 74px;
          height: 20px;
          font-size: 11px;
          color: #8E8E8E;
          padding: 0;
          text-align: right;
        }

        #feedback-button:hover {
          color: #00869F;
        }

        #feedback-button:active {
          color: #3F3F3F;
        }

        #close-feedback-button {
          margin-top: 8px;
          float: right;
          background:url('./images/close-search.svg') no-repeat center top;
          width: 12px;
          height: 12px;
          border: none;
          opacity: 0.6;
          vertical-align: middle;
          visibility: hidden;
        }

        #close-feedback-button:hover {
          border: none;
          opacity: 1;
        }

        #close-feedback-button.visible {
          visibility: visible;
        }

        .feedback-text {
          padding: 5px 5px 7px 7px;
          font-size: 12.5px;
          line-height: 18px;
          color: #fff;
          background-color: #35BBDA;
          box-shadow: 1px #0085A6;
          border-radius: 5px;
          -moz-box-shadow: 0px 1px 2px 0px rgba(0,133,166,1);
          box-shadow: 0px 1px 2px 0px rgba(0,133,166,1);
        }

        .feedback-textarea {
          border: 2px solid #eee;
          border-radius: 3px;
          width: 100%;
        }

        .feedback-textarea:focus {
          border-color: #37BCDB;
        }


        #feedback-vote-wrapper {
          background-color: #fff;
          border-top: 0;
          border-radius: 7px;
          padding-top: 19px;
          margin-top: -20px;
          position: relative;
          text-align: center;
          -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
          box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);

          #positive-feedback-button {
            background:url('./images/thumb-up.svg') no-repeat center top;
            width: 36px;
            height: 36px;
            border: none;
          }

          #positive-feedback-button:hover {
            background:url('./images/thumb-up-hover.svg') no-repeat center top;
          }

          #positive-feedback-button:active {
            background:url('./images/thumb-up-active.svg') no-repeat center top;
          }

          #negative-feedback-button {
            background:url('./images/thumb-down.svg') no-repeat center center;
            width: 36px;
            height: 36px;
            border: none;
          }

          #negative-feedback-button:hover {
            background:url('./images/thumb-down-hover.svg') no-repeat center;
          }

          #negative-feedback-button:active {
            background:url('./images/thumb-down-active.svg') no-repeat center;
          }
        }

        .submit-comment {
          margin-top: 10px;
          border: 2px solid #37BCDB;
          border-radius: 5px;
          background-color: #fff;
          width: 100%;
          height: 30px;
        }

        .submit-comment:hover {
          color: #00869F;
          border-color: #00869F;
        }

        .submit-comment:active {
          color: #ccc;
          border-color: #ccc;
        }
      }

    }

    #search {
      border-left: 1px solid #D4D4D4;
      background-color: #F7F7F7;
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;

      header {
        flex: 0 0 auto;
        border-bottom: 1px solid #D4D4D4;
        padding: 15px;

        .clear-history-btn {
          position: absolute;
          color: #414141;
          top: 14px;
          right: 55px;
          height: 35px;
          background: url(./images/trash-session.svg) no-repeat left 10px center;
          border-radius: 5px;
          padding: 0px 7px 0 31px;
          border: 1px solid #ccc;
        }

        .clear-history-btn:hover {
          color: #000;
          background-color: #fff;
          background-image: url(./images/trash-session-hover.svg);
          border: 1px solid #E64C66;
        }
      }
    }

    .logo {
      display:flex;
      align-items: center;
      justify-content:center;

      float: left;

      padding: 0.3em;
      margin-right: 10px;
      font-weight: bold;
      color: #ffffff;

      overflow: hidden;
      background-origin: content-box;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      box-sizing: border-box;

      font-family: Helvetica, sans;
    }

    .search {
      width: 250px;
      align-items: center;
      display: flex;
      position: relative;

      input:focus, input:focus ~ label, input:focus ~ button {
        border-color: #575757;
      }

      &.is-active {
        input, label, button {
          border-color: $color-dark-highlight;
        }

        input:focus ~ label, input:focus ~ button {
          border-color: $color-dark-highlight;
        }

        label img {
          color: $color-dark-highlight;
        }
      }

      button {
        border: solid #D4D4D4;
        border-width: 1px 1px 1px 0px;
        background-color: white;
        border-radius: 0 20px 20px 0;
        padding: 5px 12px 4px 0px;
        line-height: 1.43;

        img {
          box-sizing: content-box;
          height: 13px;
          width: 13px;
          padding-top: 5px;
          padding-bottom: 0px;
        }
      }

      label {
        cursor: pointer;
        display: inline-block;
        order: 1;
        white-space: nowrap;
        float: left;
        margin-left: 5px;
        border: solid #D4D4D4;
        border-width: 1px 0 1px 1px;
        border-radius: 20px 0 0 20px;
        background-color: white;
        padding: 0px 0px 0px 12px;
        padding-top: 5px;
        padding-bottom: 4px;
        line-height: 1.43;

        img {
          box-sizing: content-box;
          height: 13px;
          width: 13px;
          padding-top: 5px;
          padding-bottom: 0px;
        }
      }

      input {
        order: 2;
        border: solid #D4D4D4;
        border-width: 1px 0px 1px 0;
        background-color: white;
        padding: 5px 5px 5px 5px;
        flex: 1 1 auto;
        color: $color-black;
        &::-moz-placeholder {
          color: #B3B3B3;
        }
      }

      button {
        order: 3;
      }
    }

    .session-list {
      flex: 1 1 auto;
      overflow-y: scroll;
      overflow-x: hidden;
      margin-bottom: 15px;
      padding: 20px 20px 0 20px;
      padding-bottom: 0px;

      .loading-list {
        height: 100%;

        .loading {
          height: 100%;
        }
      }

      .session {
        position: relative;
        clear: both;
        background-color: white;
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 10px 0px;
        box-shadow: 0 1px 1px rgba(34, 25, 25, 0.15);
        border: 1px solid #ededed;

        &.is-active {
          border: 1px solid $color-highlight;
        }

        &.has-ongoing-visits {
        //  border-bottom: 1px solid red;
        }

        &.marked-for-deletion {
          border-color: #E64C66;
        }

        .visits {
          clear: both;
          display: block;
          max-width: 100%;
          overflow: hidden;

          .visit {
            position: relative;
            max-width: 100%;

            overflow: hidden;
            display: block;
            padding: 5px 15px;
            text-decoration: none;
            line-height: 22px;

            &:hover {
              background-color: #F7F7F7;

              .visit-content span {
                color: #00869F;
              }

              em {
                color: $color-black;
              }
            }

            em {
              color: $color-black;
              border-radius: 3px;
              background-color: $color-highlight;
              padding: 0 3px;
              box-shadow: 0 1px 1px $color-highlight-shadow;
            }

            & > div {
              height: 22px;
              span {
                line-height: 22px;
              }
            }

            .domain {
              font-size: 13.5px;
              color: #8E8E8E;
              float: left;
            }

            span {
              color: $color-black;
              font-size: 15px;
            }

            .logo {
              float: left;
              margin-right: 10px;

              height: 22px;
              width: 22px;
              margin-left: 22px;
              font-size: 12px;

              &.big {
                margin-left: 0px;
                height: 44px;
                width: 44px;
                font-size: 24px;
              }
            }

            .keyword {
              box-sizing: content-box;
              float: left;
              border: 1px solid #D4D4D4;
              margin-right: 5px;
              font-weight: bold;
              line-height: 20px;
              display: inline-block;
              height: 20px;
              padding: 0px 5px;
              max-width: calc(100% - 12px);
              overflow-x: hidden;

              img {
                display: inline-block;
                margin-top: 3px;
                height: 15px;
                float: left;
                width: 15px;
                margin-right: 5px;
              }
            }

            .visit-content {
              display: flex;
              flex: 1;

              .title {
                float: left;
                width: 25vw;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                margin-right: 2vw;
              }

              .url {
                display: inline-block;
                font-size: 13.5px;
                color: #8E8E8E;
                text-overflow: ellipsis;
                max-width: 23vw;
                white-space: nowrap;
                overflow: hidden;
                margin-right: 1vw;
              }

              @media screen and (max-width: 1100px) {
                .url {
                  display: none;
                }
              }

              .visited-at {
                position: absolute;
                right: 50px;
                display: inline-block;
                width: 200px;
                font-size: 13.5px;
                color: #8E8E8E;
                text-align: right;
              }
            }

            .delete-visit-btn {
              background:url('./images/trash-visit.svg') no-repeat;
              width: 46px;
              height: 36px;
              border: none;
              background-position: center bottom 8px;

              background-size: 16px 16px;

              position: absolute;
              top: 0;
              bottom: 0;
              right: 0;
              height: 100%;
            }

            .delete-visit-btn:hover {
              background-color: #E64C66;
              background-image:url('./images/trash-visit-hover.svg');
            }

            &.marked-for-deletion {
              background-color: #FFDEE3;

              .visit-content span {
                color: #000;
              }
            }
          }
        }

        .delete-session-btn {
          position: absolute;
          top: 0;
          right: -30px;

          background:url('./images/trash-session.svg') no-repeat;
          width: 20px;
          height: 20px;
          border: none;
        }

        .delete-session-btn:hover {
          background-image:url('./images/trash-session-hover.svg');
        }
      }
    }
  }
}
