.footer {
  overflow: hidden;
  box-sizing: border-box;
  height: 62px;
  color: #808080;
  font-size: 13px;
  letter-spacing: 0.5px;
  background-color: #f2f2f2;
  border-top: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;

  &-about {
    height: 100%;
    padding-left: 60px;
    width: 40%;
    font-size: 0;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    & a {
      text-decoration: none;
      color: #616161;
      display: inline-block;
      font-size: 13px;
      margin-right: 18px;
      vertical-align: middle;

      &:hover {
        text-decoration: none;
        color: #272727;
      }
    }
  }
}
