.searchbox {
  &-categories {
    white-space: normal;
    max-width: 608px;
    margin-left: 65px;
    padding-bottom: 17px;
    padding-top: 25px;
    border-bottom: 0.5px solid #e4e4e4;

    &-option, &-dropdown-option {
      font-size: 13.5px;
      color: #868686;
      text-decoration: none;
      display: inline-block;
      margin-right: 30px;

      &:hover {
        color: #3b3b3b;
      }
    }

    &-dropdown-option {
      border: none;
      background-color: transparent;
      cursor: pointer;
      position: relative;
      padding-right: 18px;
      margin-right: 0;

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        width: 14px;
        height: 8px;
        background: url('../assets/arrow-down.svg') center center no-repeat;
        background-size: 120%;
        margin-top: -3px;

        transition: ease .15s transform;
      }

      &:hover:after {
        background-image: url('../assets/arrow-down-hover.svg');
      }

      &-opened:after {
        transform: rotate(180deg);
      }
    }

    &-dropdown {
      display: inline-block;
      position: relative;
      margin-right: 26px;
    }
  }
}
