@import './searchbox-initial';

@import './variations/shared/searchbox-results';
@import './variations/v1/searchbox-results';
@import './variations/v3/searchbox-results';

@import './variations/shared/searchbox';
@import './variations/v3/searchbox';

@import './search-engine-icon';

@import './variations/v1/searchbox-field-layout';
@import './variations/v3/searchbox-field-layout';

@import './variations/shared/searchbox-icon';
@import './variations/v1/searchbox-icon';
@import './variations/v3/searchbox-icon';

@import './variations/shared/searchbox-field';
@import './variations/v1/searchbox-field';
@import './variations/v3/searchbox-field';

@import './variations/shared/searchbox-submit-icon';
@import './variations/v1/searchbox-submit-icon';
@import './variations/v3/searchbox-submit-icon';

@import './searchbox-categories';
@import './variations/v1/searchbox-categories';

@import './dropdown';
@import './variations/v1/dropdown';
@import './variations/v2/dropdown';
@import './variations/v3/dropdown';

@import './tooltip';
@import './variations/v1/tooltip';

@import './variations/shared/footer';
@import './variations/v1/footer';
@import './variations/v3/footer';

@import './why-cliqz';
@import './human-web';
@import './modal';
@import './anzeige-label';
@import './layouts/anzeige-layout';

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  border-collapse: collapse;
  min-width: 750px;
  min-height: 600px;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  min-height: 100%;
  font-family: Arial,sans-serif;
  text-rendering: optimizeLegibility;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

em {
  font-style: normal;
  font-weight: 700;
}

.hidden {
  visibility: hidden;
}

.removed {
  display: none;
}

.page {
  &-wrap {
    background-color: #fff;
    min-height: 100%;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 62px;
  }
}

.cliqz-dropdown {
  border: none;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
  width: 100%;
}

@import './serp.mobile';
