@font-face {
  font-family: "Gotham";
  src: url("chrome://cliqz/content/onboarding/fonts/Gotham-Medium.otf");
  font-weight: 500; }
@font-face {
  font-family: "Gotham";
  src: url("chrome://cliqz/content/onboarding/fonts/Gotham-Bold-Q.otf");
  font-weight: 700; }
@font-face {
  font-family: "Gotham";
  src: url("chrome://cliqz/content/onboarding/fonts/Gotham-Book.otf");
  font-weight: 400; }
@font-face {
  font-family: "Gotham";
  src: url("chrome://cliqz/content/onboarding/fonts/Gotham-Light.otf");
  font-weight: 300; }
.cf::after {
  clear: both;
  content: "";
  display: table; }

/** start new on-boarding stuff, to be cleaned **/

#landing-page-background, #landing-page-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;  
  visibility: hidden;
}

#landing-page-background {
  z-index: 10000;
  background-color: #ffffff;
  opacity: 0;
}

#landing-page-content {
  background-image: url('chrome://cliqz/content/onboarding/images/riversurfen.tumblr.com.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
}

#landing-page-callout {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  transform: translateY(-50%);
  //background-color: rgba(213, 255, 135, 1);
  background-color: white;
  border: 1px solid #bbb;
  border-radius: 8px;
  width: 300px;
  min-height: 20px;
  padding: 16px 32px;
  visibility: hidden;
  font-size: 22px;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.25);
  font-weight: 700;
}

.onboarding-cliqz-logo {
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px 32px;
  text-align: center;
  /*background-image: url('chrome://cliqzres/content/skin/cliqz.png');
  background-image: url('../../../skin/cliqz.png');*/
  background-repeat: no-repeat;
  background-size: 55px 55px;
  background-position: 100% 100%;
  display: inline-block;
}

.q span {
  font-family: Gotham;
  font-size: 3000%;
  font-weight: 700;
  padding: 16px 0;
  color: rgba(0,0,0,0.03);
  display: block;
  position: absolute;
  top: -250px;
  left: -75px;
  z-index: 1;
}

.button-cancel {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 100000;
  visibility: hidden;
  box-shadow: 1px 1px 6px #000000;
}
/** end new on-boarding stuff **/

/** copied from gallery.css **/

.gallery {
position: relative;
}
.gallery .item {
height: 400px;
overflow: hidden;
text-align: center;
background: #4d87e2;
height: 750px;
}
.gallery .controls {
position: absolute;
bottom: 0;
width: 100%;
text-align: center;
}
.gallery .control-button {
display: inline-block;
margin: 0 .02em;
font-size: 3em;
text-align: center;
text-decoration: none;
-webkit-transition: color .1s;
-o-transition: color .1s;
transition: color .1s;
}

/** end new on-boarding stuff **/

body {
  font-family: lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal; }
  body.purple .header {
    background-color: #c99dd5;
    background: linear-gradient(180deg, #fff, rgba(161, 85, 183, 0.5)), linear-gradient(-45deg, #FF5349, #fff), linear-gradient(-150deg, #FF951D, #fff), linear-gradient(-210deg, #FFC803, #fff); }
  body.blue .header {
    background-color: #94e1fd;
    background: linear-gradient(180deg, #fff, rgba(47, 196, 252, 0.5)), linear-gradient(-45deg, #2FC4FC, #fff), linear-gradient(-150deg, #FFC803, #fff), linear-gradient(-10deg, #2FC4FC, #fff); }
  body.yellow .header {
    background-color: #ffde69;
    background: linear-gradient(180deg, #fff, rgba(255, 200, 3, 0.5)), linear-gradient(-45deg, #FF951D, #fff), linear-gradient(-150deg, #FF5349, #fff), linear-gradient(-210deg, #FFC803, #fff); }
  body.red .header {
    background-color: #ffb3af;
    background: linear-gradient(180deg, #fff, rgba(255, 83, 73, 0.5)), linear-gradient(-45deg, #A155B7, #fff), linear-gradient(-150deg, #FF951D, #fff), linear-gradient(-210deg, #FFC803, #fff); }
  body.green .header {
    background-color: #c4efa4;
    background: linear-gradient(180deg, #fff, rgba(164, 224, 77, 0.5)), linear-gradient(-45deg, #FFC803, #fff), linear-gradient(-150deg, #FF951D, #fff), linear-gradient(-210deg, #2FC4FC, #fff); }
  body.orange .header {
    background-color: #ffc583;
    background: linear-gradient(180deg, #fff, rgba(255, 149, 29, 0.5)), linear-gradient(-45deg, #FFC803, #fff), linear-gradient(-150deg, #FFC803, #fff), linear-gradient(-210deg, #FFC803, #fff); }
  body.onboarding {
    padding: 0;
    margin: 0; }
    body.onboarding .switch {
      padding: 5px 0 0;
      position: absolute;
      top: 16px;
      right: 16px;
      z-index: 9999; }
      body.onboarding .switch::after {
        clear: both;
        content: "";
        display: table; }
      body.onboarding .switch a {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        text-indent: -9999px;
        opacity: 0.38;
        margin: 4px 0 0 0;
        display: inline-block;
        position: relative;
        float: left; }
        body.onboarding .switch a.active {
          width: 24px;
          height: 24px;
          opacity: 1;
          margin: 0 -2px 0 0;
          bottom: 0px; }
          body.onboarding .switch a.active:last-child {
            margin: 0 0 0 -2px; }
        body.onboarding .switch a.Deutsch {
          background-image: url("../images/german.svg"); }
        body.onboarding .switch a.English {
          background-image: url("../images/english.svg"); }
    body.onboarding .arrow-top {
      position: relative;
      display: inline-block;
      top: -32px;
      left: -16px;
      background-image: url("../images/arrow-top.svg");
      background-size: cover;
      width: 48px;
      height: 64px;
      text-indent: -9999px;
      z-index: 999; }
    body.onboarding figure {
      margin: 0;
      padding: 48px 0 0; }
      body.onboarding figure.blue {
        background-color: #94e1fd;
        background: linear-gradient(180deg, #fff, rgba(47, 196, 252, 0.5)), linear-gradient(-45deg, #2FC4FC, #fff), linear-gradient(-150deg, #FFC803, #fff), linear-gradient(-10deg, #2FC4FC, #fff); }
        body.onboarding figure.blue h1 span {
          color: #04b3f4; }
        body.onboarding figure.blue h3 {
          color: #038ec2; }
      body.onboarding figure.green {
        background-color: #c4efa4;
        background: radial-gradient(circle at top center, #D1FBA2, rgba(255, 255, 255, 0.62) 62%), radial-gradient(circle at top right, #FFC803, rgba(255, 255, 255, 0.62) 38%), radial-gradient(circle at top left, #4A90E2, rgba(255, 255, 255, 0.62) 38%); }
        body.onboarding figure.green h1 span {
          color: #6fd525; }
        body.onboarding figure.green h3 {
          color: #59a91e; }
      body.onboarding figure.orange {
        background-color: #ffc583;
        background: linear-gradient(180deg, #fff, rgba(255, 149, 29, 0.5)), linear-gradient(-45deg, #FFC803, #fff), linear-gradient(-150deg, #FFC803, #fff), linear-gradient(-210deg, #FFC803, #fff); }
        body.onboarding figure.orange h1 span {
          color: #e97c00; }
        body.onboarding figure.orange h3 {
          color: #b66100; }
      body.onboarding figure h1 {
        padding: 16px 96px 12px;
        margin: 0;
        font-size: 48px;
        line-height: 64px;
        font-family: Gotham;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.75);
        text-align: center;
        letter-spacing: -2px;
        text-shadow: 0 1px 2px rgba(255, 255, 255, 0.38); }
      body.onboarding figure h3 {
        padding: 16px 0 16px;
        margin: 0 auto;
        max-width: 50%;
        font-size: 24px;
        line-height: 32px;
        font-family: Gotham;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.25);
        text-align: center; }
      body.onboarding figure .image {
        width: 100%;
        max-width: 1000px;
        padding-top: 66%;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        text-indent: -9999px; }
        body.onboarding figure .image.one {
          background-image: url("../images/onboarding-one.png");
          background-size: 100%; }
        body.onboarding figure .image.two {
          background-image: url("../images/onboarding-two.png");
          background-size: 100%; }
        body.onboarding figure .image.three {
          background-image: url("../images/onboarding-three.png");
          background-size: 100%; }
        body.onboarding figure .image.four {
          background-image: url("../images/offboarding.png");
          background-size: 100%; }
    body.onboarding .content .container article {
      padding: 48px 64px 48px; }
      body.onboarding .content .container article h1 {
        font-size: 24px;
        line-height: 32px;
        padding: 0 0 16px;
        font-weight: 500;
        margin: 0;
        text-align: left; }
        body.onboarding .content .container article h1 a {
          color: #333;
          text-decoration: none; }
      body.onboarding .content .container article p {
        padding: 0 0 16px;
        margin: 0;
        font-size: 24px;
        color: rgba(0, 0, 0, 0.25); }
        body.onboarding .content .container article p a {
          color: #999;
          text-decoration: none; }
      body.onboarding .content .container article span {
        color: #ccc; }
    body.onboarding .content .container hr {
      width: 25%;
      margin: 16px auto; }

.header {
  padding: 8px;
  background: radial-gradient(circle at bottom center, #FFC803, rgba(255, 255, 255, 0.62) 62%), radial-gradient(circle at bottom right, #8BE04D, rgba(255, 255, 255, 0.62) 38%), radial-gradient(circle at bottom left, #A155B7, rgba(255, 255, 255, 0.62) 38%); }
  @media only screen and (min-width: 900px) {
    .header {
      padding: 0; } }
  .header .switch {
    padding: 5px 0 0; }
    .header .switch::after {
      clear: both;
      content: "";
      display: table; }
    .header .switch a {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
      text-indent: -9999px;
      opacity: 0.38;
      margin: 4px 0 0 0;
      display: inline-block;
      position: relative;
      float: left; }
      .header .switch a.active {
        width: 24px;
        height: 24px;
        opacity: 1;
        margin: 0 -2px 0 0;
        bottom: 0px; }
        .header .switch a.active:last-child {
          margin: 0 0 0 -2px; }
      .header .switch a.Deutsch {
        background-image: url("../images/german.svg"); }
      .header .switch a.English {
        background-image: url("../images/english.svg"); }
  .header.team-sub {
    height: 800px;
    position: relative;
    background-position: top center; }
    .header.team-sub .profile-image {
      height: 400px;
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 320px;
      margin-left: -160px;
      background-size: cover;
      background-repeat: no-repeat;
      text-indent: -9999px; }
  .header .teaser {
    padding: 16px 0 0;
    text-align: center; }
    @media only screen and (min-width: 900px) {
      .header .teaser {
        padding: 32px 0 0; } }
    .header .teaser .browser {
      background-image: url("../images/product-head.png");
      background-repeat: no-repeat;
      background-size: 100%;
      padding-top: 50%;
      text-indent: -9999px; }
    .header .teaser .support {
      background-image: url("../images/support.png");
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 110%;
      text-indent: -9999px;
      vertical-align: bottom; }
    .header .teaser .press {
      background-image: url("../images/thomas-press.png");
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 80%;
      text-indent: -9999px;
      vertical-align: bottom;
      background-position: right top; }
    .header .teaser .tuv {
      background-image: url("../images/tuv2.png");
      background-repeat: no-repeat;
      background-size: 100%;
      padding-top: 105%;
      text-indent: -9999px;
      vertical-align: bottom;
      max-width: 250px;
      margin: 0 auto; }
    .header .teaser .jobs {
      background-image: url("../images/aline-jobs.png");
      background-repeat: no-repeat;
      background-size: 100%;
      padding-top: 62%;
      text-indent: -9999px;
      vertical-align: bottom;
      margin: 0 auto; }
    .header .teaser h1 {
      padding: 16px 0 16px;
      margin: 0;
      font-size: 48px;
      line-height: 56px;
      font-family: Gotham;
      font-weight: 700;
      color: #333;
      text-align: center;
      letter-spacing: -2px; }
      @media only screen and (min-width: 900px) {
        .header .teaser h1 {
          font-size: 64px;
          padding: 48px 0 16px;
          line-height: 64px; } }
      .header .teaser h1 b {
        font-weight: 700; }
    .header .teaser h3 {
      padding: 0 0 16px;
      margin: 0;
      text-align: center;
      font-size: 16px;
      line-height: 24px;
      font-family: Gotham;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.62); }
      @media only screen and (min-width: 900px) {
        .header .teaser h3 {
          font-size: 20px;
          padding: 0 64px 64px;
          line-height: 32px; } }
    .button-primary {
      background-color: #8CE12F !important;
      border-color: transparent;
      font-size: 32px;
      padding: 8px 64px;
      height: auto;
      line-height: 64px;
      color: #2F5A00 !important;
      text-transform: none;
      letter-spacing: 0;
      border: 0 !important;
      font-weight: 700;
      border-radius: 16px;}
      .button-primary:hover {
        background-color: #97EB3C !important; }
      .button-primary span {
        font-family: Gotham;
      }
      .button-primary i {
        font-size: 24px;
        position: relative;
        bottom: -2px;
        color: #2F5A00; }
     .button-primary.disabled {
        background-color: #ffb96a;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.38); }
       .button-primary.disabled:hover {
          background-color: #ffd19d; }
      .header .teaser .button-primary:hover {
        background-color: #7AD319 !important; }
      @media only screen and (min-width: 900px) {
        .header .teaser .button-primary {
          font-size: 24px; }
          .header .teaser .button-primary i {
            font-size: 32px; } }
    .header .teaser .note {
      color: rgba(0, 0, 0, 0.25);
      font-size: 12px; }
    .header .teaser .teaser-text {
      padding: 0 0 16px; }
      @media only screen and (min-width: 900px) {
        .header .teaser .teaser-text {
          padding: 0 0 16px; } }
    .header .teaser .pitch .one-third {
      position: relative; }
      .header .teaser .pitch .one-third .icon {
        width: 48px;
        height: 48px;
        position: absolute;
        text-align: center;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.1); }
        .header .teaser .pitch .one-third .icon i {
          font-size: 24px;
          line-height: 48px;
          color: rgba(0, 0, 0, 0.5); }
      .header .teaser .pitch .one-third h4 {
        padding-left: 64px;
        text-align: left;
        font-size: 16px;
        margin: 0;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.75);
        letter-spacing: 0; }
      .header .teaser .pitch .one-third p {
        padding-left: 64px;
        text-align: left;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.25); }

