#
# EditorConfig is awesome: http://EditorConfig.org
#
# For more details how to use it please read comments
# at the end of this file.
#

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.{es,js,json,jsm,jsx}]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4

[*.{html,handlebars,hbs}]
indent_style = space
indent_size = 4

[*.{css,scss}]
indent_style = space
indent_size = 4

# Editor config at CLIQZ
#
# To enforce common code formatting we are adopting this .editorconfig
# that will help us to write code in consistent style.
#
# Main goals is to fix:
# * indentation style
# * indentation size
# * final new lines
#
# Plugins for common editors:
# * sublime text: https://github.com/sindresorhus/editorconfig-sublime
# * vim: https://github.com/editorconfig/editorconfig-vim
#
# If your editor does not support .editorconfig please consider this
# file as a specification for your editor settings.
#
# IMPORTANT: commits with files that does not follow common formating
# style will not get merged.
#
# IMPORTANT: if you're going to edit a file that does not follow the
# guides, please first fix the formatting in separate commit before
# you will start to apply your changes. We want to be sure that changes
# in formatting will not introduce any bugs.
