modules/adblocker/filters-parsing.es
modules/adblocker/filters-engine.es
modules/anti-phishing/anti-phishing.es
modules/anti-phishing/background.es
modules/anti-phishing/window.es
modules/antitracking/attrack.es
modules/antitracking/background.es
modules/antitracking/block-log.es
modules/antitracking/bloom-filter.es
modules/antitracking/domain.es
modules/antitracking/fixed-size-cache.es
modules/antitracking/hash.es
modules/antitracking/local-tracking-table.es
modules/antitracking/md5.es
modules/antitracking/pacemaker.es
modules/antitracking/persistent-state.es
modules/antitracking/popup-button.es
modules/antitracking/privacy-score.es
modules/antitracking/qs-whitelist-base.es
modules/antitracking/qs-whitelists.es
modules/antitracking/steps/block-rules.es
modules/antitracking/steps/context.es
modules/antitracking/steps/cookie-context.es
modules/antitracking/steps/dom-checker.es
modules/antitracking/steps/page-logger.es
modules/antitracking/steps/token-checker.es
modules/antitracking/steps/token-examiner.es
modules/antitracking/steps/token-telemetry.es
modules/antitracking/telemetry.es
modules/antitracking/temp-set.es
modules/antitracking/tests/unit/fixed-size-cache-test.es
modules/antitracking/tests/unit/parse-url-test.es
modules/antitracking/time.es
modules/antitracking/tp_events.es
modules/antitracking/tracker-txt.es
modules/antitracking/url.es
modules/antitracking/utils.es
modules/antitracking/webrequest-context.es
modules/antitracking/window.es
modules/autocomplete/autocomplete.es
modules/autocomplete/background.es
modules/autocomplete/calculator.es
modules/autocomplete/cliqz-backends.es
modules/autocomplete/history-cluster.es
modules/autocomplete/mixer.es
modules/autocomplete/result-providers.es
modules/autocomplete/result.es
modules/autocomplete/search.es
modules/autocomplete/smart-cliqz-cache/cache.es
modules/autocomplete/smart-cliqz-cache/rich-header.es
modules/autocomplete/smart-cliqz-cache/smart-cliqz-cache.es
modules/autocomplete/smart-cliqz-cache/trigger-url-cache.es
modules/autocomplete/spell-check.es
modules/autocomplete/tests/unit/history-cluster-test.es
modules/autocomplete/tests/unit/mixer-test.es
modules/autocomplete/tests/unit/result-providers-test.es
modules/autocomplete/tests/unit/search-test.es
modules/autocomplete/tests/unit/url-compare-test.es
modules/autocomplete/url-compare.es
modules/autocomplete/wikipedia-deduplication.es
modules/autocomplete/window.es
modules/campaign-manager/background.es
modules/campaign-manager/campaign-manager.es
modules/campaign-manager/campaign.es
modules/campaign-manager/triggers/base.es
modules/campaign-manager/triggers/urlbar-focus.es
modules/campaign-manager/window.es
modules/context-menu/background.es
modules/context-menu/window.es
modules/context-search/background.es
modules/context-search/context-search.es
modules/context-search/window.es
modules/control-center/ToolbarButtonManager.es
modules/control-center/background.es
modules/control-center/content/app.es
modules/control-center/content/data.es
modules/control-center/content/helpers.es
modules/control-center/window.es
modules/core/ab-tests.es
modules/core/adult-domain.es
modules/core/anacron.es
modules/core/background.es
modules/core/base/background.es
modules/core/browser.es
modules/core/cliqz.es
modules/core/config.es
modules/core/console.es
modules/core/database.es
modules/core/dom-parser.es
modules/core/events.es
modules/core/fs.es
modules/core/gzip.es
modules/core/helpers/maybe.es
modules/core/helpers/md5.es
modules/core/helpers/stylesheet.es
modules/core/history-manager.es
modules/core/history-provider.es
modules/core/history-service.es
modules/core/http.es
modules/core/language.es
modules/core/lint.es
modules/core/mixins/evented.es
modules/core/onboarding.es
modules/core/platform.es
modules/core/prefs.es
modules/core/resource-loader.es
modules/core/search-engines.es
modules/core/startup.es
modules/core/storage.es
modules/core/tabs.es
modules/core/templates.es
modules/core/tests/unit/anacron-test.es
modules/core/tests/unit/resource-loader-test.es
modules/core/tests/unit/templates-test.es
modules/core/tlds.es
modules/core/ui/panel.es
modules/core/url.es
modules/core/utils.es
modules/core/webrequest.es
modules/core/window.es
modules/expansions-provider/background.es
modules/expansions-provider/expansions-provider.es
modules/expansions-provider/window.es
modules/firefox-specific/background.es
modules/firefox-specific/demo.es
modules/firefox-specific/tests/unit/window-test.es
modules/firefox-specific/window.es
modules/firefox-tests/background.es
modules/firefox-tests/window.es
modules/freshtab/background.es
modules/freshtab/history.es
modules/freshtab/main.es
modules/freshtab/news-cache.es
modules/freshtab/news.es
modules/freshtab/speed-dial.es
modules/freshtab/tests/unit/background-test.es
modules/freshtab/tests/unit/news-test.es
modules/geolocation/background.es
modules/geolocation/window.es
modules/history-ui-desktop/background.es
modules/history-ui-desktop/window.es
modules/hm/background.es
modules/hm/convert-index.es
modules/hm/gather-data.es
modules/hm/helpers.es
modules/hm/incremental-storage.es
modules/hm/index-builder.es
modules/hm/main.es
modules/hm/simple-storage.es
modules/hm/table-change-observer.es
modules/hm/tests/unit/incremental-storage-test.es
modules/hm/tests/unit/simple-storage-test.es
modules/hm/tests/unit/utils/fs.es
modules/hm/window.es
modules/hpn/background.es
modules/hpn/http-handler-patch.es
modules/hpn/main.es
modules/hpn/proxy-filter.es
modules/hpn/send-message.es
modules/hpn/utils.es
modules/hpn/window.es
modules/https-everywhere/background.es
modules/https-everywhere/window.es
modules/human-web/background.es
modules/human-web/bloom-filter.es
modules/human-web/human-web.es
modules/human-web/window.es
modules/human-web2/background.es
modules/human-web2/bloom-filter.es
modules/human-web2/human-web.es
modules/human-web2/window.es
platforms/firefox/human-web/storage.es
modules/message-center/background.es
modules/message-center/handlers/alert.es
modules/message-center/handlers/base.es
modules/message-center/handlers/callout.es
modules/message-center/handlers/dropdown.es
modules/message-center/handlers/freshtab.es
modules/message-center/message-center.es
modules/message-center/window.es
modules/mobile-dev/MockOS.es
modules/mobile-dev/background.es
modules/mobile-dev/test.es
modules/mobile-dev/window.es
modules/mobile-freshtab/background.es
modules/mobile-freshtab/content/helpers.es
modules/mobile-freshtab/news.es
modules/mobile-freshtab/window.es
modules/mobile-history/background.es
modules/mobile-history/content/helpers.es
modules/mobile-history/history.es
modules/mobile-history/tests/history-test.es
modules/mobile-history/webview.es
modules/mobile-history/window.es
modules/mobile-ui/DelayedImageLoader.es
modules/mobile-ui/UI.es
modules/mobile-ui/background.es
modules/mobile-ui/content/helpers.es
modules/mobile-ui/tests/ui-test.es
modules/mobile-ui/views.es
modules/mobile-ui/views/currency.es
modules/mobile-ui/views/entity-generic.es
modules/mobile-ui/views/generic.es
modules/mobile-ui/views/hq.es
modules/mobile-ui/views/liveTicker.es
modules/mobile-ui/views/local-data-sc.es
modules/mobile-ui/views/stocks.es
modules/mobile-ui/webview.es
modules/mobile-ui/window.es
modules/moncomp/background.es
modules/moncomp/moncomp.es
modules/moncomp/window.es
modules/new-tab-button/background.es
modules/new-tab-button/window.es
modules/notifications/background.es
modules/notifications/notification-center.es
modules/notifications/notification.es
modules/notifications/providers/gmail.es
modules/notifications/providers/pin-tab.es
modules/notifications/storage.es
modules/notifications/tests/unit/notification-center-test.es
modules/notifications/tests/window-test.es
modules/offers-v2/background.es
modules/offers-v2/content/app.es
modules/offers-v2/content/data.es
modules/offers-v2/environments/empty_environment.es
modules/offers-v2/environments/extension_environment.es
modules/offers-v2/event_handler.es
modules/offers-v2/event_loop.es
modules/offers-v2/history_index.es
modules/offers-v2/logging_handler.es
modules/offers-v2/offers_configs.es
modules/offers-v2/operation_executor.es
modules/offers-v2/operations/control.es
modules/offers-v2/operations/display.es
modules/offers-v2/operations/history.es
modules/offers-v2/operations/signal.es
modules/offers-v2/operations/trigger.es
modules/offers-v2/regexp_cache.es
modules/offers-v2/reporter.es
modules/offers-v2/signals_handler.es
modules/offers-v2/tests/unit/environments/test_environment.es
modules/offers-v2/tests/unit/event_loop.test.es
modules/offers-v2/tests/unit/operation_executor.test.es
modules/offers-v2/tests/unit/rules/rule-test.es
modules/offers-v2/tests/unit/trigger_machine.test.es
modules/offers-v2/trigger_cache.es
modules/offers-v2/trigger_machine.es
modules/offers-v2/ui/ui_display_manager.es
modules/offers-v2/ui/ui_filter_rules_evaluator.es
modules/offers-v2/ui/ui_offer_processor.es
modules/offers-v2/ui/ui_offers_history.es
modules/offers-v2/utils.es
modules/offers-v2/window.es
modules/offers/background.es
modules/offers/coupon_handler.es
modules/offers/dbs/datetime_db.es
modules/offers/dbs/db.es
modules/offers/dbs/domain_info_db.es
modules/offers/dbs/general_db.es
modules/offers/event_handler.es
modules/offers/fids/checkout_curr_intent_session_fid.es
modules/offers/fids/checkout_detected_filter_fid.es
modules/offers/fids/day_fid.es
modules/offers/fids/fid.es
modules/offers/fids/fids_builder.es
modules/offers/fids/hour_fid.es
modules/offers/fids/num_events_curr_session.es
modules/offers/fids/offer_shown_current_session.es
modules/offers/fids/session_count.es
modules/offers/fids/signal_detected_filter_fid.es
modules/offers/fids/top_cluster_visits_fid.es
modules/offers/fids/top_hour_fid.es
modules/offers/intent_detector.es
modules/offers/intent_input.es
modules/offers/logging_handler.es
modules/offers/offer_fetcher.es
modules/offers/offer_manager.es
modules/offers/offers_configs.es
modules/offers/rules/food_delivery_rule.es
modules/offers/rules/gaming_rule.es
modules/offers/rules/rule.es
modules/offers/rules/rules_builder.es
modules/offers/rules/travel_rule.es
modules/offers/rules/wines_rule.es
modules/offers/stats_handler.es
modules/offers/tests/unit/rules/rule-test.es
modules/offers/ui/ui_manager.es
modules/offers/utils.es
modules/offers/voucher_detector.es
modules/offers/window.es
modules/onboarding-v2/background.es
modules/onboarding-v2/window.es
modules/onboarding/background.es
modules/onboarding/window.es
modules/performance/background.es
modules/performance/window.es
modules/privacy-dashboard/background.es
modules/privacy-dashboard/main.es
modules/privacy-dashboard/signals.es
modules/privacy-dashboard/window.es
modules/static/background.es
modules/static/main.es
modules/static/tests/unit/locales-validation-test.es
modules/static/window.es
modules/telemetry-categories/background.es
modules/telemetry-categories/reporter.es
modules/telemetry-categories/window.es
modules/telemetry-speed-dial/background.es
modules/telemetry-speed-dial/window.es
modules/theme/background.es
modules/theme/window.es
modules/type-filter/background.es
modules/type-filter/window.es
modules/ui/background.es
modules/ui/search-history.es
modules/ui/tests/unit/background-test.es
modules/ui/views/currency.es
modules/ui/views/entity-generic.es
modules/ui/views/generic.es
modules/ui/views/liveTicker.es
modules/ui/views/local-data-sc.es
modules/ui/views/partials/location/missing_location_1.es
modules/ui/window.es
modules/unblock/background.es
modules/unblock/main.es
modules/unblock/proxy-manager.es
modules/unblock/proxy.es
modules/unblock/regexp-proxy-rule.es
modules/unblock/request-listener.es
modules/unblock/window.es
modules/unblock/youtube.es
modules/video-downloader/ToolbarButtonManager.es
modules/video-downloader/ui.es
modules/video-downloader/content/app.es
modules/video-downloader/content/data.es
modules/video-downloader/content/helpers.es
modules/yt-downloader/background.es
modules/yt-downloader/main.es
modules/yt-downloader/window.es
platforms/chromium/auto-complete-component.es
platforms/chromium/bloom-filter.es
platforms/chromium/browser.es
platforms/chromium/console.es
platforms/chromium/environment.es
platforms/chromium/fetch.es
platforms/chromium/fs.es
platforms/chromium/geolocation.es
platforms/chromium/gzip.es
platforms/chromium/history-manager.es
platforms/chromium/language.es
platforms/chromium/load-logo-db.es
platforms/chromium/platform.es
platforms/chromium/prefs.es
platforms/chromium/process-script-manager.es
platforms/chromium/search-engines.es
platforms/chromium/startup.es
platforms/chromium/storage.es
platforms/chromium/xmlhttprequest.es
platforms/firefox/addon-check.es
platforms/firefox/antitracking/channel-listener.es
platforms/firefox/antitracking/header-info-visitor.es
platforms/firefox/antitracking/http-request-context.es
platforms/firefox/antitracking/storage.es
platforms/firefox/antitracking/tab-listener.es
platforms/firefox/auto-complete-component.es
platforms/firefox/bloom-filter-utils.es
platforms/firefox/bloom-filter.es
platforms/firefox/browser.es
platforms/firefox/chrome-url-handler.es
platforms/firefox/console.es
platforms/firefox/database.es
platforms/firefox/dom-parser.es
platforms/firefox/environment.es
platforms/firefox/fetch.es
platforms/firefox/fs.es
platforms/firefox/geolocation.es
platforms/firefox/globals.es
platforms/firefox/gzip.es
platforms/firefox/history-manager.es
platforms/firefox/language.es
platforms/firefox/moment.es
platforms/firefox/places-utils.es
platforms/firefox/platform.es
platforms/firefox/prefs.es
platforms/firefox/process-script-manager.es
platforms/firefox/profile-age.es
platforms/firefox/public-suffix-list.es
platforms/firefox/search-engines.es
platforms/firefox/sqlite.es
platforms/firefox/storage.es
platforms/firefox/ua-parser.es
platforms/firefox/ui-tour.es
platforms/firefox/webrequest.es
platforms/firefox/xmlhttprequest.es
platforms/mobile/auto-complete-component.es
platforms/mobile/bloom-filter.es
platforms/mobile/browser.es
platforms/mobile/console.es
platforms/mobile/environment.es
platforms/mobile/fetch.es
platforms/mobile/fs.es
platforms/mobile/gzip.es
platforms/mobile/history-manager.es
platforms/mobile/language.es
platforms/mobile/load-logo-db.es
platforms/mobile/platform.es
platforms/mobile/prefs.es
platforms/mobile/process-script-manager.es
platforms/mobile/search-engines.es
platforms/mobile/startup.es
platforms/mobile/storage.es
platforms/mobile/window.es
platforms/mobile/xmlhttprequest.es
modules/dropdown/helpers.es
modules/hpn/worker/message-context.es
modules/hpn/worker/http-worker.es
modules/hpn/worker/crypto-utils.es
modules/hpn/worker/blind-signature.es
modules/hpn/worker/index.es
modules/hpn/worker/pkcs-conversion.es
modules/hpn/worker/user-pk.es
modules/hpn/worker/utils.es
