*.xpi
*.zip
*.pyc
*.tgz
*~
*#
tmp
tests.tap
tests.xml
addon.env
jsconfig.json

# ignore invisible files
.Trashes
.Spotlight-V100
.DS_Store
.vagrant
.custom-prefs.json

# build folders
build/
.idea/
.vscode/

# external components
node_modules
firefox-autoconfigs

*.scssc
npm.err
npm-debug.log
testem.log
report.xml

/certs
/xpi-sign

subprojects/**/dist
/docs
mocha.log
chromedriver
results.xml
jsengine.bundle.js
jsengine.bundle.js.meta
.node-persist
yarn.lock
configs/private

# vim
*.swp
*.swo

ghostery-extension
ghostery.zip

# chrome packages and certs
*.crx
*.pem
