*.xpi
*.pyc
*~
*#
tmp
tests.tap
tests.xml
addon.env

# ignore invisible files
.Trashes
.Spotlight-V100
.DS_Store
.vagrant

# build folders
build/
.idea/

# external components
node_modules
bower_components
firefox-autoconfigs

*.scssc
generic/static/styles/css/
npm.err
npm-debug.log

/certs
/xpi-sign

subprojects/**/dist
/docs
mocha.log
/guides/build_docs
