# repository admins
* @luciancor @chrmod @dominik-s @giota-cliqz @private-face

/configs/ @luciancor

# please keep module list sorted
/modules/**/tests/*.es @marta-cliqz @tamara-cliqz
/modules/**/tests/content/ @marta-cliqz @tamara-cliqz
/modules/**/tests/integration/ @marta-cliqz @tamara-cliqz
/modules/adblocker/ @remusao @zhonghao-cliqz
/modules/anolysis/ @remusao
/modules/anti-phishing/ @zhonghao-cliqz
/modules/antitracking/ @sammacbeth @zhonghao-cliqz @remusao
/modules/autocomplete/ @dominik-s @luciancor
/modules/browser-panel/ @luciancor @giota-cliqz
/modules/context-search/ @alexandra-cliqz
/modules/control-center/ @mai-cliqz @giota-cliqz
/modules/core/ @chrmod @luciancor
/modules/dropdown/ @chrmod @giota-cliqz
/modules/freshtab/ @giota-cliqz @chrmod
/modules/geolocation/ @chrmod
/modules/green-ads/ @remusao
/modules/history/ @chrmod
/modules/hpnv2/ @philipp-classen @konark-cliqz
/modules/https-everywhere/ @luciancor
/modules/human-web/ @konark-cliqz @philipp-classen
/modules/integration-tests/ @remusao @zhonghao-cliqz @chrmod @marta-cliqz @tamara-cliqz @sammacbeth
/modules/market-analysis @eleniS
/modules/mobile-cards/ @khaled-cliqz
/modules/mobile-dev/ @khaled-cliqz
/modules/mobile-history/ @khaled-cliqz
/modules/mobile-ui/ @khaled-cliqz
/modules/notifications/ @chrmod
/modules/offboarding/ @luciancor
/modules/offers-banner/ @aleksandr-cliqz
/modules/offers-cc/ @aleksandr-cliqz @gabriel-cliqz @giota-cliqz @mai-cliqz
/modules/offers-v2/ @zhonghao-cliqz @eleniS @aleksandr-cliqz @olpa-cliqz
/modules/onboarding-v3/ @mai-cliqz @luciancor
/modules/p2p/ @philipp-classen
/modules/pairing/ @philipp-classen
/modules/popup-notification/ @aleksandr-cliqz @olpa-cliqz
/modules/privacy-dashboard/ @private-face
/modules/privacy/ @ecnmst
/modules/search/ @dominik-s @chrmod @private-face
/modules/theme/ @gabriel-cliqz @mai-cliqz
/modules/video-downloader/ @mai-cliqz
/modules/webrequest-pipeline/ @remusao @zhonghao-cliqz

/platforms/ @chrmod
/platforms/firefox/ @chrmod @luciancor
/platforms/react-native/ @sammacbeth @chrmod
/platforms/node/ @chrmod @sammacbeth
/platforms/chromium/ @private-face @chrmod
/platforms/mobile/ @khaled-cliqz

/specific/ @luciancor @chrmod
/specific/mobile/ @khaled-cliqz @chrmod
/specific/react-native/ @sammacbeth @khaled-cliqz @chrmod

# Build tools
/broccoli/ @chrmod
/fern/ @chrmod
/tests/ @chrmod @remusao
Dockerfile.ci @chrmod @remusao
run_tests_in_docker.sh @remusao
Jenkinsfile @chrmod
Jenkinsfile.publich @chrmod
