<div class="bar bar-header bar-light">
  <h1 class="title">CLIQZ</h1>
  <button class="button icon ion-plus" {{action "newTab"}}>
  </button>
</div>
{{history-contacts model=model.contacts queries=model.queries}}
