$color-dark-gray: #414141;
$color-cliqz: #00AEF0;
$color-active-border: #0078CA;
$color-link-grey-blue: #687E90;
$color-text-black: #494949;
$color-text-grey: #B2B2B2;
$color-bg-light-grey: #F2F2F2;
$color-bg-grey: #959595;
$color-border-light-grey: #DADADA;
