#feedback-button {
    background: url('../images/feedback-face.svg') no-repeat;
    background-position: left top;
    background-size: contain;
    border: none;
    height: 20px;
    font-size: 11px;
    color: $color-link-grey-blue;
    padding: 0;
    text-align: left;
    padding-left: 23px;
    line-height: 1.42857;
    cursor: pointer;

    &:after {
        content:'⌃';
        display: inline-block;
        transform: rotate(180deg);
        font-size: 8px;
    }

    &:hover {
        color: $color-cliqz;
        background-image: url('../images/feedback-face-hover.svg');
    }

    &:active, &.expand {
        color: #3F3F3F;
        background-image: url('../images/feedback-face-hover.svg');
    }

    &.expand {

        &:after {
            transform: none;
            vertical-align: -2px;
            line-height: 0;
        }
    }
}

#feedback-content {
    clear: both;
    width: 100%;

    .feedback-text {
        font-size: 16px;
        font-weight: 400;
        margin-top: 10px;
        display: inline-block;
    }

    #feedback-vote-wrapper {
        .feedback-button {
            margin-top: 6px;
            background-repeat: no-repeat;
            background-color: #fff;
            width: 36px;
            height: 36px;
            border: 0.5px solid #d2d2d2;
            border-radius: 2px;
            cursor: pointer;
            position: relative;
            &.selected {
                border-color: #00AEF0;
                &:after {
                    -webkit-filter: brightness(0);
                }
            }
            &:after {
                content: "";
                background: url('../images/thumb-up.svg') no-repeat top center;
                background-position: center 4px;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }

            &[data-vote='down'] {
                &:after {
                    transform: rotate(180deg);
                }
            }

            &:hover {
                box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
                &:after {
                    -webkit-filter: brightness(0);
                }
            }
        }
    }

    #feedback-comment-wrapper {
        label {
            font-size: 12.5px;
            font-weight: 300;
            display: inline-block;
            margin-top: 15px
        }
        #submit-feedback {
            background: #00AEF0;
            color: #fff;
            font-size: 11.5px;
            letter-spacing: 0.5px;
            padding: 8px 13px;
            border: none;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: 300;
            float: right;
            opacity: 1;
            margin-bottom: 40px;
            border-radius: 2px;
            margin-top: 10px;
            pointer-events: none;
            opacity: 0.5;
            &.active {
                pointer-events: all;
                opacity: 1;
            }
        }

        #feedback-textarea {
            height: 50px;
            width: 100%;
            resize: none;
            margin-top: 6px;
            padding-top: 3px;
            padding-left: 3px;
            border: 1px solid #DADADA;
            border-radius: 0;
            vertical-align: 34px;
            font-family: "-mac-system", "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            font-size: 11.5px;
            padding-top: 5px;
            padding-left: 10px;
            &:focus {
                border-color: #868686;
            }
        }
    }

    &.active {
        display: block;
    }
}
