.logo {
    display: inline-block;
    background-color: transparent;
    padding: 0;
    height: 32px;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;

    &.long {
        width: 105px;
    }

    &.normal {
        width: 70px;
    }

    &.short {
        width: 55px;
    }

    &.square {
        width: 30px;
    }
}
