.logo {
    background-color: transparent;
    padding: 0;
    height: 26.5px;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    max-width: 75px;
    transform: translateY(calc(-50% - 2px));
    &.long {
        width: 105px;
    }

    &.normal {
        width: 70px;
    }

    &.short {
        width: 55px;
    }

    &.square {
        width: 30px;
    }
}
