&.tooltip {
    padding: 0;
    width: 240px;
    height: 70px;
    position: relative;
    .tooltip-container {
        position: relative;
        &:hover {
            .hide-reward-box {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
    .hide-reward-box {
        background: #fff;
        width: 20.5px;
        height: 20.5px;
        border-radius: 50%;
        position: absolute;
        top: 5px;
        right: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        transform: scale(0);
        cursor: pointer;
        opacity: 0;
        transition: all linear 0.3s;
        display: flex;
        justify-content: center;
        z-index: 100;
        &:hover {
            &:after {
                background: rgbab(0,0,0,1);
            }
        }
        &:after {
            content: "";
            mask: url("../images/close-offer.svg") no-repeat right;
            -webkit-mask: url("../images/close-offer.svg") no-repeat right;
            mask-size: contain;
            -webkit-mask-size: contain;
            height: 10px;
            height: 33px;
            background: rgba(0,0,0,0.6);
            width: 9px;
            top: -5.5px;
            left: 5.5px;
            position: absolute;
        }
    }
    .tooltip-container {
        > div:not(.hide-reward-box) {
            padding-top: 20px;
            padding-left: 15px;
            background-color: $color-cliqz;
            color: #fff;
            text-align: left;
            font-size: 14px;
            font-weight: normal;
            cursor: pointer;
            height: 70px;

            & > span {
                white-space: nowrap;
                vertical-align: 3px;
            }

            &.light {
                padding-top: 7px;
                background-color: #fff;
                color: #000;
                border-left: 6px solid #fff;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                & > p {
                    margin: 1px 0 0;
                    font-size: 13.5px;
                    font-weight: 500;
                    color: $color-text-black;
                    width: 95%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    order: 1;
                    flex: 1 0 65%;
                }
                .logo {
                    position: relative;
                    order: 3;
                    flex: 0 0 100%;
                    background-position: top right;
                    margin-left: auto;
                    top: 5px;
                    transform: translateY(0);
                    &.short {
                        background-size: 55px;
                    }
                    &.long {
                        background-size: contain;
                        max-width: 105px;
                    }
                    &.square {
                        background-size: 30px
                    }
                }
                .labels {
                    position: relative;
                    right: 8px;
                    text-align: right;
                    order: 2;
                    flex: 1 0 35%;
                    & > p {
                        margin-bottom: 1px;
                        padding-right: 14px;
                        color: $color-text-grey;
                        font-family: "Arial Narrow", "Impact";
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        font-size: 8.5px;
                        font-weight: 400;

                        &.exclusive {
                            background: url("../images/exclusive.svg") no-repeat right center;
                            background-size: 13px 12px;
                        }

                        &.best_offer {
                            background: url("../images/best-offer.svg") no-repeat right center;
                            background-size: 13px 12px;
                        }

                        &.offer_of_the_week {
                            background: url('../images/offer-of-the-week.svg') no-repeat left center;
                        }
                    }
                }
            }
        }
    }
}
