.voucher-wrapper {
    position: relative;
    margin: -3px 0 0;
    padding: 0;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
    cursor: pointer;
    background-color: #fff;
    border-radius: 5px;
    color: $color-text-black;
    border-top: 0.1px solid #e6e6e6;

    .overview {
        display: block;
        min-height: 45px;
        padding-top: 3px;

        & > * {
            padding: 0 10px;
        }

        .benefit {
            @include hyphenate;
            font-size: 16px;
            font-weight: 500;

            &.updated {
                & > span {
                    &:first-child {
                        text-decoration: line-through;
                    }

                    &:last-child {
                        color: red;
                    }
                }
            }
        }

        .headline {
            @include hyphenate;
            max-width: 142px;
            font-size: 11.5px;
            color: $color-text-grey;
        }
    }

    .feedback-thankyou {
        .voucher-header {
            .logo-wrapper {
                margin-top: 5px;
            }
        }
        .thank-you-box {
            display: flex;
            align-items: center;
            text-align: center;
            height: 280px;
            > div {
                width: 100%;
            }
            h2 {
                color: #00AEF0;
                font-size: 22px;
                text-transform: capitalize;
                font-weight: 400;
                margin-top: 0;
                margin-bottom: 6px;
            }
            p {
                font-size: 12px;
                font-weight: 400;
                color: #909091
            }
        }
    }

    .voucher-header {
        display: flex;
        align-items: center;
        padding: 5px 10px 5px 20px;
        .left-labels {
            flex: 1 0 auto;
        }
        .logo-wrapper {
            flex: 0 0 auto;
            display: flex;
            align-items: center
        }
    }

    .details {
        overflow: hidden;
        max-height: 0;
        transition: max-height 1ms linear;
        .feedback {
            display: none;
            position: relative;
            width: 100%;
            height: 100%;
            background: rgba(255,255,255,1);
            z-index: 10;
            border-radius: 4px;
            &.show {
                display: block
            }
        }

        .voucher-container  {
            display:block;
            &.hide {
                display: none
            }
            & > * {
                padding: 5px 10px 5px 15px
            }
        }

        .left-labels {
            & > p {
                margin-top: 2px;
                margin-bottom: 1px;
                padding-left: 14px;
                color: $color-text-grey;
                font-family: 'Arial Narrow', 'Segoe UI', 'Impact';
                letter-spacing: 1px;
                text-transform: uppercase;
                font-size: 8.5px;
                font-weight: 400;

                &.exclusive {
                    background: url('../images/exclusive.svg') no-repeat left center;
                    background-size: 13px 12px;
                }

                &.best_offer {
                    background: url('../images/best-offer.svg') no-repeat left center;
                    background-size: 13px 12px;
                }

                &.offer_of_the_week {
                    background: url('../images/offer-of-the-week.svg') no-repeat left center;
                }
            }
        }

        .picture {
            margin-bottom: -5px;
            width: 100%;
            height: 120px;
            padding: 0;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            background-color: #ccc;
        }

        .benefit {
            @include hyphenate;

            margin-top: 5px;
            margin-bottom: -7px;
            font-size: 34px;

            &.updated {
                & > span {
                    &:first-child {
                        text-decoration: line-through;
                    }

                    &:last-child {
                        color: red;
                    }
                }
            }
        }

        .headline {
            @include hyphenate;
            margin-top: 7px;
            font-size: 16px;
        }

        .description {
            @include hyphenate;
            font-size: 12.5px;
            line-height: 16px;
            margin: 8px 0 9px;
        }

        .promocode-wrapper {
            padding: 0 5px 0 9px;
            margin: 7px 10px 0;
            border: 1px solid $color-border-light-grey;
            background-color: $color-bg-light-grey;
            border-radius: 4px;
            cursor: pointer;

            & > * {
                height: 30px;
            }

            .code {
                border: none;
                width: 110px;
                color: transparent;
                text-shadow: 0 0 0 #000;
                font-size: 12.5px;
                background-color: transparent;
                font-weight: 500;
            }

            .copy-code {
                text-transform: uppercase;
                padding: 0;
                float: right;
                color: $color-link-grey-blue;
                font-size: 10.5px;
            }

            &:hover {

                .copy-code {
                    color: $color-cliqz;
                }
            }
        }

        .validity-wrapper {
            padding-top: 5px;
            height: 31px;
            display: flex;
            justify-content: space-between;

            .validity {
                font-size: 11.5px;
                color: $color-text-grey;

                &.red {
                    color: red;
                }
            }

            .condition {
                margin-top: 0px;
                float: right;
                font-size: 11.5px;
                color: $color-text-grey;

                button {
                    margin-left: 2px;
                    padding: 0;
                    width: 14px;
                    height: 14px;
                    background: url('../images/info-icon.svg') no-repeat center;
                    cursor: default;
                    background-size: 14px;
                    float: right;
                }

                &:hover {
                    color: $color-text-black;

                    button {
                        background-image: url('../images/info-icon-hover.svg');
                    }
                }
            }
        }

        .cta-btn {
            display: block;
            width: 100%;
            height: 41px;
            color: #fff;
            font-size: 14px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            background-color: $color-cliqz;
            font-weight: 500;
            padding: 5px 15px;
            &:hover {
                background-color: #0078CA;
            }
        }

        #voucher-feedback {
            padding: 0;
            .voucher-header {
                border-bottom: 1px solid rgba(0,0,0,0.1);
                padding-top: 10px;
                padding-bottom: 10px;
                background: #fef7d7;
                .left-labels {
                    span {
                        font-size: 11.5px;
                        font-weight: 400;
                        color: rgba(0,0,0,0.4);
                    }
                    button {
                        font-size: 10.5px;
                        letter-spacing: .5px;
                        text-transform: uppercase;
                        padding: 0;
                        color: #00AEF0;
                        cursor: pointer;
                        font-weight: 400;
                    }
                }
            }

            & > p {
                padding: 15px 0 0 20px;
                font-size: 16px;
                font-weight: 500;
                &:after {
                    content: attr(data-optional);
                    color: rgba(0, 0, 0, 0.4);
                    font-size: 11px;
                    padding-left: 8px;
                    display: inline-block;
                    text-transform: capitalize;
                }
            }

            h2 {
                font-size: 12px;
                font-weight: 500;
                color: rgba(0,0,0,1)
            }

            & > ul {
                padding: 10px 0 10px 20px;

                & > li {
                    padding: 2px 0;

                    & > label {
                        font-size: 12.5px;
                    }

                    & > input {
                        margin-left: 0;
                    }

                    &:last-child {
                        position: relative;
                        div {
                            position: absolute;
                            width: calc(100% - 20px);
                            height: 100%;
                            z-index: 9999;
                            display: none;
                            left: 0;
                            top: 0;
                        }
                        input[type='radio'] {
                            vertical-align: 37px;
                        }

                        textarea {
                            resize: none;
                            margin-top: 6px;
                            padding-top: 3px;
                            padding-left: 3px;
                            border: 1px solid $color-border-light-grey;
                            border-radius: 0;
                            width: calc(100% - 25px);
                            vertical-align: 34px;
                            font-family: "-mac-system", "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                            font-size: 11.5px;

                            &[disabled] {
                                background-color: $color-bg-light-grey;
                                + div {
                                    display: block
                                }
                            }
                        }
                    }
                }
            }
            .send_feedback {
                background: #00AEF0;
                color: #fff;
                font-size: 11.5px;
                letter-spacing: 0.5px;
                padding: 8px 13px;
                border: none;
                cursor: pointer;
                text-transform: uppercase;
                font-weight: 300;
                float: left;
                margin-left: 20px;
                opacity: 0.4;
                margin-bottom: 40px;
                pointer-events: none;
                &.active {
                    pointer-events: auto;
                    opacity: 1;
                    &:hover {
                        background: #0078CA;
                    }
                }
            }
            .skip {
                color:#00AEF0;
                text-transform: uppercase;
                padding-top: 6px;
                padding-left: 10px;
                opacity: 0.6;
                &:hover {
                    opacity: 1
                }
            }

            #close-feedback {
                display: block;
                width: 100%;
                height: 41px;
                color: #fff;
                font-size: 14px;
                text-transform: uppercase;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                background-color: $color-bg-grey;
                font-weight: 500;
            }
        }
    }

    .cta-element {
        cursor: pointer;
    }

    .logo-wrapper {

        .close {
            width: 15px;
            height: 15px;
            background: url('../images/close-offer.svg') no-repeat right;
            background-size: contain;
            opacity: 0.3;
            &:hover {
                -webkit-filter: brightness(0);
                opacity: 1;
            }
        }
        .setting {
            margin-right: -7px;
            margin-left: -2px;
            display: none;
            vertical-align: 16px;
            width: 10px;
            height: 18px;
            background: url('../images/3dots-menu.svg') no-repeat center;
            &:hover {
                background-image: url('../images/3dots-menu-hover.svg');
            }
        }

        &.menu-opened {

            .setting {
                background-image: url('../images/3dots-menu-hover.svg');
            }

            & + .settings {
                display: block;
            }
        }
    }

    .settings {
        display: none;
        position: absolute;
        top: 10px;
        right: 20px;
        background-color: #fff;
        box-shadow: 3px 2px 10px rgba(0,0,0,0.25);
        text-align: left;
        border-radius: 4px;

        & > li {
            padding: 10px 15px;
            font-size: 13.5px;

            &:hover {
                background-color: $color-bg-light-grey;
            }

            &:first-child {
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }

            &:last-child {
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
    }
    &.active {
        border-top: 0px;
        .logo {
            display: block;
            position: static;
            transform: translateY(0)
        }
        margin: 7px 0 12px;
        cursor: default;
        background-color: #fff;
        box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
        padding-bottom: 0;

        .overview {
            display: none;
        }

        .details {
            transition-duration: 150ms;
            max-height: 475px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        .logo-wrapper {

            .setting {
                display: unset;
            }
        }

        &.preferred {
            & ~ li.voucher-wrapper {
                display: none;
            }
        }
    }

    &:first-child {
        margin-top: 0;
        border-top: 0px;
    }

    &:last-child {
        margin-bottom: 3px;
    }
}

