.voucher-wrapper {
    position: relative;
    margin: -5px 0 0;
    padding: 5px 0 8px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
    cursor: pointer;
    background-color: #fff;
    border-radius: 5px;
    color: $color-text-black;

    .overview {
        display: block;
        min-height: 35px;

        & > * {
            padding: 0 10px;
        }

        .benefit {
            @include hyphenate;
            font-size: 16px;
            font-weight: 500;

            &.updated {
                & > span {
                    &:first-child {
                        text-decoration: line-through;
                    }

                    &:last-child {
                        color: red;
                    }
                }
            }
        }

        .headline {
            @include hyphenate;
            max-width: 142px;
            font-size: 11.5px;
            color: $color-text-grey;
        }
    }

    .details {
        overflow: hidden;
        max-height: 0;
        transition: max-height 1ms linear;

        & > * {
            padding: 0 10px 0 20px;
        }

        .left-labels {
            padding-top: 6px;
            height: 25px;

            & > p {
                margin-bottom: 1px;
                padding-left: 14px;
                color: $color-text-grey;
                font-family: 'Arial Narrow', 'Impact';
                letter-spacing: 1px;
                text-transform: uppercase;
                font-size: 8.5px;
                font-weight: 400;

                &.exclusive {
                    background: url('../images/exclusive.svg') no-repeat left center;
                    background-size: 13px 12px;
                }

                &.best-offer {
                    background: url('../images/best-offer.svg') no-repeat left center;
                    background-size: 13px 12px;
                }
            }
        }

        .picture {
            margin-top: 7px;
            margin-bottom: -5px;
            width: 100%;
            height: 120px;
            padding: 0;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        .benefit {
            @include hyphenate;

            margin-top: 5px;
            margin-bottom: -7px;
            font-size: 34px;

            &.updated {
                & > span {
                    &:first-child {
                        text-decoration: line-through;
                    }

                    &:last-child {
                        color: red;
                    }
                }
            }
        }

        .headline {
            @include hyphenate;
            margin-top: 7px;
            font-size: 16px;
        }

        .description {
            @include hyphenate;
            font-size: 12.5px;
            line-height: 16px;
            margin: 8px 0 9px;
        }

        .promocode-wrapper {
            padding-left: 9px;
            padding-top: 0;
            padding-right: 5px;
            margin: 7px 10px 0;
            border: 1px solid $color-border-light-grey;
            background-color: $color-bg-light-grey;
            border-radius: 4px;
            cursor: pointer;

            & > * {
                height: 30px;
            }

            .code {
                border: none;
                width: 110px;
                color: transparent;
                text-shadow: 0 0 0 #000;
                font-size: 12.5px;
                background-color: transparent;
                font-weight: 500;
                text-transform: uppercase; // TODO: need this ?
            }

            .copy-code {
                text-transform: uppercase;
                padding: 0;
                float: right;
                color: $color-link-grey-blue;
                font-size: 10.5px;
            }

            &:hover {

                .copy-code {
                    color: $color-cliqz;
                }
            }
        }

        .validity-wrapper {
            padding-top: 2px;
            height: 31px;

            .validity {
                font-size: 11.5px;
                color: $color-text-grey;

                &.red {
                    color: red;
                }
            }

            .condition {
                margin-top: 4px;
                float: right;
                font-size: 11.5px;
                color: $color-text-grey;

                button {
                    margin-left: 2px;
                    padding: 0;
                    width: 14px;
                    height: 14px;
                    background: url('../images/info-icon.svg') no-repeat center;
                    vertical-align: 4px;

                    &:hover {
                        background-image: url('../images/info-icon-hover.svg');
                    }

                }
            }
        }

        .cta-btn {
            display: block;
            width: 100%;
            height: 41px;
            color: #fff;
            font-size: 14px;
            text-transform: uppercase;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            background-color: $color-cliqz;
            font-weight: 500;

            &:hover {
                background-color: #0078CA;
            }
        }

        #voucher-feedback {
            padding: 0;

            & > p {
                padding: 7px 0 0 20px;
                font-size: 16px;
                font-weight: 500;
            }

            & > ul {
                padding: 20px 0 15px 20px;

                & > li {
                    padding: 3px 0;

                    & > label {
                        font-size: 12.5px;
                    }

                    & > input {
                        margin-left: 0;
                    }

                    &:last-child {

                        input[type='radio'] {
                            vertical-align: 37px;
                        }

                        textarea {
                            resize: none;
                            margin-top: 6px;
                            padding: 3px;
                            border: 1px solid $color-border-light-grey;
                            border-radius: 4px;
                            max-width: 180px;
                            vertical-align: 34px;

                            &[disabled] {
                                background-color: $color-bg-light-grey;
                            }
                        }
                    }
                }
            }

            #close-feedback {
                display: block;
                width: 100%;
                height: 41px;
                color: #fff;
                font-size: 14px;
                text-transform: uppercase;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                background-color: $color-bg-grey;
                font-weight: 500;
            }
        }
    }

    .cta-element {
        cursor: pointer;
    }

    .logo-wrapper {
        position: absolute;
        top: 5px;
        right: 0;
        width: 100%;
        text-align: right;
        overflow: hidden;
        padding-right: 10px;

        .setting {
            margin-right: -7px;
            margin-left: -2px;
            display: none;
            vertical-align: 16px;
            width: 10px;
            height: 18px;
            background: url('../images/3dots-menu.svg') no-repeat center;

            &:hover {
                background-image: url('../images/3dots-menu-hover.svg');
            }
        }

        &.menu-opened {

            .setting {
                background-image: url('../images/3dots-menu-hover.svg');
            }

            & + .settings {
                display: block;
            }
        }
    }

    .settings {
        display: none;
        position: absolute;
        top: 10px;
        right: 20px;
        background-color: #fff;
        box-shadow: 3px 2px 10px rgba(0,0,0,0.25);
        text-align: left;
        border-radius: 4px;

        & > li {
            padding: 10px 15px;
            font-size: 13.5px;

            &:hover {
                background-color: $color-bg-light-grey;
            }

            &:first-child {
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }

            &:last-child {
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
    }

    &.active {

        margin: 7px 0 12px;
        cursor: default;
        background-color: #fff;
        box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
        padding-bottom: 0;

        .overview {
            display: none;
        }

        .details {
            transition-duration: 150ms;
            max-height: 450px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        .logo-wrapper {

            .setting {
                display: unset;
            }
        }

        &.preferred {
            & ~ li.voucher-wrapper {
                display: none;
            }
        }
    }

    // &.hidden:not(.active) {
    //     display: none;
    // }

    // &.new.active {
    //     &:last-child {
    //         background-color: red !important;
    //     }
    // }

    // &.deleted {

    //     .details {
    //         transition: none;
    //     }
    // }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 3px;
    }
}

