.empty__container {
  max-height: 500px;
  padding-bottom: 10px;
}

.empty__wrapper {
  padding: 2px 7px 0px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
  height: 100%;
  color: #494949;
  text-align: center;
}

.empty__title {
  margin-top: 13px;
  font-weight: 500;
  color: #4d4d4d;
  letter-spacing: 1px;
  font-size: 17px;
}

.empty__text {
  font-size: 14px;
  margin: 5px;
}

.empty__button {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  width: 93%;
  margin: auto;
  height: 36px;
  line-height: 36px;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  background-color: #00AEF0;
}

.empty__button.empty__myoffrz-button {
  background-color: var(--myoffrz-primary-color, #f67057);
}
.empty__button.empty__chip-button {
  background-color: #4d4d4d;
}
.empty__button.empty__ghostery-button {
  background-color: #4d4d4d;
}
