.empty__container {
  max-height: 500px;
  padding-bottom: 10px;
}

.empty__stars {
  background: url('../images/hello-stars.svg') no-repeat center;
  background-size: contain;
}

.empty__wrapper {
  margin: 2px 7px;
  padding: 2px 7px 0px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
  height: 100%;
  color: #494949;
  text-align: center;
}

.empty__image {
  margin-top: 24px;
  width: 24px;
  height: 24px;
}

.empty__myoffrz-title {
  color: #00AEF0;
}
.empty__chip-title {
  color: #DA3434;
}

.empty__title {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 500;
  letter-spacing: 1px;
}

.empty__text {
  padding: 5px 20px 5px;
  font-size: 14px;
  margin: 5px;
}

.empty__link {
  font-size: 12px;
  font-weight: 300;
  text-decoration: underline;
  padding: 0 10px;
  color: #494949;
  font-weight: 400;
  cursor: pointer;
}
