.footer__container {
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1px;
  border-top: 2px #edebeb solid;
}
.footer__container.footer__ghostery-container.footer__auto-trigger-container {
  border-top: 0px;
}

.footer__left-item {
  display: flex;
  align-items: center;
  padding-left: 8px;
}
.footer__right-item {
  display: flex;
  padding-right: 8px;
}
.footer__face {
  background: url('../images/feedback-face.svg') no-repeat center;
  background-size: contain;
  width: 19px;
  height: 19px;
  cursor: pointer;
}

.footer__logo {
  cursor: pointer;
  background: url('../images/freundin-powered-by.svg') no-repeat center;
  background-size: contain;
  width: 72px;
  height: 21px;
  margin-bottom: 3px;
}
.footer__logo.footer__myoffrz-logo {
  width: 0px;
  height: 0px;
}

.footer__space {
  width: 6px;
}
.footer__feedback {
  font-size: 10px;
  cursor: pointer;
}
.footer__turnoff-rewards {
  font-size: 10px;
  cursor: pointer;
  color: #acacac;
  text-transform: uppercase;
}
.footer__notification {
  padding: 0 8px 5px;
  font-size: 11px;
  color: #acacac;
}
