.header__container {
  height: 33px;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  align-items: baseline;
}

.header__left-item {
  display: flex;
  align-self: center;
}
.header__right-item {
  display: flex;
  align-self: center;
}

.header__label.header__chip-label {
  font-size: 18px;
}

.header__label {
  display: flex;
  font-size: 15px;
  color: white;
  align-items: flex-end;
  letter-spacing: 1px;
}

.header__chip-logo {
  background: url('../images/chip-icon-logo.svg') no-repeat right;
  background-size: contain;
  width: 106px;
  height: 26px;
  margin-left: 2px;
}

.header__myoffrz-logo {
  background: url('../images/myoffrz-icon-logo.svg') no-repeat right;
  width: 128px;
  height: 20px;
  margin-left: 2px;
}

.header__ghostery-logo {
  background: url('../images/ghostery-rewards-beta.svg') no-repeat right;
  background-size: contain;
  width: 180px;
  height: 18px;
  margin-left: 11px;
  margin-top: 4px;
  filter: brightness(0) invert(1);
}

.header__cliqz-logo,
.header__amo-logo {
  background: url('../images/offers-cc-icon.svg') no-repeat right;
  background-size: contain;
  width: 18px;
  height: 17px;
  margin-left: 1px;
  filter: brightness(0) invert(1);
}

.header__menu {
  background: url('../images/3dots-menu.svg') no-repeat top;
  background-size: contain;
  transform: rotate(-90deg);
  width: 16px;
  height: 17px;
  padding-right: 25px;
  cursor: pointer;
  filter: brightness(190%);
  margin-top: 5px;
}

.header__close {
  background: url('../images/close-offer.svg') no-repeat center;
  background-size: contain;
  width: 14px;
  height: 14px;
  padding-top: 2px;
  margin-right: 7px;
  margin-top: 5px;
  cursor: pointer;
  filter: brightness(165%);
}

.header__space {
  width: 8px;
}
