.tooltip__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 60px;
}

.tooltip__left-item {
  padding-left: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.tooltip__myoffrz-image {
  background: url(../images/myoffrz-tooltip-logo.svg) no-repeat center;
}
.tooltip__chip-image {
  background: url(../images/chip-tooltip-logo.svg) no-repeat center;
}
.tooltip__freundin-image {
  background: url(../images/freundin-tooltip-logo.svg) no-repeat center;
}

.tooltip__image-base {
  background-size: contain;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding-left: 10px;
}

.tooltip__right-item {
  display: flex;
  width: 22px;
  height: 21px;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  transition: all linear 0.3s;
  background-color: #fff;
  margin-top: -32px;
  margin-right: 4px;
}

.tooltip__close {
  background: url(../images/close-offer.svg) no-repeat center;
  width: 12.5px;
  height: 12.5px;
  border-radius: 50%;
  background-size: contain;
  filter: brightness(0.7);
  margin: 0 5px;
  cursor: pointer;
}

.tooltip__text {
  padding-left: 5px;
  margin-right: -8px;
  color: #494949;
  font-size: 14px;
}

.tooltip__not-visible {
  opacity: 0;
}
.tooltip__visible {
  opacity: 1;
}
