@function url-prefix($url){
  @return url("chrome://cliqz/content/" + $url)
}

#customizationui-widget-multiview panelview#PanelUI-webext-offers-cc-browser-action-view {
    max-width: 100% !important;
}

#nav-bar .cliqz-control-center {
    min-width: 55px;
    color: black;
    background-position: 4px 5px;
}

#PanelUI-popup #PanelUI-multiView #PanelUI-webext-offers-cc-browser-action-view, // TODO @mai do we need this?
panel[viewId="PanelUI-webext-offers-cc-browser-action-view"] .panel-mainview {
    max-width: 50em !important;
}

#pageActionPanel panelview#PanelUI-webext-offers-cc-browser-action-view,
#widget-overflow panelview#PanelUI-webext-offers-cc-browser-action-view {
    max-width: 550px;
}

#cliqz-offers-cc-btn {
    padding: 0px;
}
#offers-cc-browser-action {
    &[state="new-offers"] {
        .toolbarbutton-badge {
            display: block;
            min-width: 8px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #fd001e;
            margin: 0 !important;
            margin-inline-end: -4px !important;
        }
    }
}

#customizationui-widget-panel[viewId="cliqz-offers-cc-btn-panel"] .panel-arrowcontent {
    padding: 0;
}

/* FORCE THE POPUP'S TOP ARROW TO BE BLUE */
panel[viewId="PanelUI-webext-offers-cc-browser-action-view"] .panel-arrowcontainer .panel-arrow {
    list-style-image: var(--panel-arrow-image-vertical, url-prefix("offers-cc/images/panelarrow-vertical.png"));
}
