@function url-prefix($url) {
  @return url("chrome://cliqz/content/" + $url)
}

panelview#PanelUI-webext-offers-cc-browser-action-view {
    max-width: 550px !important; // TODO: change this to 250px in the new reward box
    min-width: 10px !important; // To make sure that we can make our tooltip small enough
}

// Force the badge to be a red dot
#offers-cc-browser-action {
    &[state="new-offers"] {
        .toolbarbutton-badge {
            display: block;
            min-width: 8px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #fd001e;
            margin: 0 !important;
            margin-inline-end: -4px !important;
        }
    }
}
