<!DOCTYPE html>
<html>
  <head>
    <title>CLIQZ TESTS</title>
    <link rel="stylesheet" href="/bower_components/mocha/mocha.css">
    <script src="/bower_components/mocha/mocha.js"></script>
    <script src="/bower_components/chai/chai.js"></script>
    <script src="/node_modules/fetch-mock/es5/client-browserified.js"></script>
    <script src="/testem.js"></script>
    <script>mocha.setup('bdd')</script>
    <style>
      .testFrame {
        height: 400px;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div id="mocha"></div>
    <script src="/build/tests/tests.js"></script>
    <script>
      mocha.run();
    </script>
  </body>
</html>
