{{#if model.messageCenter.hasMessages}}
  <div id="notificationsBox">
    {{#each model.messageCenter.messages as |message|}}
      {{component (concat 'messages/' message.template '-message') model=message}}
    {{/each}}
  </div>
{{/if}}

<div id="freshTabPage">
  <div id="center" tabindex="0">
    <div id="container">
      {{outlet}}
    </div>
  </div>

  <div id="cliqzOnboarding">
    {{outlet 'modal'}}
  </div>
</div>
