// Defining Color Palette
$neutral: #f7f7ff;
$safe: #e7ffe7;
$unsafe: #fce8f0;
$black: #1A1A25;
$light-background: #fcfcfc;

.container {
    color: $black;
    padding-top: 5%;
    width: 75%;
    .unsafe { background: $unsafe; }
    .safe { background: $safe; }
    .card { 
        margin-bottom: 40px;
        .card-subtitle {
            color: $black;
        }
        .card-footer{
            background: $light-background;
            font-size: 0.7rem;
            margin-top: 25px;
        }
    }
    pre{
        font-size: 80%;
        background: $neutral;
        padding: 20px;
        border-radius: 3px;
    }
    code {
        background: $neutral;
        border-radius: .14rem;
        color: $black;
        font-size: 80%;
        line-height: 1.2;
        padding: 0.1rem .3rem;
        white-space: nowrap;
    }
    .nav {
        position: fixed;
        margin-right: 2%;
        a{ 
            display: block; 
            color: $black
        }
        li{
            padding: 5px;
            border-radius: 3px;
        }
        li:hover{ 
            background: $neutral;
        }
    }
    .accordion{ cursor: pointer; }
    .dem-factor-item { list-style: none; }
    .dem-factor-name {
        float: left;
        width: 100px;
    }
}

