$dark-blue: #2B5993;
$background-color: #E7ECEE;
$cliqz-purple: #8B4099;
$background-purple: #E9DDEC;

@font-face {
    font-family: "-mac-system", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

// Navigation tabs
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    .capitalized-heading {
        color: $cliqz-purple;
        font-weight: bold;
      }
}
code {
    background: $background-purple;
    font-size: 13px;
    padding: 3px 5px;
    border-radius: 3px;
}
button {
    border: solid 1px $cliqz-purple;
    padding: 2px 10px;
    background: white;
    color: $cliqz-purple;
    font-size: 14px;
    border-radius: 3px;
    margin: 4px;
}
button:hover{
    background: $cliqz-purple;
    color: white;
}
section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}
input {
    display: none;
}
label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: normal;
    text-align: center;
    color: #bbb;
}
label:before {
    font-weight: normal;
}
label:hover {
    color: black;
    cursor: pointer;
}
input:checked + label {
    color: black;;
    border-bottom: 2px solid $cliqz-purple;
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
    display: block;
}
.container {
    width: 70%;
    margin: auto;
}
.panel {
    box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
}
.intro { 
    grid-area: l;
    border: none;
    padding: 20px 0 20px;
 }
.local-properties { 
    grid-area: r;
    border: 1px solid $cliqz-purple;
    border-radius: 3px;
    padding: 20px;
}
.header {
  display: grid;
  grid-template-areas: 'l r';
  margin-top: 50px;
  grid-gap: 50px;
  padding: 10px 0px 10px;
  margin-bottom: 50px;
}
.half-width {width: 50%;}
.tab { width: 33%;}
.main {
    padding: 0; 
    margin: auto;
    background: white;
}
// Test Snippet
.test-body { 
    grid-area: l;
    .test-id{margin-right: 10px;}
    .client-state{margin-left: 40px;} 
    .test-description{margin-left: 40px;}
    ul{list-style: none;}
    .test-meta{grid-area: l;}
    .test-groups{grid-area: r;}
    .test-explanation{
        display: grid;
        margin-left: 40px;
        grid-template-areas: 'l r';
        grid-gap: 20px;
        background: #f6f6f6;
        border-radius: 5px;
        padding: 20px;
    } 
}
.test-action { grid-area: r; padding-left: 50%;}
.test-action-button{float: right;}
.test-snippet {
  display: grid;
  grid-template-areas: 'l l r';
  grid-gap: 50px;
  padding: 10px 0px 10px;
  margin-top: 20px;
  .test-body {
  }
  .test-name {
      font-weight: bold;
  }
}
// General Settings
#controls { grid-area: l; }
.abtest-state { grid-area: r; }
#setting-header { grid-area: h; }

.general-settings {
    display: grid;
    grid-template-areas: 'h h' 'l r';
    grid-gap: 10px 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}