
 /* common */
*,
*:before,
*:after {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Regular.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2
}

a:hover, a:active, a:focus {
  outline: 0;
}

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

#freshTabPage a {
  text-decoration: none;
  color: #333333;
}

/* containers */
#freshTabPage #container{
  max-width: 1024px;
  min-width: 800px;
  margin: 0px auto;
  outline: none;
}

/* search */
#freshTabPage #searchContainer {
  position: relative;
  margin: 0px 0px 50px;
  width: 100%;
}

#freshTabPage #search-icon {
  position: absolute;
  top: 8px;
  left: 10px;
  width: 24px;
  height: 24px;
  background: url("./images/cliqz_icon.svg") no-repeat;
}


#freshTabPage .wrap {
  width: 800px;
  margin: 0px auto;
}

#freshTabPage #urlbar {
  width: 100%;
  height: 40px;
  border: 2px solid #999999;
  padding: 0px 8px 0px 40px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 3px;
  font-size: 16px;
}

#freshTabPage #urlbar:focus {
  outline: none !important;
  border: 2px solid #3B99FC;
}

/* top visited */
#freshTabPage #topVisited {
  margin: 20px 0px 75px 0px;
  text-align: center;
}

#freshTabPage #topVisited ul{
  max-width: 1024px;
  margin: -7px auto 10px;
}

#freshTabPage #historyTiles,
#freshTabPage #customTiles {
  max-height: 110px;
  overflow: hidden;
}

#freshTabPage #topVisited li {
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 166px;
  height: 96px;
  padding: 0px;
  margin: 7px 5px 10px 5px;
  list-style: none;
  text-align: center;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  transition: box-shadow 0.25s ease;
}

#freshTabPage #historyTiles li {
  box-shadow: none;
}

#freshTabPage #topVisited li:hover .delete {
  opacity: 1;
  transition:opacity 0.3s ease-out 0.5s;
  -webkit-transition: opacity 0.3s ease-out 0.5s;
}

#freshTabPage #topVisited a {
    display: block;
    height: 100%;
    padding-top: 10px;
}

#freshTabPage #topVisited li:hover {
  box-shadow: 0px 2px 6px  rgba(0, 0, 0, 0.35);
}

#freshTabPage #topVisited .title {
  color: #333333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 186px;
}

/*
#freshTabPage #topVisited li:last-child {
  margin-right: 0px;
}
*/

#freshTabPage .cliqz-brand-logo {
    width: 2em;
    height: 2em;
    padding: 0.375em; /* 9px / 24px */
    box-sizing: border-box;
    border-radius: 50%;
    line-height: 1.25em; /* 30px / 24px */
    text-align: center;
    font-weight: bold;
    color: #FFF;
    overflow: hidden;
    background-origin: content-box;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0px auto 10px auto;
    font-size: 24px;
    transition: all 0.45s;
}

/*#freshTabPage #topVisited ul li:hover .cliqz-brand-logo {
  width: 100%;
  border-radius: 0;
}*/

#freshTabPage .cliqz-brands-button-4 { background-color: #74d463 }
#freshTabPage .cliqz-brands-button-4:hover,
#freshTabPage .cliqz-brands-button-4[arrow='true'] { background-color: #50b23f }
#freshTabPage .cliqz-brands-button-4:active { background-color: #148701 }


#freshTabPage #topVisited li.addFrame {
  border: 1px dashed #ccc;
  box-shadow: none;
}


#freshTabPage #topVisited .addBtn {
  background: url("./images/plus_icon.svg") no-repeat;
  width: 32px;
  height: 32px;
  display: block;
  margin: 32px auto;
}

#freshTabPage #topVisited .addDialForm {
  padding: 2px 10px;
  height: 100%;
  position: relative;
}

#freshTabPage #topVisited .addDialForm input {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  color: #666666;
  width: 100%;
}

#freshTabPage #topVisited .addDialForm button {
  position: absolute;
  bottom: 5px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
}

#freshTabPage #topVisited .notification {
  color: #e92207;
}

.cqz-ez-btn {
  display: inline-block;
  line-height: 26px;
  margin: 0 7px 4px 0px;
  padding: 0 9px;
  cursor: pointer;
  color: #ffffff;
  border-radius: 3px;
  border: 0px;
}

#freshTabPage #topVisited a.hideAddForm {
  display: block;
  height: auto;
  cursor: pointer;
  padding: 0px;
  text-align: right;
  color: #CCCCCC;
  font-size: 16px;
}

.formRow {
  display: block;
}

#freshTabPage #topVisited .delete {
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0;
  width: 14px;
  height: 14px;
  background: url("./images/delete.svg") no-repeat;
  cursor: pointer;
  overflow:hidden;
  text-indent:100%;
  white-space:nowrap;
  transition:opacity 0.3s ease-out 0.1s;
  -webkit-transition: opacity 0.3s ease-out 0.1s;
  -webkit-transition-delay: 1s;
}


/* news container */
#freshTabPage #newsContainer {
  width: 100%;
  box-sizing: border-box;
  margin-top: 40px;
  margin-bottom: 40px;
}

#freshTabPage #newsContainer .heading {
  padding-bottom: 6px;
  margin-bottom: 10px;

}

#freshTabPage #newsContainer .heading h2 {
    float: left;
    color: #999999;
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 15px;
}

#freshTabPage #newsContainer #sliderBtns {
  float: left;
  margin-top: 8px;
}

#freshTabPage .optinContent .onboardingNav {
  margin: 30px auto 0px auto;
  width: 45px;
}

#freshTabPage #newsContainer #sliderBtns div {
  width: 12px;
  height: 12px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}

#freshTabPage #newsContainer #sliderBtns div.active {
  background-color: #999999;
  border: 0px;
}

#freshTabPage .optinContent .onboardingNav a {
  width: 8px;
  height: 8px;
  background-color: #cccccc;
}

#freshTabPage #newsContainer #sliderBtns div,
#freshTabPage .optinContent .onboardingNav a {
    float: left;
    border-radius: 50%;
    text-align: center;
    margin-right: 5px;

}

#freshTabPage .optinContent .onboardingNav .active {
  background-color: #999999
}

#freshTabPage .optinContent .onboardingNav a {
  margin-right: 7px;
}

.overflow-hidden {
  overflow:hidden;
  text-indent:100%;
  white-space:nowrap;
  display: block;
  cursor: pointer;
 }

#freshTabPage #newsContainer .newsBox {
  float: left;
  width: 388px;
}

#freshTabPage #newsContainer .newsBox.allNews {
  float: none;
  width: auto;
}

#freshTabPage #newsContainer .description {
  display: none;
}

#freshTabPage #newsContainer #yourNewsBox {
  margin-left: 24px;
}

#freshTabPage #newsContainer li {
  list-style: none;
  margin-bottom: 20px;
}

#freshTabPage #newsContainer li .title {
  font-size: 18px;
  margin-bottom: 8px;
  color: #333333;
}

#freshTabPage #newsContainer li .title:hover {
  color: #506bb8;
}

#freshTabPage #newsContainer div.title {
  text-decoration: none;
}

#freshTabPage #newsContainer li .url {
  font-size: 14px;
  color: #999999;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 320px;
}

#freshTabPage #newsContainer a.topnews {
    display: block;
}

#freshTabPage #newsContainer .newsContent {
  padding-left: 60px;
}

/***** Only top news *****/

#freshTabPage #newsContainer .allNews .newsContent {
  padding: 10px;
}

#freshTabPage #newsContainer .allNews li {
  float: left;
  width: 260px;
  margin-right: 10px;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}

#freshTabPage #newsContainer .allNews li:nth-last-child(3n+1) {
  margin-right: 0px;
}

#freshTabPage #newsContainer .logo {
  float: left;
  width: 1.8em;
  height: 1.8em;
  font-size: 20px;
  padding: 0.2em; /* 4px / 20px */
  line-height: 1.25em; /* 25px / 20px */
  margin-right: 10px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  overflow: hidden;
  background-origin:content-box;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  box-sizing: border-box;
}

#freshTabPage #yourNewsBox ul {
  float: left;
}

#freshTabPage .newsBlock {
  margin-bottom: 40px;
}

/******* Mini Onboarding ********/

#freshTabPage #learnMore {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 24px;
    height: 24px;
    background: url("./images/question-mark.svg");
    cursor: pointer;
    z-index: 2;
}

#freshTabPage .learnBtn {
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
    display: block
}

#freshTabPage #firstTimeOnboarding {
    position: fixed;
    width: 100%;
    bottom: 0px;
    right: 20px;
    padding: 20px;
    background-color: #ffffff
}

#freshTabPage #firstTimeOnboarding .options {
    float: right;
}

#freshTabPage #firstTimeOnboarding a {
    text-decoration: underline;
    display: inline-block;
    color: #999999;
    font-size: 14px;
}

#freshTabPage #firstTimeOnboarding .moreBtn {
    margin-right: 20px;
}

/******** CLIQZ Onboarding *********/
#optinContainer {
  display: block;
}

.optinBackground {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: 1004;
  background-color: #EEF6FC;
}

.optinBackground.transparent {
  opacity: 0.75;
}

.optinBackground.bgImage {
  background-image: url("./images/bkg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.optinContent {
  width: 619px;
  height: 554px;
  border-radius: 8px;
  background-color: #ffffff;
  text-align: center;
  z-index: 1005;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  margin-top: -237px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.optinContent #header {
  height: 80px;
  background-color: #1D55A0;
  border-radius: 8px 8px 0 0;
}

.optinContent h1 {
  display: inline-block;
  color: #fff;
  line-height: 75px;
  font-size: 26px;
  font-weight: 200;
}

.optinContent h2 {
  font-size: 30px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 0;
}

.optinContent .imgContainer {
  margin-top: 30px;
}

.optinContent p {
  margin: 28px auto 0px auto;
  font-size: 18px;
  width: 410px;
}

#freshTabPage .optinContent a {
  color: #5EA3F9;
  font-size: 18px;
}

.optinContent .cqz-optin-btn {
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  line-height: 26px;
  margin: 30px 0px;
  padding: 5px 15px;
  text-decoration: none;
  background-color: #63AFE6;
  height: 30px;
  font-size: 18px;
  box-sizing: content-box;
}

.optinContent .footer {
  background-color: #FAFAFA;
  position: absolute;
  bottom: 0px;
  text-align: center;
  padding: 10px 0px;
  width: 100%;
}

#freshTabPage .optinContent .footer a {
  color: #999999;
  font-size: 14px;
  text-decoration: underline;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.overflow-hidden {
  overflow:hidden;
  text-indent:100%;
  white-space:nowrap;
  display: block
}

@media (min-width: 825px) and (max-width: 990px) {
  #freshTabPage #topVisited li {
    width: 150px;
  }
}

@media (min-width: 767px) and (max-width: 824px) {
  #freshTabPage #topVisited li {
    width: 120px;
  }
}

@media (max-width: 768px) {
  #freshTabPage #container {
    max-width: auto;
    min-width: auto;
  }

  #freshTabPage #topVisited {
    height: auto;
  }

  #freshTabPage #topVisited li {
    margin-bottom: 10px;
    width: 66px;
  }

  #freshTabPage #topVisited .title {
    max-width: 46px;
    display: block;
    margin: 0px auto;
  }

  #freshTabPage .wrap {
    width: auto;
    padding: 20px;
  }

  #freshTabPage #topVisited {
    margin-top: 20px;
  }

  #freshTabPage #newsContainer .allNews li{
    float: none;
    width: 100%;
  }

  #freshTabPage #newsContainer .newsBox {
    float: none;
    width: auto;
    margin-left: 20px;
  }

  #freshTabPage #newsContainer #yourNewsBox {
    margin-left: 20px;
  }

  #freshTabPage #yourNewsBox ul {
    width: 80%;
  }

  #freshTabPage #yourNewsBox li {
    max-width: 100%;
  }
}

/* EX-2255 */ /* Ref: theme-linux.scss */

#freshTabPage #urlbar {
    background-color: #fff !important;
    color: #333;
}

#freshTabPage #urlbar::-moz-placeholder {
    color: #999;
}

/* END EX-2255*/

