<div id="history">
  <nav>
    <span {{action 'sendTelemetry'}}>
      {{#link-to 'freshtab.index' class='freshtab-button'}}
      {{/link-to}}
    </span>
    {{#link-to 'freshtab.history.index' class="history-button"}}
    {{/link-to}}
  </nav>
  <div class="history">
    {{liquid-outlet}}
  </div>
</div>
