<div id="history">
  <nav>
    {{#link-to 'freshtab.index' class='freshtab-button'}}
      <img src="./assets/images/Home White.svg">
    {{/link-to}}
    {{#link-to 'freshtab.history.index' class="history-button"}}
      <img src="./assets/images/History White.svg">
    {{/link-to}}
  </nav>
  <div class="history">
    {{liquid-outlet}}
  </div>
</div>
