<div id="history">
  <nav>
    <a
      href="{{ model.config.newTabUrl }}"
      class="freshtab-button"
      {{action 'openHome'}}
      >
    </a>
    {{#link-to 'freshtab.history.index' class="history-button"}}
    {{/link-to}}
  </nav>
  <div class="history">
    {{liquid-outlet}}
  </div>
</div>
