<div id="container" tabindex="0">
  {{outlet}}
</div>

<div id="cliqzOnboarding">
  {{outlet 'modal'}}
</div>

<div id="onboarding">
  {{#if model.miniOnboarding}}
    {{mini-onboarding isBrowser=model.isBrowser freshTabLearnMoreAction="freshTabLearnMore" revertBackAction="revertBack"}}
  {{else}}
    <div id="learnMore">
      <a href="https://cliqz.com/aboutus/blog/new-startpage" title="Learn more" target="_blank" class="learnBtn">Learn more</a>
    </div>
  {{/if}}
</div>
