.header__container {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  /* width: will be set by client */
  height: 34px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

.header__cross {
  background: url('../images/close-offer.svg') no-repeat center;
  background-size: contain;
  display: inline-block;
  width: 11px;
  height: 11px;
}

.header__cross:hover {
  filter: brightness(0);
  cursor: pointer;
}

.header__hide-wrapper {
  cursor: pointer;
  padding-left: 5px;
}

.header__hide {
  display: inline-block;
  border-bottom: 1px solid #909090;
  margin-bottom: 5px;
  margin-right: 9px;
  width: 11px;
  height: 11px;
}

.header__hide-hover {
  border-bottom: 1px solid black;
}
