/* Context menu */
.context-menu {
	display: none;
  position: absolute;
  z-index: 10;
  padding: 12px 0;
  width: 240px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
  list-style: none;
}

.context-menu-active {
	display: block;
}

.context-menu-item {
	display: block;
  margin-bottom: 4px;
  padding: 4px 12px;
  color: #0066aa;
  text-decoration: none;
  cursor: pointer;
}

.context-menu-item:last-child {
  margin-bottom: 0;
}

.context-menu-item:hover {
  color: #fff;
  background-color: #0066aa;
}