<h3><span data-i18n="video_downloader_title"></span></h3>
{{#if loading}}
<div class="preloader">
    <img src='images/preloader.gif' />
</div>
{{else}}
    {{#if unSupportedFormat}}
    <div id="unsupported-format">
        {{#if isLiveVideo}}
        <span data-i18n="video_downloader_live_video"></span>
        {{else}}
        <span data-i18n="video_downloader_unsupported_format"></span>
        {{/if}}
    </div>
    {{else}}
    <ul class="vd-tabs">
        <li class="vd-tab-button {{#unless isConnectPreferred}}active{{/unless}}" data-tab="desktop">
            <span data-i18n="video_downloader_tab_desktop"></span>
        </li>
        {{#if pairingAvailable}}
        <li class="vd-tab-button {{#if isConnectPreferred}}active{{/if}}" data-tab="mobile">
            <span data-i18n="video_downloader_tab_mobile"></span>
        </li>
        {{/if}}
    </ul>
    <div id="vd-tab-content" class="{{#if isConnectPreferred}}mobile{{/if}}">
        <iframe
            id="connect-iframe"
            {{#if isPaired}}class="hidden" {{/if}}
            src="/modules/pairing/index.html"
            width="270px"
            height="475px">
        </iframe>

        {{> downloads}}

        <p id="wifi-warning">
            <span data-i18n="video_downloader_wifi_warning"></span>
        </p>
        <span id="download-mobile" class="link-button" data-i18n="video_downloader_send_button_label"></span>
        <span id="download-desktop" class="link-button" data-i18n="video_downloader_download_button_label"></span>
        <span class="connect-page-link">
            <span data-i18n="video_downloader_open_connect_page"></span>
            <span data-i18n="video_downloader_connect_settings"></span>
            <span class="connect-icon"></span>
        </span>
        <div id="sending-status">
            <img src="images/sent-to-mobile.svg" alt="" />
            <p><span data-i18n="video_downloader_sent_message"></span></p>
        </div>
    </div>
    {{/if}}
{{/if}}
