<h3><span data-i18n="video_downloader_title"></span></h3>
{{#if loading}}
<div class="preloader">
    <img src='images/preloader.gif' />
</div>
{{else}}
    {{#if unSupportedFormat}}
    <div id="unsupported-format">
        {{#if isLiveVideo}}
        <span data-i18n="video_downloader_live_video"></span>
        {{else}}
        <span data-i18n="video_downloader_unsupported_format"></span>
        {{/if}}
    </div>
    {{else}}
    <ul class="vd-tabs">
        <li class="vd-tab-button active" data-tab="desktop">
            <span data-i18n="video_downloader_tab_desktop"></span>
        </li>
    </ul>
    <div id="vd-tab-content">
        {{> downloads}}
        <span id="download-desktop" class="link-button" data-i18n="video_downloader_download_button_label"></span>
    </div>
    {{/if}}
{{/if}}
