<h3><span data-i18n="video-downloader-title"></span></h3>
{{#if isMockData}}
<div class="preloader">
    <img src='images/preloader.gif' />
</div>
{{else}}
    {{#if unSupportedFormat}}
    <div id="unsupported-format">
        {{#if isLiveVideo}}
        <span data-i18n="video-downloader-live-video"></span>
        {{else}}
        <span data-i18n="video-downloader-unsupported-format"></span>
        {{/if}}
    </div>
    {{else}}
    <ul class="vd-tabs">
        <li class="vd-tab-button {{#unless isConnectPreferred}}active{{/unless}}" data-tab="desktop">
            <span data-i18n="video-downloader-tab-desktop"></span>
        </li>
        {{#if pairingAvailable}}
        <li class="vd-tab-button {{#if isConnectPreferred}}active{{/if}}" data-tab="mobile">
            <span data-i18n="video-downloader-tab-mobile"></span>
        </li>
        {{/if}}
    </ul>
    <div id="vd-tab-content" class="{{#if isConnectPreferred}}mobile{{/if}}">
        <iframe
            id="connect-iframe"
            {{#if isPaired}}class="hidden"{{/if}}
            src="resource://cliqz/pairing/index.html"
            width="270px" height="475px">
        </iframe>

        {{> downloads}}

        <p id="wifi-warning">
            <span data-i18n="video-downloader-wifi-warning"></span>
        </p>
        <span id="download-mobile" class="link-button" data-i18n="video-downloader-send-button-label"></span>
        <span id="download-desktop" class="link-button" data-i18n="video-downloader-download-button-label"></span>
        <span class="connect-page-link">
            <span data-i18n="video-downloader-open-connect-page"></span>
            <span data-i18n="video-downloader-connect-settings"></span>
            <span class="connect-icon"></span>
        </span>
        <div id="sending-status">
            <img src="images/sent-to-mobile.svg" alt="" />
            <p><span data-i18n="video-downloader-sent-message"></span></p>
        </div>
    </div>
    {{/if}}
{{/if}}
