@import 'reset';

@font-face {
    font-family: GhotamBook;
    src: url("../fonts/Gotham-Book.otf") format("opentype");
}

@font-face {
    font-family: GhotamBookBold;
    src: url("../fonts/Gotham-Bold.otf") format("opentype");
}

body {
    font-family: GhotamBook;
    color: #fff;
    background: #506275;
    transition: all 0.6s;
}

.cqb-steps-holder {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

ul.cqb-steps {
    left: 0%;
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    transition: all 0.5s;

    .cqb-step-msg {
        font-size: 25px;
        line-height: 1.3em;
        color: #fff;
    }

    li {
        position: relative;
        overflow: hidden;
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 20px;
        margin-right: -4px;
        white-space: normal;

        .cqb-logo {
            margin: 7% 0 30px 0;
        }

        h1 {
            font-size: 51px;
            line-height: 1.3em;
            margin-bottom: 30px;
        }

        .cqb-descr {
            color: #85919f;
            font-size: 16px;
            line-height: 1.3em;
            margin-bottom: 70px;
        }

        &.cqb-step1 {
            text-align: center;
        }

        &.cqb-step2 {
            > div {
                max-width: 730px;
                margin: 100px 0 0 70px;
            }
        }

        &.cqb-step3 {
            > div {
                max-width: 730px;
                margin: 350px 0 0 70px;
            }
        }
    }
}

.cqb-btn {
    cursor: pointer;
    display: inline-block;
    padding: 15px 30px;
    line-height: 1em;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    background: #4bc2cb;

    &:hover {
        background: darken(#4bc2cb, 10%);
    }
}

ul.cqb-progress {
    position: fixed;
    left: 20px;
    bottom: 20px;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        float: left;
        width: 10px;
        height: 10px;
        margin-right: 10px;
        border-radius: 50%;
        border: 1px solid #fff;

        &:nth-child(1) {
            background: #fff;
        }
    }
}

body.cqb-step2 {
    ul.cqb-progress li:nth-child(2) {
        background: #fff;
    }

    ul.cqb-steps {
        left: -100%;
    }
}

body.cqb-step3 {
    ul.cqb-progress li:nth-child(3) {
        background: #fff;
    }

    ul.cqb-steps {
        left: -200%;
    }
}

#cqb-search-btn {
    opacity: 0;
    margin-top: 150px;
}

.cqb-search-tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 10px;
    height: 10px;
}

//==== Tooltip ==

.tooltipster-sidetip.tooltipster-light .tooltipster-content {
    padding: 15px;
    font-size: 16px;
    line-height: 1.4em;
    color: #4f4f4f;
}

.hidden {
    display: none;
}

.search-link {
    display: inline-block;
    padding: 4px 8px;
    margin: 5px 0;
    border-radius: 3px;
    text-decoration: none;
    color: #2D3E50;
    cursor: pointer;
    background: #aeedef;

    &:hover {
        background: #71d8dd;
    }

    &.active {
        text-decoration: line-through;
    }
}

.cqz-shake-it {
    -webkit-animation-name: hvr-wobble-vertical;
    animation-name: hvr-wobble-vertical;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 3;
    animation-iteration-count: 3;
}

@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}


@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media screen and (max-width: 1000px) {

    ul.cqb-steps li {
        &.cqb-step2 {
            > div {
                max-width: 35%;
                margin-left: 20px;
            }
        }

        &.cqb-step3 {
            > div {
                max-width: 35%;
                margin-left: 20px;
            }
        }
    }
}
