#control-center {
    .tooltip {
      $border-color: #D8D8D8;
      line-height: 1.4;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      z-index: 10;
      background-color: #FCFCFC;
      border: 1px solid $border-color;
      border-radius: 4px;
      color: #535353;
      font-size: 13px;
      padding: 10px 20px 20px 20px;
      box-shadow: 3px 2px 10px #ccc;
      white-space: normal;
      -moz-transition: opacity 200ms, visibility 200ms;

      &:before {
        content:' '; /* Must have content to display */
        position: absolute;
        border: 1px solid transparent;
        width: 10px;
        height: 10px;
        background-color: #FCFCFC;
        transform: rotate(45deg);
      }

      &.left, &.right {
        top: -14px;

        &:before {
          top: 27px;
        }
      }

      &.right {
        left: 33px;
        width: 300px;

        &:before {
          left: -6px;
          border-left-color: $border-color;
          border-bottom-color: $border-color;
        }
      }

      &.left {
        width: 170px;
        right: 228px;

        &:before {
          right: -6px;
          border-right-color: $border-color;
          border-top-color: $border-color;
        }
      }

      &.top {
        width: 340px;
        bottom: 140px;
        left: 2px;

        &:before {
          bottom: -6px;
          left: 9px;
          border-bottom-color: $border-color;
          border-right-color: $border-color;
        }
      }

      &.top-right {
        top: -83px;

        &:before {
          top: 98px;
        }
      }

      /* Quick hack */
      &.right {
          &.human-web {
            top: 90px;

            &:before {
              top: 137px;
            }
          }

          &.proxy {
            top: 112px;

            &:before {
              top: 89px;
            }
          }

          &.forget-mode {
            top: 57px;

            &:before {
              top: 126px;
            }
          }

          &.share-location {
            top: 47px;

            &:before {
              top: 96px;
            }
          }

          &.explicit {
            top: 45px;

            &:before {
              top: 71px;
            }
          }
      }

      strong {
        font-weight: 800;
      }

      .title {
        padding: 6px 0 12px 0;
        margin: 0;
        display: block;
      }
    }

    .funnel-cake {
      .tooltip {
          &.right {
              &.anti-tracking {
                top: -54px;

                &:before {
                  top: 69px;
                }
              }

              &.human-web {
                top: 60px;

                &:before {
                  top: 127px;
                }
              }

              &.proxy {
                top: 72px;

                &:before {
                  top: 86px;
                }
              }

              &.share-location {

                &:before {
                  top: 56px;
                }
              }

              &.explicit {
                top: 4px;
              }
          }
      }
    }
}
