#cliqz-cc-btn {
    padding: 0;
}

.cliqz-control-center {
    height: 31px;
    padding: 8px 4px 0 32px;
    color: transparent;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../images/cc-active.svg);
}


#nav-bar .cliqz-control-center {
    min-width: 55px;
    color: black;
    background-position: 4px 5px;
}

.cliqz-control-center:after {
    content: '';
}

/* if the button appears in the overflow area of the browser on very small widths */
.widget-overflow-list .cliqz-control-center {
    margin-left: 5px;
}

.widget-overflow-list .cliqz-control-center:after {
    padding-left: 20px;
}

.cliqz-control-center[state="critical"] {
    background-image: url(../images/cc-critical.svg);
}

.cliqz-control-center[state="inactive"] {
    background-image: url(../images/cc-inactive.svg);
}

.cliqz-control-center[state="off"] {
    background-image: url(../images/cc-off.svg);
    /* state off means there are no security features so no need for the badge text */
    min-width: 30px !important;
    padding: 0px;
    color: transparent;
}

#cliqz-cc-btn-panel,
#cliqz-cc-btn-panel > iframe,
#cliqz-cc-btn-panel > panel-subview-body {
    overflow: hidden !important;
}

.forceRerender {
   overflow: hidden !important;
}

panelmultiview[mainViewId="cliqz-cc-btn-panel"] > .panel-viewcontainer > .panel-viewstack > .panel-mainview:not([panelid="PanelUI-popup"]),
panel[viewId="cliqz-cc-btn-panel"] .panel-mainview {
    max-width: 50em !important;
}

#customizationui-widget-panel[viewId="cliqz-cc-btn-panel"] .panel-arrowcontent {
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 5px;
}

#cliqz-cc-btn-panel {
    border-radius: 3px;
}
