@font-face {
    font-family: "Montserrat";
    src: url(chrome://cliqz/content/onboarding-v3/fonts/Montserrat-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url(chrome://cliqz/content/onboarding-v3/fonts/Montserrat-Light.ttf);
    font-weight: 200;
    font-style: normal;
}

$small-screen: "only screen and (max-width : 500px)";

body,
html {
    overflow: hidden;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    background-color: #00AEF0;
}

.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

#cqb-container {
    text-align: center;
    height: 100%;
    overflow: auto;

    .cqb-website {
        background-image: url(chrome://cliqz/content/onboarding-v3/images/cliqz.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 81px;
        height: 20px;
        position: absolute;
        top: 28px;
        left: 25px;
        text-transform: uppercase;
        font-size: 1.5em;
        text-decoration: none;
    }

    .content {
        margin: 20vh 0 10vh;

        h1 {
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 72px;
        }

        p {
            font-family: "Montserrat", sans-serif;
            font-weight: 200;
            font-size: 24px;
        }

        li {
            font-family: "Montserrat", sans-serif;
            font-weight: 200;
            list-style: none;
            display: inline-block;
            font-size: 18px;
            font-weight: 200;
            text-transform: uppercase;
            padding: 0 10px;
        }

        .cqb-btn {
            margin: 80px 0 130px;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            cursor: pointer;
            display: inline-block;
            padding: 12px 30px;
            line-height: 1em;
            width: 180px;
            border: 3px solid #fff;
            border-radius: 30px;
            font-size: 24px;

            color: #00AEF0;
            background-color: #fff;
            box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.16);
        }

        .cqb-btn:hover {
            color: #fff;
            background-color: #00AEF0;
        }

        @media #{$small-screen} {
            h1 {
                font-size: 52px;
            }

            p {
                font-size: 18px;
            }

            li {
                font-size: 14px;
            }
        }
    }

}


