.card__wrapper {
  padding: 2px 12px 0px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px -1px 1px 1px rgba(0, 0, 0, 0.1);
  margin-top: -2px;
}

.card__image {
  height: 134px;
  cursor: pointer;
  display: block;
  margin: auto;
}

.card__benefit {
  font-size: 34px;
  color: #494949;
}

.card__headline {
  font-size: 16px;
  hyphens: auto;
  color: #494949;
}

.card__description {
  hyphens: auto;
  font-size: 12.5px;
  cursor: default;
  color: #b4b4b4;
}

.card__condition-title {
  font-weight: 500;
  display: inline-block;
  padding-bottom: 3px;
}

.card__conditions {
  color: #999;
  font-size: 13px;
  line-height: 1.4em;
}

.card__text {
  cursor: pointer;
}

.card__screen-container {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.card__text.card__cursor-default {
  cursor: default;
}

.card__bullets {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 15px;
}

.card__bullet {
  color: #b4b4b4;
  padding-bottom: 2px;
}
.card__bullet:before {
  content: "\2022";
  position: absolute;
  color: #B3B3B3;
  font-weight: 500;
  display: inline-block;
  margin-left: -12px;
}

.card__small-triangle {
  display: inline-block;
  background: url('../images/triangle.svg') no-repeat center;
  width: 10px;
  height: 8px;
}

.card__show-more {
  cursor: pointer;
  color: #b4b4b4;
  padding-bottom: 2px;
}
