.card-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

.card-header__left-item {
}

.card-header__right-item {
  display: flex;
  align-items: center;
}

.card-header__affiliate-link {
  text-transform: uppercase;
  font-size: 8px;
  color: silver;
  text-align: right;
}

.card-header__title {
  font-weight: 500;
}

.card-header__description {
  font-size: 11.5px;
  color: #B2B2B2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 142px;
}

.card-header__image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width: 83px;
  height: 34px;
  cursor: pointer;
}

.card-header__trash {
  background: url('../images/trash.svg') no-repeat bottom;
  background-size: contain;
  cursor: pointer;
  width: 28px;
  height: 16px;
  margin-right: -9px;
  filter: brightness(119%);
}
.card-header__trash:hover {
  filter: brightness(0);
}

.card-header__till-wrapper {
  padding-right: 4px;
}
.card-header__till {
  font-size: 11px;
  color: silver;
}
.card-header__till-soon {
  color: #FF3B30;
}
.card-header__till-left-some {
  color: #F7B500;
}
.card-header__expired-icon {
  background: url('../images/expired-grey.svg') no-repeat center;
  background-size: contain;
  width: 13px;
  height: 13px;
  margin-right: 4px;
  margin-top: -1px;
  align-self: baseline;
}
.card-header__expired-icon.card-header__till-soon-icon {
  background: url('../images/expired-red.svg') no-repeat center;
  background-size: contain;
}
.card-header__expired-icon.card-header__till-left-some-icon {
  background: url('../images/expired-yellow.svg') no-repeat center;
  background-size: contain;
}
