.card-promo-ab__wrapper {
  border: 2px solid #00AEF0;
  background-color: #00AEF0;
  border-radius: 10px;
}

.card-promo-ab__wrapper.card-promo-ab__chip-wrapper {
  border: 2px solid var(--chip-primary-color, #eb443f);
  background-color: var(--chip-primary-color, #eb443f);
}
.card-promo-ab__wrapper.card-promo-ab__myoffrz-wrapper {
  border: 2px solid var(--myoffrz-primary-color, #f67057);
  background-color: var(--myoffrz-primary-color, #f67057);
}

.card-promo-ab__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-promo-ab__input {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border: none;
  width: 100%;
  color: #00AEF0;
  background-color: white;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12.5px;
  font-weight: 500;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
}

.card-promo-ab__input.card-promo-ab__chip-input {
  color: var(--chip-primary-color, #eb443f);
}
.card-promo-ab__input.card-promo-ab__myoffrz-input {
  color: var(--myoffrz-primary-color, #f67057);
}

.card-promo-ab__copy-code {
  text-transform: uppercase;
  font-size: 14px;
  color: white;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  min-width: 50%;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 500;
}

.card-promo-ab__button {
  display: inline-block;
  width: 100%;
  height: 36px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  line-height: 36px;
  background-color: #00AEF0;
}

.card-promo-ab__button.card-promo-ab__chip-button {
  background-color: var(--chip-primary-color, #eb443f);
}
.card-promo-ab__button.card-promo-ab__myoffrz-button {
  background-color: var(--myoffrz-primary-color, #f67057);
}

.card-promo-ab__button.card-promo-ab__show-code-button {
  height: 36px;
  line-height: 36px;
  text-transform: uppercase;
}
