<div class="result instant calculator">
    <div class="header padded">
        {{query}} = {{result}}
    </div>

{{!--      <p class="subtitle padded">
        Click to copy the result
    </p> --}}
</div>
