<div class="result instant calculator">
    <div class="header padded">
        {{query}} = <span id="calc-answer">{{result}}</span>
    </div>

{{!--      <p class="subtitle padded">
        Click to copy the result
    </p> --}}
</div>
