<a class="result {{cssClasses}}" href="{{url}}">
    {{> partials/logo}}
    {{> partials/abstract}}
</a>
{{> partials/share-location}}
{{> partials/images}}
{{> partials/lotto}}
{{> partials/anchors}}
{{> partials/news}}
{{> partials/videos}}
{{> partials/buttons}}
{{> partials/social-buttons}}
{{> partials/local}}
