<a class="result {{cssClasses}}" data-url="{{url}}" href="{{displayUrl}}">
    {{> partials/logo}}
    {{> partials/abstract}}
</a>
{{> partials/share-location}}
{{> partials/images}}
{{> partials/lotto}}
{{> partials/anchors}}
{{> partials/news}}
{{> partials/videos}}
{{> partials/buttons}}
{{> partials/social-buttons}}
{{> partials/local}}
{{> partials/offer/injected-offer}}
