{{#if url}}
    <a class="result" href="{{url}}">
        {{> partials/logo }}
        {{> partials/abstract }}
        {{> partials/images }}
    </a>
{{/if}}
{{#each results}}
    {{> result}}
{{/each}}
{{> partials/buttons }}
