{{#if url}}
    <span class="timeline" style="background-color: #{{logo.backgroundColor}}"></span>

    <a class="result" href="{{url}}">
        {{> partials/logo }}
        {{> partials/abstract }}
        {{> partials/images }}
    </a>
{{/if}}
{{#each results}}
    {{> result}}
{{/each}}
{{> partials/buttons }}
