<a class="result" href="{{ url }}">
    {{> partials/logo}}
    {{> partials/abstract}}
</a>

<div class="movie-cinema">
    {{> partials/movie-cinema/movie}}
    {{> partials/local}}
    {{> partials/share-location}}
    {{> partials/movie-cinema/show-time}}
</div>
