<a class="result" href="{{url}}">
    {{> partials/logo}}
    <div class="abstract">
        <p>
            <span class="strong">{{displayUrl}}</span>
            <span class="divider">&#8212;</span>
            <span class="url">{{local 'visit'}}</span>
        </p>
    </div>
</a>
