<a id="{{elementId}}" class="result sessions" data-url="{{url}}">
    <div class="icons">
        <span class="icon history-tool"></span>
    </div>
    <div class="abstract">
        <p>
            <span class="">
                {{local 'results_found_in_history'}}
            </span>
        </p>
    </div>
</a>
