<a id="{{elementId}}" class="result sessions" href="{{url}}">
    <div class="icons">
        <span class="icon history-tool"></span>
    </div>
    <div class="abstract">
        <p>
            <span class="">
                History sessions
                <span class="count">
                    <img src="chrome://cliqz/content/dropdown/images/small-spinner_square.gif"/>
                </span>
            </span>
            <span class="divider">&#8212;</span>
            <span class="url">Search History</span>
        </p>
    </div>
</a>
