{{#if suggestionAvailable}}
    <div class="padded suggestions">
        {{#each (take suggestionResults suggestionsLimit) }}
            <a class="result" data-url="{{url}}" href="{{url}}">
                <div class="icons">
                    <span class="icon search"></span>
                </div>
                {{emphasis displayText query 1 true}}
            </a>
        {{/each}}
    </div>
{{/if}}
