// Defining Color Palette
$neutral: #f7f7ff;
$safe: #e7ffe7;
$unsafe: #fce8f0;
$black: #1A1A25;
$light-background: #fcfcfc;
$blue-gray: #9eaaad;
$purple: #5755d9;
$purple-light-background: #f4f3f9;

#main {
    color: $black;
    padding-top: 5%;
    width: 50rem;
    max-width: 1400px;
    margin: auto;
    .svg-inline--fa {
        color: $blue-gray;
        margin-right: 15px;
    }
    #site-profile-header-plot{
        padding-top: 70px;
    }
    .tracker-list-item { list-style: none; }
    .centered{
        text-align: center;
    }
    .site-card:hover{
        background: $purple;
        border-color: $purple;
        transition-duration: 0.2s;
        .site-name{
            color: white;
            transition-duration: 0.2s;
        }
        a{
            background: white;
            color: $purple;
        }
    }
    .card-section {
        margin-top: 40px;
    }
    .site-info{
        padding-left: 25px;
        padding-right: 25px;
        background: $purple-light-background;
        .label-secondary{
            background: transparent;
            border: solid 1px $purple;
        }
    }
    .card-metric{
        font-size: 0.8em;
        margin-bottom: 5px;
    }
    .site-name{
        color: #000;
        font-size: 1rem;
        margin-bottom: 5px;
        margin-top: -10px;
    }
    .today-counts{
        border: solid 1px #e5e5e5;;
        padding-top: 40px;
        padding-bottom: 40px;
        border-radius: 4px;
    }
    .light-header {
        font-weight: normal;
        text-align: center;
    }
    .count-title {
        font-size: 1.4rem;
        color: $purple;
        text-align: center;
        margin: auto;
    }
    .count-desc {
        margin-top: 7px;
        font-size: 0.9em;
        text-align: center;
        margin: auto;
        // color: $blue-gray;
    }
    .card {
        margin-bottom: 40px;
        .card-subtitle {
            color: $black;
        }
        .card-footer{
            background: $light-background;
            font-size: 0.7rem;
            margin-top: 25px;
        }
    }
    pre{
        font-size: 80%;
        background: $neutral;
        padding: 20px;
        border-radius: 3px;
    }
    code {
        background: $neutral;
        border-radius: .14rem;
        color: $black;
        font-size: 80%;
        line-height: 1.2;
        padding: 0.1rem .3rem;
        white-space: nowrap;
    }
    .nav {
        position: fixed;
        margin-right: 2%;
        a{
            display: block;
            color: $black
        }
        li{
            padding: 5px;
            border-radius: 3px;
        }
        li:hover{
            background: $neutral;
        }
    }
    .accordion{ cursor: pointer; }
}

