.cqz-ez-generic {
    overflow: hidden;

    .cqz-zone-holder {
        width: 100%;
        height: 100%;
        display: table;
        table-layout: fixed;
    }

    .cqz-ez-btns {
        display: table-footer-group;
    }

    .cqz-vertical-title-holder {
        overflow: hidden;
        position: relative;
        min-height: 90px;
        padding-left: 20px;

        .cqz-vertical-title {
            position: absolute;
            top: calc(50% - 10px);
            left: calc(-50% + 10px);
            width: 100%;
            height: 20px;
            color: #fff;
            text-align: center;
            transform-origin: 50% 50% 0;
            transform: rotate(-90deg);
            background: #ccc;
            z-index: 1;
        }
    }

    .cqz-history {
        margin: 20px 0;
        padding-left: 30px;

        ul.cqz-history-list {
            list-style: none;
            padding: 0;
            margin: 0;

            &.cqz-list-restricted {
                overflow: hidden;
                width: calc(100% - 100px);
                max-height: 140px;
            }

            li {
                cursor: pointer;
                font-size: 17px;
                line-height: 1.6em;
                color: #8c275f;
                .cqz-history-item-link {
                    color: #ccc;
                }
            }

            li[local-source*="bookmark"] {
                @extend .cqz-bookmark-icon;
            }

            li[local-source~="switchtab"] {
                @extend .cqz-switchtab-icon;
            }
        }
    }
}
