/*--------------- Local EZ ----------- */

.cqz-local-data-holder {
    .cqz-zone-holder {
        & > .cqz-generic-desc:first-child {
            display: none;
        }
    }
 }

.cqz-local-data {
    height: auto;
    margin-bottom: 0;
    width: 75%;

    .local-img-holder {
        max-width: 135px;
    }

    img.cqz-local-data-img {
        width: 100%;
        cursor: pointer;
        border-radius: 3px;
    }

    .cqz-local-info {

        float: left;

        ul.cqz-local-info-box {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        ul.cqz-local-info-box > li {
            margin: 10px 0;
            white-space: nowrap;

			& div {
				display: inline-block;
				margin-right: 20px;
			}

            & span {
                vertical-align: middle;
            }

            & img {
                margin-right: 5px;
            }

            &:first_child {
                margin-top: 0;
            }
            &:last_child {
                margin-bottom: 0;
            }
        }
    }
}

.cqz-local-desc {
    margin-top: 16px;

    p {
        margin-bottom: 0;
    }
}

.location_permission_prompt {
    color: #FFF;
    padding: 16px 20px 10px;
    background-color: rgb(255, 83, 73);
}

.location_permission_prompt.loading {
    position: relative;
    padding: 0;
}

.location_permission_prompt.loading:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    border-radius: 100%;
    background-color: #fff;
    -webkit-animation: cqz-loading-circle-animation 1.0s infinite ease-in-out;
    animation: cqz-loading-circle-animation 1.0s infinite ease-in-out;
}

.loc_permission_prompt_buttons > span {
    position: relative;
    display: inline-block;
    padding: 6px 10px;
    margin-bottom: 5px;
    line-height: 1.1em;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 10px;
    border: 1px solid white;
    background: transparent none repeat scroll 0 0;
}

.loc_permission_prompt_buttons > span#cqz_location_yes,
.loc_permission_prompt_buttons > span#cqz_location_yes_confirm,
.loc_permission_prompt_buttons > span.cqz_location_once {
    border: none;
    width: auto;
    text-align: center;
    background-color: #5498f8;
}

@-webkit-keyframes cqz-loading-circle-animation {
    0% {
        -webkit-transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes cqz-loading-circle-animation {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

.location_permission_prompt.loading > * {
    opacity: 0 !important;
}

.loc_permission_prompt_message {
    min-height: calc(100% - 80px);
    margin-bottom: 10px;
    white-space: normal;
    font-size: 16px;
    line-height: 1.25em;
}

.cqz_location_once,
.cqz_location_never {
    color: #fff;
}

.cqz-result-h2 {
    .location_permission_prompt {
        padding: 12px 10px 5px;
    }
    .loc_permission_prompt_message {
        font-size: 13px;
        margin-bottom: 10px;
        line-height: 1.25em;
    }
    .loc_permission_prompt_buttons > span {
        margin-bottom: 5px;
        font-size: 14px;
    }
}
