/* ------- VideoOnDemand (VOD) EZ ----------*/
.cqz-vod .stream_btn_container {
    margin-right: 10px;
}

.cqz-vod .stream_btn_img {
    height: 100%;
}

.cqz-vod .layout_foot_node .movie_info_btn {
    float: left;
    margin-right: 40px;
}

.cqz-vod .stream_txt {
    float: left;
    margin: 0 0 20px 20px;
    line-height: 26px;
    color: #999999;
    white-space: nowrap;
}

.cqz-vod .stream_btns {
    white-space: nowrap;
    overflow: hidden;
    display:inline-block;
}

.cqz-vod .stream_btn_container {
    display: inline-block;
    cursor: pointer;
}

.cqz-vod .layout_no_foot_node .cqz-rd-h2-snippet {
    height: 250px;
}

.cqz-vod .layout_no_foot_node .cqz-rd-img,
.cqz-vod .rd_info_block {
    height: 200px;
}




/* ------- END  VideoOnDemand (VOD) EZ ----------*/
