/* ez weather */
.ez-weather .alert {
    height: 116px;
    padding-left: calc(22px + 54px + 18px);
    color: white;
    background: url(https://cdn.cliqz.com/extension/EZ/weather-new2/warning_2.svg) no-repeat 22px 25px;
    background-size: 54px 54px;
}

.ez-weather .alert .header {
    font-size: 18px;
    line-height: 1.3em;
    padding: 23px 0 9px;
}

.ez-weather .cqz-ez-title {
    background-image: none;
    margin-bottom: 16px;
    text-decoration: none !important;
}

.EZ-weather-icon {
    height: 26px;
    width: 26px;
    margin-left: 15px;
    margin-top: 13px;
}

.EZ-weather-city {
    font-size: 18px;
    color: #333333;
    margin-top: 12px;
    margin-bottom: 18px;
    float: left;
}

.EZ-weather-info-sec {
    height: 128px;
}

.EZ-weather-container {
    float: left;
    min-width: 60px;
    margin-right: 40px;
}

.EZ-weather-temp {
    margin-top: 4px;
}

.EZ-weather-temp span {
    color: #999999;
    margin-left: 10px;
    display: inline-block;
    vertical-align: bottom;
}

.EZ-weather-img {
    background-position: center center;
    background-size: contain;
    height: 62px;
    margin: 5px 0
}

.cqz-weather-holder {
    overflow: hidden;
    margin-bottom: 20px;
    max-height: 110px;
}

.cqz-weather-holder .EZ-weather-container {
    margin-bottom: 15px;
    text-align: center;
}

.cqz-weather-holder .EZ-weather-container .EZ-weather-date {
    text-overflow: unset;
}

.ez-weather .cqz-ez-btn {
    max-width: 100%;
}