<h3>Version 1.18</h3>

<ul>
  <li>
    <a href="https://cliqztix.atlassian.net/projects/EX/versions/22601/tab/release-report-in-progress">
      [JIRA]
    </a>
    <li>
      <a href="https://github.com/cliqz/navigation-extension/pull/3596">
        PR-3596
      </a>
      Improvements to build system:
      <ul>
        <li>broccoli updated to 1.x (it is faster and compatible with new plugins)</li>
        <li>babel updated to 6.x (better error reporting and ability to use presets)</li>
        <li>build supports jsx compilation</li>
      </ul>
    </li>
  </li>
</ul>
