<h2>Framework Changelog</h2>

<ul>
  <li>
    Version 1.14
    <a href="https://cliqztix.atlassian.net/projects/EX/versions/16600/tab/release-report-in-progress">
      [JIRA]
    </a>
    <ul>
      <li>
        <a href="https://github.com/cliqz/navigation-extension/pull/3011">
          PR-3011
        </a>
        `utils.callAction` is removed in favor of `kord` module wrapper.
        <br/>
        Old code:
        ```
          import utils from '../core/utils';

          utils.callAction('core', 'queryCliqz', ['some query']);
        ```

        New code:
        ```
          import inject from '../core/kord/inject';

          const core = inject.module('core');
          core.action('queryCliqz', 'some query');
        ```
      </li>
      <li>
        <a href="https://github.com/cliqz/navigation-extension/pull/3034">
          PR-3034
        </a>
        `utils.callWindowAction` is removed in favor of `kord` module wrapper.
        <br/>
        Old code:
        ```
          import utils from '../core/utils';

          utils.callWindowAction(window, 'control-center', 'setBadge', [17]);
        ```

        New code:
        ```
          import inject from '../core/kord/inject';

          const controlCenter = inject.module('control-center');
          controlCenter.windowAction(window, 'setBadge', 17);
        ```
      </li>
    </ul>
  </li>
</ul>
