<h3>Name convention</h3>

<h4>Unit tests</h4>

<p>
  The files created in `tests/unit` folder should be named using the following convention:
  `[sub_module_name]-test.es`. All segments of the filename are lowercase.
</p>

<p>Each submodule should have a separate file.</p>

<h4>Content / integration testing</h4>

<P>Create the files in `tests/content` or `tests/integration` folders, named using the following convention: `[tested_area]-test.es`. All segments of the filename are lowercase.
</p>

<p>
  If there are different types of test, e.g. interactions vs UI, these should also be included in the file name.
</p>