<h3>Name convention</h3>

<h4>Unit tests</h4>

<p>
  The files created in `tests/unit` folder should be named using the following convention:
  `[sub_module_name]-test.es`. All segments of the filename are lowercase.
</p>

<p>Each submodule should have a separate file.</p>

<h4>Content testing</h4>

<p>
  The files created in `tests/content` folder should be named using the following convention:
  `[tested_module]-[tested_area]-test.es`. All segments of the filename are lowercase.
</p>

<p>
  If there are different types of test, e.g. interactions vs UI, these should also be included
  in the file name.
</p>

<p>
  Example for Fresh Tab interaction tests for settings: `home-settings-int-tests.es`.
  Example for Fresh Tab UI tests for buttons: `home-buttons-ui-tests.es`.
</p>

<h4>Integration testing</h4>

<p>TODO</p>
