<h3>Types of tests</h3>

<p>
  The code can be tested on different levels. Currently the following types of tests have been
  implemented:
</p>

<ul>
  <li>unit tests,</li>
  <li>content tests,</li>
  <li>interaction tests.</li>
</ul>

<h4>Unit tests</h4>

<p>
  The lowest level of testing, covering the simplest blocks of code.
</p>

<p>
  The `unit-node` [[#-unit-node-|test runner]] browses the project tree using the following pattern:
  `/**/tests/**/unit/**/*-test.js`. Therefore, to include new unit tests:
</p>

<ul>
  <li>if it does not exist, create `tests` folder in the module folder you would like to test
    (it should be at the same level as <strong>sources</strong> and <strong>dist</strong> folders),</li>
  <li>in the `tests` folder create a `unit` subfolder,</li>
  <li>add tests files, separate for each submodule (following the [[#Name convention|naming convention]]).</li>
</ul>

<h4>Content tests</h4>

<p>
  These tests, based on Mocha tests framework together with <a href="http://chaijs.com">Chai assertion library</a>,
  <strong>do not</strong> install custom-built extension in the browser. They test
  the content of elements and webpages, e.g. Fresh Tab.</p>

<p>To include new tests:</p>

<ul>
  <li>if it does not exist, create `tests` folder in the module folder you would like to test
    (it should be at the same level as <strong>sources</strong> and <strong>dist</strong> folders),</li>
  <li>in the `tests` folder create a `content` subfolder,</li>
  <li>add tests files, separate for each submodule (following the [[#Name convention|naming convention]]).</li>
</ul>

<h4>
  Integration tests
</h4>

<p>
  These tests not only <strong>do</strong> install custom-built extension in the browser, they also cover
  interactions between different modules (e.g. dropdown results and mixer; location sharing and dropdown results).
</p>

<p>
  They are based on Mocha tests framework together with <a href="http://chaijs.com">Chai assertion library</a>.
</p>

<p>
  <strong>Exception: dropdown tests</strong>
</p>

<p>
  Dropdown tests are currently placed in the `firefox-tests` module, to be moved to separated
  modules in the future. They are located in `sources > tests > dropdown` folders,
  bundled in `dropdown-tests.bundle.es` file.
</p>

<p>
  To improve readibility of the code, mocked data has beed separated in files located in
  a `fixtures` subfolder.
</p>

<p>
  Moreover, due to two versions of mixer being used, some of the tests also had to be differentiated
  into two versions.
</p>
