<div class="card">
    <div class="card-header">
        <div class="card-title h5">Logs</div>
    </div>
    <div class="card-body">
        <ul>
            {{#each logs}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
</div>
