<div class="precipitation">
    {{#each precipitation}}
    <div>
        <div style="height: {{height}}px">
            {{#if text}}<span>{{text}}</span>{{/if}}
        </div>
    </div>
    {{/each}}
</div>
