<div class="wind">
    {{#each wind}}
    <div>
        <p>{{value}}</p>
        <span style="width: {{size}}px; height: {{size}}px; transform: rotate({{angle}}deg);"></span>
    </div>
    {{/each}}
</div>
