body,
html {
    overflow-y: hidden;
    overflow-x: auto;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

#video-downloader {
    width: 270px;
    font: small-caption;
    font-weight: normal;
    font-size: 14.6px;
    line-height: 22px;
    color: #414141;
    overflow: hidden;
    -moz-user-select: none;

    h3 {
        margin-left: 13px;
        margin-top: 13px;
        font-size: 16px;
        font-weight: 500;
    }

    ul#download-links {
        margin-bottom: 7px;
        padding: 0;
        list-style: none;

        & > li {
            position: relative;

            input[type="radio"] {
                position: absolute;
                top: 9px;
                left: 18px;
            }

            & > label {
                display: block;
                margin: 0;
                color: #000;
                padding-left: 58px;
                cursor: pointer;
                width: calc(100% - 64px);
                height: 32px;
                line-height: 32px;

                span.video-size {
                    font-size: 11px;
                    color: #9B9B9B;
                }

                &.video {
                    background: url('../images/video.svg') no-repeat 38px center;
                }

                &.audio {
                    background: url('../images/audio.svg') no-repeat 38px center;
                }
            }

            &:hover {
                border-right: 10px solid transparent;
                background-color: #EDEDED;

                & > label {
                    color: #00AEF0;
                }
            }
        }
    }

    .preloader {
        text-align: center;
        width: 100%;
        min-height: 80px;
    }

    #unsupported-format {
        padding: 0 13px 20px;
    }

    .vd-tabs {
        display: flex;
        list-style: none;
        border-top: 1px solid #EDEDED;
        margin-top: 17px;

        .vd-tab-button {
            flex-grow: 1;
            display: inline-block;
            padding: 8px 0 8px 19px;
            cursor: pointer;
            text-align: left;
            font-size: 14px;

            &:not(.active) {
                background-color: #EDEDED;
                box-shadow: inset 2px -2px 2px 0px rgba(0,0,0,0.06);
            }
        }
    }

    #vd-tab-content {
        position: relative;
        padding-top: 10px;
        padding-bottom: 4px;

        .link-button {
            margin: 5px 5px 5px 10px;
            padding: 8px 10px;
            border: none;
            border-radius: 3px;
            display: inline-block;
            outline: 0;
            vertical-align: middle;
            overflow: hidden;
            text-decoration: none;
            color: #fff;
            background-color: #00AEF0;
            text-align: center;
            cursor: pointer;
            white-space: nowrap;
            -moz-user-select: none;

            &:hover {
                background-color: #0078CA;
            }
        }

        #connect-iframe, #download-mobile, #connect-page-icon, .connect-page-link {
            display: none;
        }

        #download-links {
            display: block;
        }

        #wifi-warning {
            display: none;
            padding-left: 58px;
            padding-right: 10px;
            margin-bottom: 20px;
            background: url('../images/wifi.svg') no-repeat 12px center;
            line-height: 15px;
            font-size: 11px;
        }

        #sending-status {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.95);
            transition: opacity 500ms ease-out;

            img {
                position: absolute;
                top: 30px;
                left: 0;
                right: 0;
                margin: auto;
            }

            p {
                position: absolute;
                top: 100px;
                left: 0;
                right: 0;
                text-align: center;
            }

            &.show {
                visibility: visible;
                opacity: 1;
            }
        }

        &.mobile {

            #download-desktop {
                display: none;
            }

            #connect-iframe {
                display: block;
                border: none;
                padding: 0 10px;
                box-sizing: border-box;

                & + #download-links {
                    display: none;
                }

                & ~ .connect-page-link {
                    display: inline-block;
                    float: right;
                    margin-right: 10px;
                    outline: 0;
                    vertical-align: middle;
                    text-decoration: none;
                    text-align: center;
                    cursor: pointer;
                    white-space: nowrap;
                    color: #00AEF0;

                    span:first-child {
                        vertical-align: super;
                    }

                    span:nth-child(2) {
                        vertical-align: super;
                        display: none;
                    }

                    .connect-icon {
                        background: url('../images/pair-icon.svg') no-repeat center;
                        background-size: contain;
                        width: 22px;
                        height: 16px;
                        display: inline-block;
                    }
                }

                &.hidden {
                    display: none;

                    & ~ .connect-page-link {
                        margin-top: 13px;

                        span:first-child {
                            display: none;
                        }

                        span:nth-child(2) {
                            display: inline-block;
                        }
                    }

                    & + #download-links, & + #download-links + #wifi-warning {
                        display: block;

                        & + #download-mobile {
                            display: inline-block;
                            min-width: 70px;
                        }
                    }
                }
            }
        }
    }
}
