<span>
    Tests: 
    <button id="refresh">Refresh All</button>
    <button id="update-tests">Update Tests</button>
</span>
<br>
<span>
    Automatic hourly updates:
    {{#if isRunning}}
        on
    {{else}}
        off
    {{/if}}
</span>
{{#if isRunning}}
    <button id="stop">Stop</button>
{{else}}
    <button id="start">Start</button>
{{/if}}