<div class="container">

  <div class="header">
    <div class="intro">
        <p class="capitalized-heading">AB-TEST SETTINGS</p> 
        <p>View of feature tests Cliqz runs to improve user experience.</p>
      <br />
      <p><em>Note: These tests are about interaction with features. No personal data is 
      ever collected.</em></p> 
    </div>

    <div class="local-properties">
      <p class="capitalized-heading">LOCAL PROPERTIES</p>
      <p>The following properties determine which AB tests to enter.</p>
      <br />
      <span>Demographics:
        <span id="demographics"></span>
      </span>
      <br/>
      <span>Core Version:
        <span id="core-version"></span>
      </span>
    </div>

  </div>

  {{!-- Contains the list of tests by category {RUNNING, AVAILABLE, COMPLETED} --}}
  <div class="main">
    <input id="tab1" type="radio" name="tabs" checked>
    <label class="tab" for="tab1">RUNNING</label>

    <input id="tab2" type="radio" name="tabs">
    <label class="tab" for="tab2">AVAILABLE</label>

    <input id="tab3" type="radio" name="tabs">
    <label class="tab" for="tab3">COMPLETED</label>

    <section id="content1">
      <h3>Running Tests</h3>
      <p class="half-width">All currently running tests. Manually stopping a test will
        <em>not</em> notify the backend.</p>
      <div id="active-tests"></div>
    </section>

    <section id="content2">
      <h3>Available Tests</h3>
      <p class="half-width">All tests available from the backend. Manually starting a test will
        <em>not</em> test for demographics, version, or competitors and will
        <em>not</em> notify the backend.</p>
      <div id="available-tests"></div>
    </section>

    <section id="content3">
      <h3>Completed Tests</h3>
      <p class="half-width">Completed tests will not be re-started.</p>
      <div id="completed-tests"></div>
    </section>
  </div>

  {{!-- General Settings Section --}}
  <div class="general-settings">
    <p id="setting-header" class="capitalized-heading">GENERAL SETTINGS</p>
    <div id="controls"></div>    
    <div class="abtest-state">
      <span>Local Storage: </span>
      <button id="load-tests">Load State</button>
      <button id="save-tests">Save State</button>
    </div>
  </div>

</div>