$configs: (
    xsmall: (
        base: (
            aside-width: 0,
            container-width: 408px,
            section-padding: 0,
            inner-content-width: 365px,
        ),
        speed-dials: (
            dial-height: 65px,
            dial-padding: 10px 10px,
            dial-header-height: 30px,
            dial-header-title: 10px,
            dial-title-font-size: 11px,
            logo-size: 34px,
            logo-font-size: 18px,
            logo-line-height: 22px,
            logo-padding: 6px 4px,
            delete-button-position-right: 5px,
            add-dial-form-submit-margin: 2px,
            add-dial-form-error-position: -42px,
        ),
        url-bar: (
            search-size: 375px,
            search-input-height: 34px,
            search-font-size: 14px,
            search-text-indent: 40px,
            search-settings-btn-top: -25px
        ),
        news: (
            news-container: 375px,
            news-dash-width: 30px,
            news-dash-padding: 0 2px,
            news-margin: auto,
            news-height: 175px,
            news-box-height: 118px,
            news-box-max-width: 375px,
            news-font-size: 16px,
            news-box-flex-grow: 1,
        ),
        middle-notifications: (
            box-size: 375px,
            middle-icon-size: 25px,
            middle-icon-bg-size: 22px,
            middle-content-padding-left: 20px,
            middle-icon-margin-top: -3px,
        ),
        top-notifications: (
            box-size: 375px,
            box-height: 80px,
            content-max-width: 36%,
        ),
        offer-middle-notifications: (
            offer-mn-code-font-size: 10px,
            offer-mn-code-wrapper-size: 120px,
            offer-mn-action-section-padding-left: 15px,
            offer-mn-benefit-font-size: 33px,
            offer-mn-headline-font-size: 13px,
            offer-mn-desc-font-size: 10px,
            offer-mn-desc-max-height: 49px,
            offer-mn-left-container: 43%,
            offer-mn-expires-display: none,
            offer-mn-desc-line-height: 15.5px,
            offer-mn-headline-margin-top: 12px,
        ),
        offer-middle-feedback: (
            box-size: 375px,
            offer-mn-feedback-textarea-width: 50%,
            offer-mn-feedback-textarea-display: none,
            offer-mn-feedback-font-size: 11px,
            offer-mn-feedback-height: 123px,
            offer-mn-feedback-cta-margin-right: 10px,
        )
    ),

    small: (
        base: (
            aside-width: 74px,
            container-width: 483px,
            section-padding: 0,
            inner-content-width: 436px,
        ),
        speed-dials: (
            dial-height: 65px,
            dial-padding: 10px 20px,
            dial-header-height: 30px,
            dial-header-title: 10px,
            dial-title-font-size: 11px,
            logo-size: 34px,
            logo-font-size: 18px,
            logo-line-height: 23px,
            logo-padding: 6px 4px,
            delete-button-position-right: 12px,
            add-dial-form-submit-margin: 2px,
            add-dial-form-error-position: -42px,
        ),
        url-bar: (
            search-size: 436px,
            search-input-height: 34px,
            search-font-size: 14px,
            search-text-indent: 40px,
            search-settings-btn-top: -25px
        ),
        news: (
            news-container: 446px,
            news-dash-width: 40px,
            news-dash-padding: 0,
            news-margin: 5px,
            news-height: 185px,
            news-box-height: 118px,
            news-box-max-width: 446px,
            news-font-size: 16px,
            news-box-flex-grow: 1,
        ),
        middle-notifications: (
            box-size: 436px,
            middle-icon-size: 25px,
            middle-icon-bg-size: 22px,
            middle-content-padding-left: 20px,
            middle-icon-margin-top: -3px,
        ),
        top-notifications: (
            box-size: 85%,
            box-height: 80px,
            content-max-width: 60%,
        ),
        offer-middle-notifications: (
            offer-mn-code-font-size: 14px,
            offer-mn-code-wrapper-size: 140px,
            offer-mn-action-section-padding-left: 15px,
            offer-mn-benefit-font-size: 33px,
            offer-mn-headline-font-size: 13px,
            offer-mn-desc-font-size: 12px,
            offer-mn-desc-max-height: 49px,
            offer-mn-left-container: 33%,
            offer-mn-expires-display: none,
            offer-mn-desc-line-height: 15.5px,
            offer-mn-headline-margin-top: 12px,
        ),
        offer-middle-feedback: (
            box-size: 436px,
            offer-mn-feedback-textarea-width: 75%,
            offer-mn-feedback-textarea-display: block,
            offer-mn-feedback-font-size: 11px,
            offer-mn-feedback-height: 123px,
            offer-mn-feedback-cta-margin-right: 10px,
        )
    ),

    xmedium: (
        base: (
            aside-width: 74px,
            container-width: 753px,
            section-padding: 0,
            inner-content-width: 677px,
        ),
        speed-dials: (
            dial-height: 80px,
            dial-padding: 10px 20px,
            dial-header-height: 30px,
            dial-header-title: 8px,
            dial-title-font-size: 12px,
            logo-size: 48px,
            logo-font-size: 24px,
            logo-line-height: 28px,
            logo-padding: 11px 4px,
            delete-button-position-right: 27px,
            add-dial-form-submit-margin: 10px,
            add-dial-form-error-position: -28px,
        ),
        url-bar: (
            search-size: 677px,
            search-input-height: 48px,
            search-font-size: 17px,
            search-text-indent: 47px,
            search-settings-btn-top: -25px
        ),
        news: (
            news-container: 687px,
            news-dash-width: 40px,
            news-dash-padding: 0,
            news-margin: 5px,
            news-height: 175px,
            news-box-height: 116px,
            news-box-max-width: 333px,
            news-font-size: 16px,
            news-box-flex-grow: 1,
        ),
        middle-notifications: (
            box-size: 677px,
            middle-icon-size: 39px,
            middle-icon-bg-size: 25px,
            middle-content-padding-left: 12px,
            middle-icon-margin-top: -3px,
        ),
        top-notifications: (
            box-size: 679px,
            box-height: 80px,
            content-max-width: 60%,
        ),
        offer-middle-notifications: (
            offer-mn-code-font-size: 16px,
            offer-mn-code-wrapper-size: 155px,
            offer-mn-action-section-padding-left: 25px,
            offer-mn-benefit-font-size: 33px,
            offer-mn-headline-font-size: 13px,
            offer-mn-desc-font-size: 12px,
            offer-mn-desc-max-height: 33px,
            offer-mn-left-container: 33%,
            offer-mn-expires-display: inline-block,
            offer-mn-desc-line-height: 15.5px,
            offer-mn-headline-margin-top: 9px,
        ),
        offer-middle-feedback: (
            box-size: 677px,
            offer-mn-feedback-textarea-width: 70%,
            offer-mn-feedback-textarea-display: block,
            offer-mn-feedback-font-size: 12.5px,
            offer-mn-feedback-height: 123px,
            offer-mn-feedback-cta-margin-right: 20px,
        )
    ),

    medium: (
        base: (
            aside-width: 74px,
            container-width: 857px,
            section-padding: 0,
            inner-content-width: 762px,
        ),
        speed-dials: (
            dial-height: 80px,
            dial-padding: 10px 20px,
            dial-header-height: 30px,
            dial-header-title: 8px,
            dial-title-font-size: 12px,
            logo-size: 48px,
            logo-font-size: 24px,
            logo-line-height: 28px,
            logo-padding: 11px 4px,
            delete-button-position-right: 35px,
            add-dial-form-submit-margin: 10px,
            add-dial-form-error-position: -20px,
        ),
        url-bar: (
            search-size: 477px,
            search-input-height: 48px,
            search-font-size: 17px,
            search-text-indent: 47px,
            search-settings-btn-top: -32px
        ),
        news: (
            news-container: 772px,
            news-dash-width: 40px,
            news-dash-padding: 0,
            news-margin: 5px,
            news-height: 195px,
            news-box-height: 134px,
            news-box-max-width: 477px,
            news-font-size: 16px,
            news-box-flex-grow: 0,
        ),
        middle-notifications: (
            box-size: 477px,
            middle-icon-size: 39px,
            middle-icon-bg-size: 25px,
            middle-content-padding-left: 12px,
            middle-icon-margin-top: -3px,
        ),
        top-notifications: (
            box-size: 764px,
            box-height: 80px,
            content-max-width: 70%,
        ),
        offer-middle-notifications: (
            offer-mn-code-font-size: 14px,
            offer-mn-code-wrapper-size: 140px,
            offer-mn-action-section-padding-left: 15px,
            offer-mn-benefit-font-size: 34px,
            offer-mn-headline-font-size: 13px,
            offer-mn-desc-font-size: 12px,
            offer-mn-desc-max-height: 49px,
            offer-mn-left-container: 33%,
            offer-mn-expires-display: none,
            offer-mn-desc-line-height: 15.5px,
            offer-mn-headline-margin-top: 7.5px,
        ),
        offer-middle-feedback: (
            box-size: 477px,
            offer-mn-feedback-textarea-width: 80%,
            offer-mn-feedback-textarea-display: block,
            offer-mn-feedback-font-size: 12.5px,
            offer-mn-feedback-height: 123px,
            offer-mn-feedback-cta-margin-right: 10px,
        )
    ),

    large: (
        base: (
            aside-width: 74px,
            container-width: 1400px,
            section-padding: 0,
            inner-content-width: 1230px,
        ),
        speed-dials: (
            dial-height: 95px,
            dial-padding: 10px 20px,
            dial-header-height: 35px,
            dial-header-title: 18px,
            dial-title-font-size: 14px,
            logo-size: 63px,
            logo-font-size: 24px,
            logo-line-height: 30px,
            logo-padding: 16px 4px,
            delete-button-position-right: 73px,
            add-dial-form-submit-margin: 18px,
            add-dial-form-error-position: -20px,
        ),
        url-bar: (
            search-size: 764px,
            search-input-height: 63px,
            search-font-size: 20px,
            search-text-indent: 64px,
            search-settings-btn-top: -39px
        ),
        news: (
            news-container: 1278px,
            news-dash-width: 40px,
            news-dash-padding: 0,
            news-margin: 25px,
            news-height: 175px,
            news-box-height: 115px,
            news-box-max-width: 764px,
            news-font-size: 17px,
            news-box-flex-grow: 0,
        ),
        middle-notifications: (
            box-size: 764px,
            middle-icon-size: 53px,
            middle-icon-bg-size: 25px,
            middle-content-padding-left: 12px,
            middle-icon-margin-top: -3px,
        ),
        top-notifications: (
            box-size: 1232px,
            box-height: 80px,
            content-max-width: 70%,
        ),
        offer-middle-notifications: (
            offer-mn-code-font-size: 14px,
            offer-mn-code-wrapper-size: 140px,
            offer-mn-action-section-padding-left: 15px,
            offer-mn-benefit-font-size: 41px,
            offer-mn-headline-font-size: 16.5px,
            offer-mn-desc-font-size: 14.5px,
            offer-mn-desc-max-height: 60px,
            offer-mn-left-container: 33%,
            offer-mn-expires-display: inline-block,
            offer-mn-desc-line-height: 20px,
            offer-mn-headline-margin-top: 9px,
        ),
        offer-middle-feedback: (
            box-size: 764px,
            offer-mn-feedback-textarea-width: 70%,
            offer-mn-feedback-textarea-display: block,
            offer-mn-feedback-font-size: 12.5px,
            offer-mn-feedback-height: 131px,
            offer-mn-feedback-cta-margin-right: 20px,
        )
    ),
);
