@mixin middle-notifications (
    $box-size,
    $middle-icon-size,
    $middle-icon-bg-size,
    $middle-content-padding-left,
    $middle-icon-margin-top,

    $cliqz-home-bg,
    $cliqz-history-bg,
    $cliqz-worldcup-bg,
    $cliqz-settings-bg,
    $button-color,
    $button-color-hover,

    $close-bg,
    $middle-box-bg-color,
    $middle-box-content-color
){
    .middle-notification-box {
        width: $box-size;
        margin: 10px auto;
        font-size: 12px;
        border-radius: 2px;
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.24);
        padding: 15px 15px 15px 5px;
        text-align: left;
        position: relative;

        background-color: $middle-box-bg-color;

        &.notification {
            border: 1px solid #00aef0;

            &:after {
                clear: both;
                content: " ";
                display: block;
                font-size: 0;
                height: 0;
                visibility: hidden;
            }
        }

        .close {
            width: 26px;
            height: 26px;
            position: absolute;
            right: 0px;
            top: 1px;
            cursor: pointer;
            background: $close-bg;
        }

        .icon {
            float: left;
            background: no-repeat center top;
            background-size: $middle-icon-bg-size;
            width: $middle-icon-size;
            height: $middle-icon-size;
            display: inline-block;
            vertical-align: top;
            margin-top: $middle-icon-margin-top;
        }

        .content {
            float: left;
            width: calc(100% - 90px);
            color: $middle-box-content-color;
            padding-left: $middle-content-padding-left;

            h1 {
                font-weight: bold;
                margin-bottom: 5px;
            }

            p {
                margin-bottom: 10px;
            }

            button {
                text-transform: uppercase;
                color: $button-color;
                font-weight: 500;
                cursor: pointer;
                border: 0;
                background: transparent;
                letter-spacing: 1px;

                &:hover {
                    color: $button-color-hover;
                }
            }

            .buttons {
                a {
                    margin-right: 10px;

                    .apple-badge {
                        height: 36.6px;
                        position: relative;
                        top: -1px;
                    }
                }
            }
        }
    }
}
