@mixin cliqzCloseBtn($width, $thickness) {

    .cliqz-close-btn {
        display: inline-block;
        position: relative;
        height: $width;
        width: $width;
        cursor: pointer;

        &:before, &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: $thickness;
            background-color: #fff;
            opacity: 0.55;
        }

        &:before {
            transform:         rotate(45deg);
        }

        &:after {
            transform:         rotate(-45deg);
        }

        &:hover {
            &:before, &:after {
                opacity: 1;
            }
        }
    }
}
