@mixin offer-middle-notifications (
    $offer-mn-color,
    $offer-mn-code-font-size,
    $offer-mn-code-wrapper-size,
    $offer-mn-action-section-padding-left,
    $offer-mn-code-border-color,
    $offer-mn-benefit-font-size,
    $offer-mn-headline-font-size,
    $offer-mn-desc-font-size,
    $offer-mn-desc-max-height,
    $offer-mn-left-container,
    $offer-mn-expires-display,
    $offer-mn-desc-line-height,
    $offer-mn-headline-margin-top
) {
    #section-middle {
        .middle-notification-box.offer {
            padding: 0;
            background-color: transparent;
            box-shadow: none;
            position: relative;

            .close {
                border: 0;
                background: url('../images/close-icon_black.svg') no-repeat center center;
                z-index: 2000;
            }
        }

        .light-tooltip {
            box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.24);
            max-width: 250px;
            z-index: 10000;
        }

        .offer-container {
            padding: 15px 0 0 15px;
        }

        .anzeige {
          position: absolute;
          bottom: 0%;
          right: -14px;
          height: 100%;
          writing-mode: vertical-lr;
          transform: rotate(-180deg);
          text-transform: uppercase;
          text-align: center;
          font-size: 9px;
          color: rgba(0, 0 , 0, 0.4);
          letter-spacing: 1px;
        }
        .offer-middle-notification {
            border-radius: 2px;
            background-color: #fff;
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
            overflow: hidden;
            padding-bottom: 0;
            padding: 15px 0 0 15px;

            &.notification {
                border:0px;
            }

            .flex-container {
                display: flex;
                align-items: center;
                width: 100%;
            }

            .special-flags {
                min-height: 15px;
                span {
                    font-size: 8px;
                    text-transform: uppercase;
                    padding-left: 15px;
                    background-size: 13px 12px;

                    &:first-child {
                      margin-right: 5px;
                    }
                }
                .exclusive {
                    background: url("../images/exclusive.svg") no-repeat left center;
                }

                .best_offer {
                    background: url("../images/best-offer.svg") no-repeat left center;
                    background-size: 13px 12px;
                }
            }
            .logo-container {
              text-align: right;
              position: relative;
              top: -3px;
              float: right;
              z-index: 1000;

              &.long + .expires {
                display: $offer-mn-expires-display;

              }
            }
            .logo {
                flex: 1;
                text-align: right;
                margin-top: -5px;
                margin-right: 32px;
                display: inline-block;
                background-color: transparent;
                padding: 0;
                height: 32px;
                background-repeat: no-repeat;
                background-position: right center;
                background-size: contain;

                &.long {
                    width: 105px;
                }

                &.normal {
                    width: 70px;
                }

                &.short {
                    width: 55px;
                }

                &.square {
                    width: 30px;
                }
            }
            .header {
                padding-right: 15px;
            }
            .content {
                float: none;
                color: $offer-mn-color;
                padding-left: 0;
                padding-bottom: 10px;
                width: 100%;

                &.flex-container {
                  .headline-benefit-ctner  {
                    max-width: 33%;
                    &:after {
                      content: "";
                      display: block;
                      background-color: #ccc;
                      position: absolute;
                      width: 1px;
                      height: 50px;
                      right: 0;
                      top: -17px;
                    }
                  }
                }

                .left-container {
                    float: left;
                    border-right: 1px solid #ccc;
                    width: 100%;
                    min-width: $offer-mn-left-container;
                    max-width: 53%;
                    margin-right: 10px;
                    min-height: 57px;
                }

                .top-row {
                  height: 32px;
                }

                .title-container {
                  // display: flex;
                  // align-items: center;
                  margin-top: 15px;
                  min-height: 33px;
                  max-height: $offer-mn-desc-max-height;
                }
                .title {
                  @include hyphenate;
                  padding-right: 4px;
                  font-weight: 500;
                  font-size: $offer-mn-headline-font-size;
                  max-height: $offer-mn-desc-max-height;
                  overflow: hidden;

                  a {
                    text-decoration: none;
                    color:$offer-mn-color;
                  }
                }

                .headline-benefit-ctner {
                    display: flex;
                    align-items: center;
                    margin-right: 10px;
                    position: relative;
                    min-width: 33%;
                    margin-top: $offer-mn-headline-margin-top;

                    .headline-container {
                      display: flex;
                      align-items: center;
                      overflow: hidden;


                      .headline {
                        @include hyphenate;
                        margin-left: 5px;
                        min-width: 55px;
                        line-height: 1.2em;
                        max-height: $offer-mn-desc-max-height;
                        overflow: hidden;
                        font-size: $offer-mn-headline-font-size;
                        font-weight: 500;
                        // line-height: 20px;

                        a {
                          text-decoration: none;
                          color:$offer-mn-color;
                        }
                      }
                    }

                }

                h1 {
                    overflow: hidden;
                    line-height: 19px;
                    max-height: 57px;
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 4px;
                }

                .benefit {
                    font-size: $offer-mn-benefit-font-size;
                    a {
                      text-decoration: none;
                      color:$offer-mn-color;
                    }
                }

                p {
                    margin: 0;
                }

                .expires {
                  color: #ccc;
                  font-size: 11.5px;

                  &.red {
                    color: red;
                  }
                }

                .offer-description {
                    @include hyphenate;
                    overflow: hidden;
                    line-height: $offer-mn-desc-line-height;
                    max-height: $offer-mn-desc-max-height;
                    position: relative;
                    top: -4px;
                    max-width: 50%;
                    padding-right: 20px;
                    font-size: $offer-mn-desc-font-size;

                    &.small {
                        font-size: 12px
                    }

                    a {
                      color: $offer-mn-color;
                      text-decoration: none;
                    }
                }

                .flex-desc {
                  display: flex;
                  justify-content: center;
                  position: relative;
                }

                .desc-container {
                  position: relative;

                  .expires {
                    position: absolute;
                    color: #ccc;
                    left: 0;
                    top: -20px;
                  }
                }

                .action-wrapper {
                    float: right;
                    width: $offer-mn-code-wrapper-size;
                    padding-left: $offer-mn-action-section-padding-left;
                    margin-right: -$offer-mn-code-wrapper-size;
                }
            }
            .footer {
                height: 34px;
                border-top: 1px solid #eee;

                .code {
                    font-weight: bold;
                    font-size: 11px;
                }

                .copy-code {
                  color: #0078CA;
                  cursor: pointer;
                  font-weight: 500;
                }

                .code-copied,
                .copy-code {
                  font-size: 9px;
                  text-transform: uppercase;
                }

                .divider {
                  padding: 0 4px;
                  color: #ccc;
                  position: relative;
                  top: 2px;
                }

                .right-container {
                    display: flex;
                    flex: 1;
                    justify-content: flex-end;
                    align-items: center;

                    .conditions {
                        font-size: 9px;
                        text-transform: uppercase;
                    }

                    .info-icon {
                        opacity: 0.2;
                        cursor: pointer;
                        margin-right: 7px;
                        margin-left: 7px;
                        width: 13px;
                        height: 14px;

                        &:hover {
                            opacity: 1;
                        }
                    }

                    .tooltip {
                        color:rgba(0,0,0,0.4);
                        font-size: 11px;
                        cursor: default;
                    }
                    .cta-btn {
                        border-radius: 0 0 2px 0;
                        letter-spacing: 0.7px;
                        font-weight: 500;

                        &.small-font {
                            font-size: 10px;
                        }

                        span {
                            display: block;
                            overflow: hidden;
                            max-width: 90%;
                            margin: 0 auto;
                            text-overflow: ellipsis;
                        }

                        &:hover {
                            background-color: #0078CA;
                        }
                    }
                }
            }
            .offer-domain {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;
                margin: 5px 0;
                color: #00AEF0;
                text-decoration: none;
                font-size: 11px;
                font-weight: bold;
            }
        }
        // .offer-middle-feedback {
        //   background-color: rgba(255, 255, 255, 0.8);
        //   box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
        //   height: 115px;

        //   .flex-container {
        //     display: flex;
        //     padding: 10px;
        //     color: #494949;

        //     .col1 {
        //       font-size: 13px;
        //       margin-right: 20px;
        //     }

        //     .col2 {
        //       li {
        //         list-style: none;
        //         padding: 3px 0;

        //         label {
        //           font-size: 12.5px;
        //           padding-left: 10px;
        //         }

        //         textarea {
        //           font-size: 12.5px;
        //           background-color: #F2F2F2;
        //           resize: none;
        //           margin-top: 3px;
        //           margin-left: 20px;
        //           padding: 3px;
        //           border: 1px solid #ccc;
        //           border-radius: 4px;
        //           max-width: 180px;
        //           vertical-align: 34px;
        //         }
        //       }
        //     }

        //     .col3 {
        //       margin-left: 30px;
        //       position: relative;
        //       .cta-btn {
        //         border-radius: 2px;
        //         position: absolute;
        //         bottom: 18px;
        //         height: 28px;
        //         line-height: 28px;
        //       }
        //     }
        //   }
        // }
        .cta-btn {
          display: block;
          overflow: hidden;
          white-space: nowrap;
          width: 120px;
          height: 34px;
          line-height: 34px;
          color: #fff !important;
          text-align: center;
          text-decoration: none;
          border-radius: 0 0 2px 0;
          background: #00AEF0;
          text-transform: uppercase;
        }
    }

    .clearfix {
        &:after,
        &:before {
            clear: both;
            content: " ";
            display: block;
            font-size: 0;
            height: 0;
            visibility: hidden;
        }
    }

    .__react_component_tooltip {
        max-width: 240px;
    }
}
