@mixin offer-middle-feedback (
    $aside-width,
    $container-width,
    $section-padding,
    $inner-content-width,
    $box-size,
    $offer-mn-color,
    $offer-mn-feedback-font-size,
    $offer-mn-feedback-textarea-width,
    $offer-mn-feedback-textarea-display,
    $offer-mn-feedback-height,
    $offer-mn-feedback-cta-margin-right,
    $close-bg,
    $offer-mn-benefit-container-display,
    $offer-mn-benefit-anchor,
    $offer-mn-benefit-font-size,
    $offer-mn-benefit-headline-font-size,
    $offer-mn-benefit-font-weight,
    $offer-mn-benefit-headline-font-weight,
    $offer-mn-condition-display,
    $offer-mn-expire-text,
    $offer-mn-cta-max-width,
    $offer-mn-header-font-size,
    $offer-mn-header-padding-left,
    $offer-mn-offer-description-padding-top,
    $offer-mn-expire-pointer

) {
    .middle-notification-fluid  {
        width: $box-size;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction:column;
        text-align: left;
        margin: 0 auto;
        position: relative;
        a {
            text-decoration: none
        }
        > div:not(.offer-unit) {
            width: 100%;
        }
        .offer-unit {
            background: #fff;
            width: 100%;
            position: relative;
            margin-top: 20px;
            border-radius: 3px;
            box-shadow:0px 1px 2px 0px rgba(0, 0, 0, 0.24);
            z-index: 100;
            .close {
                width: 26px;
                height: 26px;
                position: absolute;
                right: 0px;
                top: 1px;
                cursor: pointer;
                mask-image: $close-bg;
                -webkit-mask: $close-bg;
                background-color: rgba(0,0,0,0.3);
                border: none;
                transform: scale(0.7);
                transition: all linear .3s;
                &:hover {
                    background-color: rgba(0,0,0,1)
                }

            }

            .offer-menu {
                width: 160px;
                height: 74px;
                right: 21px;
                top: 7px;
                z-index: 3000;
                list-style: none;
                display: flex;
                flex-direction: column;
                visibility: hidden;
                opacity: 0;
                transform: translateX(15px);
                transition: all linear .3s;
                &.show-it {
                    visibility: visible;
                    opacity: 1;
                    transform: translateX(0)
                }
                li {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    &:first-child {
                        border-bottom: 1px solid rgba(0,0,0,0.1);
                    }
                    button {
                        background: none;
                        border: none;
                        text-align: left;
                        padding-left: 15px;
                        cursor: pointer;
                        width: 100%;
                        height: 100%
                    }
                    &:hover {
                        background: #e5f6fd;
                    }
                }
                &:hover {
                    li {
                        border-color: #fff
                    }
                }
            }
        }
        .row {
            display: flex;
            width: 100%;
            flex-direction: row;
            align-items:baseline;
            padding: 10px 15px;
            .col {
                box-sizing: border;
                box-sizing: border-box;
                min-width:10%;
                max-width: 60%;
                text-align: left;
                font-size: 14px;
                //left side
                header {
                    height: 30px;
                     ul:not(.offer-menu) {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        display: table;
                        li {
                            font-size: $offer-mn-header-font-size;
                            color: rgb(73, 73, 73);
                            text-transform: uppercase;
                            float: left;
                            margin-right: 8px;
                            display: flex;
                            align-items: center;
                            padding-left: $offer-mn-header-padding-left;
                            height: 13px;
                            background-size: contain;
                            &:last-child {
                                margin-right: 0
                            }
                            &.offer_of_the_week {
                                background: url("../images/offer-of-the-week.svg") no-repeat left center;
                            }
                            &.best_offer {
                                background: url('../images/best-offer.svg') left center no-repeat;
                            }
                            &.exclusive {
                                background: url('../images/exclusive.svg') left center no-repeat;
                            }
                            &.expires {
                                background: url('../images/expire-icon12.svg') left center no-repeat;
                                text-indent: $offer-mn-expire-text;
                                pointer-events: $offer-mn-expire-pointer;
                            }
                            img {
                                height: 12px;
                                width: auto;
                                margin-right: 1px;
                                transform: translatey(-1px);
                                vertical-align: middle
                            }
                        }
                    }
                }
                &.first {
                    flex:1 1 auto;
                    .first-holder {
                        padding-right: 15px;
                        .title-container, .headline-benefit-ctner {
                            display: $offer-mn-benefit-container-display;
                            align-items: flex-start;
                            > a {
                                display: flex;
                            }
                            .offer-number, .benefit a{
                                font-size: $offer-mn-benefit-font-size;
                                color: #2f2f2f;
                                font-weight: $offer-mn-benefit-font-weight;
                                transform: translateY(-4px);
                                display: $offer-mn-benefit-anchor
                            }
                            .offer-text, .headline-container a {
                                font-size: $offer-mn-benefit-headline-font-size;
                                font-weight: $offer-mn-benefit-headline-font-weight;
                                padding-left: 10px;
                                display: $offer-mn-benefit-anchor;
                            }
                            .headline-container {
                                > div {
                                    display: $offer-mn-benefit-anchor;
                                }
                            }
                        }
                        .headline {
                            transform: translateY(3px);
                        }
                    }
                }
                //right side
                &.second {
                    flex: 16 1 auto;
                    font-size: 20px;
                    line-height: auto;
                    border-left: 1px solid #eaeaea;
                    padding-left: 15px;
                    header {
                        margin-bottom: 0;
                        display: flex;
                        width: 100%;
                        .options {
                            border: none;
                            background-color: rgba(0,0,0,.3);
                            -webkit-mask: url(../images/3dot_v.svg);
                            mask: url(../images/3dot_v.svg);
                            cursor: pointer;
                            transform: translateX(15px);
                            width: 20px;
                            height: 20px;
                            transition: all linear .3s;
                            &:hover {
                                background-color: rgba(0,0,0,.6);
                            }

                        }
                        .logo {
                            margin-left: auto;
                            img {
                                height: auto;
                                width: auto;
                                max-height: 30px;
                                max-width: 100px;
                                vertical-align: top;
                                color: transparent
                            }
                        }
                        .white-box {
                            background: #fff;
                            box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
                            position: absolute;
                            border-radius: 5px;
                        }
                        .why-info {
                            width: 370px;
                            z-index: 3000;
                            padding: 10px;
                            right: 19px;
                            top: 7px;
                            max-width: 90%;
                            visibility: hidden;
                            opacity: 0;
                            transform: translateX(15px);
                            transition: all linear .3s;
                            position: absolute;
                            &.white-box {
                                border-radius: 2px;
                                box-shadow: 0 3px 10px -6px rgba(0,0,0,0.8);
                            }
                            .close {
                                position: absolute;
                                width: 22px;
                                height: 22px;
                                right: 0px;
                                top: 1px;
                                cursor: pointer;
                                mask: url('../images/close-icon_black.svg') no-repeat center center;
                                -webkit-mask: url('../images/close-icon_black.svg') no-repeat center center;
                                background-color: rgba(0,0,0,0.3);
                                border: none;
                                transform: scale(0.9);
                                transition: all linear .3s;
                                &:hover {
                                    background-color: rgba(0,0,0,1)
                                }
                            }
                            p {
                                font-size: 11.5px;
                                line-height: 19px;
                                margin-bottom: 7px;
                                font-weight: 400;
                            }
                            a {
                                float: right;
                                font-weight: 500;
                                font-size: 11.5px;
                                text-decoration: none;
                                color: #0078CA;
                                text-transform: uppercase;
                                &:hover {
                                    color:#00AEF0;
                                }
                            }
                            &.show-it {
                                visibility: visible;
                                opacity: 1;
                                transform: translateX(0)
                            }
                        }
                        .offer-menu {
                            width: auto;
                            height: 74px;
                            right: 21px;
                            top: 7px;
                            z-index: 3000;
                            list-style: none;
                            display: flex;
                            flex-direction: column;
                            visibility: hidden;
                            opacity: 0;
                            transform: translateX(15px);
                            transition: all linear 0.3s;
                            box-shadow: 0px 2px 14px rgba(0,0,0,0.2);
                            &.show-it {
                                visibility: visible;
                                opacity: 1;
                                transform: translateX(0)
                            }
                            li {
                                flex: 1;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                text-transform: lowercase;
                                &:first-child {
                                    border-bottom: 1px solid rgba(0,0,0,0.1);
                                }
                                button {
                                    background: none;
                                    border: none;
                                    text-align: left;
                                    padding: 0 15px;
                                    cursor: pointer;
                                    width: 100%;
                                    height: 100%;
                                    display: block;
                                    &:first-letter {
                                        text-transform: uppercase
                                    }
                                }
                                &:hover {
                                    background: #e5f6fd;
                                }
                            }
                            &:hover {
                                li {
                                    border-color: #fff
                                }
                            }
                        }
                    }
                    ul {
                        display: inline-block;
                        li{
                            color: #ccc;
                            font-size: 11px;
                            text-transform: capitalize;
                        }
                    }
                    .offer-description  {
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 21px;
                        min-width: 100%;
                        padding-top: $offer-mn-offer-description-padding-top;

                        a {
                            color: #414141;
                        }
                    }
                }
            }
        }
        footer {
            display: flex;
            border-top: 1px solid #eaeaea;
            border-bottom-left-radius:3px;
            border-bottom-right-radius:3px;
            width: 100%;
            max-width: 764px;
            background-color: #fff;
            align-items: center;
            overflow: hidden;
            > div {
                flex: 0 0 50%;
                text-align: left;
                &.left-container {
                    padding-left: 18px;
                    transform: translateY(-2px);
                }
                &.right-container {
                    text-align: right;
                    span {
                        font-size: 11px;
                        opacity: 0.6;
                        span {
                            &.tooltip {
                                display: $offer-mn-condition-display;
                            }
                        }
                        img {
                            vertical-align: middle;
                            margin-right: 10px;
                            margin-left: 5px;
                            transform: translateY(-1px);
                        }
                    }
                    .footer-cta {
                        background: #00AEF0;
                        border: none;
                        padding: 10px 20px;
                        color: #fff;
                        font-size: 12px;
                        font-weight: 400;
                        letter-spacing: .5px;
                        max-width: $offer-mn-cta-max-width;
                        text-transform: uppercase;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        cursor: pointer;
                        text-decoration: none;
                        display: inline-block;
                        vertical-align: middle;
                        &:hover {
                            background: #0078CA
                        }
                    }
                }
                .code {
                    font-weight: bold;
                    font-size: 11px;
                }
                .divider {
                    padding: 0 4px;
                    color: #ccc;
                    position: relative;
                    top: 3px;
                }
                .copy-code {
                    font-size: 9px;
                    text-transform: uppercase;
                    color: #0078CA;
                    cursor: pointer;
                    font-weight: 500;

                }
            }
        }
    }

    #section-middle {
        .full-width .offer-middle-feedback {
            width: 100%;
            max-width: 764px;
        }
        .offer-middle-feedback {
            width: 100%;
            background-color: rgba(255, 255, 255, 0.9);
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
            height: $offer-mn-feedback-height;
            border-radius: 2px;
            &.offer-container {
                padding: 15px;
            }

            .vertical-align {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }

            h2 {
                font-size: 14px;
                font-weight: 500;
            }

            .flex-container {
                display: flex;
                padding-top: 10px;
                color: #494949;

            li {
                list-style: none;
                padding: 3px 0;

                label {
                font-size: 12.5px;
                padding-left: 10px;
                }
            }
            .col1 {
                li {
                    padding: 0;
                    line-height: 21px
                }
            }
            .col2 {
                flex: 2;
                padding: 0 15px;
            }

            textarea {
                font-size: $offer-mn-feedback-font-size;
                background-color: #ffffff;
                resize: none;
                margin-top: 3px;
                padding: 3px;
                border: 1px solid #ccc; //1px solid #DADADA
                border-radius: 4px;
                vertical-align: 34px;
                height: 100%;
                width: $offer-mn-feedback-textarea-width;
                display: $offer-mn-feedback-textarea-display;
                width: 100%;
            }

            .col3 {
                margin-left: auto;
                margin-right: $offer-mn-feedback-cta-margin-right;
                position: relative;
                .notification {
                    color: rgba(0, 0, 0, 0.4);
                    font-size: 11.5px;
                    button {
                        border: none;
                        color:#07a1e9;
                        cursor: pointer;
                        background: none;
                        text-transform: uppercase;
                        font-weight: 500;
                        font-size: 10px;
                    }
                }
                .cta-btn {
                    border-radius: 2px;
                    border: 0;
                    cursor: pointer;
                    position: absolute;
                    bottom: 0px;
                    height: 28px;
                    line-height: 28px;
                    font-size: 11.5px;
                    font-weight: 500;

                    &[disabled] {
                        background:rgba(0, 174, 240, 0.4);
                        cursor: auto;
                    }

                    &:hover {
                        color: #0078CA;
                    }

                    span {
                        display: block;
                        overflow: hidden;
                        max-width: 100%;
                        margin: 0 auto;
                        text-overflow: ellipsis;
                    }
                }
              }
            }

            .thank-you {
                text-align: center;

                h3 {
                    color:#00aef0;
                    font-size: 22px;
                    font-weight: 500;
                }

                p {
                    font-size: 12px;
                    color: #909091;
                    margin-top: 5px;
                }
            }
        }
    }
}
