@mixin offer-middle-feedback (
    $offer-mn-color,
    $offer-mn-feedback-font-size,
    $offer-mn-feedback-textarea-width,
    $offer-mn-feedback-textarea-display,
    $offer-mn-feedback-height,
    $offer-mn-feedback-cta-margin-right
) {
    #section-middle {

        .offer-middle-feedback {
            background-color: rgba(255, 255, 255, 0.9);
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
            height: $offer-mn-feedback-height;
            border-radius: 2px;

            &.offer-container {
                padding: 15px;
            }

            .vertical-align {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }

            h2 {
                font-size: 14px;
                font-weight: 500;
            }

            .flex-container {
                display: flex;
                padding-top: 10px;
                color: #494949;

            li {
                list-style: none;
                padding: 3px 0;

                label {
                font-size: 12.5px;
                padding-left: 10px;
                }
            }

            .col2 {
                flex: 2;
            }

            textarea {
                font-size: $offer-mn-feedback-font-size;
                background-color: #ffffff;
                resize: none;
                margin-top: 3px;
                margin-left: 15px;
                padding: 3px;
                border: 1px solid #ccc; //1px solid #DADADA
                border-radius: 4px;
                vertical-align: 34px;
                height: 100%;
                width: $offer-mn-feedback-textarea-width;
                display: $offer-mn-feedback-textarea-display;
            }

            .col3 {
                margin-left: auto;
                margin-right: $offer-mn-feedback-cta-margin-right;
                position: relative;
                .notification {
                    color: rgba(0, 0, 0, 0.4);
                    font-size: 11.5px;
                    max-width: 125px;
                }
                .cta-btn {
                    border-radius: 2px;
                    border: 0;
                    cursor: pointer;
                    position: absolute;
                    bottom: 0px;
                    height: 28px;
                    line-height: 28px;
                    font-size: 11.5px;
                    font-weight: 500;

                    &[disabled] {
                        background:rgba(0, 174, 240, 0.4);
                        cursor: auto;
                    }

                    &:hover {
                        color: #0078CA;
                    }

                    span {
                        display: block;
                        overflow: hidden;
                        max-width: 90%;
                        margin: 0 auto;
                        text-overflow: ellipsis;
                    }
                }
              }
            }

            .thank-you {
                text-align: center;

                h3 {
                    color:#00aef0;
                    font-size: 22px;
                    font-weight: 500;
                }

                p {
                    font-size: 12px;
                    color: #909091;
                    margin-top: 5px;
                }
            }
        }
    }
}
