@import 'variables';

@mixin transitionAll() {
    transition: transform .3s ease-out;
}

@mixin settings (
    $cliqz-settings-bg
){

    #settings-panel {
        @include transitionAll();

        width: 270px;
        background: #fff;
        position: absolute;
        top: 0px;
        right: -270px;
        height: 100%;
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.24);
        z-index: 2;

        &.visible {
            transform: translate3d(-270px, 0, 0);
        }

        button.close {
            background: url(../images/settings-close.svg) no-repeat center center;
            background-size: 14px;
            position: absolute;
            right: 25px;
            display: block;
            margin: 20px auto;
            width: 24px;
            height: 24px;
            opacity: 0.4;
            color: transparent;
            font-size: 0px;
            text-decoration: none;
            border: 0;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }

        button.link {
            margin-top: 4px;
            font-size: 9px;
            text-transform: uppercase;
            color: $color-cliqz-blue;
            border: 0;
            background: transparent;
            display: block;
            cursor: pointer;
            background: url(../images/restore.png) no-repeat 0 0;
            background-size: 14px;
            padding-left: 17px;
            line-height: 15px;

            &:hover {
                color: #0078CA;
                background-position: 0 -14px;
            }

            &[disabled] {
                background-position: 0 -28px;
                cursor: default;
                color: #B3B3B4;
                text-decoration: none;
            }
        }

        .settings-header {
            padding: 20px 0 20px 20px;

            h1 {
                font-size: 18px;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.8);
            }
        }

        .settings-row {
            padding: 10px 0px 10px 20px;

            .label {
                font-size: 14px;
                color: rgba(0, 0, 0, 0.7);
                padding-left: 1px;
            }

            form {
                margin-top: 7px;
                .radio {
                    font-size: 12px;
                    color: rgba(0, 0, 0, 0.7);
                    margin: 4px 0px;
                    padding: 2px 0px 1px 0px;

                    input {
                        margin-right: 8px;
                        cursor: pointer;
                    }

                    label {
                        cursor: pointer;
                        display: inline-flex;
                    }

                    &.focused {
                        border-radius: 10px;
                        opacity: 57%;
                        margin-right: 26px;
                        margin-left: -2px;
                        padding-left: 2px;
                        animation-name: animationFrames;
                        animation-duration: 2s;
                        animation-iteration-count: infinite;
                    }

                    @keyframes animationFrames{
                      0% {
                        background-color: rgba(00, 174, 240, 0.10); /* $color-cliqz-blue */
                      }
                      50% {
                        background-color: rgba(00, 174, 240, 0.30); /* $color-cliqz-blue */
                      }
                      100% {
                        background-color: rgba(00, 174, 240, 0.10); /* $color-cliqz-blue */
                      }
                    }
                }
            }

            .background-selection-list {
                list-style: none;

                li {
                    display: inline-block;
                    padding: 0 5px;
                    position: relative;
                    cursor: pointer;

                    &:first-child {
                        padding: 0;

                        .selected-img {
                            left: 23px !important;
                        }
                    }

                    &:hover {
                       .selected-img {
                            display: block;
                       }
                    }

                    .selected-img {
                        position: absolute;
                        top: 8px;
                        left: 28px;
                        display: none;
                        img {
                            box-shadow: none !important;

                        }
                    }

                    img {
                        box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.15);

                        &.active + .selected-img {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
