@mixin speed-dials (
    $aside-width,
    $container-width,
    $section-padding,

    $dial-height,
    $dial-padding,
    $dial-header-height,
    $dial-header-title,
    $dial-title-font-size,
    $logo-size,
    $logo-font-size,
    $logo-line-height,
    $logo-padding,
    $delete-button-position-right,
    $add-dial-form-submit-margin,
    $add-dial-form-error-position,

    $dial-header-color,
    $dial-header-bg-color,
    $dial-delete-background,
    $dial-button-plus-background,
    $dial-button-plus-opacity,
    $dial-button-plus-opacity-hover,
    $dial-logo-border,
    $dial-logo-box-shadow,
    $dial-logo-box-shadow-hover,
    $dial-logo-after-box-shadow,
    $dial-logo-color,
    $dial-title-color,
    $dial-title-color-hover,
    $hide-add-form-color,
    $add-dial-form-color,
    $add-dial-form-bg-color,
    $add-dial-form-box-shadow,
    $add-dial-form-input-color,
    $add-dial-form-submit-color,
    $add-dial-form-submit-color-hover
){
    .dial-header {
        font-size: 14px;
        color: $dial-header-color;
        height: $dial-header-height;
        padding-top: $dial-header-title;
        overflow: hidden;
        position: relative;

        &.with-line:before, &.with-line:after {
            position: absolute;
            top: 51%;
            overflow: hidden;
            width: 50%;
            height: 0;
            content: '\a0';
            background-color: $dial-header-bg-color;
        }

        &.with-line:before {
            margin-left: -53%;
            text-align: right;
        }

        &.with-line:after {
            margin-left: 3%;
            text-align: right;
        }
    }

    .dials-row {
        display: flex;
        height: $dial-height;
        margin-bottom: $section-padding;
        opacity: 1;

        .dial {
            height: $dial-height;
            width: calc(#{$container-width} / 6);
            padding: $dial-padding;
            position: relative;

            &:hover {
                .delete {
                    visibility: visible;
                    transition: visibility 0.1s ease-out 0.9s;
                }
                .logo {
                    box-shadow: $dial-logo-box-shadow-hover;
                }

                .title {
                    color: $dial-title-color-hover;
                }
            }

            a {
                text-decoration: none;
            }

            .logo {
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                height: $logo-size;
                width: $logo-size;
                padding: $logo-padding;
                background-origin: content-box;
                font-size: $logo-font-size;
                line-height: $logo-line-height;
                box-sizing: border-box;
                color: $dial-logo-color;
                font-weight: 700;
                margin: 0 auto;
                border-radius: 2px;
                box-shadow: $dial-logo-box-shadow;
                position: relative;
                transition: box-shadow 180ms cubic-bezier(0.4, 0.0, 0.2, 1);

                &::after {
                    content: ' ';
                    width: inherit;
                    height: inherit;
                    border-radius: inherit;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    border: $dial-logo-border;
                    opacity: 0.3;
                    box-sizing: border-box;
                }
            }

            .title {
                margin: 10px auto 0 auto;
                font-size: $dial-title-font-size;
                font-weight: 500;
                white-space: nowrap;
                overflow: hidden;
                max-width: 150px;
                text-overflow: ellipsis;
                color: $dial-title-color;
                cursor: pointer;
            }

            .delete {
                position: absolute;
                top: 0;
                right: $delete-button-position-right;
                visibility: hidden;
                width: 25px;
                height: 25px;
                background: $dial-delete-background;
                border: 0px;
                cursor: pointer;
                overflow: hidden;
                text-indent: 100%;
                white-space: nowrap;
                transition: opacity 0.1s ease-out 0.2s;
            }


            button {
                border: 0;
                background: transparent;
                cursor: pointer;

                &.plus-dial-icon {
                    opacity: $dial-button-plus-opacity;
                    margin-top: 10px;
                    width: $logo-size;
                    height: $logo-size;
                    background: $dial-button-plus-background;
                    background-size: cover;

                    &:hover {
                        opacity: $dial-button-plus-opacity-hover;
                    }
                }
            }
        }

        .dial-plus {
            padding: 0;

            .hideAddForm {
                background: url(../images/delete-icon.svg) no-repeat center center;
                background-size: cover;
                margin-left: auto;
                width: 25px;
                height: 25px;
                display: block;
                cursor: pointer;
                padding: 0px;
                text-align: right;
                color: $hide-add-form-color;
                font-size: 16px;
                line-height: 12px;
            }

            .addDialForm {
                padding: 2px 0;
                height: 100%;
                position: relative;
                background-color: $add-dial-form-bg-color;
                color: $add-dial-form-color;
                box-shadow: $add-dial-form-box-shadow;
                border-radius: 2px;

                input {
                    border-top: 0px;
                    border-left: 0px;
                    border-right: 0px;
                    border-bottom: 2px solid #F3F3F3;
                    color: $add-dial-form-input-color;
                    width: calc(100% - 20px);
                    padding: 0 0 1px;
                    font-size: 12px;
                    height: auto;
                    line-height: 1.2em;
                }

                .submit {
                    border: 0;
                    background: transparent;
                    font-size: 14px;
                    font-weight: 500;
                    color: $add-dial-form-submit-color;
                    margin-top: $add-dial-form-submit-margin;
                    cursor: pointer;

                    &:hover {
                        color: $add-dial-form-submit-color-hover;
                    }
                }
            }

            .error {
                width: 100%;
                text-align: center;
                color: #e92207;
                position: absolute;
                bottom: $add-dial-form-error-position;
                padding: 0 10px;
                font-size: 11px;
                line-height: 12px;
            }
        }
    }
}
