$themes: (
    light: (
        base: (
            cliqz-home-bg: url(../images/cliqz-tab-icon_black.svg) no-repeat center center,
            cliqz-history-bg: url(../images/history-icon_black.svg) no-repeat center center,
            cliqz-worldcup-bg: url(../images/soccer-icon-black.svg) no-repeat center center,
            cliqz-settings-bg: url(../images/settings-icon_black.svg) no-repeat center center,
            cliqz-modules-bg: url(../images/cliqz-modules-icon_black.svg) no-repeat center center,

            button-color: #00aef0,
            button-color-hover: #0078CA,
            background-mask-color: #DEE1E6,
        ),
        speed-dials: (
            dial-header-color: rgba(0, 0, 0, 0.4),
            dial-header-bg-color: rgba(0, 0, 0, 0.1),
            dial-delete-background: url(../images/delete.svg) no-repeat center,
            dial-button-plus-background: url(../images/plus_black.svg) no-repeat center center,
            dial-button-plus-opacity: 0.15,
            dial-button-plus-opacity-hover: 0.38,
            dial-logo-border: 0,
            dial-logo-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24),
            dial-logo-box-shadow-hover: 0px 3px 8px 0px rgba(0, 0, 0, 0.2),
            dial-logo-after-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3),
            dial-title-color: rgba(0, 0, 0, 0.7),
            dial-title-color-hover: rgb(0, 0, 0),
            add-dial-form-box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.18),
            dial-empty-bg-color: rgba(0, 0, 0, 0.15),
            dial-header-text-shadow: none,
            dial-title-text-shadow: none,
        ),
        url-bar: (
            search-input-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24),
            search-input-border: 0px solid rgba(0, 174, 240, 1),
            search-input-box-shadow-focus: 0px 7px 11px -4px rgba(0,0,0,0.52),
            search-input-color: #b7b7b7,
            search-input-cliqz-bg-image: url(../images/cliqz_icon2_1024.svg),
            search-input-ghostery-bg-image: url(../images/ghostery-tab-search-icon.svg),
        ),
        news: (
            news-dash-span-bg-color: rgba(0, 0, 0, 0.3),
            news-dash-span-bg-color-active: rgba(0, 0, 0, 0.65),
            news-dash-span-bg-color-hover: rgba(0, 0, 0, 1),
            news-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24),
            news-box-shadow-hover: 0px 3px 8px 0px rgba(0, 0, 0, 0.2),
            news-bg-color: rgba(255, 255, 255, 0.55),
            news-a-color: #333,
            news-header-url-color: rgba(0, 0, 0, 0.5),
            news-title-color: rgba(0, 0, 0, 0.7),
            news-description-color: rgba(0, 0, 0, 0.7),
            news-read-more-btn-color: #00AEF0,
            news-breaking-news-color: #E64C66,
        ),
        top-notifications: (
            close-bg: url(../images/top-message-close.svg) no-repeat center center,
        ),
    ),

    dark: (
        base: (
            cliqz-home-bg: url(../images/cliqz-tab-icon.svg) no-repeat center center,
            cliqz-history-bg: url(../images/history-icon.svg) no-repeat center center,
            cliqz-worldcup-bg: url(../images/soccer-tooltip.svg) no-repeat center center,
            cliqz-settings-bg: url(../images/settings-icon.svg) no-repeat center center,
            cliqz-modules-bg: url(../images/cliqz-modules-icon.svg) no-repeat center center,

            button-color: #64d4ff,
            button-color-hover: #64d4ff,
            background-mask-color: rgba(0, 0, 0, 0.20),
        ),
        speed-dials: (
            dial-header-color: rgba(255, 255, 255, 0.45),
            dial-header-bg-color: rgba(255, 255, 255, 0.1),
            dial-button-plus-background: url(../images/plus.svg) no-repeat center center,
            dial-button-plus-opacity: 0.5,
            dial-button-plus-opacity-hover: 0.7,
            dial-delete-background: url(../images/delete.svg) no-repeat center,
            dial-logo-border: 1px solid rgba(255, 255, 255, 0.4),
            dial-logo-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.11),
            dial-logo-box-shadow-hover: 0px 7px 11px -4px rgba(0, 0, 0 ,0.52),
            dial-logo-after-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3),
            dial-title-color: rgba(255, 255, 255, 0.9),
            dial-title-color-hover: rgb(255, 255, 255),
            add-dial-form-box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.18),
            dial-empty-bg-color: rgba(255, 255, 255, 0.2),
            dial-header-text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3),
            dial-title-text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5),
        ),
        url-bar: (
            search-input-box-shadow: 0px 8px 19px 0px rgba(0, 0, 0, 0.11),
            search-input-border: 0px solid rgba(0, 174, 240, 0),
            search-input-box-shadow-focus: 0px 7px 11px -4px rgba(0, 0, 0 ,0.52),
            search-input-color: #b7b7b7,
            search-input-cliqz-bg-image: url(../images/cliqz_icon2_1024.svg),
            search-input-ghostery-bg-image: url(../images/ghostery-tab-search-icon.svg),
        ),
        news: (
            news-dash-span-bg-color: rgba(255, 255, 255, 0.3),
            news-dash-span-bg-color-active: rgba(255, 255, 255, 0.7),
            news-dash-span-bg-color-hover: rgba(255, 255, 255, 1),
            news-box-shadow: 0px 8px 19px 0px rgba(0, 0, 0, 0.11),
            news-box-shadow-hover: 0px 8px 19px 0px rgba(0, 0, 0, 0.11),
            news-bg-color: rgba(0, 16, 26, 0.35),
            news-a-color: #fff,
            news-header-url-color: rgba(255, 255, 255, 0.5),
            news-title-color: rgba(255, 255, 255, 0.9),
            news-description-color: rgba(255, 255, 255, 0.9),
            news-read-more-btn-color: #00AEF0,
            news-breaking-news-color: #E64C66,
        ),
        top-notifications: (
            close-bg: url(../images/top-message-close.svg) no-repeat center center,
        ),
    )
);
