

$themes: (
    light: (
        base: (
            cliqz-home-bg: url(../images/cliqz-tab-icon_black.svg) no-repeat center center,
            cliqz-history-bg: url(../images/history-icon_black.svg) no-repeat center center,
            cliqz-settings-bg: url(../images/settings-icon_black.svg) no-repeat center center,

            button-color: #00aef0,
            button-color-hover: #0078CA,
        ),
        speed-dials: (
            dial-header-color: rgba(0, 0, 0, 0.4),
            dial-header-bg-color: rgba(0, 0, 0, 0.1),
            dial-delete-background: url(../images/delete.svg) no-repeat,
            dial-button-plus-background: url(../images/plus_black.svg) no-repeat center center,
            dial-button-plus-opacity: 0.13,
            dial-button-plus-opacity-hover: 0.25,
            dial-logo-border: 0,
            dial-logo-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24),
            dial-logo-box-shadow-hover: 0px 3px 8px 0px rgba(0, 0, 0, 0.2),
            dial-logo-after-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3),
            dial-logo-color: #fff,
            dial-title-color: rgba(0, 0, 0, 0.7),
            dial-title-color-hover: rgb(0, 0, 0),
            hide-add-form-color: #ccc,
            add-dial-form-color: #333,
            add-dial-form-bg-color: #fff,
            add-dial-form-box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.18),
            add-dial-form-input-color: #666666,
            add-dial-form-submit-color: #00aef0,
            add-dial-form-submit-color-hover: #0078CA,
        ),
        url-bar: (
            search-input-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24),
            search-input-border: 0px solid rgba(0, 174, 240, 1),
            search-input-box-shadow-focus: 0 3px 8px 0 rgba(0, 0, 0, 0.2),
            search-input-color: #b7b7b7,
            search-input-bg-image: url(../images/cliqz_icon2_1024.svg),
        ),
        news: (
            news-dash-span-bg-color: rgba(0, 0, 0, 0.15),
            news-dash-span-bg-color-active: rgba(0, 0, 0, 0.5),
            news-dash-span-bg-color-hover: rgba(0, 0, 0, 1),
            news-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24),
            news-bg-color: #fff,
            news-a-color: #333,
            news-header-url-color: rgba(0, 0, 0, 0.5),
            news-title-color: rgba(0, 0, 0, 0.7),
            news-description-color: rgba(0, 0, 0, 0.7),
            news-read-more-btn-color: #0078CA,
            news-breaking-news-color: #E64C66,
        ),
        middle-notifications: (
            close-bg: url(../images/close-icon_black.svg) no-repeat center center,
            middle-box-bg-color: rgba(255, 255, 255, 0.2),
            middle-box-content-color: #333,
        ),
    ),

    dark: (
        base: (
            cliqz-home-bg: url(../images/cliqz-tab-icon.svg) no-repeat center center,
            cliqz-history-bg: url(../images/history-icon.svg) no-repeat center center,
            cliqz-settings-bg: url(../images/settings-icon.svg) no-repeat center center,

            button-color: #64d4ff,
            button-color-hover: #64d4ff,
        ),
        speed-dials: (
            dial-header-color: rgba(255, 255, 255, 0.4),
            dial-header-bg-color: rgba(255, 255, 255, 0.1),
            dial-delete-background: url(../images/delete.svg) no-repeat,
            dial-button-plus-background: url(../images/plus.svg) no-repeat center center,
            dial-button-plus-opacity: 0.5,
            dial-button-plus-opacity-hover: 0.8,
            dial-logo-border: 1px solid rgba(255,255,255, 0.4),
            dial-logo-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4),
            dial-logo-box-shadow-hover: 0px 3px 8px 0px rgba(0, 0, 0, 0.4),
            dial-logo-after-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3),
            dial-logo-color: #fff,
            dial-title-color: rgba(255, 255, 255, 0.7),
            dial-title-color-hover: rgb(255, 255, 255),
            hide-add-form-color: #ccc,
            add-dial-form-color: #333,
            add-dial-form-bg-color: #fff,
            add-dial-form-box-shadow: 0px 4px 18px -7px rgba(0, 0, 0, 0.18),
            add-dial-form-input-color: #666666,
            add-dial-form-submit-color: #00aef0,
            add-dial-form-submit-color-hover: #0078CA,
        ),
        url-bar: (
            search-input-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24),
            search-input-border: 0px solid rgba(0, 174, 240, 0),
            search-input-box-shadow-focus: 0 3px 8px 0 rgba(0, 0, 0, 0.4),
            search-input-color: #b7b7b7,
            search-input-bg-image: url(../images/cliqz_icon2_1024.svg),
        ),
        news: (
            news-dash-span-bg-color: rgba(255, 255, 255, 0.15),
            news-dash-span-bg-color-active: rgba(255, 255, 255, 0.5),
            news-dash-span-bg-color-hover: rgba(255, 255, 255, 1),
            news-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24),
            news-bg-color: rgba(0, 0, 0, 0.25),
            news-a-color: #fff,
            news-header-url-color: rgba(255, 255, 255, 0.5),
            news-title-color: rgba(255, 255, 255, 0.9),
            news-description-color: rgba(255, 255, 255, 0.7),
            news-read-more-btn-color: #0078CA,
            news-breaking-news-color: #E64C66,
        ),
        middle-notifications: (
            close-bg: url(../images/close-icon.svg) no-repeat center center,
            middle-box-bg-color: rgba(255, 255, 255, 0.2),
            middle-box-content-color: #fff,
        ),
    ),
);
