.tooltip.blackfriday {
    position: absolute;
    display: flex;
    background: white;
    color: black;
    align-items: center;
    padding: 14px 9px 14px 18px;
    box-sizing: border-box;
    min-width: 77px;
    height: 40px;
    font-size: 17px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.12);
    top: -5px;
    text-align: center;
    left: 67px;
    cursor: pointer;

    opacity: 0;
    transform: translateX(50px);
    animation: tooltipAnimation 500ms forwards 1s;
    transition: visibility 500ms linear;

    .tooltip-content {
        color: black;
        font-weight: 500;
        width: 50px;

        &::after {
            content:"";
        }
    }

    &:not(.tooltip-content)::after {
        content: " ";
        position: relative;
        top: calc(50% - 5.5px);
        left: -78px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent white transparent transparent;
    }

    &.removing {
        animation: tooltipAnimationRemoving 500ms forwards;
    }

    @keyframes tooltipAnimation {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes tooltipAnimationRemoving {
        from {
            opacity: 1;
            transform: translateX(0);
        }
        to {
            opacity: 0;
            transform: translateX(-20px);
        }
    }
}
