@mixin top-notifications (
    $buttons-wrapper-width,
    $box-size,
    $box-height,
    $content-max-width,

    $close-bg
){
    #topNotificationBox {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: #FBFBFB;
        box-shadow: rgba(0, 0, 0, 0.19) 0 1px 1px 0;
        transition: opacity 600ms ease-out;

        .top-notification-box {
            margin: 0 auto;
            width: 100%;
            height: $box-height;
            font-size: 13.5px;
            padding: 10px 0;
            text-align: left;

            &.notification {

                &:after {
                    clear: both;
                    content: " ";
                    display: block;
                    font-size: 0;
                    height: 0;
                    visibility: hidden;
                }
            }

            .close {
                width: 29px;
                height: 29px;
                position: absolute;
                right: 4px;
                top: 9px;
                cursor: pointer;
                background: $close-bg;
                opacity: 0.7;

                &:hover {
                    opacity: 1;
                }
            }

            .content {
                color: #333;
                height: 26px;
                text-align: center;

                div:first-child {
                    margin-bottom: 6px;
                    display: inline-block;
                    padding-right: 24px;
                    max-width: $content-max-width;

                    h1 {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 26px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        background-size: 26px 25px;
                        background-repeat: no-repeat;
                        background-position: left top;
                    }
                }

                div:last-child {
                    white-space: nowrap;
                    display: inline-block;
                    vertical-align: top;
                    width: $buttons-wrapper-width;

                    button {
                        font-size: 14px;
                        padding: 4px 20px;
                        cursor: pointer;
                        border: 0;
                        border: 1px solid #00AEF0;
                        border-radius: 3px;

                        &:hover {
                            border-color: #0078CA;
                        }

                        &.cta-btn {
                            color: #fff;
                            background-color: #00AEF0;

                            &:hover {
                                background-color: #0078CA;
                            }
                        }

                        &.later-btn {
                            color: #00AEF0;
                            margin-left: 7px;
                            background-color: #fff;
                            font-weight: 500;

                            &:hover {
                                color: #0078CA;
                            }
                        }
                    }
                }
            }
        }

        & ~ * {
            margin-top: $box-height;
        }

        &.removing {
            opacity: 0;
        }
    }
}
