@mixin transitionNotifications() {
    transition: transform 0.35s ease-out;
}

@mixin undo-notifications (
    $cliqz-home-bg,
    $cliqz-history-bg,
    $cliqz-settings-bg,

    $button-color,
    $button-color-hover
){
    .undo-notification-box {
      @include transitionNotifications();

      position: absolute;
      right: -370px;
      padding: 17px;
      padding-right: 12px;
      margin-top: 20px;
      color: rgba(0,0,0,0.7);
      background: #fff;
      border-radius: 2px;
      box-shadow: 0px 6px 25px 0px rgba(0,0,0,0.24);
      min-width: 370px;
      font-size: 13.5px;
      font-weight: 300;
      height:60px;
      z-index: 1000;

      .removed-dial {
        white-space: nowrap;
        overflow: hidden;
        max-width: 150px;
        text-overflow: ellipsis;
        font-size: 13.5px;
        font-weight: 500;
        color: rgba(0,0,0,0.85);
        display: inline-block;
        top:3px;
        position: relative;
      }

      &.visible {
        transform: translate3d(-437px, 0, 0);
      }

      &.padded.visible {
        transform: translate3d(-650px, 0, 0);
      }

      button {
        cursor: pointer;
        border: 0;
        background: transparent;

        &.undo {
          color:  #0078CA;
          margin-left: 10px;
          text-transform: uppercase;
          font-size: 10.5px;
          font-weight: 500;


          &:hover {
            letter-spacing: 1px;
            -webkit-transition: letter-spacing .1s ease;
            -moz-transition: letter-spacing .1s ease;
            -ms-transition: letter-spacing .1s ease;
            -o-transition: letter-spacing .1s ease;
          }
        }

        &.close {
          float: right;
          clear: both;
          color: #ccc;
          background: url(../images/close_undo.png) no-repeat;
          width: 15px;
          height: 15px;
          overflow: hidden;
          text-indent: 100%;
          white-space: nowrap;
          position: relative;
          top: 3px;
        }
      }
    }

}
