@mixin url-bar-with-results (
    $aside-width,
    $container-width,
    $section-padding,
    $inner-content-width,

    $search-size,
    $search-input-height,
    $search-font-size,
    $search-text-indent,
    $search-settings-btn-top,

    $search-input-box-shadow,
    $search-input-border,
    $search-input-box-shadow-focus,
    $search-input-color,
    $search-input-cliqz-bg-image,
    $search-input-ghostery-bg-image
) {
    $width: $inner-content-width;
    #section-url-bar {
        position: relative;
    }
    .with-results {
        position: relative;
        z-index: 15;

        input {
            width: $width;
            color: #000;

            &::selection {
                // color: #ccc;
            }
        }
    }
    .inner-container {
        width: $inner-content-width;
        margin: 0 auto;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 100;
        box-shadow: $search-input-box-shadow-focus;

        iframe {
            display: block;
            width: 100%;
            border: 0;
            height: 0;
            border-radius: 0 0 2px 2px;
            box-shadow: 0 -1px rgb(225, 225, 225);
        }

        .results {
            iframe {
                transition: height 40ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }
        }
    }
    .search-settings-btn {
        position: absolute;
        right: 10px;
        top: $search-settings-btn-top;
        background: url("../images/search-setting-icon.svg") no-repeat;
        width: 21px;
        height: 17px;
        border: 0;
        z-index: 15;
        cursor: pointer;

        &:active, &:hover, &.active {
            background: url("../images/search-setting-click.svg") no-repeat;
        }
    }

}
