@mixin url-bar-with-results (
    $aside-width,
    $container-width,
    $section-padding,
    $inner-content-width,

    $search-size,
    $search-input-height,
    $search-font-size,
    $search-text-indent,
    $search-reminder-indent,

    $search-input-box-shadow,
    $search-input-border,
    $search-input-box-shadow-focus,
    $search-input-color,
    $search-input-cliqz-bg-image,
    $search-input-ghostery-bg-image
) {
    $width: $inner-content-width;

    #section-url-bar {
        position: relative;
    }

    .with-results {
        position: relative;
        z-index: 15;

        input {
            width: $width;
            color: #000;

            &::selection {
                // color: #ccc;
            }
        }
    }

    .search-reminder {
        width: $inner-content-width;
        margin: 0 auto;
        text-align: left;
        height: calc(#{$search-input-height} * 1.5);
        padding-bottom: 12px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;

        & > span {
            padding: 5px 9px 7px 15px;
            background-color: #00AEF0;
            color: #fff;
            border-radius: 4px;
            position: relative;
            align-self: flex-start;

            & > span:first-child {
                padding-right: 36px;
                background-repeat: no-repeat;
                background-position: right center;
                background-size: contain;
                background-image: url("../images/tab.svg");
                font-size: 13px;

                em {
                    font-weight: 600;
                    font-style: normal;
                }
            }

            &:after {
                border-style: solid;
                border-width: 10px 10px;
                content: "";
                height: 0;
                left: $search-reminder-indent;
                bottom: -18px;
                position: absolute;
                border-color: #00AEF0 transparent transparent;
            }

            @include cliqzCloseBtn(15px, 2px);

            .cliqz-close-btn {
                height: 12px;
                display: none;
            }

            &:hover {
                .cliqz-close-btn {
                    display: inline-block;
                    margin-left: 10px;
                }
            }
        }
    }

    .inner-container {
        width: $inner-content-width;
        margin: 0 auto;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 100;
        box-shadow: $search-input-box-shadow-focus;

        iframe {
            display: block;
            width: 100%;
            border: 0;
            height: 0;
            border-radius: 0 0 4px 4px;
            box-shadow: 0 -1px rgb(225, 225, 225);
        }

        .results {
            iframe {
                transition: height 40ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }
        }
    }

    .search-settings-btn {
        position: absolute;
        right: 0;
        top: -#{$search-input-height};
        background-image: url("../images/search-setting-icon.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 36%;
        background-color: transparent;
        width: $search-input-height;
        height: $search-input-height;
        border: 0;
        z-index: 15;
        cursor: pointer;

        &:active, &:hover, &.active {
            background-image: url("../images/search-setting-click.svg");
        }
    }

}
