$color-cliqz-blue: #00AEF0;
$modal-error-color: #D12F2E;
$modal-header-color: #464646;
$modal-button-active-background: #00AEF0;
$modal-button-hover-background: #0078CA;
$modal-input-inactive-color: #979797;
$modal-form-width: 440px;
$modal-form-padding: 35px;
$modal-edit-button-background: url(../images/pencil.svg) no-repeat;
$modal-dial-delete-active-background: url(../images/trashcan-active.svg) no-repeat;
$modal-dial-delete-hover-background: url(../images/trashcan-hover.svg) no-repeat;
$modal-dial-invalid-url-background: url(../images/error-icon.svg) no-repeat;
$overlay-background-color: rgba(0, 0, 0, .24);
