@import 'configs.scss';
@import 'themes.scss';
@import 'undo-notifications.scss';
@import 'speed-dials.scss';
@import 'url-bar.scss';
@import 'news.scss';
@import 'settings.scss';
@import 'switch.scss';
@import 'middle-notifications.scss';
@import 'offers-middle-notifications.scss';
@import 'offer-middle-feedback.scss';
@import "mixins";

@mixin container($config, $theme)
{
    $base-configs: map-get($config, base);
    $speed-dials-configs: map-merge($base-configs, map-get($config, speed-dials));
    $url-bar-configs: map-merge($base-configs, map-get($config, url-bar));
    $news-configs: map-get($config, news);
    $middle-notifications-configs: map-get($config, middle-notifications);
    $offer-middle-notifications-configs: map-get($config, offer-middle-notifications);
    $offer-middle-feedback-configs: map-get($config, offer-middle-feedback);

    $base-theme: map-get($theme, base);
    $speed-dials-theme: map-get($theme, speed-dials);
    $url-bar-theme: map-get($theme, url-bar);
    $news-theme: map-get($theme, news);
    $middle-notifications-theme: map-merge(map-get($theme, middle-notifications), $base-theme);
    $offer-middle-notifications-theme: map-get($theme, offer-middle-notifications);
    $offer-middle-feedback-theme: map-get($theme, offer-middle-feedback);

    display: flex;
    min-height: 100vh;

    .aside {
        flex: 0 0 map-get($base-configs, aside-width);

        & > a, & > button {
            display: block;
            margin: 20px auto;
            width: 24px;
            height: 24px;
            opacity: 0.4;
            color: transparent;
            font-size: 0;
            text-decoration: none;
            border: 0;
            cursor: pointer;

            &#cliqz-home {
                opacity: 0.8;
                background: map-get($base-theme, cliqz-home-bg);
            }

            &#cliqz-history {
                background: map-get($base-theme, cliqz-history-bg);
            }

            &#settings-btn {
                background: map-get($base-theme, cliqz-settings-bg);
            }

            &:hover {
                opacity: 1;
            }
        }

        /* SPECIAL CASE: SIDE-BAR BUTTONS ON SMALL SCREENS */
        @media only screen and (max-width: 507px) {
            a, button {
                display: none;
            }
        }

        @media only screen and (min-width: 508px) and (max-width: 648px) {
            a, button {
                margin-left: 13px;
                margin-right: 13px;
            }
        }

        @include settings(map-get($base-theme, cliqz-settings-bg));
    }

    #main-content {
        display: flex;
        flex: 1;
        justify-content: center;
        max-width: 100%;

        .fixed-container {
            max-width: map-get($base-configs, container-width);
            display: flex;
            flex: 1;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            overflow: auto;

            > section {
                width: 100%;
                text-align: center;
            }

            #section-middle {
                margin-top: map-get($base-configs, section-padding);
                margin-bottom: map-get($base-configs, section-padding);
            }

            @include speed-dials(map-merge($speed-dials-configs, $speed-dials-theme)...);
            @include url-bar(map-merge($url-bar-configs, $url-bar-theme)...);
            @include news(map-merge($news-configs, $news-theme)...);
            @include middle-notifications(map-merge($middle-notifications-configs, $middle-notifications-theme)...);

            @include offer-middle-notifications(map-merge($offer-middle-notifications-configs, $offer-middle-notifications-theme)...);
            @include offer-middle-feedback(map-merge($offer-middle-feedback-configs, $offer-middle-feedback-theme)...);
        }
    }
}

@mixin responsive($theme) {
    @media only screen and (max-width: 649px) {
        $config: map-get($configs, xsmall);
        @include container($config, $theme);

        #main-content .fixed-container .offer-middle-notification.offer-notification-box {
            .content {
                h1 {
                    font-size: 13px;
                    font-weight: bold;
                }
            }
        }
    }
    @media only screen and (min-width: 650px) and (max-width: 919px) {
        $config: map-get($configs, small);
        @include container($config, $theme);
    }
    @media only screen and (min-width: 920px) and (max-width: 1023px) {
        $config: map-get($configs, xmedium);
        @include container($config, $theme);
    }
    @media only screen and (min-width: 1024px) and (max-width: 1599px) {
        $config: map-get($configs, medium);
        @include container($config, $theme);
    }
    @media only screen and (min-width: 1600px) {
        $config: map-get($configs, large);
        @include container($config, $theme);
    }
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "-mac-system", "-apple-system", "Segoe UI", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    outline: none;
}

html {
    position: relative;
    overflow-x: hidden;
    width: 100vw;
}

button::-moz-focus-inner {
     border: 0;
}

body {
    background: #f7f7f7 no-repeat center center fixed;
    background-size: cover;

    #app {
        $light-theme: map-get($themes, light);

        @include responsive($light-theme);
        @include undo-notifications(map-get($light-theme, base)...);
    }

    &.theme-bg-light {
        background-image: url(https://cdn.cliqz.com/extension/newtab/background/light.jpg);
    }

    &.theme-bg-dark {
        background-color: #0E213F;
        background-image: url(https://cdn.cliqz.com/extension/newtab/background/dark.jpg);
    }

    &.theme-bg-blue {
        background-color: #00adf3;
        background-image: url(https://cdn.cliqz.com/extension/newtab/background/alps.jpg);
    }

    &.theme-bg-winter {
        background-image: url(https://cdn.cliqz.com/extension/newtab/background/winter.jpg);
    }

    &.theme-bg-matterhorn {
        background-color: #00adf3;
        background-image: url(https://cdn.cliqz.com/extension/newtab/background/matterhorn.jpg);
    }

    &.theme-bg-dark,
    &.theme-bg-blue,
    &.theme-bg-matterhorn {
        #app {
            $dark-theme: map-get($themes, dark);

            @include responsive($dark-theme);
            @include undo-notifications(map-get($dark-theme, base)...);
        }
    }

    &.theme-bg-winter {
        #app {
            #main-content {
                .fixed-container {
                    .middle-notification-box {
                        background-color: rgba(255, 255, 255, 0.7);
                    }

                    #section-news {
                        .news-pagination {
                            .dash span {
                                background-color: rgba(255, 255, 255, 0.6);
                            }

                            .dash.active span {
                                background-color: rgba(255, 255, 255, 0.9);
                            }

                            .dash.active:hover span,
                            .dash:hover span {
                                background-color: rgba(255, 255, 255, 1);
                            }

                        }
                    }

                }
            }
        }
    }

    &.theme-bg-blue,
    &.theme-bg-matterhorn {
        #app {

            .aside {
                & > a, & > button {
                    &#settings-btn,
                    &#cliqz-home,
                    &#cliqz-history {
                        opacity: 0.75;
                    }

                    &#settings-btn:hover,
                    &#cliqz-home:hover,
                    &#cliqz-history:hover {
                        opacity: 1;
                    }
                }
            }
            #main-content {
                .fixed-container {

                    .dial-header {
                        color: rgba(255, 255, 255, 0.8);
                        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
                    }

                    .dials-row {
                        .dial {
                            .title {
                                color: rgba(255, 255, 255, 0.9);
                                text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
                            }

                            button.plus-dial-icon {
                                opacity: 0.55;

                                &:hover {
                                    opacity: 0.7;
                                }
                            }

                            .logo {
                                box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
                            }

                            &:hover {
                                .logo {
                                    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.25);
                                }
                            }
                        }
                    }

                    #section-middle {
                        .middle-notification-box {
                            background-color: rgba(0, 0, 0, 0.2);
                        }
                    }

                    #section-news {
                        .news-pagination {
                            .dash span {
                                background-color: rgba(255, 255, 255, 0.4);
                            }

                            .dash.active span {
                                background-color: rgba(255, 255, 255, 0.8);
                            }

                            .dash.active:hover span {
                                background-color: rgba(255, 255, 255, 1);
                            }

                        }
                        .news-container .news-content .box {
                            background-color: rgba(0, 0, 0, 0.5)
                        }
                    }
                }
            }
        }
    }

    &.theme-bg-dark,
    &.theme-bg-blue {
        #app {
            #main-content {
                .fixed-container {
                    #section-middle {
                        .anzeige {
                            color: rgba(255, 255, 255, 0.5);
                        }
                    }
                }
            }
        }
    }
}

