@import 'configs.scss';
@import 'themes.scss';
@import 'undo-notifications.scss';
@import 'speed-dials.scss';
@import 'url-bar.scss';
@import 'url-bar-with-results.scss';
@import 'news.scss';
@import 'settings.scss';
@import 'switch.scss';
@import 'middle-notifications.scss';
@import 'top-notifications.scss';
@import 'offers-middle-notifications.scss';
@import 'offer-middle-feedback.scss';
@import 'modal.scss';
@import 'overlay.scss';
@import "mixins";

@mixin container($config, $theme)
{
    $base-configs: map-get($config, base);
    $speed-dials-configs: map-merge($base-configs, map-get($config, speed-dials));
    $url-bar-configs: map-merge($base-configs, map-get($config, url-bar));
    $news-configs: map-get($config, news);
    $middle-notifications-configs: map-get($config, middle-notifications);
    $top-notifications-configs: map-get($config, top-notifications);
    $offer-middle-notifications-configs: map-merge($base-configs, map-get($config, offer-middle-notifications));
    $offer-middle-feedback-configs: map-get($config, offer-middle-feedback);

    $base-theme: map-get($theme, base);
    $speed-dials-theme: map-get($theme, speed-dials);
    $url-bar-theme: map-get($theme, url-bar);
    $news-theme: map-get($theme, news);
    $middle-notifications-theme: map-merge(map-get($theme, middle-notifications), $base-theme);
    $top-notifications-theme: map-get($theme, top-notifications);
    $offer-middle-notifications-theme: map-get($theme, offer-middle-notifications);
    $offer-middle-feedback-theme: map-merge($base-configs, map-get($theme, offer-middle-feedback));

    #app {
        display: flex;
        min-height: 100vh;

        .aside {
        flex: 0 0 map-get($base-configs, aside-width);
        & > a, & > button {
            display: block;
            margin: 20px auto;
            width: 24px;
            height: 24px;
            color: transparent;
            font-size: 0;
            text-decoration: none;
            border: 0;
            cursor: pointer;
            position: relative;
            opacity: 1;
            &:after {
                content:"";
                position: absolute;
                width: 100%;
                height:100%;
                opacity: 0.75;
                &:hover {
                    opacity:1
                }
            }
            &#cliqz-home {
                // opacity: 0.8;
                // background: map-get($base-theme, cliqz-home-bg);
                &:after {
                    background: map-get($base-theme, cliqz-home-bg);
                }
            }

            &#cliqz-history {
                &:after {
                    background: map-get($base-theme, cliqz-history-bg);
                }
            }

            &#cliqz-worldcup {
                &:after {
                    background: map-get($base-theme, cliqz-worldcup-bg);
                }
            }

            &#settings-btn {
                background: map-get($base-theme, cliqz-settings-bg);
            }

            &#cliqz-modules-btn {
                background: map-get($base-theme, cliqz-modules-bg);
            }

            &:hover {
                opacity: 1;
            }
            /* tooltip style */
            .tooltip {
                position: absolute;
                padding:10px 20px;
                left: 50px;
                top: -20px;
                background: #fff;
                opacity: 1;
                pointer-events: none;
                color:#000;
                font-size: 14px;
                min-width: 330px;
                box-shadow: 0 0 25px rgba(0,0,0,0.3);
                z-index: 300;
                transition: all linear .3s;
                &.close {
                    left: 15px;
                    opacity: 0
                }
                h1 {
                    padding-bottom: 10px;
                    font-weight: 400;
                }
                p {
                    padding-bottom: 10px;
                }
                button {
                    border: none;
                    cursor: pointer;
                    background: none;
                    pointer-events: initial;
                    font-size: 14px;
                    &.explore {
                        color:#fff;
                        background: #00AFF0;
                        padding: 5px 10px;
                        border-radius: 3px;
                        margin-right: 10px;
                    }
                }

                a {
                    pointer-events: initial
                }
                &:hover {
                    animation: none;
                }
                &-content {
                    display: inline-block;
                    width: calc(100% - 50px)
                }
                &-icon {
                    vertical-align: top;
                    display: inline-block;
                    margin-right: 15px;
                    padding-top: 10px;
                    position: relative;
                    width:32px;
                    color: transparent;
                    &:after {
                        content: "";
                        top:10px;
                        position: absolute;
                        left:-34px;
                        width: 0;
                        height: 0;
                        border-top: 15px solid transparent;
                        border-right: 20px solid rgba(255,255,255,01);
                        border-bottom: 15px solid transparent;
                    }
                }
                &-close {
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    top: 8px;
                    right: 8px;
                    button {
                        position: relative;
                        display: block;
                        text-indent: -9999px;
                        cursor: pointer;
                        width: 30px;
                        height: 22px;
                        margin: 0px;
                        &:after, &:before {
                            content:"";
                            background: rgba(0,0,0,1);
                            position: absolute;
                            top: 0;
                            right: 10px;
                            height: 15px;
                            width: 1px;
                            transform: rotate(-45deg);
                        }
                        &:before {
                            transform: rotate(45deg);
                        }
                    }
                }
            }
        }

        /* SPECIAL CASE: SIDE-BAR BUTTONS ON SMALL SCREENS */
        @media only screen and (max-width: 507px) {
            a, button {
                display: none;
            }
        }

        @media only screen and (min-width: 508px) and (max-width: 648px) {
            a, button {
                margin-left: 13px;
                margin-right: 13px;
            }
        }

        @include settings(map-get($base-theme, cliqz-settings-bg));
    }

    #main-content {
        display: flex;
        flex: 1;
        justify-content: center;
        max-width: 100%;

        .fixed-container {
            max-width: map-get($base-configs, container-width);
            display: flex;
            flex: 1;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            overflow-x: auto;
            overflow-y: hidden;

            > section {
                width: 100%;
                text-align: center;
            }

            #section-middle {
                margin-top: map-get($base-configs, section-padding);
                margin-bottom: map-get($base-configs, section-padding);
            }

            @include speed-dials(map-merge($speed-dials-configs, $speed-dials-theme)...);
            @include url-bar(map-merge($url-bar-configs, $url-bar-theme)...);
            @include url-bar-with-results(map-merge($url-bar-configs, $url-bar-theme)...);
            @include news(map-merge($news-configs, $news-theme)...);
            @include middle-notifications(map-merge($middle-notifications-configs, $middle-notifications-theme)...);
            @include offer-middle-notifications(map-merge($offer-middle-notifications-configs, $offer-middle-notifications-theme)...);
            @include offer-middle-feedback(map-merge($offer-middle-feedback-configs, $offer-middle-feedback-theme)...);
        }
    }

    @include top-notifications(map-merge($top-notifications-configs, $top-notifications-theme)...);
    }
}

@mixin responsive($theme) {
    $config: map-get($configs, xsmall);
    @include container($config, $theme);
    $modal-configs: map-get($config, modal);
    @include modal($modal-configs...);

    #main-content .fixed-container .offer-middle-notification.offer-notification-box {
        .content {
            h1 {
                font-size: 13px;
                font-weight: bold;
            }
        }
    }

    @media only screen and (min-width: 650px)  {
        $config: map-get($configs, small);
        @include container($config, $theme);
        $modal-configs: map-get($config, modal);
        @include modal($modal-configs...);
    }
    @media only screen and (min-width: 920px) {
        $config: map-get($configs, xmedium);
        @include container($config, $theme);
        $modal-configs: map-get($config, modal);
        @include modal($modal-configs...);
    }
    @media only screen and (min-width: 1024px) {
        $config: map-get($configs, medium);
        @include container($config, $theme);
        $modal-configs: map-get($config, modal);
        @include modal($modal-configs...);
    }
    @media only screen and (min-width: 1600px) {
        $config: map-get($configs, large);
        @include container($config, $theme);
        $modal-configs: map-get($config, modal);
        @include modal($modal-configs...);
    }
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "-mac-system", "-apple-system", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    outline: none;
}

html {
    position: relative;
    overflow-x: hidden;
    width: 100vw;
}

button::-moz-focus-inner {
     border: 0;
}

.hide {
    display: none!important;
}

.show {
    display: block!important;
}

body {
    background: #f7f7f7 no-repeat center center fixed;
    background-size: cover;

    .openOverlay {
        #section-top,
        #section-most-visited,
        #section-favorites,
        #section-news {
            visibility: hidden;
        }
    }

    #overlay {
        display: none;
        z-index: 10;
        opacity: 0;
        transition: opacity .15s;

        &.open {
            display: block;
            opacity: 1;
        }
    }

    $light-theme: map-get($themes, light);

    @include responsive($light-theme);
    @include undo-notifications(map-get($light-theme, base)...);

    &::before {
        display: block;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #f7f7f7 no-repeat center center fixed;
        background-size: cover;
        content: ' ';
    }

    &.theme-bg-light,
    &.theme-bg-light::before {
        background-image: cdnUrl('extension/newtab/background/light.jpg');
    }

    &.theme-bg-dark,
    &.theme-bg-dark::before {
        background-color: #0E213F;
        background-image: cdnUrl('extension/newtab/background/dark.jpg');
    }

    &.theme-bg-blue,
    &.theme-bg-blue::before {
        background-color: #00adf3;
        background-image: cdnUrl('extension/newtab/background/alps.jpg');
    }

    &.theme-bg-winter,
    &.theme-bg-winter::before {
        background-image: cdnUrl('extension/newtab/background/winter.jpg');
    }

    &.theme-bg-matterhorn,
    &.theme-bg-matterhorn::before {
        background-color: #00adf3;
        background-image: cdnUrl('extension/newtab/background/matterhorn.jpg');
    }

    &.theme-bg-spring,
    &.theme-bg-spring::before {
        background-color: #00adf3;
        background-image: cdnUrl('extension/newtab/background/spring.png');
    }

    &.theme-bg-worldcup,
    &.theme-bg-worldcup::before {
        background-color: #00adf3;
        background-image: cdnUrl('extension/newtab/background/worldcup.jpg');
    }

    &.theme-bg-summer,
    &.theme-bg-summer::before {
        background-color: #00adf3;
        background-image: cdnUrl('extension/newtab/background/summer.jpg');
    }

    &.theme-bg-ghostery,
    &.theme-bg-ghostery::before {
        background-color: #00adf3;
        background-image: url(https://cdn2.ghostery.com/extension/newtab/background/ghostery-tab.jpg);
    }

    &.theme-bg-ghostery-forest,
    &.theme-bg-ghostery-forest::before {
        background-color: #1D3D42;
        background-image: url(https://cdn2.ghostery.com/extension/newtab/background/ghostery-tab-forest.jpg);
    }

    &.theme-bg-ghostery-city,
    &.theme-bg-ghostery-city::before {
        background-color: #161523;
        background-image: url(https://cdn2.ghostery.com/extension/newtab/background/ghostery-tab-city.jpg);
    }

    &.theme-bg-ghostery-net,
    &.theme-bg-ghostery-net::before {
        background-color: #1A303F;
        background-image: url(https://cdn2.ghostery.com/extension/newtab/background/ghostery-tab-net.jpg);
    }

    &.theme-bg-ghostery-ghosties,
    &.theme-bg-ghostery-ghosties::before {
        background-color: #1A9FD7;
        background-image: url(https://cdn2.ghostery.com/extension/newtab/background/ghostery-tab-ghosties.jpg);
    }

    &.theme-bg-ghostery-ghosty,
    &.theme-bg-ghostery-ghosty::before {
        background-color: #595B58;
        background-image: url(https://cdn2.ghostery.com/extension/newtab/background/ghostery-tab-ghosty.jpg);
    }
    &.theme-bg-ghostery-dark,
    &.theme-bg-ghostery-dark::before {
        background-color: #23A5D7;
        background-image: url(https://cdn2.ghostery.com/extension/newtab/background/ghostery-tab-dark.jpg);
    }

    &.theme-bg-ghostery-forest,
    &.theme-bg-ghostery-city,
    &.theme-bg-ghostery-net,
    &.theme-bg-ghostery-ghosties,
    &.theme-bg-ghostery-ghosty,
    &.theme-bg-ghostery-dark,
    &.theme-bg-dark,
    &.theme-bg-blue,
    &.theme-bg-matterhorn,
    &.theme-bg-worldcup {
        $dark-theme: map-get($themes, dark);

        @include responsive($dark-theme);
        @include undo-notifications(map-get($dark-theme, base)...);
    }

    &.theme-bg-winter {
        #main-content {
            .fixed-container {
                .middle-notification-box {
                    background-color: rgba(255, 255, 255, 0.7);
                }

                #section-news {
                    .news-pagination {
                        .dash span {
                            background-color: rgba(255, 255, 255, 0.6);
                        }

                        .dash.active span {
                            background-color: rgba(255, 255, 255, 0.9);
                        }

                        .dash.active:hover span,
                        .dash:hover span {
                            background-color: rgba(255, 255, 255, 1);
                        }

                    }
                }

            }
        }
    }

    &.theme-bg-ghostery-dark {
        .dial-header {
            color: rgba(255, 255, 255, 0.8);
            text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
        }


        .dials-row {
            .dial {
                .title {
                    color: rgba(255, 255, 255, 0.9);
                    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
                }

                .logo {
                    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
                }

                &:hover {
                    .logo {
                        box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.25);
                    }
                }
            }
        }

    }

    &.theme-bg-blue,
    &.theme-bg-matterhorn,
    &.theme-bg-worldcup {
        .aside {
            & > a, & > button {
                &#settings-btn,
                &#cliqz-modules-btn,
                &#cliqz-home,
                &#cliqz-history,
                &#cliqz-worldcup {
                    opacity: 1;
                    &:after {
                        opacity:0.75;
                    }
                }
                &#settings-btn:hover,
                &#cliqz-modules-btn:hover,
                &#cliqz-home:hover,
                &#cliqz-history:hover,
                &#cliqz-worldcup:hover {
                    &:after {
                        opacity:1
                    }
                }
            }
        }
        #main-content {
            .fixed-container {

                .dial-header {
                    color: rgba(255, 255, 255, 0.8);
                    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
                }

                .dials-row {
                    .dial {
                        .title {
                            color: rgba(255, 255, 255, 0.9);
                            text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
                        }

                        .logo {
                            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
                        }

                        &:hover {
                            .logo {
                                box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.25);
                            }
                        }
                    }
                }

                #section-middle {
                    .middle-notification-box {
                        background-color: rgba(0, 0, 0, 0.2);
                    }
                }

                #section-news {
                    .news-pagination {
                        .dash span {
                            background-color: rgba(255, 255, 255, 0.4);
                        }

                        .dash.active span {
                            background-color: rgba(255, 255, 255, 0.8);
                        }

                        .dash.active:hover span {
                            background-color: rgba(255, 255, 255, 1);
                        }

                    }
                    .news-container .news-content .box {
                        background-color: rgba(0, 0, 0, 0.5)
                    }
                }
            }
        }
    }

    &.theme-bg-worldcup,
    &.theme-bg-dark,
    &.theme-bg-blue {
        #main-content {
            .fixed-container {
                #section-middle {
                    .anzeige {
                        color: rgba(255, 255, 255, 0.5);
                    }
                }
            }
        }
    }

    &.theme-bg-summer {
        .aside {
            & > a, & > button {
                &#settings-btn,
                &#cliqz-modules-btn,
                &#cliqz-home,
                &#cliqz-worldcup:after,
                &#cliqz-history {
                    opacity: 0.4;
                }

                &#settings-btn:hover,
                &#cliqz-modules-btn:hover,
                &#cliqz-home:hover,
                &#cliqz-worldcup:hover:after,
                &#cliqz-history:hover {
                    opacity: 1;
                }
            }
        }

        #main-content {
            .fixed-container {
                .middle-notification-box {
                    background-color: rgba(255, 255, 255, 0.7);
                }
                .dial-header {
                    color: rgba(0, 0, 0, 0.6);
                }

                .dials-row {
                    .dial {
                        .logo {
                            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
                        }

                        &:hover {
                            .logo {
                                box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.25);
                            }
                        }
                    }
                }

                #section-news {
                    .news-pagination {
                        .dash span {
                            background-color: rgba(255, 255, 255, 0.4);
                        }

                        .dash.active span {
                            background-color: rgba(255, 255, 255, 0.8);
                        }

                        .dash.active:hover span {
                            background-color: rgba(255, 255, 255, 1);
                        }
                    }
                }
            }
        }
    }

    &.theme-bg-worldcup {
        #main-content {
            .fixed-container {
                #section-news {
                    .news-container {
                        .news-content {
                            .box {
                                .read-more-button {
                                    color: #00AEF0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
