{{#if liveTicker}}
    <div class="wrapper dropdown-tabs">
        <div class="background-placeholder"></div>
        {{#each liveTicker}}
            <label
                id="tab-{{@index}}"
                class="dropdown-tab {{#if isCurrent}}checked{{/if}}"
            >{{round}}</label>
        {{/each}}
        {{#each liveTicker}}
            <div id="tab-block-{{@index}}"
                 class="tab-block"
            >
                <div class="table">
                    {{#each (take allResults ../itemsLimit) }}
                        {{> partials/soccer/ticker}}
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </div>
{{/if}}
