.add-speed-dial {
  #addBtn {
    display: block;
    padding-top: 10px;
    z-index: 1000;
    cursor: pointer;
    margin: auto;
    width: 50%;
    height: 89%;

    svg:hover path {
      fill: #999;
    }
  }

  .addFrame {
    .addLabel {
      color: #666;
    }
  }

  .addDialForm {
    padding: 2px 10px;
    height: 100%;
    position: relative;
    background: #fff;

    ::-moz-placeholder {  /* Firefox 19+ */
      color: #333;
    }

    input {
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
      border-bottom: 2px solid #F3F3F3;
      color: #666666;
      width: 100%;
      padding: 0 0 1px 0;
      height: auto;
      line-height: 1.2em;
    }

    button {
      margin: 22px auto 5px auto;
    }
  }
}
