.dropdown-v1 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 375px;
  height: 375px;
  margin-top: -187.5px;
  margin-left: -187.5px;
  box-sizing: border-box;
  background-color: #fff;
  border: 0.5px solid #ececec;
  box-shadow: 0 16px 50px -24px rgba(0, 18, 39, 0.59);
  border-radius: 3px;
  padding: 5px;

  &-header {
    font-size: 11px;
    color: #888;
    padding: 20px 15px 20px 55px;
    position: relative;
  }

  &-close {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    right: 13px;
    top: 50%;
    margin-top: -13px;
    cursor: pointer;

    &:before {
      content: '\2715';
      display: inline-block;
      color: #9b9b9b;
      width: 100%;
      height: 100%;
      font-size: 30px;
      line-height: 0.55;
    }

    &:hover:before {
      color: #3b3b3b;
    }
  }

  &-options {
    margin-bottom: 15px;
  }

  &-option {
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    color: #272727;
    text-decoration: none;
    position: relative;
    padding: 9px 0;
    background-position: 25px center;
    margin-left: 55px;
    padding-left: 48px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 14px;
      height: 14px;
      margin-top: -8px;
      border: 1px solid #616161;
      border-radius: 8px;
    }

    &-checked:before {
      border: 1px solid #0078ca;
    }

    &-checked:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 50%;
      width: 6px;
      height: 6px;
      margin-top: -3px;
      background: #373737;
      border-radius: 4px;
    }
  }

  &-ctrls {
    text-align: center;
    margin-top: 21px;
  }

  &-ctrl {
    border: none;
    background-color: none;
    margin: 0;
    border-radius: 3px;
    cursor: pointer;
    letter-spacing: 0.75px;

    text-transform: uppercase;
    font-size: 15px;
    min-width: 118px;
    padding: 10px;
  }

  &-submit {
    background-color: #00aef0;
    border: 1px solid #00aef0;
    color: #fff;

    &:hover {
      background-color: #0078ca;
      border-color: #0078ca;
    }
  }

  &-cancel {
    background-color: transparent;
    border: 1px solid #ccc;
    color: #757575;
    margin-right: 15px;

    &:hover {
      background-color: #efefef;
    }
  }
}
