.searchbox-v1 {
  &-categories {
    margin: 19px 0 35px 45px;
    padding: 0;
    border-radius: 3px;
    background-color: #fafafa;
    border: 1px solid #e8e8e8;
    max-width: 627px;
    height: 44px;
    clear: both;

    &:before {
      content: '';
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }

    &-option {
      margin-left: 18px;
      margin-right: 15px;
      vertical-align: middle;
    }

    &-dropdown {
      float: right;
      margin-right: 14px;
      height: 100%;

      &:before {
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: middle;
      }

      &-option {
        padding: 5px 23px 5px 20px;
        background-position: 0 center;
        background-size: auto 80%;
        font-size: 11.5px;
        color: #9b9b9b;

        &:after {
          background-image: url('../assets/settings-icon.svg');
          background-size: 100%;
          width: 14px;
          height: 14px;
          margin-top: -7px;
        }

        &:hover:after {
          background-image: url('../assets/settings-icon-hover.svg');
        }
      }
    }
  }
}

