<!-- EZ-category -->
<div class="third">
    {{#each data.links}}
        <div url="{{url}}" extra="cat-{{ @index }}" class="cards__item ez-category">
            <h2 class="cards__title__secondary">
                {{local title}}
            </h2>
        </div>
    {{/each}}
</div>
<!-- end EZ-category -->
