<!-- news.tpl -->
{{#if links}}
    <div class="primary card__description">
        <div class="main mulitple">
            {{#each links}}
              {{#if (logic extra.domain '!=' ../domain)}}
                {{#if (limit @index 1)}}
                  {{>news-article external=true}}
                {{/if}}
              {{else}}
                {{>news-article external=false}}
              {{/if}}
            {{/each}}
        </div>
    </div>
{{/if}}
<!-- end news.tpl -->
