<!-- recipeRD -->
{{#with data.rich_data}}
    <div extra="des" class="card__description">
        <img data-src="{{url_ratingimg}}" class="cqz-rd-rateimg"/>
        <div class="cook__time">{{local 'CookTime' cook_time}}</div>
    </div>

    <div class="recipe__details">
        {{#each mobi}}
            {{#if this}}
                <div cliqz-action="stop-click-event-propagation" class="accordion">
                    {{local @key}}
                    <img src="skin/img/arrow-down.svg" />
                </div>
                <ul class="panel">
                    {{#each this}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            {{/if}}
        {{/each}}
    </div>
{{/with}}
<!-- end recipeRD -->
