<html>
    <head>
        {{#isIos}}
          <base href="../extension/"/>
        {{else}}
          <base href="file:///android_asset/search/" />
        {{/isIos}}
        <meta charset="utf-8">
        <link href="mobile-ui/styles/style.css" rel="stylesheet" type="text/css">
        <meta id="viewport-tag" name="viewport" content="height=device-height, width=device-width,minimum-scale=1.0001, user-scalable=no">
    </head>
    <body>
        <div id="results" style="margin-left: 0px; width: 100%"><!-- main.tpl -->
            <div id="cliqz-popup" style="height: 100%; width: 100%">
                <div id="cliqz-results" style="height: 100%; width: 100%; transform: translate3d(0px, 0px, 0px);"><!-- results.tpl -->
                    <div class="frame" style="width: 100%; left: 0px">
                        <div class="card transform-wrapper" style="width: 100%; top:1rem">
                            <!-- will be only rendered in a webview with disabled javascript -->
                            {{{this}}}
                        </div>
                        <br>
                    </div>
                    <!-- end results.tpl -->
                </div>
            </div>
            <!-- end main.tpl -->
        </div>
    </body>
</html>