<div class="third">
    {{#each links}}
        <div class="cards__item internal_links" url="{{url}}">
            <h2 class="cards__title__secondary">
                {{title}}
            </h2>
        </div>
    {{/each}}
</div>
