<!-- social -->
<div class="social">
    {{#each links}}
        <div extra="social-{{@index}}" url="{{url}}" class="social__logo">
            <div class="card__logo__secondary bg" data-style="background-image: url({{image}});">.</div>
        </div>
    {{/each}}
</div>
<!-- end social -->
