<!-- streaming -->
<div class="streaming">
    {{#each links}}
        <div class="streaming__logo" url="{{url}}">
          <div class="card__logo__secondary bg" data-style="background-image: url({{image}});background-color:#fff;">.</div>
        </div>
    {{/each}}
</div>
<!-- end streaming -->
