.background-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    height: 27px;
    background-color: #DADADA;
    width: 100%;
}

input {
    position: absolute;
    top: 0;
    left: -9999px;
}

label {
    position: relative;
    font-size: 12px;
    padding: 6px 10px;
    vertical-align: -moz-middle-with-baseline;
}

.tab-block {
    display: none;
    padding-top: 5px;
}

[id^="tab"]:checked + label {
    background: #fff;
}

/* MAXIMUM 5 TABS ARE ALLOWED FOR NOW */
[id="tab-0"]:checked ~ [id="tab-block-0"] {
    display: block;
}
[id="tab-1"]:checked ~ [id="tab-block-1"] {
    display: block;
}
[id="tab-2"]:checked ~ [id="tab-block-2"] {
    display: block;
}
[id="tab-3"]:checked ~ [id="tab-block-3"] {
    display: block;
}
[id="tab-4"]:checked ~ [id="tab-content-4"] {
    display: block;
}

