.time {
    font-size: 11px;
    padding-top: 3px;

    .main {
        padding: 0;
        line-height: 16px;
    }

    .timezone {
        color: #999999;
        padding-bottom: 7px;
    }

    .main-result {
        .main {
            font-size: 24px;
            line-height: 32px;
        }
    }

    .timezone-results {
        padding-bottom: 10px;

        .main {
            font-size: 12.5px;
            font-weight: 600;
            line-height: 20px;

            &.space {
                display: inline-block;
                width: 40px;
                text-align: right;
                margin-right: 10px;

                &.with-period {
                    width: 63px;
                }
            }
        }
    }
}
