{{#if internalResults}}
    <div class='buttons padded'>
        <span class="dot" style="background-color: #{{logo.backgroundColor}}"></span>
        {{#each (take internalResults internalResultsLimit)}}
            <a class="result btn" href="{{ url }}">
                {{local title}}
            </a>
        {{/each}}
    </div>
{{/if}}
