{{#if imageResults}}
    <div class='images padded'>
        {{#each (take imageResults 4)}}
            <a class="result" href="{{image}}">
                <img src="{{image}}" />
            </a>
        {{/each}}
    </div>
{{/if}}
