{{#if imageResults}}
    <div class='images padded'>
        {{#each (take imageResults 4)}}
            <a
                class="result"
                data-url="{{url}}"
                href="{{displayUrl}}"
                data-extra="image"
            >
                <img src="{{thumbnail}}" />
            </a>
        {{/each}}
    </div>
{{/if}}
