{{#with localResult}}
    <div class="padded">
        <div class="local-result-wrapper clearfix">
            <a href="{{ mapResult.url }}" class="result local-map" data-extra="map"></a>
            <div class="local-info">
                {{#each textResults}}
                    <div class="{{ textType }}">
                        <a class="result" href="{{ url }}">{{ displayText }}</a>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
{{/with}}
