.navigation {
  padding: 0;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  flex: 0 0 auto;
  align-self: stretch;
  background-color: #607C85;
  width: 74px;
}

.freshtab-button {
  opacity: 0.4;
  background: url('../images/home-white.svg') no-repeat center;
  margin-top: 20px;
  padding: 0;
  height: 24px;
  display: block;
  cursor: pointer;
  font-size: 0;

  &:hover {
    opacity: 1;
  }
}