$color-black: #202020;
$color-dark-gray: #414141;
$color-blue: #94E2FF;
$color-shadow: rgba(0, 84, 101, 0.5);
$color-cliqz: #00AEF0;
$color-light-gray: #D4D4D4;
$color-red: #E64C66;
$color-dark-blue: #0078CA;