.reason__content {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 6px, rgba(0, 0, 0, 0.12) 0px 0px 2px 0px;
  border-radius: 4px;
  padding: 6px 4px 8px 14px;
  margin-top: 1px;
  margin-bottom: 13px;
  background: white;
  max-width: 245px;
}

.reason__emoji {
  background: url('../images/reason-emoji.png') no-repeat left;
  display: inline-block;
  background-size: contain;
  width: 17px;
  height: 17px;
  margin-bottom: -2px;
}

.reason__title {
  font-size: 18px;
}

.reason__subtitle {
  font-size: 14px;
  font-weight: 500;
}

.reason__description {
  font-size: 12px;
}

.reason__header {
  display: flex;
  justify-content: space-between;
}

.reason__close {
  background: url('../images/close.svg') no-repeat left;
  background-size: contain;
  width: 12px;
  height: 12px;
  margin: -1px 13px 0px 0px;
  cursor: pointer;
}

.reason__button {
  font-size: 14px;
  letter-spacing: 0.5px;
  padding: 8px 13px;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  margin-right: 12px;
  background-color: var(--chip-primary-color, #eb443f);
  color: white;
  text-align: center;
}

.reason__disabled {
  background-color: silver;
  cursor: unset;
}

.reason__label {
  font-size: 12.5px;
  padding-left: 7px;
  cursor: pointer;
}

.reason__option {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
