.survey__content {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 6px, rgba(0, 0, 0, 0.12) 0px 0px 2px 0px;
  border-radius: 4px;
  padding: 6px 4px 8px 14px;
  margin-top: 1px;
  margin-bottom: 13px;
  background: white;
  max-width: 245px;
}

.survey__title {
  font-size: 18px;
}

.survey__emoji {
  background: url('../images/survey-emoji.png') no-repeat left;
  display: inline-block;
  background-size: contain;
  width: 17px;
  height: 17px;
  margin-bottom: -2px;
}

.survey__description {
  font-size: 12px;
}

.survey__header {
  display: flex;
}

.survey__close {
  background: url('../images/close.svg') no-repeat left;
  background-size: contain;
  width: 12px;
  height: 12px;
  margin: -3px 0px 0px 55px;
  cursor: pointer;
}

.survey__buttons {
  display: flex;
}

.survey__button {
  font-size: 14px;
  letter-spacing: 0.5px;
  padding: 8px 13px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  margin-right: 12px;
  background-color: var(--chip-primary-color, #eb443f);
  color: white;
  width: 86px;
  text-align: center;
  text-transform: capitalize;
}
