<div id="voucher-feedback" class="feedback-box">
     <header class="voucher-header">
        <div class="left-labels">
             <span data-i18n="offers_offer_removed"></span>
             <button class="undo" data-i18n="offers_hub_feedback_undo_delete"></button>
        </div>
        <div class="logo-wrapper">
            <button class="close close-offer"
                    data-menu-type="delete"
                    data-i18n="offers_hub_remove"
                    data-telemetry-id="remove">
            </button>
        </div>
    </header>
    <p data-i18n="offers_hub_feedback_title" data-optional="{{local 'offers_hub_feedback_optional'}}"></p>
    <ul>
        <li>
            <input type="radio" name="remove_feedback" id="feedback_option1" value="already_used">
            <label for="feedback_option1" data-i18n="offers_hub_feedback_option1"></label>
        </li>
        <li>
            <input type="radio" name="remove_feedback" id="feedback_option2" value="not_good_deal">
            <label for="feedback_option2" data-i18n="offers_hub_feedback_option2"></label>
        </li>
        <li>
            <input type="radio" name="remove_feedback" id="feedback_option3" value="not_relevant">
            <label for="feedback_option3" data-i18n="offers_hub_feedback_option3"></label>
        </li>
        <li class="textarea-holder">
            {{!-- <input type="radio" name="remove_feedback" id="feedback_option4" value="other"> --}}
            <textarea id="feedback_option4_textarea" rows="3" cols="26" placeholder="{{local 'offers_hub_feedback_option4'}}"></textarea>
            <div></div>
        </li>
    </ul>
    <button class="send_feedback" data-i18n="feedback_submit_feedback"></button>
    {{!-- should be removed --}}
    {{!-- <button id="close-feedback" data-i18n="offers_hub_feedback_close"></button> --}}
</div>
