<div id="feedback-vote-wrapper">
    <span class="feedback-text" data-i18n="offers-hub-feedback-text"></span>
    <p>
        <button
          class="feedback-button"
          data-vote="up"
        >
        </button>
        <button
          class="feedback-button"
          data-vote="down"
        >
        </button>
    </p>
</div>

<div id="feedback-comment-wrapper">
    <span class="feedback-text" data-i18n="offers-hub-feedback-comments"></span>
    <textarea id="feedback-textarea" autofocus='autofocus' rows="3" cols="8"></textarea>
    <button id="submit-feedback" data-i18n="offers-hub-feedback-send"></button>
</div>
