<div id="voucher-feedback">
    <p data-i18n="offers-hub-feedback-title"></p>
    <ul>
        <li>
            <input type="radio" name="remove_feedback" id="feedback_option1" value="already_used">
            <label for="feedback_option1" data-i18n="offers-hub-feedback-option1"></label>
        </li>
        <li>
            <input type="radio" name="remove_feedback" id="feedback_option2" value="not_good_deal">
            <label for="feedback_option2" data-i18n="offers-hub-feedback-option2"></label>
        </li>
        <li>
            <input type="radio" name="remove_feedback" id="feedback_option3" value="not_relevant">
            <label for="feedback_option3" data-i18n="offers-hub-feedback-option3"></label>
        </li>
        <li>
            <input type="radio" name="remove_feedback" id="feedback_option4" value="other">
            <textarea id="feedback_option4_textarea" rows="2" cols="26" placeholder="{{local 'offers-hub-feedback-option4'}}" disabled="disabled"></textarea>
        </li>
    </ul>
    <button id="close-feedback" data-i18n="offers-hub-feedback-close"></button>
</div>
