<div class="feedback-thankyou feedback-box">
    <header class="voucher-header">
        <div class="left-labels">
        </div>
        <div class="logo-wrapper">
            <button class="close"
                    data-menu-type="delete"
                    data-i18n="offers_hub_remove">
            </button>
        </div>
    </header>
    <div class="thank-you-box">
        <div>
            <h2 data-i18n="offers_hub_feedback_thank_you"></h2>
            <p data-i18n="offers_feedback_thank_you"></p>
        </div>
    </div>
</div>

