<div class="feedback-box thank-you">
    <header>
        <span data-i18n="offers_menu_give_feedback"></span>
        <button class="close"></button>
    </header>
    <section class="content">
       <h2 data-i18n="offers_hub_feedback_thank_you"></h2>
       <p data-i18n="offers_feedback_thank_you"></p>
    </section>
</div>
