<div class="feedback-box">
    <header>
        <span data-i18n="offers_menu_give_feedback"></span>
        <button class="close" data-menu-type="delete"></button>
    </header>
    <section id="feedback-content" class="content">
        <div id="feedback-content">
          {{> feedback-offer}}
        </div>
    </section>
</div>

