<div class="no-voucher">
    <div class="details">
        <div class="why-offers"> </div>
    </div>
    <div class="cqz-no-vouchers-msg">
        <img src="./images/offers-cc-icon.svg" alt="" />
        <h1 data-i18n="offers_hub_welcome_title"></h1>
        <p data-i18n="offers_hub_welcome_text"></p>
    </div>
</div>
