<header>
    <p>
        <span data-i18n="offers-hub-title"></span>
        <span>{{#unless noVoucher}}{{local 'ad-label'}}{{/unless}}</span>
        <span>
            <a id="about-link" data-i18n="offers-hub-about-cliqz-offers" data-url="https://cliqz.com/myoffrz"></a>
        </span>
    </p>
</header>

<section id="cqz-vouchers-wrapper">
    {{#if noVoucher}}
    {{> no-voucher}}
    {{else}}
    <ul id="cqz-vouchers-holder">
        {{#each vouchers}}
        <li data-offer-id="{{offer_id}}"
            class="voucher-wrapper {{#if preferred}}preferred{{/if}} {{#if @first}}active{{/if}}"
        >
            {{> voucher}}
        </li>
        {{/each}}
    </ul>
    {{/if}}
</section>

<footer>
    <p>
        <span>
            {{#if true}} {{!-- showFeedbackButton --}}
            <button id="feedback-button" data-i18n="offers-hub-feedback-title"></button>
            {{/if}}
        </span>
        <span>
            {{#if showExpandButton}}
            <button id="expand-button"></button>
            {{/if}}
        </span>
        <span title="{{local 'offers-hub-powered-by'}}"></span>
    </p>
    <div id="feedback-content">
    {{> feedback-offer}}
    </div>
</footer>
