<div class="card">
  <div class="card-header">
    <div class="card-title h5">What is Anolysis</div>
    <div class="card-subtitle text-gray">
      A brief introduction into our privacy-preserving collection framework
      for usage data.
    </div>
  </div>
  <div class="card-body">
      Anolysis is a new approach for collecting usage data
      without relying on user profiles. Users send a limited set of 
      sanitized browser attributes and usage data through multiple messages
      to our backend. Note that many messages do not even send browser attributes
      at all.

      <br /><br />

      Some messages send an <code>ephemerid</code>, a
      ephemeral, non-unique key that allows for determining rolling retention,
      for example. Each message type has a different ephemerid so that different
      messages types cannot be linked together. On top, each ephemerid changes
      over time so that even messages of the same type cannot be linked together
      infinitely.
  </div>
  <div class="card-footer">
    Drop us a line if you have any questions:
    <a href="mailto:privacy@cliqz.com" target="_top">privacy@cliqz.com</a>
  </div>
</div>
