//header - WC
.wc-header {
    color: #fff;
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    @include breakpoint(mobile){
        font-size: 27px;
    }
    span {
        display: block;
        font-size:18px;
        padding-top: 10px;
        font-weight: 100;
        a {
            color: #fff;
            &:hover {
                text-decoration: underline;
                font-weight: 100
            }
        }
    }
}

// download - footer
.download {
    margin-top: 60px;
    font-size: 18px;
    color: #fff;
    font-weight: 100;
    letter-spacing: 1;
    text-align: center;
    ul {
        display: inline-block;
        li {
            float: left;
            margin-right: 5px;
            &:last-child {
                margin-right: 0
            }
        }
    }
}
// Update
.update {
    position: absolute;
    right: 70px;
    top: 20px;
    z-index: 200;
    button {
        border: none;
        background: none;
        cursor: pointer;
        background: #fff;
        padding: 3px;
        border-radius: 2px;
        margin-left: 10px;
        display: inline-block;
        width: 24px;
        height: 24px;
        img{
            color: transparent;

        }
    }
}
//grid
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    .col {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        &-10 {
            -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
            max-width: 83.333333%
        }
        &-9 {
            -ms-flex: 0 0 75%;
            flex: 0 0 75%;
            max-width: 75%;
        }
        &-2 {
            -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
            max-width: 16.666667%;
        }
        &-3 {
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%;
        }
        &-4 {
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 100%;
            -ms-flex: 0 0 33.33333%;
            flex: 0 0  33.33333%;
            max-width:  33.33333%;
            @include breakpoint(tablet){
                -ms-flex: 0 0 100%;
                flex: 0 0  100%;
                max-width:  100%;
            }
        }
    }
}

