
.cards-holder {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    opacity: 0;
    animation: cardHolder .5s forwards;
    animation-delay: .7s;
    @include breakpoint(mobile){
        opacity: 1;
        animation: none;
        animation-delay: 0
    }
    .arrow {
        background: url('./../images/arrow.svg') center no-repeat;
        position: absolute;
        width: 32px;
        height: 32px;
        top: 50%;
        border: none;
        z-index: 200;
        display: none;
        @include breakpoint(tablet){
            display: block
        }
        &.next {
            right: -25px;
        }
        &.prev {
            left: -25px;
            transform: scaleX(-1)
        }
        &.disabled {
            opacity: .5;
            pointer-events: none;
        }
    }
    @include breakpoint(laptop) {
        width: 100%;
    }
    @include breakpoint(tablet) {
        width: 50%;
        position: relative;
    }
    @include breakpoint(tablet) {
        width: 85%
    }
    > h2 {
        @extend .wc-header;
    }
}
//card style
.card {
    padding: 15px;
    position: relative;
    &.hidden {
        @include breakpoint(tablet){
            display: none;
        }
    }
    > div {
        min-height: 525px;
        margin: 5px 0;
        border-radius: 6px;
        overflow: hidden;
        position: relative;
        background: #fff;
        header {
            padding: 14px;
            background: #D0021B;
            text-align: center;
            font-weight: 100;
            font-size: 20px;
        }
        .game_unit {
            background: #F5F5F5;
            margin: 14px 15px 0 15px;
            font-size: 16px;
            color: #4A4A4A;
            border-radius: 5px;
            &.place_holder {
                height: 100px;
            }
            .row {
                height: 30px;
                &.header {
                    height: 40px;
                }
            }
            a {
                color:#4A4A4A;
            }
            .col-10 {
                padding-left: 15px;
                font-weight: 500;
                vertical-align: middle;
                &.title {
                    padding-top: 10px;
                    padding-bottom: 10px
                }
                span{
                    display: inline-block;
                    width: 32px;
                    margin-right: 10px;
                    height: 21px;
                    top: -2px;
                    position: relative;
                    img{
                        width: 32px;
                        height: auto;
                        vertical-align: middle;

                    }
                }

            }
            .col-2 {
                text-align: center;
                border-left: 1px solid #979797;
                padding-bottom: 10px;
                height: 100%;
                &.status {
                    padding: 10px 0;
                    span {

                        color: #fff;
                        display: inline-block;
                        padding: 2px 7px;
                        font-size: 12px;
                        animation: 1s infinite live
                    }
                }
            }
        }
    }
    &:not(.current){
        transform: scale(.85);
        header {
            background: #535454;
            position: relative;
            z-index: 200
        }
        > div{
            &:after {
                content: '';
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,.4);
                position: absolute;
                top: 52px;
                left:0;
                z-index: 150;
                transition: all linear .3s;
                @include breakpoint(tablet) {
                    background: rgba(0,0,0,0);
                    transition: none
                }
            }
            &:hover {
                &:after {
                    background: rgba(0,0,0,0);
                    z-index: -1
                }
            }
        }
    }
    &.current {
        z-index: 200;

    }
    &.prev {
        transform: translateX(100%)  scale(.85) translateZ(0);
        animation: prevCard .5s forwards;
        animation-delay: .9s;
        position: relative;
        @include breakpoint(tablet){
            transform: translateX(0) scale(1);
            animation: none
        }
    }
    &.next {
        transform: translateX(-100%) scale(.85)  translateZ(0);
        animation: nextCard .5s forwards;
        animation-delay: .9s;
        @include breakpoint(tablet){
            transform: translateX(0) scale(1);
            animation: none
        }
        .no-data {
            background: url('./../images/next-card-img.jpg');
            position: relative;
            height: 472px;
            background-size: 100%;
            background-position: center center;
            background-repeat: no-repeat;

        }
    }
    .no-data {
        background: url('./../images/prev-card-img.jpg');
        position: relative;
        height: 472px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat
    }
}

@keyframes live {
    0% {
        background: rgba(0,174,240,1);
    }
    50% {
        background: rgba(0,174,240,.5);
    }
    100% {
        background: rgba(0,174,240,1);
    }
}

@keyframes cardHolder {
    from {
        opacity: 0;
        transform: scale(.5);
    }
    to {
        opacity: 1;
        transform:scale(1);
    }
}
@keyframes prevCard {
    from {
        transform: translateX(100%)  scale(.85) translateZ(0);
    }
    to {
        transform: translateX(25px)  scale(.85) translateZ(0);
    }
}
@keyframes nextCard {
    from {
        transform: translateX(-100%)  scale(.85) translateZ(0);
    }
    to {
        transform: translateX(-25px)  scale(.85) translateZ(0);
    }
}
