
@import "normalize";
@import "iconfont";
@import "mixins";
@import "groupstage";
@import "components";

.body-bg {
    background-image: url('./../images/bg-worldcup.jpg');
    background-color: rgba(0,0,0,.8);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
body {
    @extend .body-bg;
    color: #fff;
    font-family:"-mac-system", "-apple-system", "Segoe UI", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    position: relative;
    &:after {
        @extend .body-bg;
        content: '';
        position: fixed;
        left: 0;
        top:0;
        width: 100%;
        height: 100%;
        filter:blur(5px);
        z-index: -1;
        opacity: 0;
        animation: fadeInBody forwards 1s;
        animation-delay: .8s;
    }
}

* {
    box-sizing: border-box;
}


aside {
    position: absolute;
    flex: 0 0 74px;
    text-align: center;
    width: 74px;
    top:20px;
    &.left {
        left: 0;
        li {
            margin-bottom: 15px;
        }
        #cliqz-home, #cliqz-history  {
            display: none
        }
    }
    &.right {
        text-align: right;
        right: 15px;
        padding-right: 5px;
        &.language-selector {
            img {
                width: 30px;
                height: 28px;
                transition: all linear .2s;
                &:hover {
                    transform: scale(1.2)
                }
            }

            .selected-item {
                cursor: pointer
            }
        }

    }
    a {
        i {
            font-size: 22px;
            display: block;
            color:rgba(255,255,255,0.8);
            transition: color linear .3s;
        }
        &:hover {
            i {
                color: rgba(255,255,255,1)
            }
        }
    }

}

#main-content {
    flex: 0 0 calc(100%);
    > .content-holder {
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        min-height: 100vh;
        height: auto;
        padding: 40px 0;
        @include breakpoint(tablet){
            min-height: auto;
            padding-top: 60px;
            padding-bottom: 30px
        }
        @include breakpoint(mobile) {
            padding-top: 80px;
        }
        .content {
            width: 100%;
            text-align: center;
            h2 {
                @extend .wc-header;
            }
            .count-down {
                &-box {
                    text-align: center;
                    background: rgba(0,0,0,.4);
                    height: 300px;
                    margin-top: 40px;
                    padding: 50px;
                    display: table;
                    width: 100%;
                    .number {
                        font-size: 22px;
                        font-weight: 300;
                        letter-spacing: 1px;
                        color:rgba(255,255,255,.75);
                        text-transform: uppercase;
                        span {
                            font-size: 154px;
                            display: block;
                            font-weight: 500;
                            color:rgba(255,255,255,1);
                            animation: mymove 2s infinite;
                            min-height: 182px
                        }
                    }
                }
            }

        }
    }
}

@keyframes mymove {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(0.8);
    }
    100% {
        tansform: scale(1);
    }
}

@keyframes fadeInBody {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

