#main-window.cliqz-blue {

    #navigator-toolbox #TabsToolbar:-moz-lwtheme-darktext,
    .tabbrowser-tab .tab-content {
       background-color: $cliqz-blue-color;
    }

    .tabbrowser-tab {

      &[visuallyselected="true"] {
        border-top: 0;

        & .tab-content {
          background-color: $chrome-light-color;
        }
      }

      &:hover:not([visuallyselected="true"]) .tab-content {
        background-color: #0098d5;
        transition: background-color ease 150ms;
      }

      .tab-label-container:not([selected="true"]) {
        opacity: 1;

        .tab-label:not([selected="true"]) {
          color: #fff;
          opacity: 1;
        }
      }

      &:not([visuallyselected="true"]) {

        .tab-close-button:hover {


          .toolbarbutton-icon {
            background-color: #0074a2;
          }
        }

        .toolbarbutton-icon {
          --toolbarbutton-icon-fill-opacity: 1;
          fill: #fff;
          stroke-opacity: 1;
        }
      }
    }

    .tabs-newtab-button,
    #new-tab-button {
      --toolbarbutton-icon-fill-opacity: 0.75;
      fill: #fff;
      
      &:hover {
        --toolbarbutton-icon-fill-opacity: 1;
      }
    }
}
