@import 'ff57-shared';

$cliqz-blue: #0078CA;

:root {
    /* Override global variables */
    --tab-min-height: $tab-min-height;
    --tabs-top-border-width: 0;
    --tab-toolbar-navbar-overlap: 0; // Remove 1px margin bottom for new tab button

   &:-moz-lwtheme {
        --tabs-border: rgba(0, 0, 0, 0.08); // Active tab border color and line below
        // --tabs-border-color: rgba(0, 0, 0, 0.08); // Same as above (FF58)
        --tab-line-color: $cliqz-blue; // Override the line effect on top of tabs
    }

    /* Override light theme variables */
   &:-moz-lwtheme-darktext {
        --toolbox-border-bottom-color: $chrome-light-color;
        --chrome-secondary-background-color: $chrome-light-color; // Background for nav-bar
        --url-and-searchbar-background-color: $chrome-light-color; // Background for urlbar
        --chrome-background-color: $inactive-tab-color; // Background for menu toolbar (Windows only)
    }
}

/* Add 2 more px padding on top of PersonalToolbar/Bookmark bar */
#navigator-toolbox > toolbar:not(#toolbar-menubar):not(#TabsToolbar):not(#nav-bar) {
    padding-top: 2px;
}

/* Normal windows */
#main-window {
    &[sizemode="maximized"] {
        #TabsToolbar:-moz-lwtheme-darktext {
            margin-top: 0;

            /* Remove border left for first tab */
            #tabbrowser-tabs .tabbrowser-tab:first-of-type {
                border-left: none;
            }
        }
    }

    &[sizemode="normal"] {
        &[tabsintitlebar]:root {
            border-top-color: #9C9C9C;

            &:-moz-window-inactive {
                border-top-color: #D4D4D4;
            }
        }
    }
}

@media (-moz-os-version: windows-win8) {
    :root:-moz-lwtheme-darktext {
        --chrome-background-color: transparent; // Background color for tab
    }

    #navigator-toolbox #TabsToolbar:-moz-lwtheme-darktext {
        background-color: transparent; // Background color for Tabstoolbar
    }

    #navigator-toolbox #TabsToolbar:-moz-lwtheme-darktext #tabbrowser-tabs .tabbrowser-tab .tab-line {
        height: 1px; // Bring back the tab line
    }

    #main-window {

        #navigator-toolbox {
            /* Bring back the line on top of nav-bar on Windows 8 */
            #nav-bar {
                border-top: 1px solid #d4d4d4 !important;
            }
        }

        &[sizemode="normal"] {
            #navigator-toolbox {
                /* Add the missing line on the bottom of nav-bar on Windows 8 */
                &:after {
                    box-shadow: rgba(0, 0, 0, 0.19) 0 -2px 1px 3px;
                }
            }
        }
    }
}

@media (-moz-os-version: windows-win7) {
    @media (-moz-windows-default-theme) {
        :root:-moz-lwtheme-darktext {
            --chrome-background-color: rgba(204, 204, 204, 0.4); // Background color for tab
        }

        #navigator-toolbox #TabsToolbar:-moz-lwtheme-darktext {
            background-color: transparent; // Background color for Tabstoolbar
        }
    }

    @media (-moz-windows-classic) {

    }
}

@import 'blue-theme';
