@import 'ff57-shared';

/* Override global variables */
:root {
    --tab-min-height: $tab-min-height;
    --tabs-border: rgba(0, 0, 0, 0.08); // Active tab border color and line below
    // --tabs-border-color: rgba(0, 0, 0, 0.08); // Same as above (FF58)
    --tab-toolbar-navbar-overlap: 0px;

    /* Override light theme variables */
    &:-moz-lwtheme-darktext {
        --toolbox-border-bottom-color: $chrome-light-color;
        --chrome-secondary-background-color: $chrome-light-color;
        --url-and-searchbar-background-color: $chrome-light-color;
    }
}

/* Add 2 more px padding on top of PersonalToolbar */
#navigator-toolbox > toolbar:not(#toolbar-menubar):not(#TabsToolbar):not(#nav-bar) {
    padding-top: 2px;
}

/* Move caption buttons more to the right and top
   NOTE: Keep this code here
 */
.titlebar-placeholder[type="caption-buttons"], #titlebar-buttonbox {
    margin-left: 13px; // NOTE overriding the margin can cause caption buttons placeholder's width changes (Fix below)
    // margin-left: 10px; // Same as above (FF58)
    // margin-top: -3px; // FF58
    max-width: 61px; // Fix dynamic width for caption buttons place holder
}

#navigator-toolbox {
    /* TABS TOOLBAR */
    #TabsToolbar:-moz-lwtheme-darktext {
        /* Add 2 more pxs to the top in order to compensate 2 pxs lost from 'margin' (1) */
        padding-top: 2px;

        /* Make the first tab align with the back button */
        /* Move the new tab button a bit to the left to be aligned with the last toolbar button */
        .titlebar-placeholder {

            &[type="pre-tabs"] {
                width: 36px;
            }
        }

        /* Reverse the extra space on top (1) */
        &[inFullscreen] {
            padding-top: 0;
        }
    }
}


/* When user enable extra drag space */
[extradragspace][tabsintitlebar]:root:not([inFullscreen]) {
    #navigator-toolbox {
        /* TABS TOOLBAR */
        #TabsToolbar:-moz-lwtheme-darktext {
            /* Add 10 more pxs to the drag space */
            padding-top: 10px;

            #tabbrowser-tabs {

                .tabbrowser-tab {

                    /* Force tab left and right border to cover whole tab's height */
                    &:before, &:after {
                        border-image: none;
                    }
                }
            }
        }
    }
}

/* When user enable tabs in title bar */
#main-window:not([tabsintitlebar]) {
    #navigator-toolbox {
        /* TABS TOOLBAR */
        #TabsToolbar:-moz-lwtheme-darktext {
            /* Remove padding top */
            padding-top: 0;

            #tabbrowser-tabs {

                .tabbrowser-tab {

                    &:first-of-type {
                        border-left: none;
                    }
                }
            }
        }
    }
}

@import 'blue-theme';
