$urlbar-holder: 33px;
$urlbar-elms-height: 32px;
$buttons-hover-color: #e7e7e7;
$buttons-hover-border-color: #dfdfdf;
$browser-top-bg-color: #ccc;

$tab-border-color: #afafaf;
$tab-selected-bg-color: #fff;
$tab-hover-bg-color: #ccc;
$tab-bg-color: rgba(255, 255, 255, 0.1);
$tab-font-size: 12px;
$pin-tab-width: 37px;

$url-bar-font-size: 14px;
$url-bar-bg-color: #fff;
$url-bar-bg-private-color: #bec9d7;
$url-bar-hover-bg-color: #fff;
$url-bar-hover-border-color: #7aa8d9;
$url-bar-hover-shadow: inset 0 0 2px #aec6de;

#main-window:not([cliqzBrowser="true"]),
#main-window:not([cliqzBrowser="true"]) * :root {
  --cliqz-close-image: url("../images/browser/linux/close.png");
  --cliqz-font-lato-regular: url("chrome://cliqz/content/static/skin/fonts/Lato-Regular.ttf");
  --cliqz-loading-image: url("../images/browser/linux/loading.png");
  --cliqz-menuPanel-svg: url("../images/browser/linux/menuPanel.svg");
  --cliqz-newtab-image: url("../images/browser/linux/newtab.png");
  --cliqz-toolbar-image: url("../images/browser/linux/Toolbar.png");
  --cliqz-toolbar-image-2x: url("../images/browser/linux/Toolbar@2x.png");
  --cliqz-urlbar-arrow-image: url("../images/browser/linux/urlbar-arrow.png");
  --cliqz-urlbar-arrow-image-2x: url("../images/browser/linux/urlbar-arrow@2x.png");
  --menupanel-list-style-image: url("chrome://cliqz/content/theme/images/browser/linux/menuPanel.png");
  --menupanel-list-style-image-2x: url("chrome://cliqz/content/theme/images/browser/linux/menuPanel@2x.png") !important;
}

#main-window[cliqzBrowser="true"],
#main-window[cliqzBrowser="true"] * :root {
  --cliqz-close-image: url("close.png");
  --cliqz-font-lato-regular: url("Lato-Regular.ttf");
  --cliqz-loading-image: url("loading.png");
  --cliqz-menuPanel-svg: url("menuPanel.svg");
  --cliqz-newtab-image: url("newtab.png");
  --cliqz-toolbar-image: url("../Toolbar.png");
  --cliqz-toolbar-image-2x: url("../Toolbar@2x.png");
  --cliqz-urlbar-arrow-image: url("urlbar-arrow.png");
  --cliqz-urlbar-arrow-image-2x: url("urlbar-arrow@2x.png");
}

@font-face {
    font-family: "Lato";
    src: var(--cliqz-font-lato-regular);
}

:-moz-any(#back-button, #forward-button, #home-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #privatebrowsing-button, #save-page-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #webide-button, #containers-panelmenu),
#bookmarks-menu-button > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
    list-style-image: var(--cliqz-toolbar-image);
}


#main-window {
    font-family: "Lato";
}

#main-window:not([chromehidden~="toolbar"]) {
    min-width: 940px;
}

#urlbar-container {
    min-width: 850px;
    -moz-box-pack: center;
}
#urlbar-wrapper {
    max-width: 100%;
    -moz-box-pack: center;
}

#tabbrowser-tabs {
    min-height: 27px;
}
.tab-background-start,
.tab-background-end {
    display: none;
}

.tab-background-middle {
    margin: 0;
	min-height: var(--tab-min-height);
}
.tab-background-middle[visuallyselected="true"] { background: none; }

.tabbrowser-tab:not([pinned]) {
    max-width: 195px;
}

.tabbrowser-tab:hover > .tab-stack > .tab-background:not([visuallyselected="true"]) { background: none; }

#nav-bar .toolbarbutton-1:not(#back-button):not(#forward-button),
toolbarbutton#cliqz-cc-btn {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
    padding: 0;
    border-left: 1px solid transparent;
    transition: none !important;
    border-right: 1px solid transparent;


    ﻿﻿﻿ .toolbarbutton-icon {
        background: red !important;
    }

    &:hover {
        border-color: $buttons-hover-border-color;
        background: $buttons-hover-color;
    }

    &[open="true"] {
        background: #eee;
    }
}

﻿.findbar-button:hover:not(:-moz-any([checked="true"], [disabled="true"])) > .toolbarbutton-text,
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1[open]:not([disabled="true"]) > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1:hover:not([disabled="true"]):not([open]) > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1:hover:not([disabled="true"]):not([open]) > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1:hover:not([disabled="true"]) > .toolbarbutton-badge-stack,
:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1:hover:not([disabled="true"]) > .toolbarbutton-icon {
    border-color: transparent;
    box-shadow: none;
    background: none;
}

.findbar-button,
#nav-bar .toolbarbutton-1,
#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button {
    -moz-appearance: none;
    border: medium none;
    padding: 0px;
    background: transparent none repeat scroll 0% 0%;
}


#forward-button,
#back-button {
    width: $pin-tab-width;
    height: $urlbar-elms-height !important;
    padding: 0 2px !important;
    margin-left: 0 !important;
    box-shadow: 0 0 0 0 transparent !important;
    border-radius: 0 !important;
    // While the simpleUI AB test is running, we need to set these with javascript in ui/window
    // border: none !important;
    // border-right: 1px solid #e1e1e1 !important;
    background-color: transparent !important;

    &:hover:not(:-moz-lwtheme):not([disabled="true"]) {
        background-color: $buttons-hover-color !important;
        box-shadow: none !important;
    }

    & > .toolbarbutton-icon {
        padding: 6px;
        border: none !important;
        box-shadow: none;
    }
}

#forward-button > .toolbarbutton-icon {
    padding: 7px 6px;
}

window:not([chromehidden~="toolbar"]) #urlbar-wrapper {
    -moz-margin-start: 0px;
    clip-path: none;
}


#urlbar {
    box-sizing: border-box;
    // While the simpleUI AB test is running, we need to set these with javascript in ui/window
    // max-width: 800px;
    // margin: 0 2.5em !important;
    height: $urlbar-elms-height !important;
    padding: 1px 0px;
    border-radius: 0 !important;
    border: 1px solid #ddd !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    box-shadow: none !important;
    background: $url-bar-bg-color !important;
    padding-left:10px;

    * {
        box-sizing: border-box;
    }

    #urlbar-reload-button,
    #urlbar-stop-button,
    #identity-box {
        border: none !important;
    }

    .urlbar-input-box {
        overflow: hidden;
        border: none !important;
    }

    &:hover {
        background: $url-bar-hover-bg-color !important;
    }


    & > #urlbar-icons > .urlbar-icon,
    & > #urlbar-go-button {
        border: none !important;
    }
}


#urlbar,
.searchbar-textbox {
    font-size: $url-bar-font-size;
}


#urlbar[focused="true"],
.searchbar-textbox[focused="true"] {
    border-color: $url-bar-hover-border-color !important;
    box-shadow:  $url-bar-hover-shadow !important;
    -moz-border-start: 1px solid $url-bar-hover-border-color !important;
    background: $url-bar-hover-bg-color !important;

}


/*==== FF Color */

#titlebar,
#tab-view-deck,
#titlebar-content,
#tabbrowser-tabs {
    background-color: $browser-top-bg-color;
}

#tab-view-deck {
    background-image: none !important;
}

/*=== Bookmarks */
#PersonalToolbar {
    padding-top: 7px;
    border-top: none;
}

#nav-bar {
    height: $urlbar-holder !important;
    padding: 0;
    margin-top: 0 !important;
    box-shadow: none !important;
    border-top-color: #d1d0d3 !important;
    border-bottom: none !important; // 1px solid #e3e3e3 !important;
    background: #f6f6f6 !important;
}

#forward-button > .toolbarbutton-icon {
    margin: 0;
}

#PersonalToolbar {
    padding-left: 8px;
}

/*===== Bookmarks */

toolbarbutton.bookmark-item:not(.subviewbutton):not(#bookmarks-menu-button),
#personal-bookmarks[cui-areatype="toolbar"]:not([overflowedItem="true"]) > #bookmarks-toolbar-placeholder {
    padding: 0 10px 1px;
}

#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
    margin-top: 1px;
    margin-bottom: 1px;
}

#nav-bar-customization-target {
    padding: 0 4px 0 0;
}


notification[type="warning"] {
    padding: 6px 5px;
    border: none;
    color: #fff;
    font-size: 14px;
    background: #fec621;
    letter-spacing: 0.4px;
}

notification[type="warning"] > button {
    padding: 5px 10px;
    color: #fff;
    border: none;
    border-radius: 3px;
    text-shadow: none;
    box-shadow: none;
    background: #4661ae;
}

notification[type="warning"] .messageText {
    font-weight: normal;
    color: black;
}

/* BEGIN EX-2247*/

#cliqz_menupopup .menuitem-iconic .menu-iconic-icon {
    visibility: visible !important;
}

#cliqz_menupopup menuitem[label="Take part"] .menu-iconic-icon {
    background-color: rgba(223, 219, 210, 0.8);
}

.close-icon:hover {
    -moz-image-region: rect(0, 32px, 16px, 16px);
    background-image: none;
}

#TabsToolbar[brighttext] .tab-close-button:not([visuallyselected]):not(:hover) {
    background-image: none;
}

#urlbar .urlbar-input-box {
    padding: 2px 0;
    overflow: hidden;
}


.cqz-ez-search-box-input {
    background-color: #fff;
    border: none;
    color: #333;
}

.tab-throbber[progress] {
    list-style-image: var(--cliqz-loading-image);
}


/* END EX-2244 */

/****** NEW THEME ******/

/* BEGIN URL BAR */
#TabsToolbar:not([collapsed="true"]) + #nav-bar {
    border-top: 1px solid #d1d1d1 !important;
}

#nav-bar {
    border-top-color: #d1d0d3 !important; /*Display top border*/
    border-top-style: solid !important;
    background-color: #f6f6f6 !important;

    box-shadow: 0px 1px 0.13em 0px rgba(0, 0, 0, 0.24);
	height: 40px;
}

#navigator-toolbox::after {
    //position: relative;
    //margin-top: -3px !important;
    //background-image: none;
    //box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.9);
    //z-index: 0;
    border-color: #dfdfdf;
}

.urlbar-input {
    padding-bottom: 2px !important;
}


#urlbar-container {
    min-width: 300px;
}

#identity-box {
    margin-top: -2px;
    margin-bottom: -2px;
}

#identity-box.verifiedIdentity:not(:-moz-lwtheme):not(:hover):not([open="true"]) {
    background-color: rgba(255, 255, 255, 0);
}

#main-window:not([chromehidden~="toolbar"]) {
    min-width: 425px;
}

#PanelUI-button {
    border-image-slice: 0; /*Remove border burger menu button*/
}

#main-window[privatebrowsingmode="temporary"],
#navigator-toolbox[on_private_tab="true"] {
    #notification-popup-box {
        border-image: var(--cliqz-urlbar-arrow-image) 0 8 0 0 fill;
    }

    @media (min-resolution: 1.1dppx) {
        #notification-popup-box {
            border-image: var(--cliqz-urlbar-arrow-image-2x) 0 16 0 0 fill;
        }
    }

    #identity-box:hover {
        background-color: rgba(255, 255, 255, 0);
    }

    #identity-box:hover:active, #identity-box[open="true"] {
        background-color: rgba(255, 255, 255, 0);
    }

    #urlbar {
        background-color: $url-bar-bg-private-color !important;
    }
}
/* END URL BAR */

/* BEGIN TOOLBAR */

#PersonalToolbar {
    border-top: 1px solid #e1e1e1 !important;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.35) !important;
    z-index: 1;
    -moz-box-ordinal-group: 101;
    content: "";
    display: -moz-box;
    position: relative;
    background-color: #f6f6f6 !important;
}

#PersonalToolbar .toolbarbutton-text {
	font-size: 0.9em;
}

/* END TOOLBAR */


/*========== Tabs =======*/

#main-window {
    .tabbrowser-arrowscrollbox > .arrowscrollbox-scrollbox {
        padding: 0 !important;
    }
}

#PersonalToolbar {
    background: #fff !important;
}

.tab-label:not([visuallyselected="true"]) {
    opacity: 1 !important;
}

.tabbrowser-tab {

    .tab-stack {
        width: 100%;
        margin: 0;
    }

    .tab-content {
        border-width: 1px 1px 0 0;
        border-style: solid;
        border-radius: 0;
        border-color: $tab-border-color;
        background: $tab-bg-color !important;

        .﻿tab-icon-image {
            width: 14px;
            height: 15px;
        }

        .tab-label {
            margin-top: 3px;
            font-size: $tab-font-size;
            text-align: left;
            text-shadow: none;
        }
    }

    .tab-background {
        margin: 0;
    }

    &:hover:not([visuallyselected="true"]) .tab-content,
    .tabs-newtab-button:hover {
        background-color: $tab-hover-bg-color !important;
    }

    &:first-child .tab-content {
        border-width: 1px 1px 0 1px;
    }


    &[visuallyselected="true"] {
        position: static !important;

        .tab-content {
            border-color: #d1d0d3;
            border-top: none;
            margin-top: 1px;
            background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 100%) !important;
        }
    }

    //&:not([visuallyselected="true"]) {
    //    background: #b9b9b9 !important;
    //}

    &:not([pinned]) {
        .tab-content .tab-text {
            color: #555;
        }
    }
    &[pinned] {
        width: $pin-tab-width;
    }
}

.tabbrowser-tabs[positionpinnedtabs] > .tabbrowser-tab[pinned] {
        .tab-stack {
            margin: 0;
        }
        .tab-content {
            height: $urlbar-elms-height;
        }
}

/*======== Removes Tabs Border ==========*/
#tabbrowser-tabs[movingtab] > .tabbrowser-tab[beforeselected]:not([last-visible-tab])::after,
.tabbrowser-tab:not([visuallyselected]):not([afterselected-visible]):not([afterhovered]):not([first-visible-tab]):not(:hover)::before,
#tabbrowser-tabs:not([overflow]) > .tabbrowser-tab[last-visible-tab]:not([visuallyselected]):not([beforehovered]):not(:hover)::after {
    display: none;
}


#alltabs-button {
    background: $browser-top-bg-color;
}

#new-tab-button {
    list-style-image: var(--cliqz-newtab-image) !important;
    background: $browser-top-bg-color;
}

.tabs-newtab-button {
    margin: 0 0 0 2px !important;
    width: 30px;
    border: none !important;
    background: none !important;
    list-style-image: var(--cliqz-newtab-image) !important;

    .toolbarbutton-icon {
        padding-top: 5px;
        padding-bottom: 3px;
    }
}

.close-icon {
    list-style-image: var(--cliqz-close-image);
    -moz-image-region: rect(0, 16px, 16px, 0);
}

/* END TAB */

/* BEGIN CUSTOMIZE UI */

#customization-panelHolder #PanelUI-customize {
    background-color: rgb(70, 87, 183);
}

#customization-panelHolder #PanelUI-customize:hover, #customization-panelHolder #PanelUI-customize:hover:active {
    background-color: rgb(54, 71, 167);
}

#main-window #customization-panel-container, #main-window[customize-entered] #customization-panel-container {
    background-image: none;
    background-color: #838383;
}

vbox[sidebarcommand=historybroadcaster] {
  #sidebar {
    background-color: white;
  }

  sidebarheader {
    display: none;
  }
}

.tabbrowser-arrowscrollbox > .scrollbutton-up,
.tabbrowser-arrowscrollbox > .scrollbutton-down {
    list-style-image: url("chrome://browser/skin/tabbrowser/tab-arrow-left.png") !important;
}

toolbaritem[sdkstylewidget="true"] > toolbarbutton, [cui-areatype="menu-panel"]:-moz-any(#back-button, #forward-button, #home-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #privatebrowsing-button, #save-page-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #webide-button, #containers-panelmenu), toolbarpaletteitem[place="palette"] > :-moz-any(#back-button, #forward-button, #home-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #privatebrowsing-button, #save-page-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #webide-button, #containers-panelmenu) {
    list-style-image: var(--cliqz-menuPanel-svg);
}

#main-window[privatebrowsingmode="temporary"] #private-browsing-indicator {
    width: $pin-tab-width;
    background-color: #e0e0e0;
    border-right: 1px solid $tab-border-color;
}


@media (min-resolution: 1.1dppx) {
    :-moz-any(#back-button,
    #forward-button,
    #home-button,
    #print-button,
    #downloads-button,
    #bookmarks-menu-button,
    #new-tab-button,
    #new-window-button,
    #fullscreen-button,
    #sync-button,
    #feed-button,
    #tabview-button,
    #social-share-button,
    #open-file-button,
    #find-button,
    #developer-button,
    #preferences-button,
    #privatebrowsing-button,
    #save-page-button,
    #add-ons-button,
    #history-panelmenu,
    #nav-bar-overflow-button,
    #PanelUI-menu-button,
    #characterencoding-button,
    #email-link-button,
    #sidebar-button,
    #zoom-out-button,
    #zoom-reset-button,
    #zoom-in-button,
    #cut-button,
    #copy-button,
    #paste-button,
    #e10s-button,
    #panic-button,
    #web-apps-button,
    #webide-button,
    #loop-button,
    #pocket-button,
    #restore-button),
    #bookmarks-menu-button > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
        list-style-image: var(--cliqz-toolbar-image-2x);
    }

    toolbaritem[sdkstylewidget="true"] > toolbarbutton, [cui-areatype="menu-panel"]:-moz-any(#back-button, #forward-button, #home-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #privatebrowsing-button, #save-page-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #webide-button, #containers-panelmenu), toolbarpaletteitem[place="palette"] > :-moz-any(#back-button, #forward-button, #home-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #privatebrowsing-button, #save-page-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #webide-button, #containers-panelmenu) {
        list-style-image: var(--menupanel-list-style-image-2x);
    }
}
