@import 'shared';

:root {

    &:-moz-lwtheme-darktext {
        --url-and-searchbar-background-color: #{$chrome-light-color}; // Background for urlbar
    }
}

#navigator-toolbox {

    #TabsToolbar #tabbrowser-tabs .tabbrowser-tab .tab-content .tab-label {
        font-size: 3.4mm;
    }

    #nav-bar {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@import 'blue-theme';
@import 'purple-theme';
