@font-face { font-family: "Lato"; src: url("chrome://cliqz/content/static/skin/fonts/Lato-Regular.ttf"); }

:-moz-any(#back-button,
#forward-button,
#home-button,
#print-button,
#downloads-button,
#bookmarks-menu-button,
#new-tab-button,
#new-window-button,
#fullscreen-button,
#sync-button,
#feed-button,
#tabview-button,
#social-share-button,
#open-file-button,
#find-button,
#developer-button,
#preferences-button,
#privatebrowsing-button,
#save-page-button,
#add-ons-button,
#history-panelmenu,
#nav-bar-overflow-button,
#PanelUI-menu-button,
#characterencoding-button,
#email-link-button,
#sidebar-button,
#zoom-out-button,
#zoom-reset-button,
#zoom-in-button,
#cut-button,
#copy-button,
#paste-button,
#e10s-button,
#panic-button,
#web-apps-button,
#webide-button,
#loop-button,
#pocket-button,
#restore-button),
#bookmarks-menu-button > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
    list-style-image: url("../images/browser/win/Toolbar.png");
}

#main-window {
    font-family: "Lato";
}

#main-window:not([chromehidden~="toolbar"]) {
    min-width: 940px;
}

#urlbar-container {
    min-width: 850px;
    -moz-box-pack: center;
}
#urlbar-wrapper {
    max-width: 100%;
    -moz-box-pack: center;
}

/*/!* ====== Close, minimize & fullscreen btns*!/*/
/*#main-window[tabsintitlebar] > #titlebar > #titlebar-content > #titlebar-buttonbox-container,*/
/*#main-window[tabsintitlebar] > #titlebar > #titlebar-content > #titlebar-secondary-buttonbox > #titlebar-fullscreen-button {*/
    /*margin-top: 7px;*/
/*}*/

#tabbrowser-tabs {
    min-height: 27px;
}

.tab-background {
    margin-inline-start: 0 !important;
    margin-inline-end: 0 !important;
}

.tab-background-start,
.tab-background-end {
    display: none;
}

.tab-background-middle {
    margin: 0;
}
.tab-background-middle[visuallyselected="true"] { background: none; }

.tab-content {
    border-color: #d0d0d0;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-radius: 3px 3px 0 0;
}

.tabbrowser-tab {
    margin: 0 2px 0 3px;
}
.tabbrowser-tab:not([pinned]) {
    max-width: 195px;
}

.tabbrowser-tab:hover > .tab-stack > .tab-background:not([visuallyselected="true"]) { background: none; }

.tabs-newtab-button {
    width: 30px;
    border: 1px solid #d0d0d0;
    -moz-margin-start: 2px;
}

#nav-bar .toolbarbutton-1:not([type="menu-button"]), #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button, #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
    padding: 5px 2px;
    -moz-box-pack: center;
}

.findbar-button, #nav-bar .toolbarbutton-1, #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button {
    -moz-appearance: none;
    border: medium none;
    padding: 0px;
    background: transparent none repeat scroll 0% 0%;
}


window:not([chromehidden~="toolbar"]) #urlbar-wrapper {
    -moz-margin-start: 0px;
    clip-path: none;
}

/*:-moz-any(#back-button, #forward-button, #home-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #privatebrowsing-button, #save-page-button, #switch-to-metro-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button, #pocket-button), #bookmarks-menu-button > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {*/
/*list-style-image: url("chrome://cliqz/content/static/skin/Toolbar.png");*/
/*}*/

#nav-bar, #navigator-toolbox, .tab-content, #PersonalToolbar {
    background-image: none !important;
    /*background-color: #eee !important;*/
}

/*======= Gabriel Changes */

#urlbar {
    max-width: 800px;
    box-sizing: border-box;
    border-radius: 3px !important;
    background: #fefefe;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
    -moz-border-start: 1px solid #ccc !important;
}

#urlbar * {
    box-sizing: border-box;
}

#urlbar[focused="true"],
.searchbar-textbox[focused="true"] {
    box-shadow: none !important;
    border-color: #5ea3f9 !important;
    -moz-border-start: 1px solid #5ea3f9 !important;
}
#urlbar .urlbar-input::-moz-selection {
  background: #7bebf5;
}

/* BEGIN EX-2290 */

#urlbar .urlbar-input::-moz-placeholder {
  font-style: normal;
}

.tab-label {
    font-size: 11px;
    text-align: center;
}

/* END EX-2290 */

/*==== FF Color */

#titlebar,
#tab-view-deck,
#titlebar-content {
    /*background: #e0e0e0;*/
}

/*========== Tabs =======*/
.tab-content {
    border: none;
    background: rgba(255, 255, 255, 0.5) !important;
}

.tabbrowser-tab[visuallyselected="true"] .tab-content,
#PersonalToolbar {
    background: #fff !important;
}

.tab-label:not([visuallyselected="true"]) {
    opacity: 1 !important;
}

.tabbrowser-tab:not([visuallyselected="true"]):hover .tab-content,
.tabs-newtab-button:hover {
    background: rgba(255, 255, 255, 0.7) !important;
}


/*======== Removes Tabs Border ==========*/
#tabbrowser-tabs[movingtab] > .tabbrowser-tab[beforeselected]:not([last-visible-tab])::after,
.tabbrowser-tab:not([visuallyselected]):not([afterselected-visible]):not([afterhovered]):not([first-visible-tab]):not(:hover)::before,
#tabbrowser-tabs:not([overflow]) > .tabbrowser-tab[last-visible-tab]:not([visuallyselected]):not([beforehovered]):not(:hover)::after {
    display: none;
}
.tabs-newtab-button {
    border: none !important;
}

/*========== End Tabs =========*/


#PersonalToolbar {
    padding-top: 7px;
    border-top: 1px solid #e0e0e0;
}

#nav-bar {
    margin-top: 0 !important;
    border-top-color: #fff !important;
    background: #fff !important;
}

#back-button {
    width: auto !important;
    height: auto !important;
    padding: 5px 0px 5px 6px !important;
}
#forward-button > .toolbarbutton-icon {
    margin: 0;
    border: none !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

#PersonalToolbar { padding-left: 8px; }

/*===== Bookmarks */

toolbarbutton.bookmark-item:not(.subviewbutton):not(#bookmarks-menu-button),
#personal-bookmarks[cui-areatype="toolbar"]:not([overflowedItem="true"]) > #bookmarks-toolbar-placeholder {
    padding: 0 10px 1px;
}

#nav-bar-customization-target {
    padding: 0 4px 0 0;
}
.tabs-newtab-button > .toolbarbutton-icon {
    padding-top: 3px;
}

/*========== Tabs undeer window buttons*/

/*#titlebar-placeholder-on-TabsToolbar-for-captions-buttons {*/
    /*display: none;*/
/*}*/
/*#TabsToolbar { padding-top: 7px; }*/
/*.tabbrowser-arrowscrollbox > .arrowscrollbox-scrollbox { -moz-padding-start: 2px; }*/

/*#main-window[tabsintitlebar] > #titlebar {*/
    /*min-height: 0;*/
    /*margin-bottom: 0 !important;*/
/*}*/



/*========== END Tabs undeer window buttons*/


 @media (-moz-os-version: windows-vista), (-moz-os-version: windows-win7) {
     .tab-background-middle[visuallyselected=true]:not(:-moz-lwtheme) {
         background: none !important;
     }
 }

notification[type="warning"] {
    padding: 6px 5px;
    border: none;
    color: #fff;
    font-size: 14px;
    background: #fec621;
    letter-spacing: 0.4px;
}

notification[type="warning"] > button {
    -moz-appearance: none;
    padding: 5px 10px;
    color: #fff;
    border: none;
    border-radius: 3px;
    text-shadow: none;
    box-shadow: none;
    background: #4661ae;
}

notification[type="warning"] .messageText {
    font-weight: normal;
    color: black;
}


notification[type="warning"] .notification-inner {
    border: none;
}


/* ======= Navigation Arrows Back Forth ======= */

#forward-button, #back-button {
    margin-left: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: 0 0 0 0 transparent !important;
    background-color: transparent !important;
}

#back-button .toolbarbutton-icon {
    border-radius: 0 !important;
    box-shadow: none !important;
    border: none !important;
}


@media (min-resolution: 1.1dppx) {
    :-moz-any(#back-button,
    #forward-button,
    #home-button,
    #print-button,
    #downloads-button,
    #bookmarks-menu-button,
    #new-tab-button,
    #new-window-button,
    #fullscreen-button,
    #sync-button,
    #feed-button,
    #tabview-button,
    #social-share-button,
    #open-file-button,
    #find-button,
    #developer-button,
    #preferences-button,
    #privatebrowsing-button,
    #save-page-button,
    #add-ons-button,
    #history-panelmenu,
    #nav-bar-overflow-button,
    #PanelUI-menu-button,
    #characterencoding-button,
    #email-link-button,
    #sidebar-button,
    #zoom-out-button,
    #zoom-reset-button,
    #zoom-in-button,
    #cut-button,
    #copy-button,
    #paste-button,
    #e10s-button,
    #panic-button,
    #web-apps-button,
    #webide-button,
    #loop-button,
    #pocket-button,
    #restore-button),
    #bookmarks-menu-button > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
        list-style-image: url("../images/browser/win/Toolbar@2x.png");
    }
}
