$browser-font-family: "Segoe UI", "Arial", sans;

$urlbar-holder: 33px;
$urlbar-elms-height: 32px;
$urlbar-font-size: 15px;
$buttons-hover-color: #e7e7e7;
$buttons-hover-border-color: #dedede;
$browser-top-bg-color: #ccc;


$tab-border-color: #bbb;
$tab-selected-bg-color: #fff;
$tab-bg-color: rgba(255, 255, 255, 0.1);
$tab-font-size: 12.5px;

#main-window:not([cliqzBrowser="true"]),
#main-window:not([cliqzBrowser="true"]) * :root {
  --cliqz-close-image: url("../images/browser/win/close.png");
  --cliqz-close-image-2x: url("../images/browser/win/close@2x.png");
  --cliqz-toolbar-image: url("../images/browser/win/Toolbar.png");
  --cliqz-toolbar-image-2x: url("../images/browser/win/Toolbar@2x.png");
  --cliqz-urlbar-arrow-image: url("../images/browser/win/urlbar-arrow.png");
  --cliqz-urlbar-arrow-image-2x: url("../images/browser/win/urlbar-arrow@2x.png");
  --menupanel-list-style-image: url("chrome://cliqz/content/theme/images/browser/win/menuPanel.png");
  --menupanel-list-style-image-2x: url("chrome://cliqz/content/theme/images/browser/win/menuPanel@2x.png") !important;
}

#main-window[cliqzBrowser="true"],
#main-window[cliqzBrowser="true"] * :root {
  --cliqz-close-image: url("close.png");
  --cliqz-close-image-2x: url("close@2x.png");
  --cliqz-toolbar-image: url("../Toolbar.png");
  --cliqz-toolbar-image-2x: url("../Toolbar@2x.png");
  --cliqz-urlbar-arrow-image: url("urlbar-arrow.png");
  --cliqz-urlbar-arrow-image-2x: url("urlbar-arrow@2x.png");
}

:-moz-any(#back-button,
#forward-button,
#home-button,
#print-button,
#downloads-button,
#bookmarks-menu-button,
#new-tab-button,
#new-window-button,
#fullscreen-button,
#sync-button,
#feed-button,
#tabview-button,
#social-share-button,
#open-file-button,
#find-button,
#developer-button,
#preferences-button,
#privatebrowsing-button,
#save-page-button,
#add-ons-button,
#history-panelmenu,
#nav-bar-overflow-button,
#PanelUI-menu-button,
#characterencoding-button,
#email-link-button,
#sidebar-button,
#zoom-out-button,
#zoom-reset-button,
#zoom-in-button,
#cut-button,
#copy-button,
#paste-button,
#e10s-button,
#panic-button,
#web-apps-button,
#webide-button,
#loop-button,
#pocket-button,
#restore-button),
#bookmarks-menu-button > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
    list-style-image: var(--cliqz-toolbar-image);
}

#main-window {
    font-family: $browser-font-family;
}

#main-window:not([chromehidden~="toolbar"]) {
    min-width: 940px;
}

#urlbar-container {
    min-width: 850px;
    -moz-box-pack: center;
}
#urlbar-wrapper {
    max-width: 100%;
    -moz-box-pack: center;
}

#tabbrowser-tabs {
    min-height: 29px;
}

.tab-background {
    margin-inline-start: 0 !important;
    margin-inline-end: 0 !important;
}

.tab-background-start,
.tab-background-end {
    display: none;
}

.tab-background-middle {
    margin: 0;
	min-height: var(--tab-min-height);
}
.tab-background-middle[visuallyselected="true"] { background: none; }

#nav-bar .toolbarbutton-1:not([type="menu-button"]), #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button, #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
    padding: 5px 2px;
    -moz-box-pack: center;
}

.findbar-button, #nav-bar .toolbarbutton-1, #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button {
    -moz-appearance: none;
    border: medium none;
    padding: 0px;
    background: transparent none repeat scroll 0% 0%;
}


window:not([chromehidden~="toolbar"]) #urlbar-wrapper {
    -moz-margin-start: 0px;
    clip-path: none;
}


#nav-bar, #navigator-toolbox,
.tab-content, #PersonalToolbar {
    background-image: none !important;
    /*background-color: #eee !important;*/
}

/*======= Gabriel Changes */

#urlbar {
    * { box-sizing: border-box; }
    // While the simpleUI AB test is running, we need to set these with javascript in ui/window
    // max-width: 800px;
    // margin: 0 36px !important;
    height: $urlbar-elms-height !important;
    box-sizing: border-box;


    padding: 1px 0;
    border: 1px solid #ccc !important;
    border-top: 1px solid transparent !important;
    border-bottom: 1px solid transparent !important;
    border-radius: 0 !important;

    box-shadow: none !important;
    /* background: transparent !important; */
    background: #fff !important;
    -moz-border-start: 1px solid #d8d8d8 !important;
    padding-left: 7px;
    &:hover,
    &[focused="true"] {
        background: #fff !important;;
    }

    .textbox-input {
        margin-top: -1px !important;
    }
}

#urlbar[focused="true"],
.searchbar-textbox[focused="true"] {
    box-shadow: none !important;
    box-shadow: inset 0 0 2px #90c3e4 !important;
    border-color: #5ea3f9 !important;
    -moz-border-start: 1px solid #5ea3f9 !important;
}

#urlbar .urlbar-input::-moz-selection {
  background: #b1d6ff;
}



#urlbar-reload-button,
#urlbar-stop-button,
#identity-box,
.urlbar-input-box,
#urlbar-display-box {
    border: none !important;
}


#identity-box {
    padding-bottom: 2px;
}

#urlbar, .searchbar-textbox {
    font-size: $urlbar-font-size;
}

#urlbar .urlbar-input-box {
    overflow: hidden;
}

/* BEGIN EX-2290 */

#urlbar .urlbar-input::-moz-placeholder {
  font-style: normal;
}

.tab-label {
    font-size: 11px;
    text-align: center;
}

/* END EX-2290 */

/*========== Tabs =======*/

#TabsToolbar  {
    margin-top: 0 !important;
    min-height: $urlbar-elms-height;
}
.tabbrowser-tab {
    margin: 0;

    .tab-stack {
        width: 100%;
        margin: 0;
    }

    .tab-content {
        border-width: 0 1px 0 0;
        border-style: solid;
        border-radius: 0;
        border-color: $tab-border-color;
        background: $tab-bg-color !important;

        .tab-label {
            font-size: 12px;
            text-align: left;
        }
    }

    &[visuallyselected="true"] {
        position: static !important;

        .tab-content {
            background: $tab-selected-bg-color !important;
        }
    }

    &:not([visuallyselected="true"]):hover .tab-content,
    .tabs-newtab-button:hover {
        background-color: $browser-top-bg-color !important;
    }

    &[pinned] {
        width: 37px;
    }

    &:not([pinned]) {
        max-width: 235px;
    }


    &:hover > .tab-stack > .tab-background:not([visuallyselected="true"]) {
        background: none;
    }

}

.tabs-newtab-button {
    width: 30px;
    -moz-margin-start: 2px;
    border: none !important;
    background: none;

    &:hover {
        background: $browser-top-bg-color !important;
    }
}

tab {
    color: #202020;
}

.tab-label:not([visuallyselected="true"]) {
    opacity: 1 !important;
    color: rgba(0, 0, 0, 0.7);
}


.tabs-newtab-button,
#TabsToolbar > #new-tab-button,
#TabsToolbar > toolbarpaletteitem > #new-tab-button {
    margin-left: 3px; /*To have some space (line) between new-tab button and opened tabs*/
}

/*======== Many Tabs Nav ==========*/
#TabsToolbar .toolbarbutton-1:hover:not([disabled="true"]),
#TabsToolbar .toolbarbutton-1[open],
#TabsToolbar .toolbarbutton-1 > .toolbarbutton-menubutton-button:hover:not([disabled="true"]),
.tabbrowser-arrowscrollbox > .scrollbutton-up:hover:not([disabled="true"]),
.tabbrowser-arrowscrollbox > .scrollbutton-down:hover:not([disabled="true"]) {
    background: $buttons-hover-color;
    border-color: $buttons-hover-border-color;
}

/*======== Removes Tabs Border ==========*/
#tabbrowser-tabs[movingtab] > .tabbrowser-tab[beforeselected]:not([last-visible-tab])::after,
.tabbrowser-tab:not([visuallyselected]):not([afterselected-visible]):not([afterhovered]):not([first-visible-tab]):not(:hover)::before,
#tabbrowser-tabs:not([overflow]) > .tabbrowser-tab[last-visible-tab]:not([visuallyselected]):not([beforehovered]):not(:hover)::after {
    display: none;
}


/*========== End Tabs =========*/


#nav-bar {
    margin-top: 0 !important;
    border-top-color: #fff !important;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.35) !important;
    background: #fff !important;
}


#PersonalToolbar { padding-left: 8px; }

/*===== Bookmarks */

toolbarbutton.bookmark-item:not(.subviewbutton):not(#bookmarks-menu-button),
#personal-bookmarks[cui-areatype="toolbar"]:not([overflowedItem="true"]) > #bookmarks-toolbar-placeholder {
    padding: 0 10px 1px;
}

#nav-bar-customization-target {
    padding: 0 4px 0 0;
}
.tabs-newtab-button > .toolbarbutton-icon {
    padding-top: 3px;
}

/*========== Tabs undeer window buttons*/

/*#titlebar-placeholder-on-TabsToolbar-for-captions-buttons {*/
    /*display: none;*/
/*}*/
/*#TabsToolbar { padding-top: 7px; }*/
/*.tabbrowser-arrowscrollbox > .arrowscrollbox-scrollbox { -moz-padding-start: 2px; }*/

/*#main-window[tabsintitlebar] > #titlebar {*/
    /*min-height: 0;*/
    /*margin-bottom: 0 !important;*/
/*}*/



/*========== END Tabs undeer window buttons*/


 @media (-moz-os-version: windows-vista), (-moz-os-version: windows-win7) {
     .tab-background-middle[visuallyselected=true]:not(:-moz-lwtheme) {
         background: none !important;
     }
 }

notification[type="warning"] {
    padding: 6px 5px;
    border: none;
    color: #fff;
    font-size: 14px;
    background: #fec621;
    letter-spacing: 0.4px;
}

notification[type="warning"] > button {
    -moz-appearance: none;
    padding: 5px 10px;
    color: #fff;
    border: none;
    border-radius: 3px;
    text-shadow: none;
    box-shadow: none;
    background: #4661ae;
}

notification[type="warning"] .messageText {
    font-weight: normal;
    color: black;
}


notification[type="warning"] .notification-inner {
    border: none;
}


/* ======= Navigation Arrows Back Forth ======= */
#back-button {
    border-right: 1px solid #e1e1e1 !important;
}

#forward-button,
#back-button {
    margin-left: 0 !important;
    width: 37px;
    height: $urlbar-elms-height !important;
    // While the simpleUI AB test is running, we need to set these with javascript in ui/window
    // border: none !important;
    // border-right: 1px solid #e1e1e1 !important;
    border-radius: 0 !important;
    box-shadow: 0 0 0 0 transparent !important;
    background-color: transparent !important;
    padding: 0 2px !important; /*Later*/


    &:hover:not(:-moz-lwtheme):not([disabled="true"])  {
        background-color: $buttons-hover-color !important;
        box-shadow: none !important;
    }

    & > .toolbarbutton-icon {
        padding: 6px !important;
        margin: 0 !important;
        border: none !important;
        border-radius: 0 !important;
        box-shadow: none !important;
    }
}

#forward-button > .toolbarbutton-icon {
    padding: 7px 6px !important;
}

@media (min-resolution: 1.1dppx) {
    :-moz-any(#back-button,
    #forward-button,
    #home-button,
    #print-button,
    #downloads-button,
    #bookmarks-menu-button,
    #new-tab-button,
    #new-window-button,
    #fullscreen-button,
    #sync-button,
    #feed-button,
    #tabview-button,
    #social-share-button,
    #open-file-button,
    #find-button,
    #developer-button,
    #preferences-button,
    #privatebrowsing-button,
    #save-page-button,
    #add-ons-button,
    #history-panelmenu,
    #nav-bar-overflow-button,
    #PanelUI-menu-button,
    #characterencoding-button,
    #email-link-button,
    #sidebar-button,
    #zoom-out-button,
    #zoom-reset-button,
    #zoom-in-button,
    #cut-button,
    #copy-button,
    #paste-button,
    #e10s-button,
    #panic-button,
    #web-apps-button,
    #webide-button,
    #loop-button,
    #pocket-button,
    #restore-button),
    #bookmarks-menu-button > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
        list-style-image: var(--cliqz-toolbar-image-2x);
    }
}

/****** NEW THEME ******/

@import 'cliqz-global-win';

/* BEGIN URL BAR */

#nav-bar {
    height: $urlbar-holder !important;
    border-top-color: #d1d0d3 !important; /*Display top border*/
    border-top-style: solid !important;
    background-color: #f6f6f6 !important;
}

#main-window:not([chromehidden~="toolbar"]) {
    min-width: 425px; /*Allow resize window*/
}

#urlbar-container {
    min-width: 300px; /*Later*//*Unused for Windows*/
}

#PanelUI-button {
    border-image-slice: 0; /*Remove border on burger menu button*/
}



.toolbarbutton-icon {
    background: none !important;
}

#nav-bar .toolbarbutton-1:not(#back-button):not(#forward-button),
toolbarbutton#cliqz-cc-btn {
    margin-top: 0; /*Later*/
    margin-bottom: 0; /*Later*/
    padding: 0 2px;
    border-radius: 0;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    transition: none !important;

    &:hover {
        border-color: $buttons-hover-border-color;
        background: $buttons-hover-color;
    }
}

#navigator-toolbox::after {
    display: none;
    margin-top: -3px !important;
    background-image: none;
    z-index: 0;
}

#navigator-toolbox[on_private_tab="true"] {
    #notification-popup-box {
        border-image: var(--cliqz-urlbar-arrow-image) 0 8 0 0 fill;
    }

    @media (min-resolution: 1.1dppx) {
        #notification-popup-box {
            border-image: var(--cliqz-urlbar-arrow-image-2x) 0 16 0 0 fill;
        }
    }

    #identity-box:hover {
        background-color: rgba(255, 255, 255, 0);
    }

    #identity-box:hover:active, #identity-box[open="true"] {
        background-color: rgba(255, 255, 255, 0);
    }

    #urlbar {
        background-color: #bec9d7 !important;
    }
}

window:not([chromehidden~="toolbar"]) #urlbar-wrapper > #urlbar > #identity-box {
    border-radius: 3px 0 0 3px;
}

#identity-box.verifiedIdentity:not(:-moz-lwtheme):not(:hover):not([open="true"]) {
    background-color: rgba(255, 255, 255, 0);
}

/* END URL BAR */

/* BEGIN TOOLBAR */

#PersonalToolbar {
    -moz-box-ordinal-group: 101;
    content: "";
    position: relative;
    display: -moz-box;
    border-top: 1px solid #dfdfdf !important;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.35);
    background-color: #f6f6f6 !important;
    z-index: 1;
}

/* END TOOLBAR */

/* BEGIN TAB */

#main-menubar {
    padding: 3px 3px 5px 3px !important;
}

#toolbar-menubar[autohide="false"] + #TabsToolbar {
    padding-right: 10px !important;
}

#alltabs-button {
    padding-top: 3px;
}

.close-icon,
.tab-close-button:-moz-lwtheme-brighttext,
#TabsToolbar[brighttext] .tab-close-button:not([visuallyselected="true"]) {
    padding-bottom: 1px;
}

.close-icon > .button-icon,
.close-icon > .button-box > .button-icon,
.close-icon > .toolbarbutton-icon {
    width: auto;
	max-width: 20px;
}

.tabbrowser-arrowscrollbox > .arrowscrollbox-scrollbox {
    -moz-padding-start: 0;
}

.tabbrowser-arrowscrollbox > .arrowscrollbox-overflow-start-indicator:not([collapsed]) + .arrowscrollbox-scrollbox {
    margin-left: -1px; /*When the indicator is showing*/
}

.tab-label:not([selected="true"]) {
    color: RGBA(0, 0, 0, 0.54);
}

/* END TAB */

toolbar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
    padding: 0 !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker[label='Bookmarks'] > .dropmarker-icon {
    padding: 0 4px !important;
}

.cliqz-urlbar-Last-search-container {
    margin: 0 7px 0 0;
}


//=========================
//======== WIN 7 ==========
//=========================

@media (-moz-os-version: windows-win7) {

    #navigator-toolbox:not(:-moz-lwtheme) {
        overflow: visible !important;
    }

    #identity-box {
        margin-top: -2px;
        margin-bottom: -2px;
    }

    :-moz-system-metric(windows-classic) {
        #nav-bar {
            padding-bottom: 1px;
        }
    }

    :-moz-system-metric(windows-classic) {
        #tabbrowser-tabs {
            min-height: 29px;
        }

        .tab-content, .tabs-newtab-button {
            background-color: rgba(255, 255, 255, 0.8) !important;
        }

        .tab-close-button:-moz-lwtheme-brighttext,
        #TabsToolbar[brighttext] .tab-close-button:not([visuallyselected="true"]) {
            list-style-image: var(--cliqz-close-image);
        }

        #nav-bar {
            border-top-color: #f6f6f6 !important;
        }

        #urlbar, .searchbar-textbox {
            font-size: 1.33em;
            height: 27px;
        }

        #navigator-toolbox::after {
            background-image: none;
            box-shadow: 0 0.2em 0.1em 0 rgba(119, 119, 119, 0.1);
            -moz-box-ordinal-group: 101;
            content: "";
            display: -moz-box;
            height: 1px;
            margin-top: 0px;
            position: relative;
            background-color: #ddd;
        }
    }

    #main-window:not([sizemode="maximized"]) {

        &[tabsintitlebar="true"] { /*When there is no custom titlebar*/
            #TabsToolbar {
                padding-right: 50px; /*Reserve some space for dragging the window*/
            }

            #tabbrowser-tabs .tabbrowser-arrowscrollbox {
                margin-inline-start: 37px;
            }

            #tabbrowser-tabs[overflow="true"] .tabbrowser-arrowscrollbox { /*When the indicator is showing*/
                margin-inline-start: 15px; /*Remove the line on the left of allowscroll-up button*/
            }
        }
    }
}



//=========================
//======== WIN 8 ==========
//=========================


@media (-moz-os-version: windows-win8) {
    #forward-button > .toolbarbutton-icon {
        padding: 6px !important;
    }

    #urlbar, .searchbar-textbox {
        font-size: 1.29em;
        padding: 3px 0 !important;
    }

    #identity-box {
        margin-top: -2px;
        margin-bottom: -2px;
    }

    #tabbrowser-tabs {
        min-height: 31px;
    }

    #main-window[sizemode="normal"] #browser-border-start, #main-window[sizemode="normal"] #browser-border-end {
        background: none !important;
    }

    toolbar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker[label='Bookmarks'] > .dropmarker-icon {
        padding: 1px 6px !important;
    }

    #main-window:not([sizemode="maximized"]) {
        #nav-bar {
            border-left: none !important;
            border-right: none !important;
            margin: 0 1px;
        }

        &[tabsintitlebar="true"] { /*When there is no custom titlebar*/
            #TabsToolbar {
                padding-right: 60px; /*Reserve some space for dragging the window*/
            }

            #tabbrowser-tabs .tabbrowser-arrowscrollbox {
                margin-inline-start: 37px;
            }

            #tabbrowser-tabs[overflow="true"] .tabbrowser-arrowscrollbox { /*When the indicator is showing*/
                margin-inline-start: 15px; /*Remove the line on the left of allowscroll-up button*/
            }
        }

        #PersonalToolbar {
            margin: 0px 1px;
            border-left: none !important;
            border-right: none !important;
        }

        #navigator-toolbox::after {
            border: none !important;
            margin-left: 1px; /*Remove two dots on left and right sides of the nav-bar*/
            margin-right: 1px;
        }
    }
}

/* END WINDOWS VERSIONS */

/* BEGIN CUSTOMIZE UI */

#customization-panelHolder #PanelUI-customize {
    background-color: #45c2cc;
}

#customization-panelHolder #PanelUI-customize:hover,
#customization-panelHolder #PanelUI-customize:hover:active {
        background-color: #3eadb5;
}

#main-window #customization-panel-container,
#main-window[customize-entered] #customization-panel-container {
    background-image: none;
    background-color: #838383;
}

vbox[sidebarcommand=historybroadcaster] {
  #sidebar {
    background-color: white;
  }

  sidebarheader {
    display: none;
  }
}

#main-window[inFullscreen="true"] {
    .tabbrowser-arrowscrollbox > .arrowscrollbox-scrollbox {
        -moz-padding-start: 1px;
    }
}

#nav-bar #PanelUI-menu-button {
    -moz-margin-start: 0;
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 0 !important;;
    height: $urlbar-elms-height !important;
    min-width: 36px !important;
    border-left: 1px solid #ccc !important;
    box-shadow: none !important;

    &:hover {
        background: $buttons-hover-color;
    }

    .toolbarbutton-badge-stack {
        border: none !important;
        box-shadow: none !important;
        background: none !important;
    }
}


//=========================
//======== WIN 10 =========
//=========================

@media (-moz-os-version: windows-win10) {


    #forward-button > .toolbarbutton-icon {
        padding: 7px 6px !important;
    }

    /*==== FF Color */

    #titlebar,
    #tab-view-deck,
    #titlebar-content {
        background-color: $browser-top-bg-color;
    }

    #tab-view-deck {
        background-image: none !important;
    }

    #nav-bar .toolbarbutton-1:not(#back-button):not(#forward-button) {
        padding: 0;
    }

    #identity-box {
        margin-top: -1px;
        margin-bottom: -1px;
        border-radius: 3px 0 0 3px;
    }

    #TabsToolbar {
        margin-bottom: -1px; /*Remove the border bottom of active tab*/
    }

    #toolbar-menubar[autohide="false"] {
        padding-bottom: 0 !important;
    }

    #main-menubar {
        padding-right: 4px !important;
    }

    //#forward-button {
    //    padding-left: 0px !important;
    //}

    #back-button > .toolbarbutton-icon,
    #forward-button > .toolbarbutton-icon {
        padding: 8px 6px !important;
    }

    #main-window:not([sizemode="maximized"]) {
        #titlebar-buttonbox {
            padding: 0;
        }

        &[tabsintitlebar="true"] { /*When there is no custom titlebar*/
            #TabsToolbar {
                padding-right: 60px; /*Reserve some space for dragging the window*/
            }

            #tabbrowser-tabs .tabbrowser-arrowscrollbox {
                margin-inline-start: 36px;
            }

            #tabbrowser-tabs[overflow="true"] .tabbrowser-arrowscrollbox { /*When the indicator is showing*/
                margin-inline-start: 15px; /*Remove the line on the left of allowscroll-up button*/
            }
        }
    }
}

//====== Icons Hover State ====

﻿.findbar-button:hover:not(:-moz-any([checked="true"],
[disabled="true"])) > .toolbarbutton-text,
#nav-bar .toolbarbutton-1:not([disabled="true"]) > .toolbarbutton-menubutton-button[open] + .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#nav-bar .toolbarbutton-1:-moz-any(:hover,
[open]):not([disabled="true"]) > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1:-moz-any(:hover,
[open]):not([disabled="true"]) > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#nav-bar .toolbarbutton-1:hover:not([disabled="true"]):not([checked]):not([open]):not(:active) > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1:hover:not([disabled="true"]):not([checked]):not([open]):not(:active) > .toolbarbutton-text,
#nav-bar .toolbarbutton-1:hover:not([disabled="true"]):not([checked]):not([open]):not(:active) > .toolbarbutton-badge-stack,
window:not([chromehidden~="toolbar"]) #urlbar-wrapper > #forward-button:hover:not([open]):not(:active):not([disabled]) > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1:hover:not([buttonover]):not([open]):not(:active) > .toolbarbutton-menubutton-dropmarker:not([disabled]) > .dropmarker-icon {
    border-color: transparent !important;
    box-shadow: none !important;
    border-radius: none !important;
    background: $buttons-hover-color !important;
}

//====== Icons Hover ACTIVE State (click) ====
﻿.findbar-button:-moz-any([checked="true"],
:hover:active):not([disabled="true"]) > .toolbarbutton-text,
#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button:-moz-any(:hover:active,
[open]):not([disabled="true"]) > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1[open] > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]) > .dropmarker-icon,
#nav-bar .toolbarbutton-1:-moz-any([open],
[checked],
:hover:active):not([disabled="true"]) > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1:-moz-any([open],
[checked],
:hover:active):not([disabled="true"]) > .toolbarbutton-text,
#nav-bar .toolbarbutton-1:-moz-any([open],
[checked],
:hover:active):not([disabled="true"]) > .toolbarbutton-badge-stack {
    box-shadow: none;
    border-color: #cecece;
    background: #efefef;
}

//=== Border Customize Pannel
#main-window[customize-entered] #browser-bottombox, #main-window[customize-entered] #navigator-toolbox > toolbar:not(#TabsToolbar), #main-window[customize-entered] #customization-container {
    border: none !important;
}
