$urlbar-holder: 33px;
$urlbar-elms-height: 32px;
$buttons-hover-color: #e7e7e7;
$buttons-hover-border-color: #dfdfdf;
$browser-top-bg-color: #ccc;

$tabs-height: 36px;
$tab-border-color: #afafaf;
$tab-selected-bg-color: #fff;
$tab-bg-color: rgba(255, 255, 255, 0.1);
$tab-font-size: 1.09em;

$url-bar-font-size: 1.27em;
$url-bar-bg-color: #fff;
$url-bar-bg-private-color: #bec9d7;
$url-bar-hover-bg-color: #fff;
$url-bar-hover-border-color: #7aa8d9;
$url-bar-hover-shadow: inset 0 0 2px #aec6de;

#main-window:not([cliqzBrowser="true"]),
#main-window:not([cliqzBrowser="true"]) * :root {
  --cliqz-close-image: url("../images/browser/mac/close.png");
  --cliqz-close-image-2x: url("../images/browser/mac/close@2x.png");
  --cliqz-font-lato-regular: url("chrome://cliqz/content/static/skin/fonts/Lato-Regular.ttf");
  --cliqz-newtab-image: url("../images/browser/mac/newtab.png");
  --cliqz-newtab-image-2x: url("../images/browser/mac/newtab@2x.png");
  --cliqz-toolbar-image: url("../images/browser/mac/Toolbar.png");
  --cliqz-toolbar-image-2x: url("../images/browser/mac/Toolbar@2x.png");
  --cliqz-urlbar-arrow-image: url("../images/browser/mac/urlbar-arrow.png");
  --cliqz-urlbar-arrow-image-2x: url("../images/browser/mac/urlbar-arrow@2x.png");
  --menupanel-list-style-image: url("chrome://cliqz/content/theme/images/browser/mac/menuPanel.png");
  --menupanel-list-style-image-2x: url("chrome://cliqz/content/theme/images/browser/mac/menuPanel@2x.png") !important;
}

#main-window[cliqzBrowser="true"],
#main-window[cliqzBrowser="true"] * :root {
  --cliqz-close-image: url("close.png");
  --cliqz-close-image-2x: url("close@2x.png");
  --cliqz-font-lato-regular: url("Lato-Regular.ttf");
  --cliqz-newtab-image: url("newtab.png");
  --cliqz-newtab-image-2x: url("newtab@2x.png");
  --cliqz-toolbar-image: url("../Toolbar.png");
  --cliqz-toolbar-image-2x: url("../Toolbar@2x.png");
  --cliqz-urlbar-arrow-button: url("urlbar-arrow.png");
  --cliqz-urlbar-arrow-button-2x: url("urlbar-arrow@2x.png");
}

@font-face {
    font-family: "Lato";
    src: var(--cliqz-font-lato-regular);
}

:-moz-any(#back-button,
#forward-button,
#home-button,
#print-button,
#downloads-button,
#bookmarks-menu-button,
#new-tab-button,
#new-window-button,
#fullscreen-button,
#sync-button,
#feed-button,
#tabview-button,
#social-share-button,
#open-file-button,
#find-button,
#developer-button,
#preferences-button,
#privatebrowsing-button,
#save-page-button,
#add-ons-button,
#history-panelmenu,
#nav-bar-overflow-button,
#PanelUI-menu-button,
#characterencoding-button,
#email-link-button,
#sidebar-button,
#zoom-out-button,
#zoom-reset-button,
#zoom-in-button,
#cut-button,
#copy-button,
#paste-button,
#e10s-button,
#panic-button,
#web-apps-button,
#webide-button,
#loop-button,
#pocket-button,
#restore-button),
#bookmarks-menu-button > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
    list-style-image: var(--cliqz-toolbar-image);
}

/*.panel-arrow[side="top"] {
    margin-bottom: -1px;
}*/

#main-window {
    font-family: "Lato";
}

#main-window:not([chromehidden~="toolbar"]) {
    min-width: 940px;
}

#urlbar-container {
    min-width: 300px;
    -moz-box-pack: center;
}

#urlbar-wrapper {
    max-width: 100%;
    -moz-box-pack: center;
}

/*/!* ====== Close, minimize & fullscreen btns*!/*/
/*#main-window[tabsintitlebar] > #titlebar > #titlebar-content > #titlebar-buttonbox-container,*/
/*#main-window[tabsintitlebar] > #titlebar > #titlebar-content > #titlebar-secondary-buttonbox > #titlebar-fullscreen-button {*/
/*margin-top: 7px;*/
/*}*/

#tabbrowser-tabs {
    min-height: 27px;
}

.tab-background-start,
.tab-background-end {
    display: none;
}

.tab-background-middle {
    margin: 0;
    min-height: var(--tab-min-height);
}

.tab-background-middle[visuallyselected="true"] {
    background: none;
}

.tabbrowser-tab:not([pinned]) {
    max-width: 195px;
}

.tabbrowser-tab:hover > .tab-stack > .tab-background:not([visuallyselected="true"]) {
    background: none;
}

#nav-bar .toolbarbutton-1:not([type="menu-button"]), #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button, #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
    padding: 5px 2px;
    -moz-box-pack: center;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.findbar-button, #nav-bar .toolbarbutton-1, #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button {
    -moz-appearance: none;
    border: medium none;
    padding: 0px;
    background: transparent none repeat scroll 0% 0%;
}

#forward-button,
#back-button {
    width: 37px;
    height: $urlbar-elms-height !important;
    padding: 0 2px !important;
    margin-left: 0 !important;
    box-shadow: 0 0 0 0 transparent !important;
    border-radius: 0 !important;
    // While the simpleUI AB test is running, we need to set these with javascript in ui/window
    // border: none !important;
    // border-right: 1px solid #e1e1e1 !important;
    background-color: transparent !important;

    &:hover:not(:-moz-lwtheme):not([disabled="true"]) {
        background-color: $buttons-hover-color !important;
        box-shadow: none !important;
    }
}

window:not([chromehidden~="toolbar"]) #urlbar-wrapper {
    -moz-margin-start: 0px;
    clip-path: none;
}

/*:-moz-any(#back-button, #forward-button, #home-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #privatebrowsing-button, #save-page-button, #switch-to-metro-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button, #pocket-button), #bookmarks-menu-button > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {*/
/*list-style-image: url("./Toolbar.png");*/
/*}*/

#nav-bar,
#navigator-toolbox,
.tab-content,
#PersonalToolbar {
    background-image: none !important;
    background-color: #eee !important;
}

#urlbar {
    box-sizing: border-box;
    // While the simpleUI AB test is running, we need to set these with javascript in ui/window
    // max-width: 800px;
    // margin: 0 2.5em !important;
    height: $urlbar-elms-height !important;
    padding: 1px 0px;
    border-radius: 0 !important;
    border: 1px solid #ddd !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    box-shadow: none !important;
    background: $url-bar-bg-color !important;
    padding-left:7px;

    * {
        box-sizing: border-box;
    }

    #urlbar-reload-button,
    #urlbar-stop-button,
    #identity-box {
        border: none !important;
    }

    .urlbar-input-box {
        overflow: hidden;
        border: none !important;
    }

    &:hover {
        background: $url-bar-hover-bg-color !important;
    }


    & > #urlbar-icons > .urlbar-icon,
    & > #urlbar-go-button {
        border: none !important;
    }
}

#urlbar[focused="true"],
.searchbar-textbox[focused="true"] {
    border-color: $url-bar-hover-border-color !important;
    box-shadow:  $url-bar-hover-shadow !important;
    -moz-border-start: 1px solid $url-bar-hover-border-color !important;
    background: $url-bar-hover-bg-color !important;

}

/*==== FF Color */

#titlebar,
#tab-view-deck,
#titlebar-content {
    background-color: $browser-top-bg-color;
}

#tab-view-deck {
    background-image: none !important;
}

/*========== Tabs =======*/

#PersonalToolbar {
    background: #fff !important;
}

.tab-label:not([visuallyselected="true"]) {
    opacity: 1 !important;
}

.tabbrowser-tab {

    .tab-stack {
        width: 100%;
        margin: 0;
    }

    .tab-content {
        border-width: 1px 1px 0 0;
        border-style: solid;
        border-radius: 0;
        border-color: $tab-border-color;
        background: $tab-bg-color !important;

        .tab-label {
            margin-top: 3px;
            font-size: $tab-font-size;
            text-align: left;
            text-shadow: none;
        }
    }

    .tab-background {
        margin: 0;
    }

    &:hover:not([visuallyselected="true"]) .tab-content,
    .tabs-newtab-button:hover {
        background-color: $browser-top-bg-color !important;
    }

    &:first-child .tab-content {
        border-width: 1px 1px 0 1px;
    }


    &[visuallyselected="true"] {
        position: static !important;

        .tab-content {
            border-color: #d1d0d3;
            border-top: none;
            margin-top: 1px;
            background: $tab-selected-bg-color !important;
        }
    }

    //&:not([visuallyselected="true"]) {
    //    background: #b9b9b9 !important;
    //}

    &:not([pinned]) {
        .tab-content .tab-text {
            color: #555;
        }
    }
    &[pinned] {
        width: 37px;
    }
}

.tabbrowser-tabs[positionpinnedtabs] > .tabbrowser-tab[pinned] {
    .tab-stack {
        margin: 0;
        height: $tabs-height;
    }
}

/*======== Removes Tabs Border ==========*/
#tabbrowser-tabs[movingtab] > .tabbrowser-tab[beforeselected]:not([last-visible-tab])::after,
.tabbrowser-tab:not([visuallyselected]):not([afterselected-visible]):not([afterhovered]):not([first-visible-tab]):not(:hover)::before,
#tabbrowser-tabs:not([overflow]) > .tabbrowser-tab[last-visible-tab]:not([visuallyselected]):not([beforehovered]):not(:hover)::after {
    display: none;
}

.tabs-newtab-button {
    margin: 0 0 0 2px !important;
    width: 30px;
    border: none !important;
    background: none !important;
    list-style-image: var(--cliqz-newtab-image);

    .toolbarbutton-icon {
        padding-top: 8px;
        padding-bottom: 3px;
    }

}

.close-icon {
    list-style-image: var(--cliqz-close-image);
}

/*========== End Tabs =========*/

/*=== Bookmarks */
#PersonalToolbar {
    padding-top: 5px;
    border-top: none;
}

#nav-bar {
    height: $urlbar-holder !important;
    padding: 0;
    margin-top: 0 !important;
    box-shadow: none !important;
    border-top-color: #d1d0d3 !important;
    border-bottom: none !important; // 1px solid #e3e3e3 !important;
    background: #f6f6f6 !important;
}

#forward-button > .toolbarbutton-icon {
    margin: 0;
}

#PersonalToolbar {
    padding-left: 8px;
}

/*===== Bookmarks */

toolbarbutton.bookmark-item:not(.subviewbutton):not(#bookmarks-menu-button),
#personal-bookmarks[cui-areatype="toolbar"]:not([overflowedItem="true"]) > #bookmarks-toolbar-placeholder {
    padding: 0 10px 1px;
}

#bookmarks-menu-button[cui-areatype="toolbar"] > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
    margin-top: 1px;
    height: 19px;
}

#nav-bar-customization-target {
    padding: 0 4px 0 0;
}


@media (min-resolution: 2dppx) {
    .tabs-newtab-button,
    #TabsToolbar > #new-tab-button,
    #TabsToolbar > toolbarpaletteitem > #new-tab-button {
        list-style-image: var(--cliqz-newtab-image-2x);
    }

    .close-icon {
        list-style-image: var(--cliqz-close-image-2x);
    }
}

@media (min-resolution: 1.1dppx) {
    :-moz-any(#back-button,
    #forward-button,
    #home-button,
    #print-button,
    #downloads-button,
    #bookmarks-menu-button,
    #new-tab-button,
    #new-window-button,
    #fullscreen-button,
    #sync-button,
    #feed-button,
    #tabview-button,
    #social-share-button,
    #open-file-button,
    #find-button,
    #developer-button,
    #preferences-button,
    #privatebrowsing-button,
    #save-page-button,
    #add-ons-button,
    #history-panelmenu,
    #nav-bar-overflow-button,
    #PanelUI-menu-button,
    #characterencoding-button,
    #email-link-button,
    #sidebar-button,
    #zoom-out-button,
    #zoom-reset-button,
    #zoom-in-button,
    #cut-button,
    #copy-button,
    #paste-button,
    #e10s-button,
    #panic-button,
    #web-apps-button,
    #webide-button,
    #loop-button,
    #pocket-button,
    #restore-button),
    #bookmarks-menu-button > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
        list-style-image: var(--cliqz-toolbar-image-2x);
    }
}


#notification-popup-box {
    background-color: #fff !important;
    margin-left: 2px;
}

notification {
    &[type="info"] {
        margin-top: 0;
        border: none;
        color: rgba(255, 255, 255, 0.9);
    }

    &[type="warning"] {
        padding: 6px 5px;
        border: none;
        color: #fff;
        font-size: 14px;
        background: #fec621;
        letter-spacing: 0.4px;

        & > button {
            padding: 5px 10px;
            color: #fff;
            border: none;
            border-radius: 3px;
            text-shadow: none;
            box-shadow: none;
            background: #4661ae;
        }

        & .messageText {
            font-weight: normal;
            color: black;
        }
    }
}



#urlbar,
.searchbar-textbox {
    font-size: $url-bar-font-size;
}

.urlbar-input {
    padding-bottom: 2px !important;
}

#navigator-toolbox::after {
    margin-top: -3px !important;
    background-image: none;
    box-shadow: 0 0.13em 2px 0 rgba(0, 0, 0, 0.35);
    z-index: 0;
}

#main-window:not([chromehidden~="toolbar"]) {
    min-width: 425px;
}

#PanelUI-button {
    border-image-slice: 0;
}

#TabsToolbar .toolbarbutton-1 {
    padding-top: 5px !important;
}

#nav-bar .toolbarbutton-1:not(#back-button):not(#forward-button),
toolbarbutton#cliqz-cc-btn {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
    padding: 0;
    border-left: 1px solid transparent;
    transition: none !important;
    border-right: 1px solid transparent;


    &:hover {
        border-color: $buttons-hover-border-color;
        background: $buttons-hover-color;
    }

    &[open="true"] {
        background: #eee;
    }
}

#main-window[privatebrowsingmode="temporary"],
#navigator-toolbox[on_private_tab="true"] {
    #notification-popup-box {
        border-image: var(--cliqz-urlbar-arrow-image) 0 8 0 0 fill;
    }

    @media (min-resolution: 1.1dppx) {
        #notification-popup-box {
            border-image: var(--cliqz-urlbar-arrow-image-2x) 0 16 0 0 fill;
        }
    }

    #identity-box:hover {
        background-color: rgba(255, 255, 255, 0);
    }

    #identity-box:hover:active, #identity-box[open="true"] {
        background-color: rgba(255, 255, 255, 0);
    }

    #urlbar {
        background-color: $url-bar-bg-private-color !important;
    }
}

/* END URL BAR */

/* BEGIN TOOLBAR */

#PersonalToolbar {
    border-top: 1px solid #e1e1e1 !important;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.35) !important;
    z-index: 1;
    -moz-box-ordinal-group: 101;
    content: "";
    display: -moz-box;
    position: relative;
    background-color: #f6f6f6 !important;
}

/* END TOOLBAR */

/* BEGIN TAB */

#titlebar {
    margin-bottom: -43px !important;
}

.titlebar-placeholder[type="caption-buttons"], #titlebar-buttonbox {
    margin-right: -6px;
    margin-top: -5px;
    margin-left: 10px;
}

#main-window[privatebrowsingmode]:not([tabsintitlebar="true"]):not([inFullscreen="true"]) {
    #titlebar {
        margin-bottom: 0 !important;
    }

    #titlebar-buttonbox {
        margin: 2px 0 0 6px;
    }
}

#main-window[tabsintitlebar] > #titlebar > #titlebar-content > #titlebar-buttonbox-container, #main-window[tabsintitlebar] > #titlebar > #titlebar-content > #titlebar-secondary-buttonbox > #titlebar-fullscreen-button {
    margin-top: 11px;
}

#PanelUI-button {
    margin-inline-start: 0;
}

#nav-bar #PanelUI-menu-button {
    height: $urlbar-elms-height !important;
    -moz-margin-start: 0;
    margin: 0 0 0 1px !important;
    min-width: 37px !important;
    border-radius: 0 !important;;
    border-left: 1px solid #ccc !important;
    box-shadow: none !important;

    &:hover {
        background: $buttons-hover-color;
    }
}

#TabsToolbar {
    padding-right: 60px; /*Reserve some space for dragging the window*/
    min-height: $tabs-height;
}

#navigator-toolbox:not([inFullscreen]) #tabbrowser-tabs {
    -moz-margin-start: 6px; /*Move the tabs a bit right to have a clear space from the close-min-max buttons*/
}

.tabbrowser-tab:not([pinned]) {
    max-width: 236px;
}

.tab-close-button > .toolbarbutton-icon {
    padding-top: 5px;
    padding-bottom: 4px;
}

.tab-label:not([selected="true"]) {
    color: #808080;
}

.tab-throbber, .tab-icon-image, .tab-icon-sound, .tab-close-button {
    margin-top: 3px;
}

.tabbrowser-arrowscrollbox > .scrollbutton-up, .tabbrowser-arrowscrollbox > .scrollbutton-down {
    padding-top: 5px;
}

#navigator-toolbox:not([inFullscreen="true"]) #tabbrowser-tabs .tabbrowser-arrowscrollbox {
    margin-inline-start: 44px;
}

/* END TAB */

/* BEGIN CUSTOMIZE UI */

#customization-panelHolder #PanelUI-customize {
    background-color: #36c0c0;
}

#customization-panelHolder #PanelUI-customize:hover,
#customization-panelHolder #PanelUI-customize:hover:active {
    background-color: #3eadb5;
}

#main-window #customization-panel-container,
#main-window[customize-entered] #customization-panel-container {
    background-image: none;
    background-color: #506275;
}

vbox[sidebarcommand=historybroadcaster] {
    #sidebar {
        background-color: white;
    }

    sidebarheader {
        display: none;
    }
}

//=== FULL SCREEN
.tabbrowser-arrowscrollbox > .arrowscrollbox-scrollbox {
    padding: 0;
}

#navigator-toolbox[inFullscreen="true"] > #TabsToolbar {
    padding-top: 0;
    margin-top: -2px;
}

//=== Border Customize Pannel
#main-window[customize-entered] #browser-bottombox, #main-window[customize-entered] #navigator-toolbox > toolbar:not(#TabsToolbar), #main-window[customize-entered] #customization-container {
    border: none !important;
}
