<div class="heading clearfix">
  <div id="sliderBtns">
    {{#unless isOnePage}}
      {{#each pages as |page index|}}
        <div class="{{if (equal index pageNum) "active"}}"><span class="overflow-hidden" {{action "setPage" index}}>{{index}}</span></div>
      {{/each}}
    {{/unless}}
  </div>
</div>
<div class="content">
  {{#each page as |article index|}}
    {{article-item model=article target-type=article.type index=index class="clearfix" tagName="li" showLogo=showLogo calculateHeightAction="calculateHeight" height=maxHeight pageNum=pageNum pageSize=pageSize}}
  {{/each}}
</div>
