<a href="#" {{action "openFeedbackPage"}}>
  <span class="feedbackText">{{t 'abtests.feedback'}}</span>
  <span class="feedbackIcon">
    <svg width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

        <title>bubble</title>
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="privacy-links" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(-1287.000000, -850.000000)" id="Group-12" fill="#666666">
                <g transform="translate(1181.000000, 850.000000)">
                    <path d="M108.116431,16 L114.465725,11.9931106 L108.821908,11.9931106 L108.116431,16 Z M106,2.00737706 C106,0.898733325 106.895491,0 108.005897,0 L120.220076,0 C121.327903,0 122.225973,0.901432533 122.225973,2.00737706 L122.225973,9.98573351 C122.225973,11.0943773 121.330482,11.9931106 120.220076,11.9931106 L108.005897,11.9931106 C106.898071,11.9931106 106,11.091678 106,9.98573351 L106,2.00737706 Z" id="bubble"></path>
                </g>
            </g>
        </g>
    </svg>
  </span>
</a>