<div class="status"></div>
{{cliqz-logo model=model.logo tagName="span"}}
<h2>{{model.domain}}</h2>
<p>
  {{moment-from-now model.lastVisitedAt interval=1000}}
</p>
{{#if unreadNews}}
  <span class="badge badge-assertive">
    {{unreadNews.length}}
  </span>
{{/if}}
