<span {{action 'toggle'}}>
  <span class="cqz-switch">
    <span class="cqz-switch-box {{if isActive 'active'}}">
    </span>
  </span>
  <span>{{t 'general.switch-on'}}</span>
  <span>{{t 'general.switch-off'}}</span>
</span>