<div id="firstTimeOnboarding">
  <div class="options">
    <a key="freshtab_learn_more" {{action 'freshTabLearnMore' "https://cliqz.com/aboutus/blog/new-startpage" on='click'}}  class="moreBtn" href="https://cliqz.com/aboutus/blog/new-startpage">
      {{t 'miniOnboarding.learn-more'}}
    </a>
    {{#unless isBrowser}}
      <a key="freshtab_back_to_old" {{action 'revertBack' on='click'}} class="revertBtn" href="#">{{t 'miniOnboarding.back_to_old'}}</a>
    {{/unless}}
  </div>
</div>