<select onchange={{action "selectLanguage" value="target.value"}}>
  <option selected= {{equal newsLanguage "en" }} value="en">English</option>
  <option selected={{equal newsLanguage "de"}} value="de">German</option>
</select>