<a class="navItem overflow-hidden" data-screen="1" href="#" {{action "navigateTo" 1}}>1</a>
<a class="navItem overflow-hidden" data-screen="2" href="#" {{action "navigateTo" 2}}>2</a>
<a class="navItem overflow-hidden" data-screen="3" href="#" {{action "navigateTo" 3}}>3</a>