<a href="#"  title="{{t 'speedDials.search-on'}} {{model.displayTitle}}">

  <svg width="15px" height="15px" viewBox="0 0 15 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    {{!-- <title>{{t 'speedDials.search-on'}} {{model.displayTitle}}</title> --}}
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="topsites-w-search" transform="translate(-539.000000, -216.000000)" fill="#FFFFFF ">
        <g id="Group-2" transform="translate(444.000000, 198.000000)">
          <path d="M105.18753,29.0291321 C104.116135,29.8581468 102.763171,30.3529003 101.29234,30.3529003 C97.8171767,30.3529003 95,27.5909624 95,24.1839391 C95,20.7769162 97.8171767,18.0149782 101.29234,18.0149782 C104.767504,18.0149782 107.584681,20.7769162 107.584681,24.1839391 C107.584681,25.62593 107.080032,26.952365 106.234437,28.0027524 L110,31.6944809 L108.953093,32.7208606 L105.18753,29.0291321 L105.18753,29.0291321 Z M101.29234,28.90138 C103.949818,28.90138 106.10413,26.7893097 106.10413,24.1839391 C106.10413,21.5785685 103.949818,19.4664985 101.29234,19.4664985 C98.6348621,19.4664985 96.4805507,21.5785685 96.4805507,24.1839391 C96.4805507,26.7893097 98.6348621,28.90138 101.29234,28.90138 L101.29234,28.90138 Z" id="Combined-Shape"></path>
        </g>
      </g>
    </g>
  </svg>
</a>