
/* old style css */

input#urlbar
  display: n
  /* margin: 0px auto 0
  /* height: 0px
  font-size: 24px
  /* display: none
  width: 200px
  opacity: 0.2
  right: 0
  position: absolute
  z-index: 500

#results
  position: absolute
  top: -17px
  bottom: 0
  margin: 5px auto 0
#results::-webkit-scrollbar
  display: none
  /*border: 1px solid gray
  /* background: #eee

progress#progress
  opacity: 0.2
  position: absolute
  height: 4px
  display: none
  z-index: 100
  top: 0px
  left: 20px
  width: 316px

.cliqz-brand-logo.transition
  width: 51px
  float: left
  margin-right: 7px
  height: 32px
  background-repeat: no-repeat
  background-position-x: center

div#recent

button#recentbutton
  opacity: 0.8
  font-size: 18px
  border: 1px solid #999999
  /* opacity: 0.5
  font-size: 31px
  /* border: 1px solid #999999
  font-weight: 900
  display: none

#recentitems

div#dots
  display: none
  position: absolute
  left: 136px
  top: 216px
  z-index: 100
  opacity: 0.3

.dot
  display: inline-block
  width: 12px
  height: 12px
  border-radius: 6px
  background-color: #8999A6
  position: absolute
  z-index: 1000
  right: -3px
  top: -3px

.activeDot
  background-color: red

// fixes history

.cliqz-pattern-element.overflow
  overflow: hidden
  margin: 15px 0px
  width: 100%

.cliqz-pattern-element-title
  width: 79%
  overflow: hidden
  height: 14px
  /* float: left
  font-weight: bold

.cliqz-pattern-element-link
  width: 100%
  overflow: hidden
  height: 19px
  margin-left: 0px
  font-size: 13px

.cliqz-brand-logo.cliqz-history-logo.transition
  background-repeat: no-repeat
  float: right
  margin-top: -33px
  max-height: 22px
  background-position-y: center
  max-width: 40px

div
  &#no-network-message
    display: none
    font-size: xx-small
    position: fixed
    left: 20px
    top: 0px
    color: red
  &#req-status-message
    z-index: 1000
    font-size: xx-small
    position: fixed
    left: 0px
    top: 100px
    color: red

.spinner
  margin: 18px auto 0
  width: 70px
  text-align: center
  > div
    width: 5px
    height: 5px
    background-color: #8FDF57
    border-radius: 100%
    display: inline-block
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both
    animation: sk-bouncedelay 1.4s infinite ease-in-out both
  .bounce1
    -webkit-animation-delay: -0.32s
    animation-delay: -0.32s
  .bounce2
    -webkit-animation-delay: -0.16s
    animation-delay: -0.16s

@-webkit-keyframes sk-bouncedelay
  0%, 80%, 100%
    -webkit-transform: scale(0)

  40%
    -webkit-transform: scale(1)


@keyframes sk-bouncedelay
  0%, 80%, 100%
    -webkit-transform: scale(0)
    transform: scale(0)

  40%
    -webkit-transform: scale(1)
    transform: scale(1)


ul#recentitems
  list-style-type: none
  /* width: 100%

#recentitems li
  line-height: 20px
  border-radius: 4px
  border: 1px solid #B5B5B5
  padding: 7px
  margin-bottom: 5px
  /* background:
   *-webkit-gradient(linear, left top, right top, color-stop(0%,#feffff), color-stop(35%,#E0F3FB), color-stop(100%,#F2F6F7))
  display: block
  width: 290px

#recent li a
  color: #000

#recentitems li.active
  background: #fff
  margin-left: 20px

.main__rating
  margin-bottom: 1rem
  line-height: 1rem
  font-weight: 700

img
  &.cqz-rd-rateimg
    height: 1rem
    margin-bottom: -1px
    margin-left: -2px
    margin-right: 2px
    color: #FEDE07
  &.EZ-Cliqz_Header-Contact-icon
    height: 1.5rem
    background-repeat: no-repeat
    /* margin-left: 87px

.EZ-Cliqz-Header
  background-repeat: no-repeat
  background-position: 0
  padding-left: 98px
  line-height: 1.5rem
  text-align: right
  margin: 1rem 0
  img
    margin: 0 0.5rem

.EZ-Cliqz-Body-H1
  font-weight: bold
  padding: 0 0 0.5rem

li.cqz-ez-search-app.transition
  background-repeat: no-repeat
  background-position: 5px
  padding-left: 38px
  background-size: 20px

.meta
  .meta__url i.mobile, .meta__logo
    display: none
  .meta__url
    margin: 0 0 0 2px
    font-weight: 400
    color: #999
    font-size: 12px
    line-height: 12px
    white-space: nowrap
    overflow: hidden
    position: relative
.meta__social
  .cqz-celeb-social-box
    display: block
    padding: 0 0 0.25rem
    img
      height: 1.25rem
      margin: 0 0.75rem 0 0

.meta .meta__c
  margin: 0 0 0 0px !important
  line-height: 12px !important

a
  /* font-weight: bold
  color: rgba(0, 0, 0, 0.8)

div#cliqz-swiping-dots-new
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 25, 25, 0)), to(rgba(25, 25, 25, 0.8)), color-stop(0.45, #fff))
  position: fixed
  width: 100%
  height: 30px
  top: 8px
  text-align: -webkit-center
  position: fixed
  bottom: 0px
  top: inherit
  span
    /* font-size: 130px
    position: relative
    margin-top: 5px
    background: rgb(247, 247, 247)
    border-radius: 30%
    border: 1px solid #aaa
    width: 10px
    display: block
    float: left
    height: 10px
    margin-left: 5px
    text-indent: -2000px
    &#dots-page-0
      color: #888
      font-weight: bold
      font-size: 9px
      text-indent: -5000px
      margin-left: 10px
    &.active
      background-color: rgba(22, 61, 76, 0.26)
  height: 20px
  background: #efefef

h1.main__headline a
  color: #163D4C !important
  font-weight: bold

div#cliqz-swiping-dots-new-inside
  white-space: nowrap
  width: 113px

img
  &.cqz-rd-img_div.cqz-image-round
    /* float: right
    width: 70px
  &.cqz-rd-img
    float: right
    /* width: 40%
    /* margin-top: -50px
    margin-left: 20px
    max-height: 160px

.meta__logo.image
  text-indent: -1000px

.cqz-multy-lines-ellipses
  clear: both
  padding-top: 10px
  padding-bottom: 17px

.cqz-result-url.overflow
  margin: 10px 0px

.cqz-rd-info-2
  margin: 10px 0

.main__meta .cqz-rating-star-on
  color: #FEDE07

img.__main__image__many
  max-width: 100px
  height: 52px
  margin-right: 5px
  border: 1px solid #eee
  float: left

.__main__image.__many
  width: 100%
  height: 55px
  margin-top: 0.75rem
  overflow: hidden

.queries
  float: right
  display: block
  clear: both
  padding: 2px 2px 2px 8px
  background: #E3F5E3
  font-size: 16px
  border: 1px solid #DFDFDF
  margin: 4px 18px 4px 1px
  border-radius: 5px
  color: #000
  box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.5)
  .time
    float: right
    display: block
    clear: both
    padding: 2px
    font-size: 9px
    margin: 5px 5px 0px 5px
    color: #777

.link
  float: left
  display: block
  clear: both
  padding: 3px 3px 2px 11px
  background: #fff
  font-size: 16px
  border: 1px solid #DFDFDF
  margin: 4px 18px 3px 1px
  border-radius: 5px
  color: #000
  max-width: 80%
  box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.5)
  .time
    float: right
    display: block
    clear: both
    padding: 2px
    font-size: 9px
    margin: 5px 5px 0px 5px
    color: #777


#reconnecting
  position: absolute
  top: 0
  left: 0
  right: 0
  text-align: center
  padding: 0px 0 0
  display: block
  text-align: center
  background-color: #000
  z-index: 9999
  h3
    text-align: center
    margin: 0
    padding: 0
    font-size: 1rem
    line-height: 2rem
    color: #fff
    font-weight: 300
  span
    border: 1px solid #fff
    border-radius: 19%
    padding: 2px 5px
  span.active
      background: #fff
      color: black


div#progress
  top: 0px
  position: absolute
  z-index: 100000

/* Old Style-Slide */

.cf::after
  clear: both
  content: ""
  display: table

.clearfix
  &:after
    content: ""
    display: table
    clear: both

body, html
  font-family: -apple-system, "Roboto", 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif
  font-size: 16px
  padding: 0
  margin: 0
  -webkit-text-size-adjust: 100%

.noselect
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.wrapper
  margin: 0 auto
  padding: 0 0
  position: fixed
  top: 64px
  left: 0
  right: 0
  bottom: 253px
  overflow: hidden
  overflow-x: scroll
  .content
    position: absolute
    top: 16px
    left: 16px
    right: 16px
    bottom: 16px

.frame
  position: absolute
  top: 0
  left: 0
  bottom: 0
  padding-bottom: 1.5rem
  overflow-x: hidden
  /* box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2)
  -webkit-overflow-scrolling: touch
  overflow-y: scroll

.phoneui
  background-color: red
  height: 64px
  position: fixed
  top: 0
  left: 0
  right: 0
  display: block

.legend
  font-size: 12px
  line-height: 16px
  padding: 16px 0 4px
  margin: 0
  font-weight: 400
  color: #999
  display: none
  text-align: center

.cqz-result-box, .rr
  padding: 16px 16px 16px
  margin: 32px 0px 32px 16px
  background-color: #FFF
  overflow: auto
  border-radius: 4px

#defaultEngine
  background-color: #245c92
  margin-bottom: 0

.cqz-result-box::after, .rr::after
  clear: both
  content: ""
  display: table

.meta
  padding: 0 0
  margin: 0
  color: #666
  &::after
    clear: both
    content: ""
    display: table
  .meta__url
    margin: 0 0 0 32px
    padding: 0
    font-weight: 400
    color: #999
    font-size: 12px
    line-height: 32px
    white-space: nowrap
    overflow: hidden
    position: relative
    &.no-indent
      margin-left: 0
      span
        color: #999
    i
      display: block
      height: 32px
      width: 32px
      font-size: 16px
      line-height: 32px
      padding: 0
      text-align: center
      border-radius: 4px
      float: left
      margin-right: 8px
      &.mobile
        background-color: #c8efad
        color: #0F603E
      &.history
        background-color: #FE9531
        color: #691109
      &.bookmark
        background-color: #d3e2ef
        color: #526EB6
        font-size: 12px
    span
      color: #c80000
    .cqz-celeb-social-box
      display: inline-block
      position: absolute
      top: 4px
      right: 0
      img
        width: 24px
        margin-left: 12px
  .meta__logo
    width: 32px
    height: 32px
    line-height: 32px
    border-radius: 4px
    background-color: #000
    margin-right: 8px
    float: left
    color: #fff
    text-align: center
    &.image
      text-indent: -9999px
      background-image: url("logos/twitter.svg")
      background-size: 62%
      background-position: center
      background-repeat: no-repeat
      &.wikipedia
        background-image: url("logos/Wikipedia.svg")

a
  color: #506bb8
  text-decoration: none

.meta__image
  float: left
  width: 80px
  padding-top: 40px
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  text-indent: -9999px
  margin-right: 12px
  border-radius: 4px

.main
  position: relative
  .movie_desc
    padding: 24px 0 0
    font-size: 12px
    line-height: 16px

.main__content
  font-size: 14px
  color: #333
  box-sizing: border-box
  display: block
  line-height: 20.8px
  padding: 0 0
  margin: 0 0
  overflow: hidden
  text-overflow: ellipsis
  &.description
    font-size: 12px
    line-height: 16px
  h5
    font-size: 16px
    line-height: 24px
    height: 24px
    padding: 8px 0 8px
    margin: 0
    color: #333
    font-weight: 600
    text-align: center
  .meta__legend
    font-size: 12px
    line-height: 16px
    padding: 0 0 16px
    color: #999
    text-align: center
    display: block
  table
    width: 100%
    td
      font-weight: 700
      text-align: left
      div
        font-weight: 400
        color: #999
        text-align: center
      &:last-child
        text-align: right

.main__notifications
  background-color: #c8efad
  padding: 4px 8px
  color: #5caf21
  line-height: 20.8px
  margin: 20.8px 0
  border-radius: 4px
  border: 1px #81db42 solid

.main__headline
  font-size: 19.2px
  line-height: 24px
  padding: 0 0
  box-sizing: border-box
  color: #333
  font-weight: 400
  overflow: hidden
  text-overflow: ellipsis
  -webkit-line-clamp: 2
  -webkit-box-orient: vertical

.main__subheadline
  font-size: 12px
  line-height: 16px
  padding: 0 0 16px
  border-bottom: 1px #ddd solid
  box-sizing: border-box
  margin: 0 0 8px
  color: #999
  font-weight: 400

.main.mulitple
  display: -webkit-box
  display: -moz-box
  display: box
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flexbox
  display: flex
  -webkit-box-orient: vertical
  -moz-box-orient: vertical
  box-orient: vertical
  -webkit-box-direction: normal
  -moz-box-direction: normal
  box-direction: normal
  -webkit-flex-direction: column
  -moz-flex-direction: column
  flex-direction: column
  -ms-flex-direction: column
  -webkit-box-align: stretch
  -moz-box-align: stretch
  box-align: stretch
  -webkit-align-items: stretch
  -moz-align-items: stretch
  -ms-align-items: stretch
  -o-align-items: stretch
  align-items: stretch
  -ms-flex-align: stretch
  -webkit-align-content: stretch
  -moz-align-content: stretch
  align-content: stretch
  -ms-flex-line-pack: stretch
  .item
    position: relative
    -webkit-box-flex: 1
    -moz-box-flex: 1
    box-flex: 1
    -webkit-flex: 1 1 auto
    -moz-flex: 1 1 auto
    -ms-flex: 1 1 auto
    flex: 1 1 auto
    border-radius: 4px
    margin-top: 8px
    .main__headline
      padding: 0 8px 16px 72px
      font-size: 0.75rem
      line-height: 1rem
      box-sizing: border-box
      min-height: 48px
      margin: 0
      span
        display: block
        font-size: 0.75rem
        line-height: 1rem
        color: rgba(0,0,0,0.38)
        .tweet_count
          color: #49C0F2
          display: inline
          font-size: 0.75rem
          img
            height: 10px
    .main__image
      position: absolute
      top: 2px
      left: 0
      width: 64px
      height: 48px
      margin: 0
      background-position: top
      border-radius: 4px
    .main__multiple__time
      position: absolute
      bottom: 0
      right: 0
      background-color: #eee
      border-top-left-radius: 4px
      border-bottom-right-radius: 4px
      font-size: 12px
      line-height: 16px
      padding: 0 8px
      color: #666


.main__image
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  height: 80px
  border-radius: 4px
  text-indent: -9999px
  margin-top: 12px
  position: relative
  width: 90px
  float: left
  margin: 0 12px 12px 0
  &.many
    -webkit-box-flex: 1
    -moz-box-flex: 1
    box-flex: 1
    -webkit-flex: 1 0 auto
    -moz-flex: 1 0 auto
    -ms-flex: 1 0 auto
    flex: 1 0 auto
    width: auto
    margin: 0
    text-indent: 0
    display: -webkit-box
    display: -moz-box
    display: box
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flexbox
    display: flex
    -webkit-box-orient: row nowrap
    -moz-box-orient: row nowrap
    box-orient: row nowrap
    -webkit-box-direction: normal
    -moz-box-direction: normal
    box-direction: normal
    -webkit-flex-direction: row nowrap
    -moz-flex-direction: row nowrap
    flex-direction: row nowrap
    -ms-flex-direction: row nowrap
    -webkit-box-align: stretch
    -moz-box-align: stretch
    box-align: stretch
    -webkit-align-items: stretch
    -moz-align-items: stretch
    -ms-align-items: stretch
    -o-align-items: stretch
    align-items: stretch
    -ms-flex-align: stretch
    -webkit-align-content: stretch
    -moz-align-content: stretch
    align-content: stretch
    -ms-flex-line-pack: stretch
    .main__image__many
      -webkit-box-flex: 1
      -moz-box-flex: 1
      box-flex: 1
      -webkit-flex: 1 1 auto
      -moz-flex: 1 1 auto
      -ms-flex: 1 1 auto
      flex: 1 1 auto
      background-position: center
      background-size: cover
      background-repeat: no-repeat
      height: 80px
      border-radius: 2px
      text-indent: -9999px
      border-right: 1px #fff solid
      &:last-child
        border-right: 0px
  &.video .playbutton
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    line-height: 96px
    text-align: center
    text-indent: 0
    i
      text-indent: 0
      color: #fff

@media only screen and (min-width: 375px)
  .main__image
    height: 96px

@media only screen and (min-width: 414px)
  .main__image
    height: 112px

@media only screen and (min-width: 375px)
  .main__image.many .main__image__many
    height: 96px

@media only screen and (min-width: 414px)
  .main__image.many .main__image__many
    height: 112px

.people
  .main__image
    position: absolute
    top: 0
    left: 0
    width: 72px
    height: 72px
  .main__headline, .main__content
    padding-left: 88px

.main__meta
  font-size: 20px
  color: #506bb8
  -webkit-box-flex: 0
  -moz-box-flex: 0
  box-flex: 0
  -webkit-flex: 0 1 auto
  -moz-flex: 0 1 auto
  -ms-flex: 0 1 auto
  flex: 0 1 auto
  box-sizing: border-box
  display: block
  display: -webkit-box
  line-height: 24px
  padding: 0 0
  margin: 0 0
  -webkit-box-orient: vertical
  overflow: hidden
  text-overflow: ellipsis
  .cqz-rating-star-on
    color: #FEDE07
  .cqz-rating-star-off
    color: #ddd

.meta__infos
  font-size: 16px
  line-height: 24px
  color: #999

.cinema-showtimes-headline
  margin: 24px 0 0
  padding: 0
  line-height: 24px
  font-size: 16px
  color: #999
  font-weight: 500

.cinema-showtimes-table
  margin: 0 0 24px
  padding: 0
  width: 100%
  th
    font-size: 16px
    line-height: 16px
    font-weight: 300
    color: #999
  td
    padding: 4px 0
    &.cinema-name-td
      vertical-align: top
      a
        display: block
        color: #666
        padding: 0 8px
        font-size: 16px
        line-height: 25.6px
        border: 1px rgba(0, 0, 0, 0.2) solid
        border-radius: 4px
        background-color: rgba(0, 0, 0, 0.1)
        position: relative
    &.cinema-showtime-td
      vertical-align: top
      a
        display: block
        float: left
        color: #666
        padding: 0 8px
        font-size: 16px
        line-height: 25.6px
        border: 1px #67c425 solid
        border-radius: 4px
        background-color: #baeb97
        position: relative

.breaking_news
  color: #E64C66
  text-transform: uppercase

#topNews
  min-height: 200px

.list
  padding: 0 0 12px
  margin: 0
  li
    list-style-type: none
    padding: 0 0 4px
    margin: 0
    &::after
      clear: both
      content: ""
      display: table
  .meta__image
    width: 64px
    padding-top: 32px
    float: left
  .meta__headline
    font-size: 12px
    display: block
    display: -webkit-box
    line-height: 16px
    padding: 2px 0 0
    margin: 0
    color: #333
    font-weight: 400
    max-height: 32px
    -webkit-line-clamp: 2
    -webkit-box-orient: vertical
    overflow: hidden
    text-overflow: ellipsis
  .meta__url
    margin: 0
    padding: 0
    font-weight: 400
    color: #999
    font-size: 12px
    line-height: 16px
    span
      color: #c80000

#moreResults, #noResults
  display: block
  color: #666
  padding: 4px 8px 4px
  font-size: 14px
  line-height: 21px
  border: 1px rgba(0, 0, 0, 0.2) solid
  border-radius: 4px
  background-color: rgba(0, 0, 0, 0.1)
  position: relative

.cta
  margin: 0
  padding: 16px 0 0
  li
    list-style-type: none
    margin: 0 0 2px
    div
      display: block
      color: #666
      padding: 4px 8px 4px
      font-size: 14px
      line-height: 21px
      border: 1px rgba(0, 0, 0, 0.2) solid
      border-radius: 4px
      background-color: rgba(0, 0, 0, 0.1)


.cta-list
  margin: 0
  padding: 16px 0 0
  li
    list-style-type: none
    margin: 0 0 2px
    display: block
    color: #666
    padding: 12px 16px
    font-size: 14px
    line-height: 25.6px
    border: 1px rgba(0, 0, 0, 0.2) solid
    border-radius: 4px
    background-color: rgba(0, 0, 0, 0.1)
    position: relative
    .cta__logo
      width: 32px
      height: 32px
      line-height: 32px
      border-radius: 4px
      background-color: rgba(0,0,0,0.38)
      margin-right: 8px
      position: absolute
      top: 8px
      left: 8px
      color: #fff
      text-align: center
      &.image
        text-indent: -9999px
        background-image: url("logos/twitter.svg")
        background-size: 62%
        background-position: center
        background-repeat: no-repeat
    a
      font-size: 16px
      line-height: 19.2px
      padding: 0 0 0 16px
      font-weight: 700
      color: rgba(0, 0, 0, 0.62)

#googleThisAnim
  padding: 8px 16px
  width: 62%
  margin: 0 auto 0
  min-width: 150px
  text-align: center
  a
    color: #999 !important
    font-size: 14px
    font-weight: 300
  img
    width: 48px

.video
  .picture
    position: relative
    padding-top: 25%
    background-color: #999
    border-radius: 4px
    margin-bottom: 4px
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    .meta__logo
      width: 48px
      height: 48px
      line-height: 48px
      border-radius: 50%
      background-color: #000
      float: left
      color: #fff
      text-align: center
      position: absolute
      top: -2px
      left: -2px
      border: 2px #fff solid
      &.image
        text-indent: -9999px
        background-image: url("logos/twitter.svg")
        background-size: 62%
        background-position: center
        background-repeat: no-repeat
  .meta-nologo
    padding: 0 0 8px
    margin: 0
    color: #666
    &::after
      clear: both
      content: ""
      display: table
    .meta-nologo__headline
      font-size: 18px
      line-height: 28.8px
      padding: 0 0 0
      margin: 0
      color: #333
      font-weight: 400
    .meta-nologo__url
      margin: 0 0 0
      padding: 0
      font-weight: 400
      color: #999
      font-size: 16px
      line-height: 19.2px

@media only screen and (min-width: 800px)
  .video .picture
    width: 48%
    float: left
    padding-top: 20%

@media only screen and (min-width: 800px)
  .video .meta-nologo
    width: 50%
    float: right

@media only screen and (min-width: 800px)
  .video .main
    width: 50%
    float: right

.cqz-ez-stock-trend
  font-size: 24px
  line-height: 32px
  padding: 8px 0
  img
    max-height: 24px
    display: inline-block
    max-width: 32px
    margin-bottom: -2px
  .red
    color: red
  .green
    color: green

.cliqz-stock-price-table td
  color: #aaa
  font-size: 12px
  line-height: 16px
  vertical-align: top
  padding-right: 16px

.cqz-disclaimer
  font-size: 12px
  color: #ccc
  line-height: 16px
  padding-top: 16px

.flightStatusEZ-plane-position
  position: relative
  height: 32px
  margin: 16px 0
  .flightStatusEZ-plane-position-plane-img
    width: 32px
    position: absolute
    top: 0
    left: 0
  .flightStatusEZ-plane-position-bar
    background-color: #74d463
    height: 2px
    margin-top: 14px
    position: absolute
    top: 0
    left: 40px
    right: 0
    .flightStatusEZ-plane-position-dot
      background-color: #eee !important
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      &:after
        content: ""
        border-radius: 50%
        background-color: #74d463
        height: 8px
        position: absolute
        top: -3px
        left: 0
        width: 8px

.flightStatusEZ-depart-arrival
  div
    font-size: 16px
    line-height: 24px
  .flightStatusEZ-depart
    width: 50%
    float: left
    color: #999
    .flightStatusEZ-depart-arrival-name
      color: #000
  .flightStatusEZ-arrival
    width: 50%
    float: right
    color: #999
    .flightStatusEZ-depart-arrival-name
      color: #000

.no__location
  color: #45C2CC
  margin: 0.5rem 5%
  padding: 0.25rem 0
  overflow: hidden
  border: 1px #45C2CC solid
  border-radius: 4px
  width: 90%
  text-align: center
  .pin__logo
    width: 1rem
    height: 1rem
    display: inline
  .share__once
    white-space: nowrap
    font-size: 0.75rem
    display: inline
    vertical-align: text-top
.cqz-local-result
  margin: 0 1rem
  overflow: hidden
  .local__head
    word-break: break-all
    width: 100%
    box-sizing: border-box
    .map__img
      overflow: hidden
      width: 4rem
      height: 4rem
      box-sizing: border-box
      margin: 0 1rem
    .address__details
      margin-left: 0.5rem
      box-sizing: border-box
      word-break: break-word
      overflow: hidden
    .local-distance
      text-align: center
      text-indent: -5px
      color: #45C2CC
  .local__details
    width: 90%
    margin: 0.5rem 0
    .time-icon-cell
      vertical-align: top
      margin-right: 16px
      .icon
        background-position: center
        background-size: contain
        text-indent: -9999px
        background-repeat: no-repeat
        height: 1rem
        width: 1rem
    .phone-num-cell
      text-align: center
      .icon
        background-position: center
        background-size: contain
        background-repeat: no-repeat
        width: 1.5rem
        height: 1.5rem
        margin: auto
      .call-text
        margin-top: 5px
        color: #45C2CC
        white-space: nowrap

#cliqz-message-container
  position: absolute
  bottom: 0
  left: 0
  width: 500px
  z-index: 999
  .cqz-message
    background-color: #FFC72F
    padding: 16px 32px
  .footer-message-action
    background-color: #FFC72F
    width: 100%
    td
      padding: 0 4px 4px
    span
      display: block
      line-height: 24px
      font-size: 16px
      text-align: center
      background-color: #e2a500
      border-radius: 4px

.currency .main__headline
  padding-bottom: 16px
  border-bottom: 1px #eee solid
  margin-bottom: 16px

.currency__table
  padding: 0 1rem
  td
    padding: 2px 0
    input
      padding: 2px 4px
  .currency__legend
    td
      padding: 2px 0
      font-size: 12px
      &:first-child
        text-align: right
  .currency__swap td
    padding: 2px 0 24px

.currency__copy
  font-size: 0.75rem
  color: #CECECE
  text-align: center
  width: 100%
  line-height: 1.5rem

.poweredby
  padding: 1rem 1rem
  font-size: 0.75rem
  color: #999
  text-align: left
  line-height: 1.5rem

.ez-liga-tableHeader
  table
    padding: 0 1rem
    width: 100%
    max-width: 100%
    th
      text-align: left
      font-weight: 300
      font-size: 12px
      color: #999
    td
      text-align: left
      font-size: 12px
      padding: 0
      margin: 0
      color: #333
      font-weight: 700
      &.small
        font-size: 12px
        font-weight: 400
        color: #666
      &.bold
        font-weight: 700
        color: #333

#search
  padding: 0
  margin-top: 2.5rem
  z-index: 999
  input
    width: 100%
    border: 0
    background-color: rgba(254, 149, 49, 0.28)
    padding: 0.4rem 0.8rem
    font-size: 1rem
    color: #000
    outline: none
  input::-webkit-input-placeholder
    color: #FE9531

.currencyInput
  width: 100%
  box-sizing: border-box
  border: 1px solid #073673

.currency__table
  .text-center
    text-align: center
    font-weight: 500

.currencySwitch
  box-sizing: border-box
  margin: 5px auto 0px
  height: 1.2rem
  background-color: #073673
  border-radius: 5px
  padding: 5px



.no-results-title
  color: #fff
  font-size: 1rem
  line-height: 1.5rem
  padding: 2.5rem 0 0 0
  margin: 0

#topSites td
  padding: 10px 0 20px 0
  position: relative
  .topsites__item
    width: 46px
    height: 46px
    line-height: 48px
    color: #fff
    text-align: center
    overflow: hidden
    background-size: 62%
    font-size: 18px
    background-position: center
    background-repeat: no-repeat
    background-color: #eee

  .main__headline
    font-size: 13.2px
    line-height: 24px
    padding: 0 0
    box-sizing: border-box
    color: #333
    font-weight: 400
    overflow: hidden
    text-overflow: ellipsis
    -webkit-line-clamp: 2
    -webkit-box-orient: vertical
    margin: 0

    h1.main__headline a
      font-size: 12px
      line-height: 12px
      color: #999 !important
      display: block
      max-height: 12px
      text-overflow: ellipsis
      overflow: hidden
      white-space: nowrap

#topSites table
    width: 100%
    padding-top: 25px


.topSitesLink
  font-size: 12px
  font-weight: normal
  color: #999 !important

.blockTopsite
  width: 46px
  height: 46px
  line-height: 46px
  position: absolute
  left: 50%
  margin-left: -23px
  background-color: rgba(0,0,0,0.50)
  font-size: 12px
  color: white

.topSitesOption
  position: absolute
  width: 46%
  top: 0
  background-color: #eee
  padding: 0.25rem
  font-size: 0.75rem
  line-height: 1rem
  text-align: center
  color: #999
  border-bottom-left-radius: 0.5rem
  border-bottom-right-radius: 0.5rem

#doneEditTopsites
  left: 0

#cancelEditTopsites
  right: 0

.noTopsites
  position: absolute
  top: 10px
  left: 0
  right: 0
  font-size: 0.75rem
  line-height: 1rem
  text-align: center
  color: #999
  border-bottom-left-radius: 0.5rem
  border-bottom-right-radius: 0.5rem

#freshstart a
    color: #fff !important
    display: inline


div#freshstart
    text-align: center


.cqz-local-result .main__image
  margin-right: 0

span.highlighted
    /* font-weight: bold */
    background: #FFDD50
    padding: 0 0


h3.meta__url
    max-width: 80%




/* End of Old Stuff */

body
  background-color: #e8e8e8
  padding-bottom: 1rem

.card
  position: relative
  top: 1.2rem
  bottom: 1.5rem
  box-sizing: border-box
  margin-bottom: 4rem
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.12)
  border-radius: 0.25rem
  width: 96%
  word-break: break-word
  &.last-card
    #googleThisAnim
      h3
        color: #fff
        font-size: 1rem
        line-height: 1.5rem
        padding: 4rem 0 0 0
        margin: 0
      #moreResults
        display: block
        border-radius: 0.25rem
        border: 1px solid rgba(255,255,255,0.62)
        background-color: rgba(255,255,255,0.38)
        color: #fff
        padding: 1rem 2rem
  &.second
    left: 23rem
  &.third
    left: 45rem
  .primary
    padding: 0.75rem 0 0
  .timestamp
    margin-top: -1rem
    font-size: 0.75rem
    color: #4A90E2
    overflow: hidden
    text-overflow: ellipsis
    color: #448100
    padding: 0.5rem 1rem
  .social
    display: table
    padding: 0 1rem
    .social__logo
      display: table-cell
      padding-right: 15px
      width: 2rem
      height: 2rem
  .streaming
    display: table
    padding: 0 1rem
    .streaming__logo
      display: table-cell
      padding-right: 15px
      width: 3.5rem
  .card__logo
    margin: 0 12px
    width: 3rem
    height: 3rem
    line-height: 3rem
    text-align: center
    background-position: center
    background-repeat: no-repeat
    background-size: 50%
    &.bg
      text-indent: -9999px
      text-align: left
  .card__logo__secondary
    background-position: center
    background-repeat: no-repeat
    background-size: 100%
    font-size: 0.75rem
    line-height: 2rem
    text-align: center
    color: #fff
    margin-bottom: 1rem
    &.bg
      text-indent: -9999px
  .card__logo__poweredby
    width: 1.5rem
    height: 1.5rem
    float: left
    background-position: center
    background-repeat: no-repeat
    background-size: 50%
    font-size: 0.75rem
    line-height: 1.5rem
    text-align: center
    margin-right: 0.75rem
    color: #fff
    &.bg
      text-indent: -9999px
  .card__description
    font-size: 1rem
    padding: 0rem 1rem 1rem
    line-height: 1.25rem
    color: #0C2B4A
    .cook__time
      margin-top: 0.25rem
  .card__meta
    position: absolute
    -webkit-transform: translateZ(0)
    transform: translateZ(0)
    top: 0
    left: 40px
    text-align: left
    font-size: 0.75rem
    color: #4A90E2
    width: 90%
    height: 3rem
    line-height: 0.9rem
    overflow: hidden
    padding: 0.1rem 2rem 0rem
    margin: 0 0
    box-sizing: border-box
    div
      position: relative
      top: 50%
      transform: translateY(-50%)
      display: -webkit-box
      -webkit-line-clamp: 3
      -webkit-box-orient: vertical
      word-break: break-all
    &.history
      color: #551A8B
  .card__meta__secondary
    font-size: 0.75rem
    padding: 0 0.5rem 0rem
    margin-bottom: 0.25rem
    line-height: 1rem
    height: 1rem
    overflow: hidden
    text-overflow: ellipsis
    color: #4A90E2
  .cards__title__secondary
    margin: 0
    font-weight: 400
    color: #333
    padding: 0.25rem 0rem 0.25rem
    font-size: 1rem
    line-height: 1.5rem
    text-overflow: ellipsis
    height: 1.5rem
    overflow: hidden
    white-space: nowrap

  .history_card__title
    margin: 1rem 1rem
    font-weight: 500
    text-align: left
    font-size: 1.2rem
    line-height: 1.5rem

  .card__title
    padding: 1rem 1rem
    font-weight: 500
    text-align: left
    font-size: 1.2rem
    line-height: 1.5rem
    span
      font-size: 0.75rem
      line-height: 1.5rem
      color: rgba(0,0,0,0.38)
      display: block
    &.history
      color: #551A8B
  .card__image
    width: 38%
    float: left
    padding: 0.25rem 1rem 1rem 0
    .image
      background-position: center
      background-size: cover
      background-repeat: no-repeat
      height: 5rem
      text-indent: -9999px
  .card__gallery
    -webkit-box-flex: 1
    -moz-box-flex: 1
    box-flex: 1
    -webkit-flex: 1 0 auto
    -moz-flex: 1 0 auto
    -ms-flex: 1 0 auto
    flex: 1 0 auto
    width: auto
    text-indent: 0
    display: -webkit-box
    display: -moz-box
    display: box
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flexbox
    display: flex
    -webkit-box-orient: row nowrap
    -moz-box-orient: row nowrap
    box-orient: row nowrap
    -webkit-box-direction: normal
    -moz-box-direction: normal
    box-direction: normal
    -webkit-flex-direction: row nowrap
    -moz-flex-direction: row nowrap
    flex-direction: row nowrap
    -ms-flex-direction: row nowrap
    -webkit-box-align: stretch
    -moz-box-align: stretch
    box-align: stretch
    -webkit-align-items: stretch
    -moz-align-items: stretch
    -ms-align-items: stretch
    -o-align-items: stretch
    align-items: stretch
    -ms-flex-align: stretch
    -webkit-align-content: stretch
    -moz-align-content: stretch
    align-content: stretch
    -ms-flex-line-pack: stretch
    .image
      -webkit-box-flex: 1
      -moz-box-flex: 1
      box-flex: 1
      -webkit-flex: 1 1 auto
      -moz-flex: 1 1 auto
      -ms-flex: 1 1 auto
      flex: 1 1 auto
      background-position: center
      background-size: cover
      background-repeat: no-repeat
      height: 5rem
      margin: 0rem 0 1rem
      text-indent: -9999px
      position: relative
      &.big
        height: 10rem
      .duration
        text-indent: 0px
        background-color: black
        color: white
        position: absolute
        padding: 5px
        bottom: 0
        right: 0
  .secondary
    .separator
      padding: 2px 0
    .additional_sources
      color: #333
      padding: 1rem 1rem
      display: inline-block
      width: 100%
      box-sizing: border-box
      position: relative
      background-color: #FFF
      border-top: 1px #EDECEC solid
      .url
        position: absolute
        top: 1rem
        left: 60px
        text-align: left
        font-size: 0.75rem
        color: #4A90E2
        width: 70%
        height: 32px
        overflow: hidden
        overflow-wrap: break-word
        div
          position: relative
          top: 50%
          transform: translateY(-50%)
          display: -webkit-box
          -webkit-line-clamp: 2
          -webkit-box-orient: vertical
      .item__logo
        width: 32px
        height: 32px
        line-height: 32px
        color: #fff
        text-align: center
        overflow: hidden
        margin: 0 12px 4px 0px
        background-size: 50%
        background-position: center
        background-repeat: no-repeat
      &.history
        .url
          color: #551A8B
        .cards__title__secondary
          color: #551A8B
    .cards__item
      padding: 0.5rem 1rem
      background: #FFF
      border-top: 1px #EDECEC solid
  .third
     padding: 0
     .cards__item
       padding: 0.5rem 1rem
       border-top: 1px #EDECEC solid
  .share
    border-top: 1px #EDECEC solid
    text-align: center
    padding: 0.25rem 1.5rem
    font-size: 0.5rem
    display: block
    color: rgba(0,0,0,0.38)
    a
      color: rgba(0,0,0,0.62)
      text-decoration: none
    p
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden

  .cqz-result-box, .rr
    padding: inherit
    margin: inherit
    overflow: inherit
    border-radius: inherit

  .ez-video
    padding: 0 1rem 1rem
    .item
      &::after
        clear: both
        content: ""
        display: table
        margin-bottom: 0.5rem
      .main__image
        background-repeat: no-repeat
        background-size: cover
        background-position: center
        border-radius: 0.25rem
        text-indent: -9999px
        position: relative
        float: left
        margin: 0 1rem 0 0
        height: 4rem
        width: 4rem
      .main__headline
        font-size: 0.75rem
        line-height: 1rem
        max-height: 4rem
        text-overflow: ellipsis
        overflow: hidden
  .soccer__result
    padding: 0 1rem
    h5
      font-size: 1rem
      line-height: 1.5rem
      font-weight: 700
      color: #333
      margin: 0
    .meta__legend
      font-size: 0.75rem
      line-height: 1rem
      display: block
      color: #999
    table
      padding: 0
      margin: 1rem 0
      width: 100%
      .ez-liga-score
        font-weight: 700
      .ez-liga-vs
        font-weight: 700
        width: 40px
      .score
        text-align: center
      tr
        td:last-child
          text-align: right
  .alert
    display: block
    background-color: #E38D00
    padding: 0.5rem 2rem
    margin: 0.75rem 0
    color: #fff
    .header
      font-weight: bold
      font-size: 1rem
      line-height: 1.5rem
    .info
      font-size: 0.75rem
      line-height: 1.5rem
      font-weight: 400
  .weather__today
    padding: 0.5rem 2rem
    text-align: center
    .EZ-weather-date
      font-size: 1.25rem
      line-height: 1.5rem
      color: rgba(0,0,0,0.62)
    .EZ-weather-temp
      font-size: 1.25rem
      line-height: 1.5rem
      font-weight: 700
      span
        font-size: 0.75rem
        color: rgba(0,0,0,0.38)
    .EZ-weather-img
      padding-top: 62%
      background-position: center
      background-size: contain
      background-repeat: no-repeat
      display: block
      width: 100%
  .weather__gallery
    text-align: center
    padding: 0 2rem
    &::after
      clear: both
      content: ""
      display: table
    .EZ-weather-container
      width: 50%
      float: left
      padding: 1rem 0
      .EZ-weather-img
        width: 100%
        padding-top: 62%
        background-position: center
        background-repeat: no-repeat
        background-size: contain
      .EZ-weather-date
        font-size: 1rem
        line-height: 2rem
        color: rgba(0,0,0,0.63)
      .EZ-weather-temp
        font-size: 1rem
        font-weight: 700
        padding: 0 0 1rem 0
        span
          color: rgba(0,0,0,0.38)
          font-weight: 400
          font-size: 0.75rem
#historysub
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 9999
  span
    display: block
    width: 50%
    float: left
    text-align: center
    font-size: 1rem
    padding: 0.25rem 0
    line-height: 2rem
    background-color: #BC441F
    color: rgba(255,255,255,0.38)
    &.active
      background: #7A2309
      color: #fff

.search_engine_logo
  width: 64px
  height: 64px
  border-radius: 50%
  background-size: 62%
  background-position: center
  background-repeat: no-repeat
  margin: 0 auto 54px

.cqz-delivery-status-boxes-holder
  overflow: hidden
  margin: 20px 0 17px
.cqz-delivery-status-boxes-holder .cqz-status-box
  float: left
  display: block
  width: 25%
  height: 50px
  overflow: hidden
  text-indent: -7777px
  margin: 0
  border-radius: 3px
  background-size: 65%
  background-color: #eee
  background-position: 50% 50%
  background-repeat: no-repeat
.cqz-delivery-status-boxes-holder .cqz-status-box-active-true.cqz-status-box-name-received
  background-color: #a5c8e2
.cqz-delivery-status-boxes-holder .cqz-status-box-active-true.cqz-status-box-name-transported
  background-color: #4ba4f6
.cqz-delivery-status-boxes-holder .cqz-status-box-active-true.cqz-status-box-name-delivery
  background-color: #00c5fa
.cqz-delivery-status-boxes-holder .cqz-status-box-active-true.cqz-status-box-name-delivered
  background-color: #32ebc7
.cqz-delivery-info-status
  color: #333
  margin-right: 10px
.cqz-delivery-info-date
  color: #ccc
.cqz-delivery-info-msg
  max-width: 600px
  max-height: 38px
  line-height: 1.4
  margin-top: 7px
  color: #999
  white-space: normal

em
  background: rgba(100, 174, 225, 0.25)
  font-style: normal

.bundesliga
  .card__incard
    padding: 1rem
  .card__incard__item
    width: 50%
    float: left
    box-sizing: border-box
    padding: 0rem 0.1rem 0.2rem
    .card__incard__content
      background-color: #f5f5f5
      padding: 0.25rem 0.5rem
      border-radius: 0.25rem
      h4
        font-size: 0.75rem
        font-weight: 500
        padding: 0
        margin: 0
        line-height: 1.5rem
        white-space: nowrap
        text-overflow: ellipsis
        height: 1.5rem
        overflow: hidden
      .score
        font-size: 1rem
        line-height: 1.5rem
        font-weight: 700
        color: #000
        span
          font-size: 0.5rem
          color: #999
          font-weight: 500
          line-height: 1.5rem
  h2
    font-size: 0.75rem
    line-height: 1.5rem
    padding: 0 1rem
    margin: 0
    font-weight: 700
    border-bottom: 1px rgba(0,0,0,0.05) solid
    background-color: #fff
  table
    width: 100%
    td
      font-size: 0.75rem
      padding: 0.5rem 0.1rem
      line-height: 1rem
      border-bottom: 1px rgba(0,0,0,0.05) solid
      vertical-align: top
      margin: 0
      &.cqz-game-time
        font-size: 0.5rem
        padding-left: 0.5rem
        color: rgba(0,0,0,0.38)
      &.lastcell
        padding-right: 0.5rem
      &.cqz-score
        font-weight: bold
        white-space: nowrap
    tr
      &.cqz-live
        td
          background-color: #c7e8ad


::-webkit-scrollbar
  display: none

.recipe__details
  margin-bottom: 1rem
  border-bottom: 1px #EDECEC solid
  .accordion
    text-transform: capitalize
    padding: 0.5rem 1rem;
    text-align: left;
    border-top: 1px #EDECEC solid
    img
      padding: 5px
      float: right
      transition: 0.5s
      &.active
        -moz-transform: scale(-1, -1);
        -o-transform: scale(-1, -1);
        -webkit-transform: scale(-1, -1);
        transform: scale(-1, -1);
  .panel
    background-color: white;
    display: none;
    padding: 0 2rem
    margin: 0
    li
      margin: 0.5rem 0
