 @font-face {
    font-family: "Lato";
    src: url("../skin/fonts/Lato-Regular.ttf");
}

/*===== Onboarding =====*/

#main-window.cqz-onboarding {
    min-width: 1100px !important;
    min-height: 768px !important;

    &.cqz-step1 {
        #PanelUI-button {
            display: none;
        }

        #nav-bar > *:not(panel),
        #urlbar-container {
            visibility: hidden;

        }
    }

    &.cqz-step2 {
        #nav-bar #nav-bar-customization-target {
            visibility: visible;

            & > :not(#cliqz-cc-btn):not(#urlbar-container) {
                display: none;
            }
        }

        //Hack disable click on CCenter btn
        #nav-bar-customization-target:before {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            content: "";
            width: 100%;
            height: 100%;
        }
    }

    &.cqz-step3 {}

    .panel-arrowcontent {
        padding: 0px;
        --panel-arrowcontent-padding: 0px;
    }

    #UITourTooltipDescription iframe {
        display: block;
    }

    #UITourTooltipTitle {
        max-width: 420px;
    }

    #UITourTooltipTitleContainer {
        margin-bottom: 0px;
        display: none
    }

    #UITourTooltipClose {
        margin-top: 0px;
        display: none
    }
}

#UITourTooltip[target="cliqz"] .panel-arrowcontent {
    --panel-arrowcontent-padding: 0px;
}


#PopupAutoCompleteRichResultCliqz {
    -moz-binding: url("../../components.xml#autocomplete-rich-result-popup-cliqz");
    overflow: hidden;
}

#urlbar[focused="true"] {
    box-shadow: 0 0 1px #3B99FC inset;
}

.cqz-popup {
    overflow: hidden;
    position: relative;
    min-width: 500px;
    padding: 0;
    margin: 0;
    color: #333333;
    font-size: 14px;
    line-height: 1.2em;
    font-family: Lato, Helvetica, sans-serif;
    border-top: none;
    background: #fff; /* override linux default grey color */
}

.cqz-results {
    height: 350px;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

.cqz-results .cqz-result-h1,
.cqz-results .cqz-result-h2,
.cqz-results .cqz-result-h3 {
    padding: 16px 110px 16px 20px;

    &[local-source*="bookmark"] {
        .cqz-ez-title, .cqz-result-title {
            @extend .cqz-bookmark-icon;
        }
    }

    &[local-source*="builtin"] {
        .cqz-ez-title, .cqz-result-title {
            @extend .cqz-builtin-icon;
        }
    }

    &[local-source~="switchtab"] {
        .cqz-ez-title, .cqz-result-title {
            @extend .cqz-switchtab-icon;
        }
    }
}

.cqz-results .cqz-ez-holder,
#cliqz-message-container .cqz-ez-holder,
#cliqz-message-container-top .cqz-ez-holder {
    padding: 16px 110px 16px 20px;
}

#cliqz-message-container .cqz-ez-holder,
#cliqz-message-container-top .cqz-ez-holder  {
    padding-left: 0px;
}

.cqz-popup #cliqz-message-container .cqz-ez-generic .cqz-zone-holder,
.cqz-popup #cliqz-message-container-top .cqz-ez-generic .cqz-zone-holder {
    display: flex;
    flex-direction: column;
}

.cqz-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    & > * {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.cqz-bookmark-icon {
    background-image: url(../skin/urlbar-star.svg#star);
    background-repeat: no-repeat;
    padding-left: 20px !important;
    background-position: center left;
}

.cqz-switchtab-icon {
    background-image: url(../skin/urlbar-tab.svg#tab);
    background-repeat: no-repeat;
    padding-left: 20px !important;
    background-position: center left;
}

.cqz-builtin-icon {
    background-image: url(../skin/blank-sheet.svg);
    background-repeat: no-repeat;
    padding-left: 20px !important;
    background-position: center left;
}

.cqz-history-icon {
    background-image: url(../skin/history-clock.svg);
    background-repeat: no-repeat;
    padding-left: 20px !important;
    background-position: center left;
}

.cqz-row-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
}

.cqz-popup .cqz-one-line,
.cqz-popup .cqz-celeb-desc {
    @extend .cqz-ellipsis;
}

/* ====== Last Search ====== the gray container in the search bar*/

.cliqz-urlbar-Last-search-container {
    overflow: hidden;
    max-width: 220px;
    margin: -2px 7px 0px 0px;
}

.cliqz-urlbar-Last-search-container[channel='40'] {
    line-height: 24px;

    .cliqz-urlbar-Last-search {
        height: 24px;
        line-height: 22px;
    }
}

.cliqz-urlbar-Last-search {
    overflow: hidden;
    max-width: 200px;
    line-height: 17px;
    padding: 0 6px 0 6px;
    color: #fff;
    text-overflow: ellipsis;
    border-radius: 1px;
    background-color: grey;
}

/* ====== End Last Search ====== */

.border-box,
.border-box-all,
.border-box-all * {
    box-sizing: border-box;
    -mox-box-sizing: border-box;
}

.cqz-results .cqz-result-title a,
.cqz-results .cqz-ez-title a,
.cqz-results .entity-story-title,
.cqz-results div[local-source] .cliqz-pattern-element-title,
.cqz-results .cqz-url {
    color: #506bb8;
}

.cqz-results .cqz-ez-black-title a {
    color: #333333;
}

.cqz-popup a:visited,
.cqz-results .cqz-result-title:visited,
.cqz-results div[local-source*="switchtab"] .cliqz-pattern-element-title,
.cqz-results div[local-source*="bookmark"] .cliqz-pattern-element-title,
.cqz-results div[local-source*="favicon"] .cliqz-pattern-element-title {
    color: #8c275f;
    &:hover {
        text-decoration: underline;
    }
}

.cqz-popup a:hover,
.cqz-results .cqz-ez-title span.subtitle:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* common classes */
.hidden {
    visibility: hidden;
    display: none !important;
}

.cqz-result-box em {
    font-style: normal;
    font-weight: bold;
}

.cqz-results b {
    font-weight: bold;
}

.cqz-results i {
    font-style: italic;
}

.cqz-results .cqz-result-box > .cqz-result-h1,
.cqz-results .cqz-result-box > .cqz-result-h2,
.cqz-results .cqz-result-box > .cqz-result-h3 {
    border-bottom: 1px solid #CCC;
}

.cqz-results .cqz-result-box:nth-child(n+3):nth-last-child(2) {
    margin-bottom: -1px;

    & > .cqz-result-h1,
    & > .cqz-result-h2,
    & > .cqz-result-h3 {
        border-bottom: none;
    }
}

.cqz-results .transition {
    transition: all 0.2s ease;
}

.cqz-results .nopadding {
    padding: 0
}

.cqz-results .cqz-result-padding {
    padding: 16px 20px;
}

.cqz-results .cqz-result-h1 { height: 351px; }
.cqz-results .cqz-result-h2 { height: 234px; }
.cqz-results .cqz-result-h3 { height: 117px; }

.cqz-results .cqz-result-box {
    position: relative;
    z-index: 0;
}

.cqz-results .cqz-result-selected {
    position: absolute;
    top: 10px;
    left: -20px;

    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;

    border-left: 8px solid #777;
}

.cqz-results .cqz-result-selected[active="true"] {
    left: 0px;
    z-index: 1;
}

.cqz-results .cqz-result-debug {
    float: right;
}

.cqz-results .cqz-result-title,
#cliqz-message-container .cqz-result-title,
#cliqz-message-container-top .cqz-result-title  {
    @extend .cqz-ellipsis;

    font-size: 18px;
    line-height: 1.3em;
    margin-bottom: 4px;
    max-width: 720px;

    a {
        text-decoration: none;
        &:hover { text-decoration: underline; }
    }

    .ad {
        position: relative;
        top: 3px;
        padding: 0 4px;
        margin-right: 3px;
        display: inline-block;
        line-height: 1.2em;
        color: #45c2cc;
        border: 1px solid #45c2cc;
        border-radius: 2px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
    }
}

#cliqz-message-container {
    .cliqz-brand-logo {
        margin-right: 18px;
    }
}

.cqz-results .cqz-result-title * {
    font-size: inherit;
}

.cqz-results .cqz-result-title span {
    color: #cccccc;
}

.cqz-results .cqz-result-url {
    @extend .cqz-ellipsis;
    color: #999999;
    margin-bottom: 16px;
    max-width: 400px;
}

.cqz-results .cqz-result-url-ssl {
    padding-left: 13px;
    background: url(../skin/lock_light.png) no-repeat 2px 3px;
}

.cqz-results .cqz-result-path {
    visibility: hidden;
}

.cqz-results .cqz-result-desc {
    @extend .cqz-ellipsis;

    max-height: 22px;
    vertical-align: top;
    max-width: 550px;
}

/* common */
.cqz-results .cqz-ez-btns {
    margin: 20px 0 0;
    height: 26px;

    .cqz-ez-btns-holder {
        @extend .cqz-row-overflow;

        height: inherit;
        padding-right: 60px;
    }
}

.cqz-results a.cqz-ez-btn,
.cqz-results .cqz-ez-btn {
    @extend .cqz-ellipsis;

    display: inline-block;
    max-width: 140px;
    line-height: 26px;
    margin: 0 5px 4px 0;
    padding: 0 9px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
}

.cqz-results a.cqz-ez-btn:visited {
    color: #fff !important;
}

.cqz-results .cqz-vert-center {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-49%);
    transform: translateY(-49%);
}

.cqz-results .cqz-image {
    position: relative;
    float: left;
    width: 114px; /* 16 */
    height: 74px; /* 9 */
    margin: 2px 20px 0 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.cqz-results .cqz-image-news {
    position: relative;
}

.cqz-results .cqz-image-round {
    border-radius: 3px;
}

.cqz-results .cqz-result-text {
    text-align: center;
    width: 100%;
}

.cqz-results .cqz-link {
    color: #506BB8;
    margin-right: 10px;
    cursor: pointer;
}

.cqz-results [arrow="true"]:hover .cqz-result-title {
    text-decoration: underline;
}

/* custom result */
.cqz-results .cqz-custom-text {
    line-height: 78px;
    color: #999999;
    font-weight: 500;
    font-size: 18px;
}

.cqz-results .cqz-custom-text * {
    font-size: 18px;
}

/* EZ generic */
.cqz-results .cqz-ez-title {
    @extend .cqz-ellipsis;

    display: block;
    max-width: 600px;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 1.3em;

    a {
        cursor: pointer;
        text-decoration: none;

        &:hover { text-decoration: underline; }
    }
}

.cqz-results .cqz-ez-title::after, .cqz-results .cqz-ez-title .after {
    display: inline-block;
    content: "";
    width: 50px;
    height: 22px;
    vertical-align: top;
    background-size: auto 18px;
    background-position: 10px 2px;
    background-repeat: no-repeat;
}

.cqz-results .cqz-ez-title.custom-after::after {
    display: none;
}

.cqz-results .cqz-ez-title:hover {
    text-decoration: underline;
}

.cqz-popup #cliqz-message-container {
     z-index: 1000;
    position: relative;
}

/* EZ banking */
.cqz-results .cqz-ez-banking-box {
    float: left;
    margin-top: 12px;
}

.cqz-results .cqz-ez-banking-box .cqz-ez-btn {
    margin-bottom: 5px;
}

.cqz-results .cqz-ez-banking-opt {
    width: 110px;
    height: 100px;
    margin-left: 8px;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-top: 74px;
    border-radius: 3px;
    cursor: pointer;
    background-size: 60px auto;
    background-position: 50% calc(70% - 20px);
    background-color: #efefef;
    background-repeat: no-repeat;
}

.cqz-results .cqz-ez-banking-opt:hover {
    text-decoration: underline;
}

.cqz-results .cqz-ez-banking-elems {
    margin-top: 10px;
}

/* EZ search */
.cqz-results .cqz-ez-search-box {
    border: 1px solid #3E86FC;
    max-width: 361px;
    height: 26px;
    margin: 4px 0 17px 0px;
    border-radius: 0 3px 3px 0;
    padding-right: 26px;
    cursor: pointer;
    background-color: #3E86FC;
    background-position: right 5px center;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-image: url(https://cdn.cliqz.com/extension/EZ/search/search-glass-white.svg);
}

.cqz-results .cqz-ez-search-box-input {
    width: 100%;
    height: 100%;
    padding: 0 6px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    cursor: text;
}

.cqz-results .cqz-ez-search-app-box {
    @extend .cqz-ellipsis;
    height: 85px;
    padding-right: 55px;
}

.cqz-results .cqz-ez-search-app {
    float: left;
    width: 85px;
    height: 85px;
    border-radius: 3px;
    margin-right: 9px;
    text-align: center;
    padding-top: 61px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: white;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: auto 36px;
    background-position: center 9px;
}

.cqz-results .cqz-ez-search-app:hover {
    background-size: auto 40px;
    background-position: center 7px;
    background-repeat: no-repeat;
}

/*  ez celeb */
.cqz-results .cqz-celeb-images {
    height: 67px;
    overflow: hidden;
    width: 80%;
    margin-top: 3px;
}

.cqz-results .cqz-celeb-image {
    height: 67px;
    margin-right: 9px;
    border-radius: 3px;
    float: left
}

.cqz-results .cqz-celeb-who {
    margin: 16px 0 7px;
    padding: 0;
    background-image: none;
}

.cqz-results .cqz-celeb-social {
    height: 22px;
    margin-top: 14px;
    margin-right: 9px;
}

/* history */

.cqz-results .cliqz-pattern-title-h1, .cqz-results .cliqz-pattern-title-h2, .cqz-results .cliqz-pattern-title-h3 {
    margin-bottom: 9px;
}

.cqz-results .cliqz-pattern-title-h1, .cqz-results .cliqz-pattern-title-h3 {
    cursor: default;
}

.cqz-results .cliqz-pattern-title-h1:hover, .cqz-results .cliqz-pattern-title-h3:hover {
    text-decoration: none;
}

.cqz-results .cliqz-pattern-title-h3 {
    margin-bottom: 8px;
}

.cqz-results .cliqz-pattern-element {
    padding-left: 20px;
    margin-bottom: 4px;
    background-position: left center;
    background-size: 14px 14px;
    background-repeat: no-repeat;
}

.cqz-results .cliqz-pattern-element[local-source*="bookmark"] {
    @extend .cqz-bookmark-icon;
}

.cqz-results .cliqz-pattern-element[local-source~="switchtab"]{
    @extend .cqz-switchtab-icon;
}

.cqz-results .cliqz-pattern-element[local-source~="builtin"]{
    @extend .cqz-builtin-icon;
}

.cqz-results .cliqz-pattern-element[local-source~="favicon"]{
    @extend .cqz-history-icon;
}

.cqz-results .cliqz-pattern-element-title {
    @extend .cqz-ellipsis;

    max-width: 50%;
    display: inline-block;
    cursor: pointer;
}

.cqz-results .cliqz-pattern-element-link {
    @extend .cqz-ellipsis;

    max-width: 30%;
    margin-left: 8px;
    color: #cccccc;
    display: inline-block;
}

.cqz-results .cliqz-pattern-logo {
    background: #efefef url(../../skin/cliqz.png) no-repeat;
}

.cqz-results .cqz-3-history-results {
    padding-top: 20px;
}

.cqz-results .cqz-3-history-results .cliqz-pattern-element {
    margin: 0px 0 6px;
    padding: 0;
}

.cqz-results .cqz-3-history-results .cliqz-pattern-element:nth-of-type(1n+4) {
    display: none;
}

.cqz-results .cqz-5-history-results .cliqz-pattern-element:nth-of-type(1n+6) {
    display: none;
}

/*  no result */
.cqz-results .ez-no-result {
    text-align: center;
}

.cqz-results .ez-no-result .h1 {
    font-size: 20px;
    padding-top: 36px;
}

.cqz-results .ez-no-result .h2 {
    color: #cccccc;
    margin-top: 10px;
    font-size: 16px;
}

.cqz-results .ez-no-result .logos {
    margin-top: 16px;
}

.cqz-results .ez-no-result .items {
    display: inline-block;
}

.cqz-results .ez-no-result .cliqz-brand-logo {
    font-size: 28px;
    margin: 0 8px 6px;
    display: inline-block;
    cursor: pointer;
}

.cqz-results .ez-no-result .items .item-name {
    font-size: 16px;
    max-width: 90px;
    text-align: center;
}

.cqz-results .ez-no-result .cliqz-logo {
    background-image: url(../../static/skin/img/cliqz.svg);
    display: inline-block;
    width: 100px;
    height: 26px;
    margin-top: 31px;
    cursor: pointer;
}

/* buttons */
.cqz-popup .cqz-btn {
    margin: 0 5px;
    cursor: pointer;
    color: white;
    border-radius: 3px;
    padding: 4px 8px;
    text-align: center;
    display: inline-block;
    background-color: #0480c3;
}

.cqz-results .ez-no-result ul.cqz-suggestion-list {
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    max-width: 550px;
}

.cqz-results .ez-no-result .cqz-suggestion-list li.cqz-item {
    float: left;
    width: 20%;
    max-width: 110px;
    padding: 15px 0 22px;
    text-align: center;
    cursor: pointer;
}

.cqz-results .ez-no-result .cqz-suggestion-list .cliqz-brand-logo {
    display: block;
    margin: 0 auto 7px;
    width: 75px;
    height: 75px;
    line-height: 1.9em;
    transition: all .3s ease-in-out;
}

.cqz-results .ez-no-result .cqz-suggestion-list .cqz-item:hover .cliqz-brand-logo {
    transform: scale(1.1);
}

.cqz-results .cqz-noresult-box .cqz-ez-title {
    text-align: center;
}

.cqz-results .cqz-noresult-box .cqz-ez-title:hover {
    text-decoration: none;
}

.cqz-results .cqz-noresult-box .cqz-ez-title {
    font-size: 14px;
    color: #ccc;
}

.cqz-results .cqz-noresult-box .cqz-ez-title:after {
    content: '';
    display: block;
    width: 230px;
    height: 1px;
    background: #ccc;
    margin: 17px auto 0;
}

.cqz-results .cqz-noresult-box .cliqz-logo {
    width: auto;
    height: 17px;
    margin-top: 0;
}

.cqz-popup .cqz-btn-default {
    background-color: #506bb8;
    margin-right: 0
}

.cqz-popup .cqz-btn-success {
    background-color: #28ae2b;
    margin-right: 0
}

.cqz-popup .cqz-btn-error {
    background-color: #c3043e;
}

.cqz-popup .cqz-btn-warning {
    background-color: #ffcc66;
}

.cqz-popup .cqz-btn-gray {
    background-color: #eaeaea;
    color: #333333;
}

/* START - Slow connection */
.cqz-popup .cqz-msg-slow-connection {
    padding: 10px 20px;
    color: #fff;
    background: #ff4940;
}

.cqz-popup .cqz-msg-slow-connection .title {
    margin-bottom: 3px;
    font-size: 18px;
    line-height: 1.3em;
    font-weight: normal;
}

/* END - Slow connection */

/* New class: for entity-generic-history to separate list of history entries from EZ material. */
.cqz-results .cliqz-history-results {
    margin-top: 16px;
}

/* Overrides corresponding line in browsers.css */
.cqz-results .cliqz-pattern-title-h2, .cqz-results .cliqz-pattern-title-h3 {
    margin-bottom: 8px;
}

.cqz-results .cliqz-pattern-title-h1 {
    margin-bottom: 20px;
}

.cqz-results .clz_copy {
    cursor: copy;
}

.cqz-results .clz_link {
    cursor: pointer;
}

/*--------------- New Skin Generic EZ ----------- */
.cqz-results .cqz-result-content {
    max-width: 550px;
    margin: 12px 105px 17px 0px;
    height: 95px;
}

.cqz-results .clz_zero_info_sec {
    margin-top: 4px;
    height: 30px;
}

.cqz-results .cqz-zero-img {
    height: 16px;
    padding-right: 10px;
    transform: translateY(3px);
}

.cqz-results .clz_zero_info {
    float: left;
    margin-right: 20px;
    height: 100%;
}

.cqz-results .cqz-result-h1 .cqz-result-content {
    height: 205px;
}


/* ------- RICH DATA Result----------*/
.cqz-results .cqz-result-padding2 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.cqz-results .cqz-rd .cqz-ez-btns {
    margin-top: 19px;
}

.cqz-results .cqz-rd-body {
    width: -moz-calc(100% - 85px);
    width: calc(100% - 85px);

    height: -moz-calc(100% - 52px);
    height: calc(100% - 52px);

    max-width: 700px;
}

.cqz-results .cqz-rd-rateimg {
    height: 13px;
    vertical-align: top;
    transform: translateX(-1px);
}

.cqz-results .cqz-rd-rateimg {
    height: 13px;
    vertical-align: top;
    transform: translateX(-1px);
}

/*--------------Multiline ellipsis (http://www.mobify.com/blog/multiline-ellipsis-in-pure-css) ------------ */

.cqz-results .cqz-multy-lines-ellipses {
    overflow: hidden;
    height: 5.6em; /*4 lines*/
    white-space: normal;
    line-height: 1.4em;
}

.cqz-results .cqz-multy-lines-ellipses:before {
    content: "";
    float: left;
    width: 5px;
    height: 5.6em;
    white-space: normal;
}

.cqz-results .cqz-multy-lines-ellipses > * {
    float: right;
    width: 100%;
    margin: 0 0 0 -5px;
    white-space: normal;
    line-height: 1.4em;
    margin-bottom: 0;
}

.cqz-results .cqz-multy-lines-ellipses:after {
    white-space: normal;
    content: "\02026";

    float: right;
    position: relative;
    top: -1.4em;
    left: 100%;
    width: 21px;
    margin-left: -20px;
    padding-right: 4px;
    text-align: right;
    line-height: 1.3em;
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 30%, white);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 30%, white);
}

/* ==== 2 lines ====*/
.cqz-results .cqz-multy-lines-ellipses.cqz-line-vis-2 { height: 2.8em; }
.cqz-results .cqz-multy-lines-ellipses.cqz-line-vis-2:before { height: 2.8em; }

/* ==== 3 lines ====*/
.cqz-results .cqz-multy-lines-ellipses.cqz-line-vis-3 { height: 4.2em; }
.cqz-results .cqz-multy-lines-ellipses.cqz-line-vis-3:before { height: 4.2em; }

.cqz-results .cqz-rd-info {
    color: #999999;
    padding-bottom: 7px;
}

.cqz-results .cqz-rd-info-2 {
    color: #999999;
}
.cqz-results .cqz-result-h1 .cqz-rd-info-2 { margin-bottom: 18px; }


.cqz-results .cqz-rd-rate {
    color: #506bb8;
    margin: 6px 0 18px;
}

.cqz-results .cqz-rd-link {
    color: #506bb8;
}

.cqz-results .cqz-rd-h3 {
    width: 100%
}

.cqz-results .cqz-rd-h3img-div {
    height: 76px;
    float: left;
    margin-right: 20px;
    max-width: 80px
}

.cqz-results .cqz-rhh3-snipet-txt {
    max-width: 700px;
}

.cqz-results .cqz-rhh3-snipet-txt .cqz-result-url {
    margin-top: 3px;
    margin-bottom: 0px;
    max-width: 500px;
}

.cqz-results .cqz-rd-img {
    display: block;
    max-height: 100%;
}

.cqz-results .cqz-rd-snippet_hspacing {
    @extend .cqz-ellipsis;

    padding-top: 18px;
}

.cqz-results .cqz-rd-img_div {
    overflow: hidden;
    float: left;
    margin-right: 20px;
    height: 100%;
    max-width: 130px;

    .cqz-rd-img {
        max-width: none;
        height: 100%;
    }
}

.cqz-results .cqz-rd-recipe {
    .cqz-rd-img_div { max-width: 110px; }
    .cqz-rd-rateimg { margin: 13px 0 3px; }
}
.cqz-results .cqz-rd-h3-snippet {
    height: 110px;
    margin: 22px 0 22px 0;
}

.cqz-results .cqz-rd-h2-snippet {
    height: 200px;
    margin: 20px 0 14px 0;
}

/* ------- END RICH DATA Result----------*/




/* --------- Emergency contact -> text.tpl -------- */
.cqz-results .ez-text-msg .title {
    font-size: 25px;
    margin-top: -3px;
}

.cqz-results .ez-text-msg .expression {
    font-size: 25px;
    margin-top: 10px;
    color: #999999
}

/* --------- END Emergency contact -> text.tpl -------- */

/* ------- START onboarding */

.onboarding-container {
    -moz-appearance: none;
    border: none;
    background-color: transparent;
    position: relative;
    margin: 0px;
    padding: 0px;
    overflow: visible;
}

@keyframes changescale {
    from {
        transform: scale(1.0);
    }

    to {
        transform: scale(.5);
    }
}

.onboarding-cursor {
    background-image: url(../../content/onboarding/images/cursor.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
}

.pulsate {
    transform: scale(1.0);
    transform-origin: 0% 0%;
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    animation-name: changescale;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes fadecolor {
    from {
        border-color: rgba(240, 86, 81, 0.0);
    }

    to {
        border-color: rgba(240, 86, 81, 1.0);
    }
}

.onboarding-highlight {
    border-width: 2px !important;
    border-spacing: 2px !important;
    border-style: dashed !important;
    animation-duration: 0.75s;
    animation-name: fadecolor;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.onboarding-lens {
    width: 48px;
    height: 48px;
    background-image: radial-gradient(50% 100%, rgba(119, 136, 153, 0.4) 50%, rgba(119, 136, 153, 0.6) 100%);
    border-radius: 40px;
    border: 2px solid white;
}

.onboarding-callout {
    padding: 2px 2px;
    margin: 0px;
    font-size: 16px;
    position: relative;
    display: block;
    font-weight: 500;
}


.onboarding-callout .msg-container {
    position: relative;
    display: block;
    white-space: pre-line;
    max-width: 300px;
    line-height: 1.4;
}

.onboarding-callout .btn-container,
.onboarding-callout .btn-container-extended {
    position: relative;
    display: block;
    right: 0px;
    text-align: right;
    margin-top: 10px;
}

.onboarding-callout .btn-container-extended {
    margin-top: 20px;
}

.onboarding-callout .logo-container {
    position: relative;
    display: block;
    right: 0px;
    text-align: center;
    margin-top: 10px;
}

.onboarding-callout .btn-container .cqz-btn,
.onboarding-callout .btn-container-extended .cqz-btn {
    margin: 0px;
    cursor: pointer;
    color: black;
    border-radius: 3px;
    padding: 4px 8px;
    text-align: center;
    display: inline;
    background-color: #8CE12F;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
}

.onboarding-callout .btn-container .cqz-btn-ok {
    background-color: #8CE12F;
}

.onboarding-callout .btn-container .cqz-btn-cancel {
    background-color: #c3043e;
    color: white;
}

.onboarding-callout .btn-container-extended .cqz-btn-ok {
    background-color: #63A4F6;
    color: white;
    margin-top: 30px;
}

.onboarding-callout .btn-container-extended .cqz-btn-cancel {
    background-color: transparent;
    color: #EEE;
    text-decoration: underline;
    font-size: 12px;
    font-weight: 300;
    margin-top: 5px;
}

/* ------- END onboarding */

/* Images search (beta) */
/*
.cqz-results .cqz-result-images {
     padding: 3px 0px 0px 15px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cqz-results .cqz-result-images-1 {
     height: 101px;
}

.cqz-results .cqz-result-images-2 {
     height: 202px;
}

.cqz-results .cqz-result-images-3 {
     height: 303px;
}

.cqz-results .cqz-result-images .cqz-ez-images-title {
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 2px;
}

.cqz-results .cqz-ez-title::after, .cqz-results .cqz-result-images .cqz-ez-images-title .after {
    display: inline-block;
    background-size: auto 16px;
    background-position: 4px 2px;
    background-repeat: no-repeat;
    content: "";
    width: 999999999999999px;
    height: 18px;
    vertical-align: top;
}

.cqz-results .cqz-result-images .cqz-ez-images-title::after {
  background-image: url(https://cdn.cliqz.com/extension/EZ/images/camera.png);
}


.cqz-results .cqz-result-images .cliqz-images {
}


.cqz-results .cqz-result-images .cliqz-image-item {
    display: inline-block;
    float: left;
    position: relative;
    padding: 1px 2px 1px 2px;
    border-radius: 10px;

}

.cqz-results .cqz-result-images .cliqz-image-item img{
    display: block;
    border-radius: 10px;
}

.cqz-results .cqz-result-images .cliqz-image-item:hover .cliqz-image-hilight {display: block;}


.cqz-results .cqz-result-images .cliqz-image-hidden{
    background-color: black;
    filter: url(../../skin/blur.svg#blur);
    filter: blur(10px);
}

.cqz-results .cqz-result-images .cliqz-image-clear{
    display: block;
    border-radius: 10px;
}

.cqz-results .cqz-result-images .cliqz-image-hilight{
    display: none;
    white-space: normal;
    overflow: hidden;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0,0,0,0.65);
    position: absolute;
    font-family: Courier New;
    font-size:9px;
    bottom: +10px;
    z-index: 1;
}


.cqz-results .cqz-result-images .cliqz-image-item > .cliqz-image-hilight:hover{
    text-overflow:inherit;
    overflow:visible;
    display:hidden;
}

.cqz-results .cqz-result-images .cliqz-image-report{
    white-space: word-wrap;
    overflow: hidden;
    position: relative;
    top: -60%;
    left:5px;
    z-index: 5;
}
*/

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

.fadeIn {
    opacity: 1 !important;
    -webkit-transition: all 0.2s ease-in !important;
    -moz-transition: all 0.2s ease-in !important;
    -o-transition: all 0.2s ease-in !important;
    transition: all 0.2s ease-in !important;
}

.fadeOut {
    opacity: 0 !important;
    -webkit-transition: all 0.2s ease-out !important;
    -moz-transition: all 0.2s ease-out !important;
    -o-transition: all 0.2s ease-out !important;
    transition: all 0.2s ease-out !important;
}

.slideIn {
    transition: 0.7s !important;
    -moz-transition: 0.7s !important;
    left: 0 !important;
    opacity: 1 !important;
}

/*
.cqz-results a.visited-wrapper { display: block; }
.cqz-results a.visited-wrapper + * { color: #506bb8; }
.cqz-results a.visited-wrapper:visited + div { color: #8c275f; }
*/
.cqz-results .cliqz-pattern-title-h2 {
    margin-bottom: 0;
    color: #8c275f;
    display: block;
}

.cqz-results .cqz-result-pattern .cqz-result-url {
    margin-bottom: 18px;
}

.cqz-results .cliqz-pattern {
    margin-top: -4px;
    overflow: visible;
}

.cqz-results .cliqz-pattern-element-title {
    font-size: 14px;
    padding-right: 10px;
}

.cqz-results .cliqz-pattern-element-link {
    font-size: 14px;
}

.cqz-results .cliqz-pattern-element {
    position: relative;
    padding-left: 0;
    overflow: visible
}

.cqz-results .cqz-result-h3 .cliqz-pattern-element-title {
    font-size: 18px;
    line-height: 1.1em;
}

.cqz-results .cliqz-history-logo {
    font-size: 8px;
    right: 0;
    top: -2px;
    position: absolute;
    cursor: pointer;
}

.cqz-results .cliqz-history-hm {
    font-size: 8px;
    right: 20px;
    top: -2px;
    position: absolute;
    cursor: pointer;
}

.cqz-results .cqz-result-h3 .cliqz-history-logo {
    top: 3px;
}
.cqz-results .cqz-result-h3 .cliqz-history-hm {
    top: 3px;
}

/* ---------- From A to B ----------- */
.cqz-results .cqz-ez-aTob h2 {
    font-size: 18px;
    color: #506bb8;
    font-weight: normal;
    margin-bottom: 2px;
}

.cqz-results .cqz-ez-aTob .cqz-ez-title:hover {
    text-decoration: none !important;
}

.cqz-results .cqz-ez-aTob .cqz-ez-title span {
    color: #cccccc;
    font-size: 14px;
}

.cqz-results .cqz-ez-aTob-title {
    margin-bottom: 3px;
}

.cqz-results .cqz-ez-aTob table.list th {
    color: #93999d;
    font-size: 14px;
    font-weight: normal;
    padding: 0 0 9px;
}

.cqz-results .cqz-ez-aTob table.list td,
.cqz-results .cqz-ez-aTob table.list th {
    border-bottom: 1px solid #e7f1e5;
}

.cqz-results .cqz-ez-aTob table.list tbody > tr:last-child > td {
    border-bottom: 0px;
}

.cqz-results .cqz-ez-aTob table.list td {
    padding: 6px;
    color: #506bb8;
}

.cqz-results .cqz-ez-aTob table.list .item {
    text-align: center;
    width: 60px;
}

.cqz-results .cqz-ez-aTob table.list th.empty {
    width: 130px;
}

.cqz-results .cqz-ez-aTob table.list .label {
    color: #000000;
}

.cqz-results .cqz-ez-aTob .iconImage.bus,
.cqz-results .cqz-ez-aTob .iconImage.train {
    top: 4px;
}

.cqz-results .cqz-ez-aTob .iconContainer {
    height: 18px;
    width: 18px;
}

/* Common accessible styles to use icons as images instead of background-image */
.cqz-results .iconContainer {
    float: left;
    display: block;
    overflow: hidden;
    position: relative;
}

.cqz-results .iconContainer img {
    position: absolute;
}

.cqz-results .iconLabel {
    margin-left: 10px;
}

#cliz-results .cqz_location_once {
    color: white;
}

.cqz-results .cqz_location_never {
    color: white;
}

/*** END LOCAL MOVIE EZ ****/
.cqz-results .cqz-ez-subtitle,
#cliqz-message-container .cqz-ez-subtitle {
    display: block;
    margin-bottom: 18px;
    color: #999999;
}

.cqz-results .clearfix::after,
.cqz-results .clearfix::before {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.cqz-results .clz_link p {
    cursor: pointer;
}

/*** BEGIN BOTTOM BUTTONS DATA SC ***/

.cqz-ez-btns .cqz-ez-btn-label {
    color: #999999;
    max-width: 150px;
    height: 26px;
    vertical-align: top;
    line-height: 26px;
    margin-right: 10px;
}

/*** END BOTTOM BUTTONS DATA SC ***/
