 @font-face {
    font-family: "Lato";
    src: url("../skin/fonts/Lato-Regular.ttf");
}

.hidden {
    visibility: hidden;
    display: none !important;
}

/*===== Onboarding =====*/

#UITourTooltip[target="cliqz"] .panel-arrowcontent {
    --panel-arrowcontent-padding: 0px;
}


#PopupAutoCompleteRichResultCliqz {
    -moz-binding: url("../../components.xml#autocomplete-rich-result-popup-cliqz");
    overflow: hidden;
}

#urlbar[focused="true"] {
    box-shadow: 0 0 1px #3B99FC inset;
}

.cqz-popup {
    overflow: hidden;
    position: relative;
    min-width: 500px;
    padding: 0;
    margin: 0;
    color: #333333;
    font-size: 14px;
    line-height: 1.2em;
    font-family: Lato, Helvetica, sans-serif;
    border-top: none;
    background: #fff; /* override linux default grey color */
}

.cqz-results {
    height: 350px;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}


/* ====== Last Search ====== the gray container in the search bar*/

.cliqz-urlbar-Last-search-container {
    overflow: hidden;
    max-width: 220px;
    margin: -2px 7px 0px 0px;
    position: relative;
}

.cliqz-urlbar-Last-search-container[min-browser-version-is-58='true'] {
    margin: 3px 6px 3px 0px;
}

.cliqz-urlbar-Last-search-container[channel='40'] {
    line-height: 24px;

    .cliqz-urlbar-Last-search {
        height: 22px;
        line-height: 19px;
        font-size: 15px;
    }
}

.cliqz-urlbar-Last-search {
    overflow: hidden;
    max-width: 200px;
    line-height: 17px;
    padding: 0 8px 0 24px;
    color: #5F7C86;
    text-overflow: ellipsis;
    border-radius: 1px;
    background: #F2F6F7;
    border: 1px solid #BCC8CD;
    border-radius: 15px;

    &:before {
        width: 14px;
        height: 14px;
        content: url("../skin/search-icon.svg");
        position: absolute;
        top: 3px;
        left: 7px;
    }

    &:hover {
        background: #2385E7;
        color: #fff;
        border: 1px solid #2385E7;
        cursor: pointer;

        &:before {
            content: url("../skin/search-icon-inverted.svg");
        }
    }
}

/* ====== End Last Search ====== */
