 @font-face {
    font-family: "Lato";
    src: url("../skin/fonts/Lato-Regular.ttf");
}

.hidden {
    visibility: hidden;
    display: none !important;
}

/*===== Onboarding =====*/

#UITourTooltip[target="cliqz"] .panel-arrowcontent {
    --panel-arrowcontent-padding: 0px;
}


#PopupAutoCompleteRichResultCliqz {
    overflow: hidden;
    display: none;
}

#urlbar[focused="true"] {
    box-shadow: 0 0 1px #3B99FC inset;
}

.cqz-popup {
    overflow: hidden;
    position: relative;
    min-width: 500px;
    padding: 0;
    margin: 0;
    color: #333333;
    font-size: 14px;
    line-height: 1.2em;
    font-family: Lato, Helvetica, sans-serif;
    border-top: none;
    background: #fff; /* override linux default grey color */
}

.cqz-results {
    height: 350px;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}


/* ====== Last Search ====== the gray container in the search bar*/

.cliqz-urlbar-Last-search-container {
    overflow: hidden;
    max-width: 220px;
    margin: -2px 7px 0px 0px;
    position: relative;
    color: #5F7C86;
    border-radius: 1px;
    background: #F2F6F7;
    border: 1px solid #BCC8CD;
    border-radius: 15px;

    .cliqz-urlbar-Last-search {
        overflow: hidden;
        max-width: 212px;
        line-height: 17px;
        padding: 1px 8px 0 24px;
        text-overflow: ellipsis;
    }

    &:before {
        width: 14px;
        height: 14px;
        content: url("../skin/search-icon.svg");
        position: absolute;
        top: 0;
        left: 7px;
    }

    &:-moz-lwtheme {
      color: #DEEDFB;
      background: rgba(242, 246, 247, 0.3);
    }

    &:-moz-lwtheme-darktext {
      color: #5F7C86;
      background: #F2F6F7;
    }

    &:hover {
        background: #2385E7;
        color: #fff;
        border: 1px solid #2385E7;
        cursor: pointer;

        &:before {
            content: url("../skin/search-icon-inverted.svg");
        }
    }

    &[min-browser-version-is-58='true'] {
        margin: 3px 6px 3px 0px;
    }

    &[channel='40'] {
        line-height: 24px;

        .cliqz-urlbar-Last-search {
            height: 22px;
            line-height: 19px;
            font-size: 15px;
        }
    }

    &:not([channel='40']) {
        line-height: 22px;
    }
}

/* ====== End Last Search ====== */
