//===========================
//ABC 1103 Dropdown offers
//===========================
.cqz-popup {
    .ad-container {
        border-top: 1px solid #ccc;
        background: #fff;
        color: #333;

        .cliqz-brand-logo {
            margin-top: 9px;
        }

        a[extra=title] {
            color: #506bb8 !important;
        }
    }
}

@media screen and (-moz-os-version: windows-win7) and (-moz-os-version: windows-win8) and (-moz-os-version: windows-win10) {
    .cqz-popup .ad-container .cliqz-brand-logo {
                margin-right: 18px;
    }
}

#cliqz-sidebar,
 .offer-banner {
    display: none;
 }


.cqz-popup-offer {
    .cliqz-content-wrapper {
        float: left;
        border-right: 1px solid #ccc !important;
        width: calc(100% - 250px);
    }

    #cliqz-sidebar {
        overflow: hidden;
        position: relative;
        display: block;
        float: left;
        padding: 30px 0 0 0;
        width: 250px;
        height: 350px;
        .ad-container { border: none; }

        .offer-banner {
            display: block;
        }

        .cqz-result-box {
            .cqz-result-title {
                margin: 10px 0;
                font-size: 18px;
                line-height: 22px;
                font-weight: bold;
            }

            .cqz-ez-subtitle {
                display: none;
            }

            .cqz-result-title .ad {
                position: absolute;
                top: 5px;
                left: 50%;
                transform: translate(-50%, 0);
                color: #ccc;
                font-size: 13px;
                font-weight: normal;
            }

            .cqz-generic-desc {
                color: #78787f;
                font-size: 14px;
                line-height: 17px;
                height: 68px;

                * {
                    white-space: normal;
                }
            }

            .cliqz-brand-logo {
                display: none;
            }
        }

        .cqz-btn-offer {
            width: 100%;
            display: block !important;
            margin: 30px 0;
            padding: 7px;
            text-align: center;
            color: #fff;
            border-radius: 3px;
            font-size: 15px;
            background: #f45a1e;
            cursor: pointer;

            &:hover {
                background: darken(#f45a1e, 10);
            }
        }
    }
}

.cqz-btn-offer {
    display: none;
}

#cliqz-message-container-top {
    z-index: 1000;
    position: relative;

    .ad-container {
        display: -moz-box;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        border: none;
        color: #fff;
        background: #45c2cc;
        padding: 2px 20px;

        .cqz-result-title {
            color: #fff !important;
            a {
                color: #fff !important;
                border-color: #fff !important;
            }
            .ad {
                color: #fff;
                border-color: #fff;
            }
        }

        .cqz-ez-subtitle {
            display: block;
            margin-bottom: 18px;
            color: #fff;
        }

        .cliqz-brand-logo {
            background-color: #3a959c !important;
        }
    }
}

//===========================
//A/B/C 1104 HUB
//===========================

#UITourTooltip[targetName='cliqz-offers'] {
    .panel-arrow {
        position: relative;
        margin-top: 5px;
        margin-bottom: -10px;
        width: 20px;
        height: 20px;
        background: #31bdf1;
        transform: rotate(45deg);
        list-style-image: none;
    }
    .panel-arrowcontent {
        position: relative;
        color: #fff;
        background: #31bdf1;
    }
    .close-icon {
        background: #fff;
        border-radius: 50%;
        opacity: 0.6;
        height: 20px;

        &:hover {
            opacity: 1;
            -moz-image-region: rect(0, 16px, 16px, 0);
        }
    }
}
