.cqz-results-simple {
    font-family: -apple-system, "Segoe UI", "Oxygen", sans-serif, arial;
    overflow: auto;
    height: auto !important;
    max-height: 350px;
    padding-top: 15px;
    padding-bottom: 20px;
    span {
        display:inline-block;
    }
    :link { color: #2827a5; }
    :visited { color: #5a15a6; }
    .cqz-result-box-simple {
        cursor: pointer;
        .cqz-icon-simple {
            position:absolute;
            top:7px;
        }
        .cqz-main-result-container-simple {
            padding-top: 7px;
            padding-bottom: 7px;
            padding-left: 35px;
            .cqz-title-simple, .cqz-url-simple {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .cqz-title-simple {
                width: 55%;
                max-width: 700px;
                font-size: 15px;
                line-height: 15px;
                margin-top: 2px;
                min-height: 17px;
                &.calculator-simple {
                  color: black;
                  font-size: 22px;
                }
            }
            .cqz-url-simple {
                // position: absolute;
                margin-left: 30px;
                color: gray;
                width: 30%;
            }
        }
        &[arrow="true"] {
            .cqz-result-simple {
                background-color: #E9E8E9;
            }
            .cqz-url-simple {
                color: #414141;
            }
        }
    }

    .cqz-result-logo-simple {
        border-radius: 0px;
        width: 23px;
        height: 23px;
        padding: 3px;
        // need monospaced font for logos in simple UI to avoid overflow of text
        font-family: "Lucida Console", Monaco, monospace;
        line-height: inherit;
        font-weight: normal;
    }

}
