<div id="search-icon"></div>
<input {{action "focus" on="focusIn"}}
       {{action "blur" on="focusOut"}}
       id="urlbar"
       placeholder={{t 'urlBar.search-address'}}
       autocomplete="off"
       tm-click="search-bar" />