#cliqz-dropdown {
    .local-result-wrapper {
        display: inline-block;
        position: relative;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 0.833em;
        line-height: 1.28451em;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.17);

        .local-map {
            position: absolute !important; /* result might override the position */
            background-image: url-prefix("dropdown/images/maps-icon.jpg");
            background-repeat: no-repeat;
            background-position: left top;
            background-size: cover;
            width: 72px;
            height: 100%;
            float: left;

            &.result.selected {
                background-color: transparent;
            }
        }

        .local-info {
            vertical-align: top;
            padding-left: 87px;
            padding-bottom: 7px;
            min-height: 50px;

            .local-icon {
                margin-top: 8px;
                width: 12px;
                height: 12px;
            }

            .local-address, .local-phone {
                background-repeat: no-repeat;
                background-position: 0 9px;

                padding-left: 15px;
                padding-top: 6px;

                .result {
                    padding: 0;
                    display: inline-block;
                    text-decoration: none;
                    color: #000;

                    &:hover {
                        cursor: copy;
                        background-color: #B4D5FF;
                    }

                    &.copied {
                        -moz-animation:    copy_animation 0.5s 1;
                        animation-timing-function: ease-in-out;
                    }

                    @-moz-keyframes copy_animation {
                      0%   { opacity: 0; }
                      100% { opacity: 1; }
                    }
                }
            }

            .local-address {
                margin-right: 20px;
                background-image: url-prefix("dropdown/images/s-grey-location.svg");
                background-size: 8px 10px;
                min-width: 300px;
                max-width: 600px;

                span {
                    color: red;
                }
            }

            .local-phone {
                display: inline-block;
                background-image: url-prefix("dropdown/images/s-grey-phone.svg");
                background-size: 10px;
            }

            .other-info {
                display: inline-block;
                margin-right: 20px;

                .rating-img {
                    vertical-align: bottom;
                }
            }
        }
    }

    .location {
        .buttons {
            .result.btn {
                &.location-allow-once {
                    background-image: url-prefix("dropdown/images/location-icon.svg");
                    background-repeat: no-repeat;
                    background-position: 5px center;
                    padding-left: 28px;
                    max-width: 300px;

                    &.selected {
                        background-image: url-prefix("dropdown/images/location-icon-hover.svg");
                    }
                }

                .spinner {
                    display: inline-block;
                    margin-left: 2px;
                    background-image: url-prefix("dropdown/images/small-spinner_square.gif");
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 6px;
                }
            }
        }
    }
}
