.dropdown-tabs {
    position: relative;

    .background-placeholder {
        position: absolute;
        top: 0;
        left: 0;
        height: 27px;
        background-color: #DADADA;
        width: 100%;
    }

    input.tab-radio-input {
        position: absolute;
        top: 0;
        left: -9999px;
    }

    label.dropdown-tab-label {
        position: relative;
        display: inline-block;
        min-width: 40px;
        text-align: center;
        font-size: 12px;
        padding: 6px 10px;
        margin: 0;
        vertical-align: -moz-middle-with-baseline;
        text-transform: capitalize;
        cursor: pointer;
    }

    .tab-block {
        display: none;
        padding-top: 5px;
    }

    [id^="tab"]:checked + label {
        background: #fff;
    }

    @for $i from 0 through 11 {
        [id="tab-#{$i}"]:checked ~ [id="tab-block-#{$i}"]
        {
            display: block;
        }
    }
}

