* {
    margin: 0;
    padding: 0;
}

#urlbar {
    width: 800px;
    display: block;
    margin: 100px auto 0;
    height: 30px;
    font-size: 20px;
}

#results {
	height: 350px;
	margin: 0px auto;
	border: 1px solid gray;
}