* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input {
  height: 30px;
  font-size: 20px;
}

.debugView input#cMenuCb {
  margin: 10px;
  width: auto;
  height: auto;
  display: inline-block;
}

.debugView #topBar {
  background: #5F5F5F none repeat scroll 0 0;
  height: 40px;
  position: fixed;
  top: 0px;
  width: 100%;
}

.debugView #cpBtn{
  float: left;
  width: 20px;
  height: 22px;
  /*background: #8ac007;*/
  background: #43d1af;
  border: #AAA 1px solid;
  border-radius: 2px;
  padding: 2px 5px;
  cursor: pointer;
  margin: 4px;
}
.debugView #cpBtn > div{
  width: 20px;
  height: 3px;
  background: #ffffff;
  margin: 3px 0px;
  border-radius: 4px;
}

.debugView #panelWindow {
  position: absolute;
  width: auto;
  left: -265px;
  padding: 40px 16px;
  transition: left 0.3s ease-in-out 0s;
  border: 1px solid #888888;
  background: #f7f7f7;
  z-index: 10;
}

.debugView button {
  background: #43d1af;
  color: #ffffff;
  padding: 5px;
  font-size: 12px;
}

.debugView #formControl {
  color: #666666;
  margin-bottom: 5px;
}

.debugView #panelWindow h2 {
  color: rgba(255, 255, 255, 0.3);
  text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#urlbar {
  padding: 0 10px
}
#urlbar:focus {
  outline: none;
  border: 1px solid #0066aa;
}

#results {
  max-width: 800px;
}